---
layout: career-page
title: Accountancy
description: Find out more about starting an Accountancy and Financial Career at The Cornwall College Group
career: accountancy-financial
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/accountancy-financial-desktop.jpg
top5-name: accounting

campuscodes: A,C,S
schema: https://schema.org/course

staff-name: Staff Member
staff-role: Staff position- Staff Department
staff-photo: http://placehold.it/370x370
staff-text: Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorumius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem.

alumni-name: Alumni Name
alumni-role:
alumni-photo: http://placehold.it/370x370
alumni-text:

student-name1: Beth Julian
student-role1:
student-photo1: /images/students/business-pro/business-school/beth-julian.jpg
student-text1: Every job is linked with business so it is a key course, and business has a lot of general uses in work. I love the Business Extended Diploma, the tutors are really helpful and always have the time to work with us. I'm also studying an accountancy qualification (AAT) alongsidethe course, that's the career route I want to take when I finish college.

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Bookkeepers, Payroll Managers And Wages Clerks
  career-paragraph: Maintain and balance records of financial transactions, oversee the operation of payroll functions and calculate hours worked, wages due and other relevant contributions and deductions.
  jobs-now: 36273
  jobs-future: 34821
  starting-salary: 15000
  hashtag: payroll-manager

- career-number: 2
  career-title: Actuary, Economist & Statistician
  career-paragraph: Analyse and interpret data that will assist in the formulation of financial, business and economic policies in order to maximise growth or improve business performance.
  jobs-now: 2514
  jobs-future: 2771
  starting-salary: 20000-31000
  hashtag: economist

- career-number: 3
  career-title: Buyers & Procurement Officer
  career-paragraph: Organise the buying of raw materials, equipment and merchandise from manufacturers, importers, wholesalers and other sources for wholesale distribution, resale or for own internal use.
  jobs-now: 5441
  jobs-future: 5969
  starting-salary: 20000
  hashtag: procurement

- career-number: 4
  career-title: Chartered & Certified Accountant
  career-paragraph: Accounting and auditing services, advise clients on financial matters, collect and analyse financial information and plan and control an establishment’s income and expenditure.
  jobs-now: 17903
  jobs-future: 19690
  starting-salary: 18000
  hashtag: accountant

- career-number: 5
  career-title: Business & Financial Project Management Professional
  career-paragraph: Manage  major projects across all sectors of modern industry, commerce and the public sector, in areas such as e-commerce, analysis, finance, product development, marketing and HR.
  jobs-now: 17131
  jobs-future: 18927
  starting-salary: 25000
  hashtag: financial-project-management

- career-number: 6
  career-title: Broker
  career-paragraph: Brokers deal in commodities, stocks, shares and foreign exchange on behalf of clients or on own account, broker insurance and reinsurance, and buy and sell shipping and freight space.
  jobs-now: 3247
  jobs-future: 3526
  starting-salary: 24000
  hashtag: broker

- career-number: 7
  career-title: Finance & Investment Analyst or Adviser
  career-paragraph: Advise customers, who may be individuals, companies or specialist groups, on the purchase of investments, insurance, mortgages, pensions and other financial services and products.
  jobs-now: 13391
  jobs-future: 14421
  starting-salary: 25000
  hashtag: finance

- career-number: 8
  career-title: Credit Controller
  career-paragraph: Credit controllers perform financial, administrative and other tasks in relation to credit control and debt collection.
  jobs-now: 3149
  jobs-future: 3054
  starting-salary: 16000-31000
  hashtag: credit-controller

- career-number: 9
  career-title: Bank & Post Office Clerk
  career-paragraph: Clerks are financial customer service advisors, dealing with payments and other routine financial transactions. They also advise upon a wide range of financial products and services.
  jobs-now: 13775
  jobs-future: 13344
  starting-salary: 15000-31000
  hashtag: broker

- career-number: 10
  career-title: Insurance Underwriter
  career-paragraph: Identify and measure the risks associated with an activity, determine whether this risk is insurable and issue insurance policies which provide financial compensation in the event of loss.
  jobs-now: 2791
  jobs-future: 3067
  starting-salary: 15000
  hashtag: Insurance-underwriter

- career-number: 11
  career-title: Pensions and Insurance Clerk or Assistant
  career-paragraph: Identify and measure the risks associated with an activity, determine whether this risk is insurable and issue insurance policies which provide financial compensation in the event of loss.
  jobs-now: 6083
  jobs-future: 5910
  starting-salary: 15000
  hashtag: Pensions-and-Insurance-Clerk-or-Advisor

- career-number: 12
  career-title: Taxation Expert
  career-paragraph: Taxation experts advise on tax matters and assess tax liabilities.
  jobs-now: 2309
  jobs-future: 2529
  starting-salary: 18000
  hashtag: Taxation-Expert
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='If you have attention to detail and like working with numbers, a career in the financial sector could be very rewarding.' p2='Opportunities are widely available with accountancy firms, investment and high street banks, insurance companies, building societies, management consultancies and public sector employers.' %}

<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://youtu.be/MxFen_VFZ-I %}</div><section>

{% include /career/example-careers.html %}


{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile Removed -->

{% include /career/student-case-studies.html %}

<!-- Our Stats Removed -->

{% include /career/key-stats.html stat1='The seven accountancy bodies in the UK had over 342,000 members in Jan 2016' stat2='The overall number of audit firms in the UK was 6,331 in Jan 2016' stat3='The total number of staff employed by accountancy bodies has increased by 11.6% from 2011 to 2015' stat4='More than 50% of registered audit firms are sole practitioners'%}

<!-- Alumni Profile Removed-->

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='IAB Level 2 Award In Computerised Payroll (SAGE Payroll)' infoLink1='?courses=iab-level-2-award-in-computerised-payroll-sage-payroll' courseTitle2='CIMA Diploma In Management Accounting Level 5' infoLink2='?courses=cima-diploma-in-management-accounting-level-5' courseTitle3='AAT Level 4 Professional Diploma In Accounting' infoLink3='?courses=aat-level-4-professional-diploma-in-accounting' courseTitle4='Accounting AAT Diploma' infoLink4='?courses=accounting-aat-advanced-diploma-in-accounting' %}
