---
layout: career-page
title: Accounting
description: Find out more about starting an Accountancy and Financial Career at The Cornwall College Group
career: accountancy-financial
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/accountancy-financial-desktop.jpg
morejobs: 
    - Paralegal
campuscodes: A,C,S
schema: https://schema.org/course

staff-name: Staff Member
staff-role: Staff posistion - Staff Department
staff-photo: http://placehold.it/370x370
staff-text: Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorum               ius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens                     sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem.

alumni-name: Alumni Name
alumni-role:
alumni-photo:
alumni-text:

student-name1: Beth Julian
student-role1:
student-photo1:
student-text1:

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='If you have attention to detail and like working with numbers, a career in the financial sector could be very rewarding.' p2='Opportunities are widely available with accountancy firms, investment and high street banks, insurance companies, building societies, management consultancies and public sector employers.' %}

<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://youtu.be/MxFen_VFZ-I %}</div><section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Bookkeepers, Payroll Managers And Wages Clerks' paragraph='Maintain and balance records of financial transactions, oversee the operation of payroll functions and calculate hours worked, wages due and other relevant contributions and deductions.' jobsIn='Cornwall' jobsNow=36273 jobsFuture=34821 startingSalary=15000 hashtag=bookkeepers-payroll-managers-and-wages-clerks %}

{% include /career/career-example-job.html number='2' title='Actuary, Economist & Statistician' paragraph='Analyse and interpret data that will assist in the formulation of financial, business and economic policies in order to maximise growth or improve business performance.' jobsIn='the Southwest' jobsNow=2570 jobsFuture=2942 startingSalary=25500 hashtag=actuary-economist-and-statistician %}

{% include /career/career-example-job.html number='3' title='Buyers & Procurement Officer' paragraph='Organise the buying of raw materials, equipment and merchandise from manufacturers, importers, wholesalers and other sources for wholesale distribution, resale or for own internal use.' jobsIn='the Southwest' jobsNow=5441 jobsFuture=5969 startingSalary=20000 hashtag=buyers-and-procurement-officer %}

{% include /career/career-example-job.html number='4' title='Chartered & Certified Accountant' paragraph='Accounting and auditing services, advise clients on financial matters, collect and analyse financial information and plan and control an establishment’s income and expenditure.' jobsIn='the Southwest' jobsNow=17903 jobsFuture=19690 startingSalary=18000 hashtag=chartered-and-certified-accountant %}

{% include /career/career-example-job.html number='5' title='Business & Financial Project Management Professional' paragraph='Manage  major projects across all sectors of modern industry, commerce and the public sector, in areas such as e-commerce, analysis, finance, product development, marketing and HR.' jobsIn='the Southwest' jobsNow=17131 jobsFuture=18927 startingSalary=25000 hashtag=business-and-financial-project-management-professional %}

{% include /career/career-example-job.html number='6' title='Broker' paragraph='Brokers deal in commodities, stocks, shares and foreign exchange on behalf of clients or on own account, broker insurance and reinsurance, and buy and sell shipping and freight space.' jobsIn='the Southwest' jobsNow=3247 jobsFuture=3526 startingSalary=24000 hashtag=broker %}

{% include /career/career-example-job.html number='7' title='Actuary, Economist & Statistician' paragraph='Analyse and interpret data that will assist in the formulation of financial, business and economic policies in order to maximise growth or improve business performance.'jobsIn='the Southwest' jobsNow=2514 jobsFuture=2771 startingSalary=20000-31000 hashtag=broker %} 

{% include /career/career-example-job.html number='8' title='Bank & Post Office Clerk' paragraph='Clerks are financial customer service advisors, dealing with payments and other routine financial transactions. They also advise upon a wide range of financial products and services.'jobsIn='the Southwest' jobsNow=13775 jobsFuture=13344 startingSalary=15000-31000 hashtag=broker %} 
<!--
{% include /career/career-example-job.html number='9' title='Credit Controller' paragraph='Credit controllers perform financial, administrative and other tasks in relation to credit control and debt collection.' jobsNow=3149 jobsFuture=3054 startingSalary=16000-31000 hashtag=broker %}     

{% include /career/career-example-job.html number='10' title='Finance &  Investment Analyst or Adviser' paragraph='Advise customers, who may be individuals, companies or specialist groups, on the purchase of investments, insurance, mortgages, pensions and other financial services and products.' jobsNow=13391 jobsFuture=14421 startingSalary=25000 hashtag=investment-analyst %}   

{% include /career/career-example-job.html number='11' title='Insurance Underwriter' paragraph='Identify and measure the risks associated with an activity, determine whether this risk is insurable and issue insurance policies which provide financial compensation in the event of loss.' jobsNow=2791 jobsFuture=3067 startingSalary=15000 hashtag=Insurance-underwriter %} 

{% include /career/career-example-job.html number='12' title='Pensions and Insurance Clerk or Assistant' paragraph='Identify and measure the risks associated with an activity, determine whether this risk is insurable and issue insurance policies which provide financial compensation in the event of loss.' jobsNow=6083 jobsFuture=5910 startingSalary=15000 hashtag=Pensions-and-Insurance-Clerk-or-Advisor %} 

{% include /career/career-example-job.html number='13' title='Taxation Expert' paragraph='Taxation experts advise on tax matters and assess tax liabilities.' jobsNow=2309 jobsFuture=2529 startingSalary=18000 hashtag=Taxation-Expert %} 
-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}
    
{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}
    
{% include /career/career-stats.html percent1=100 end1='Lorem ipsum dolor sit amet, feugiat tincidunt philosophia eu mel, quando appareat eos an.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}