---
layout: career-page
title: Public Services &amp; Military Academy
description: Find out more about starting a career in the public-services with The Cornwall College Group
career: public-services
link: course-subjects/public-services
brand: CC
background-image: /images/area-banners/public-services-desktop.jpg
campuscodes: A,B,C,D

staff-name: Jamie Crisp
staff-role: Team Lead - Public Services
staff-photo: /images/staff/jamie-crisp.jpg
staff-text: Prior to joining Cornwall College, Jamie spent 24 years in the military as a non-comminsioned officer in the British               Army and was a specialist PT instructor as well as a senior tactics instructor, conducting operational tours around the             world.

alumni-name: Owen Marks
alumni-role: royal military police
alumni-photo: /images/alumni/health-wellbeing/public-services/owen-marks.jpg
alumni-text: I wanted to get my fitness and confidence up, and this course seemed like the ideal course. The course prepared me for              selection and I got the A grade I needed to get into the Military Police.

student-name1: Alex Hill
student-role1:
student-photo1: /images/students/health-wellbeing/public-services/alex-hill.jpg
student-text1: "I was waiting for basic training and the motivation the Uniformed Services (Military Academy) Diploma gave me was a lot more than I could do myself. I've been pushed further physically and mentally than I ever thought possible. We do military preparation with an acting sergeant plus kayaking, rock climbing, abseiling: things I'd never have done outside of this course. Our tutor was in the forces for over 20 years, the acting sergeant is still serving and the people who come in and assess us are all serving military personnel, a massive bonus over other courses."

student-name2: David Hawkin
student-role2:
student-photo2: /images/students/health-wellbeing/public-services/david-hawkin.jpg
student-text2: "The course is perfect for anyone joining the forces. You will get a lot of knowledge and opportunities you would not get elsewhere."

student-name3: Leah Body
student-role3:
student-photo3: /images/students/health-wellbeing/public-services/leah-body.jpg
student-text3: "I want to be a Police officer and the Public Services (Uniformed) Extended Diploma is a good course for me. The physical side is good, we do a lot of fitness and practical work that will give me a good level of skills to pass the entry requirements for the police force. The location here is good, we're in a nice part of the country, lovely views, basically it's in the middle of nowhere so you can go off and be quiet to do your work. It's really good."

careers:
- career-number: 1
  career-title: Fire Service Officer
  career-paragraph: Fire service officers co-ordinate and participate in firefighting activities, provide emergency services in the event of accidents or bomb alerts, and advise on fire prevention.
  jobs-now: 2442
  jobs-future: 2361
  starting-salary: 21000
  hashtag: fire-service

- career-number: 2
  career-title: Non-commissioned Officer or Other Rank
  career-paragraph: Workers in this area are full-time members of the armed forces of the UK, the Commonwealth and other foreign countries and perform military duties for which there is no civilian equivalent.
  jobs-now: 3862
  jobs-future: 3647
  starting-salary: 13400
  hashtag: non-commmisioned-officer

- career-number: 3
  career-title: Paramedic
  career-paragraph: Paramedics provide first aid and life support treatment in emergency situations and transport sick and injured people who require skilled treatment.
  jobs-now: 1445
  jobs-future: 1702
  starting-salary: 13400
  hashtag: paramedic

- career-number: 4
  career-title: Police Officer
  career-paragraph: Police officers (Sergeant and below) co-ordinate and undertake the investigation of crimes, patrol public areas, arrest offenders and suspects and enforce law and order. Officers of the British Transport Police operate within the specialised police service for the railway network across Britain.
  jobs-now: 10230
  jobs-future: 9604
  starting-salary: 19000
  hashtag: police

- career-number: 5
  career-title: Prison Service Officer
  career-paragraph: Prison service officers (below principal officer) direct, co-ordinate and participate in guarding inmates and maintaining discipline in prisons and other detention centres.
  jobs-now: 2840
  jobs-future: 2688
  starting-salary: 16000
  hashtag: prison-officer

- career-number: 6
  career-title: Senior Officer In Fire, Ambulance, Prison or Related Services
  career-paragraph: Fire officers plan, organise, direct and co-ordinate the activities and resources of a specific physical or functional area of a statutory or private fire brigade/service and the resources necessary for the protection of property at fires within a salvage corps area. Ambulance officers plan, organise, direct and co-ordinate the resources necessary for the provision of ambulance services. Prison officers (principal officer and above) plan, organise, direct, and co-ordinate the activities and resources necessary for the running of a prison, remand or detention centre. Customs officers plan and direct the work of customs, excise and immigration staff in the monitoring and inspection of goods and persons crossing national borders.
  jobs-now: 1343
  jobs-future: 1524
  starting-salary: 32000
  hashtag: senior-officer

- career-number: 7
  career-title: Air Traffic Controller
  career-paragraph: Air traffic controllers prepare flight plans, authorise flight departures and arrivals and maintain radio, radar and/or visual contact with aircraft to ensure the safe movement of air traffic.
  jobs-now: 442
  jobs-future: 474
  starting-salary: 32500
  hashtag: air-traffic

- career-number: 8
  career-title: Ambulance Staff (excluding Paramedic)
  career-paragraph: Ambulance staff transport sick, injured and convalescent persons and give first aid treatment in emergencies.
  jobs-now: 1459
  jobs-future: 1703
  starting-salary: 21000
  hashtag: ambulance

- career-number: 9
  career-title: Officer in the Armed Forces
  career-paragraph: Officers in armed forces serve as commissioned officers in Her Majesty’s armed forces, foreign and Commonwealth armed forces; plan, direct, organise and administer military operations; and perform duties for which there is no civilian equivalent.
  jobs-now: 3045
  jobs-future: 3377
  starting-salary: 15300
  hashtag: armed-force-officer

- career-number: 10
  career-title: Police Community Support Officer
  career-paragraph: Police community support officers support the local police force by patrolling the streets to provide a visible and reassuring presence and to tackle a range of crime and disorder problems. They are also attached to the British Transport Police who operate the specialised police service for the railway network across Britain.
  jobs-now: 1207
  jobs-future: 1142
  starting-salary: 18000
  hashtag: police

- career-number: 11
  career-title: Probation Officer
  career-paragraph: Probation officers work to rehabilitate offenders. They supervise, counsel and help them before trial, during any prison or community sentence and on release from prison.
  jobs-now: 828
  jobs-future: 899
  starting-salary: 21600
  hashtag: probation-officer

- career-number: 12
  career-title: Senior Police Officer
  career-paragraph: Senior police officers plan, organise, direct and co-ordinate the resources and activities of a specific geographical or functional area of generalised or specialised police work. Senior officers of the British Transport Police direct the specialised police service for the railway network across Britain.
  jobs-now: 1764
  jobs-future: 1936
  starting-salary: 19000
  hashtag: senior-police-officer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="A career in the armed forces or the blue light public services is for anyone who cares about others, wants variety and a new challenge every day. Working with people to help keep them safe, happy and healthy is the driver for public servants and provides opportunity for careers locally, nationally and around the world." %}

{% include /career/example-careers.html %}

<!--
{% include /career/career-example-job.html number='13' title='Senior Police Officer' paragraph='Senior police officers plan, organise, direct and co-ordinate the resources and activities of a specific geographical or functional area of generalised or specialised police work. Senior officers of the British Transport Police direct the specialised police service for the railway network across Britain.' jobsIn='the Southwest' jobsNow=1764 jobsFuture=1936 startingSalary=19000 hashtag=Senior-Police-Officer %}
-->

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Public Services Diploma students say that their lecturers are constantly challenging them to do their best.' %}

{% include /career/key-stats.html stat1='hmps offers a national starting salary of £20,545' stat2='a police officer earns from £19k a year' stat3='an RAF officer earns from £24k a year' stat4='50,000 people work as civilians for the mod'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html
courseTitle1='FdSc Rescue &amp; Emergency Management' infoLink1='?courses=fdsc-rescue-emergency-management'
courseTitle2='FdSc Police Studies' infoLink2='?courses=fdsc-police-studies'
courseTitle3='Entry to the Uniformed Services Fast Track NCFE Diploma (Military Academy)' infoLink3='?courses=entry-to-the-uniformed-services-fast-track'
courseTitle4='Public Services Coastal, Community &amp; Emergency Services (CCES) BTEC 90 Credit Diploma' infoLink4='?courses=public-services-coastal-community-emergency-services-cces-btec-90-credit-diploma'
courseTitle5='Public Services Security, Rescue &amp; Safety (SRS) BTEC 90 Credit Diploma' infoLink5='?courses=public-services-security-rescue-safety-srs-btec-90-credit-diploma' %}
