/* ## How We Work ## */
.how-we-work h2{
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.how-we-work ul {
	text-align: center;
	margin-bottom: 48px;
	padding-left: 0;
}

.how-we-work ul li {
	display: inline-block;
	margin: 0 ;
	position: relative;
}
.how-we-work ul li:last-child:before {
	display: none;
}

.how-we-work ul li i {
	width: 128px;
	height: 128px;
	display: block;
	border-radius: 50%;
	font-size: 48px;
	line-height: 128px;
	color: white;
	margin: 0 0 20px 0;
  background-color: #52B3D9;
}

/*-----------------------------------------------------------------------*/

/* ## Features Section ## */
.mobile-iphone {
	text-align: center;
	margin-top: 139px;
}
.line
{
	position: absolute;
	right: 0;
	left: 125px;
}

.line hr{
	border-top: 2px solid #fff;
	height: 2px;
	position: absolute;
	display: inline-block;
}

.line i {
	width: 16px;
	height: 15px;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	transform: skew(15deg);
	position: absolute;
}
/*-----------------------------------------------*/


/*-----------------------------------------------*/
/* ## Application Section ## */

.application-section {
	width: 100%;
	display: inline-block;
	overflow: visible;
	padding-bottom: 0;
}
.application-section > .container,
.application-section .col-md-6 {
	padding: 0;
}

.application-iphone {
	position: relative;
	height: 100%;
	left: -15px;
	top: -40px;
	z-index: 99;
}

.application-section .app-content-box {
	margin-top: 82px;
	padding-left: 15px;
}

.app-content-box h2 {
	font-weight: 900;
	font-size: 3em;
	text-transform: uppercase;
	color: #52B3D9;
	margin-bottom: 30px;
	margin-top: 0;
}

.app-content-box  p {
	font-size: 18px;
	line-height: 25px;
	color: #666766;
	font-weight: 300;
	margin: 0;
}

.app-updates {
	margin-top: 30px;
	padding-left: 0;
}
.app-updates:last-child {
	margin-bottom: 40px;
}

.app-updates h4 {
	font-size: 18px;
	color: #474647;
}

.app-updates h4 i {
	color: #52B3D9;
	font-size: 24px;
	margin-right: 15px;
	float: left;
}

.app-updates p {
	font-size: 16px;
	line-height: 25px;
}

/* ## Statistics Section ## */

.statistics-section {
	background-color: #52B3D9;
	margin-top: -5px;
	text-align: center;
	color: #fff;
	padding: 82px 0 66px 0;
}
.statistics-section  h3 {
	font-size: 40px;
	font-weight: 400;
}
.statistics-section h2,
.service-section h2{
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    color: #52B3D9;
    margin-bottom: 30px;
    margin-top: 0;
}
.statistics-section h2{
    color: white;
    font-size:3em;
}
.statistics-section  h3,
.statistics-section p {
	margin: 0;
}
.statistics-section p {
	font-size: 12px;
	margin-top: 20px;
    color: white;
}

/*--------------------------------------------*/
@media(max-width:450px){
    .how-we-work ul li:before {
        display: none;
    }
}
@media( min-width:451px ) and ( max-width:991px ){
    .how-we-work h2 {
        font-size:2em;
        text-align: center;
        max-width: 100%
    }

}
