/* Custom over writing styles fro the Cornwall COllege child theme of the Ecstasy template


*/


/* ------------------------- Sector colours ------------------------- */

h2.full-time span,
h2.part-time span,
h2.university span,
h2.leisure span,
h2.business span,
h2.apprenticeships span {
    color: #fff!important;
}

a.full-time {
    border-color: #FF0078!important;
    color: #FF0078!important;
}

h2.full-time {
    color: #FF0078!important;
}

a.part-time {
    border-color: #05BC86!important;
    color: #05BC86!important;
}

h2.part-time {
    color: #05BC86!important;
}

a.university {
    border-color: #06CEDB!important;    
    color: #06CEDB!important;
}

h2.university {
    color: #06CEDB!important;
}

@media(max-width:991px) {
    h2.university {
        font-size: 70px!important;
    }
}

@media(max-width:570px) {
    h2.university {
        font-size: 40px!important;
    }
}

a.leisure {
    border-color: #8703B7!important;    
    color: #8703B7!important;
}

h2.leisure {
    color: #8703B7!important;
}

a.business {
    border-color: #E04502!important;    
    color: #E04502!important;
}

h2.business {
    color: #E04502!important;
}

a.apprenticeships {
    color: #971A17!important;
    border-color: #971A17!important;
}

h2.apprenticeships {
    color: #971A17!important;
    font-size: 75px!important;
}

@media(max-width:991px) {
    h2.apprenticeships {
        font-size: 50px!important;
    }
}

@media(max-width:570px) {
    h2.apprenticeships {
        font-size: 30px!important;
    }
}

/* Career Help Bar */
.career-help-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    z-index: 999;
    display: none;
}
.show-close{
    display: block;
}
/* left slide in close button */
.ls-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;    
    cursor: pointer;
    background: white;
    border: solid 10px #52B3D9;
    border-top:solid 5px #52B3D9;
    border-right:solid 5px #52B3D9;
    /* Mobile fixed position FIX*/
    -webkit-backface-visibility: hidden;
}

.ls-close::before,
.ls-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #52B3D9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.ls-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ls-close:hover::before,
.ls-close:hover::after {
    background: #333;
}

/* ------------------------- Help Bar ------------------------- */

.help-bar {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 999;
}

.help-button {
    background: #52B3D9;
    padding:10px;
    display: inline-block;
    margin-right: 3px
}

p.help-button-text {
    display: none;
}

p.help-button-text:hover {
    display:block;
    position: relative;
}

.help-button i {
    color: white;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: 20px;
    text-align:center;    
}

.help-button:hover i {
    color: white;
    font-size: 25px;
}
/* Help Bar ends */
/* Sector colours ends*/

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------- Help bar ENDS -------------------- */
/* ---------------- event styles --------------------*/
.event-title-wrap {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background: url(../images/subtle_carbon.png) center repeat;
}

h4.event-title {
    font-size: 120%;
    color: white;
    line-height: normal;
    font-weight: normal;
}


.intro h2 strong,
section > h2 strong,
.intro header strong,
section h2 strong {
    color: #52B3D9;
}

.main-section-margins {
    margin-top: 30px;
    margin-bottom: 30px;
}


.color-bg {
    background: #52B3D9;
}
.events{
    padding:50px 0 70px;
}
@media(max-width:480px){
    .events{
        padding:70px 0;
    }
}
/* ---------------- event styles ENDS--------------------*/

.icon-btn {
    border: 1px solid #52B3D9;
}

.btn-wrap {
    margin-top: -18px;
}

.fixed-btn {
    z-index: 99;
    position: relative;
    width: 100%;
    padding-top: -25px;
}

.fixed-btn .col-md-2 {
    padding: 0;
}

.fixed-btn .btn {
    padding: 10px 5px;
}

@media(min-width: 991px) {
    .fixed-btn .btn {
        padding: 15px 0;
        position: absolute;
        bottom: 0;
    }
}

.fixed-btn .row a {
    margin-top: 0;
    width: 100%;
}

.color-bg h2 {
    text-transform: uppercase;
    color: #fff;
}

/*------------------ Ghost button styles --------------------*/

.ghost{
    background: transparent;
    color: #52B3D9;
    border: 4px solid #52B3D9;
    font-size: 13px;
    padding: 5px 15px;
    
}
.light{
    color: white;
    border: 4px solid white;
}

@media(min-width: 1200px ){
   .ghost{
        background: transparent;
        color: #52B3D9;
        border: 5px solid #52B3D9;
        font-size: 18px;
        padding: 10px 30px;
   } 
    .light{
        color: white;
        border: 5px solid white;
    }  
}
@media(max-width: 380px){
    .ghost{
        white-space: normal;
        width: 100%;
    }
}  
/*---------------- Ghost button styles ENDS ---------------*/
/* --------------- Logo styles -----------------*/
.cc-logo {}

.cc-logo-scroll {
    margin-top: -84px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media(max-width:400px) {
    #cc-logo {
        width: 70px;
    }
    .cc-logo-scroll {
        margin-top: -65px;
    }
}

/* ------------- Logo styles ENDS --------------*/
/* ------------- Menu styles ----------------*/
.menu-icon {
    z-index: 1010;
}
.menu-icon:hover i {
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
}
.menu-item-links {
    margin-top: 5%;
}
@media(min-width: 681px) and (max-width: 991px) {
    .menu-item-links {
        margin-top: 10%;
    }
}
@media(max-width: 680px) {
    .menu-item-links {
        margin-top: 10%;
    }
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    z-index: 1003;
}

/* menu search form */

#search-form {
    margin-top: 20%;
}
@media(min-width: 681px) and (max-width: 991px) {
    #search-form {
        margin-top: 25%;
    }
}

@media(max-width: 680px) {
    #search-form {
        margin-top: 30%;
    }
}

.menu-social-icons {
    padding: 20px 15px;
    margin-top: 0;
    position: absolute;
    bottom: 0px
}
@media(max-width:680px ){
    .menu-social-icons {
        padding: 50px 15px;
        margin-top: 0;
        position: relative;
        bottom:auto;
}
}
/* ------------ Menu styles ENDS --------------*/
/* ------------ Slide Pagination styles ------------- */

/* full time sector*/

.slides-alt .slides-pagination a:first-child {
    background: #FF0078;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:first-child {
    background: #FF0078!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:first-child:after {
    content: "";
}
/* part time sector*/

.slides-alt .slides-pagination a:nth-child(2) {
    background: #05BC86;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:nth-child(2) {
    background: #05BC86!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:nth-child(2):after {
    content: "";
}
/* university sector*/

.slides-alt .slides-pagination a:nth-child(3) {
    background: #06CEDB;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:nth-child(3) {
    background: #06CEDB!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:nth-child(3):after {
    content: "";
}
/* leisure sector*/

.slides-alt .slides-pagination a:nth-child(4) {
    background: #8703B7;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:nth-child(4) {
    background: #8703B7!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:nth-child(4):after {
    content: "";
}
/* business sector*/

.slides-alt .slides-pagination a:nth-child(5) {
    background: #E04502;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:nth-child(5) {
    background: #E04502!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:nth-child(5):after {
    content: "";
}
/* apprenticeships sector*/

.slides-alt .slides-pagination a:nth-child(6) {
    background: #971A17;
    opacity: .3;
}

.slides-alt .slides-pagination a.current:nth-child(6) {
    background: #971A17!important;
    opacity: 1
}

.slides-alt .slides-pagination a.current:nth-child(6):after {
    content: "";
}

.slides-alt .slides-pagination a {
    border:none;
    padding: 10px 1px;
}
/* ----------------- Slide Pagination styles ENDS ------------------ */

/* =================================
        Cluster area header images 
*/
#technology-engineering {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/engineering-technology-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}
/* =================================

/* ----------------- Staff area styles ---------------------*/
.box-square article:nth-child(2) {
    background: #EAEAEA;
}
.box-square article:nth-child(2) h3,
.box-square article:nth-child(2) h4{
    color: #52B3D9;
}
.box-square article:nth-child(3) {
    background: #000;
    clear: left;
}
.box-square article:nth-child(3) h3,
.box-square article:nth-child(3) h2,
.box-square article:nth-child(3) p{
    color: #fff;
}
.box-square article:nth-child(4) h3,
.box-square article:nth-child(4) h2,
.box-square article:nth-child(4) p{
    color: white;
}
.box-square article:nth-child(4) {
    background: #52B3D9;
}
.box-square article:nth-child(5) {
    background: #000;
    clear: left;
}
.box-square-alt article {
    padding: 50px;
    height: auto;
    min-height: 400px;
}
/*.box-square-alt article:last-child {
    background:none;
}*/
.box-square-alt h4 {
    padding-top:20px;
}
.box-square-alt p {
    font-size:125%;
}
.item-blocks {
    margin: 100px 0px;
}

.another-title {
    margin-top: 50px;
    margin-bottom: 25px;
}
@media(max-width: 767px) {
    .another-title {
        margin-top: 0px;
    }
}
/* ----------- Staff area styles ENDS ---------*/
/* ----------- key stats bar ------------ */

.custom-progress {
    height: auto;
}
.custom-progress .progress-bar {
    padding-bottom: 5px;
    margin-right: 10px;
}
.custom-progress span {
    margin-left:0;
}
/* ---------- Key stats bar ENDS -----------*/
/* ---------- Services ----------*/
#services {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/Teachingshots15.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}
/* ---------- Servicces ENDS ------------ */
/* ---------- Counters -----------*/
.career-areas #counters{
    background: none;
    
}
.inner h5 {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.inner h5 span {
    display: block;
    font-weight: 700;
    font-size: 35px;
    color: #333;
    margin-bottom: 11px;
}
@media(max-width: 991px){
    .inner h5 {
        text-align: center;
    }
    .inner h5 span {
        font-size: 40px;
        text-align: center;
    }
}
/* --------- Counters ENDS ------------*/

/* --------- Contacts section ------------*/
#apply-head {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/IMG_3996.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}
#apply-head h2 span{
padding-top:44px;
}
/* --------- Contact Section ENDS -----------*/
/* --------- Full time section call to action --------- */

.fulltime-bar {
    clear: both;
    text-align: center;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/IMG_3996.jpg) 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

.margin-top {
    margin-top: 70px;
}

.fulltime-bar section {
    letter-spacing: 1.5px;
    /*height: 400px;*/
    
    font-family: "Raleway";
    font-weight: 400;
    margin: 0;
}

.fulltime-bar h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eee;
    padding-top: 100px;
    text-align: center
}

.fulltime-bar .btn {
    background: transparent;
    border: 5px #52B3D9 solid;
    color: #52B3D9;
    opacity: 1;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.bar .btn:hover {
    border: 5px #fff solid;
    color: #fff;
    opacity: 1;
}

@media(max-width: 480px) {
    .fulltime-bar h2 {
        padding-top: 70px;
        font-size: 40px;
    }
    .fulltime-bar .btn {
        font-size: 20px;
        padding: 10px 20px;
        margin-bottom: 70px;
    }
}

/* engineering and technology | apply now bar */
.engineering-bar {
    clear: both;
    text-align: center;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/engineering-technology.jpg) 50% 0 no-repeat fixed;
    /*height: 400px;*/
    
    background-size: cover;
}

.margin-top {
    margin-top: 70px;
}

.engineering-bar section {
    letter-spacing: 1.5px;
    /*height: 400px;*/
    
    font-family: "Raleway";
    font-weight: 400;
    margin: 0;
}

.engineering-bar h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eee;
    padding-top: 100px;
    text-align: center
}

.engineering-bar .btn {
    background: transparent;
    border: 5px #52B3D9 solid;
    color: #52B3D9;
    opacity: 1;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.engineering-bar .btn:hover {
    border: 5px #fff solid;
    color: #fff;
    opacity: 1;
}

@media(max-width: 480px) {
    .engineering-bar h2 {
        padding-top: 70px;
        font-size: 40px;
    }
    .engineering-bar .btn {
        font-size: 20px;
        padding: 10px 20px;
        margin-bottom: 70px;
    }
}
/* --------- Full time section call to action ENDS --------- */

.dark-bg h2{
    color: white;
}

/* ---------  Career Section --------- */


#career {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(http://placehold.it/1400x300) 50% 0 no-repeat fixed;
    background-size: cover;
}

#career-list {
    background-color: #fff;
    padding-left: 0;
}

#career-list p {
    margin-bottom: 70px;
    display: inline-block;
}

.career-filter {
    margin-bottom: 100px;
    text-align: left;
}

.career-filter ul {
    padding-left: 0;
}

.career-filter ul li {
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
}

.career-filter ul li a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    border: 1px solid transparent;
    border-left: 1px solid #52B3D9;
    padding: 2px 10px;
    text-decoration: none;
    line-height: 22px;
    margin-right: 10px;
    letter-spacing: 1.5px;
}

/* Cluster colors ends*/
.career-filter ul li a:hover,
.career-filter ul li a:focus {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.career-filter ul li a{
    margin-bottom: 5px;
    text-align: center;
    padding:10px 15px;
    font-weight: 700;        
}    

/* Cluster Colors*/    
.career-filter ul li a.bpi{
    border: 5px solid #E73029;  
    color :#E73029;  
}
.career-filter ul li a.bpi:hover{
    border: 5px solid #E73029;  
    background-color: #E73029;
}
.career-filter li a.selected.bpi{
    background-color: #E73029;
    color:white;
}
.career-filter ul li a.cve{
    border: 5px solid #C7D301;
    color: #C7D301;     
}
.career-filter ul li a.cve:hover{
    border: 5px solid #C7D301;
    background-color: #C7D301;
}
.career-filter li a.selected.cve{
    background-color: #C7D301;
    color:white;
}
.career-filter ul li a.hw{
    border: 5px solid #DE006E;
    color:#DE006E;     
}
.career-filter ul li a.hw:hover{
    background-color: #DE006E;    
    border: 5px solid #DE006E;
}
.career-filter li a.selected.hw{
    background-color: #DE006E;
    color:white;
}
.career-filter ul li a.re{
    border: 5px solid #20A64B;
    color:#20A64B;     
}
.career-filter ul li a.re:hover{
    background-color: #20A64B;    
    border: 5px solid #20A64B;  
}
.career-filter li a.selected.re{
    background-color: #20A64B;
    color:white;
}
.career-filter ul li a.sne{
    border: 5px solid #004B93;
    color: #004B93;     
}
.career-filter ul li a.sne:hover{
    background-color: #004B93;  
    border: 5px solid #004B93;  
}
.career-filter li a.selected.sne{
    background-color: #004B93;
    color:white;
}
.career-filter ul li a.et{
    border: 5px solid #00ACCD;
    color:#00accd;
}
.career-filter ul li a.et:hover{
    background-color: #00ACCD;
    border: 5px solid #00ACCD;
} 
.career-filter li a.selected.et{
    background-color: #00ACCD;
    color:white;
}
@media(max-width:765px){
   .career-filter ul li a{
       margin-right:0;
   } 
}
.career-filter ul li a:hover{
    color:white;
}
/*.career-filter li a.selected,
.career-filter li a.selected:hover,
.career-filter li a.selected:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}*/

.career-items {
    margin-left: -15px;
}

@media (max-width: 767px) {
    .career-items {
        margin-left: 10px;
        margin-top: 50px;
    }
}

.career-popup {
    width: 100%;
	overflow-x:hidden;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.career-popup-left {
    left: -100%;
}

.career-popup-left.cbp-spmenu-open {
    left: 0;
}
@media(max-width:380px){
    .career-areas .box-square{
        padding-left:0;
        padding-right:0;
    }
    .career-areas article{
        padding:30px;
    }
}
/* ---------  Career Section ENDS --------- */
/* --------- Main Menu indent Fix ----------*/
.menu-item-links > li:before {
    margin-left: -40px;
}

.menu-item-links li a {
    padding: 10px;
    line-height: 15px;
}
/* --------- Main Menu indent Fix ENDS ----------*/

.noscroll {
	overflow: hidden;
}

.app-form-visible{
	overflow: hidden;
}

.job-profile-link a{
	color: white;
	font-size: 12px;
}

.navbar-fixed-top{
	width:95%;
	margin: 0 auto;
}

#apply{
    width: 100%;
    overflow-x:hidden;
    height: 100%;
    top: 0;
    z-index: 2000;
    right: -100%;
}

#apply.cbp-spmenu-open {
    right: 0;
}

.grumble{
    display: none;
}
body.home .grumble{
    display: block;
}
