---
layout: career-page
title: Digital Academy
description: Find out more about starting a career in the Digital Technologies sector at The Cornwall College Group
career: digital-technologies
link: course-subjects/information-communication-technology
brand: CC
background-image: /images/area-banners/digital-technologies-desktop.jpg
campuscodes: C,S,A
schema: https://schema.org/course

alumni-name: Mark Rowland
alumni-role:
alumni-photo: /images/alumni/business-pro/mark-rowland.jpg
alumni-text: After leaving Cornwall College Mark started working as an IT engineer, something he is incredibly passionate about. Mark is now the director of Plymouth-based IT company Cutec Ltd."

student-name1: Karolina Vabolyte
student-role1:
student-photo1: /images/students/business-pro/karolina-vabolyte.jpg
student-text1: Quote

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Programmer or Software Development Professional
  career-paragraph: Design, develop, test, implement and maintain software systems for a business or even design and develop specialist software e.g. for computer games.
  jobs-now: 22360
  jobs-future: 24223
  starting-salary: 22000
  hashtag: programmer

- career-number: 2
  career-title: Web Design & Development Professional
  career-paragraph: Design, develop and maintain websites to meet a client’s specified requirements. This creative and technical career is in a fast-paced industry, that allows you to work anywhere in the world.
  jobs-now: 6082
  jobs-future: 6688
  starting-salary: 18000
  hashtag: web-designer

- career-number: 3
  career-title: IT Engineer
  career-paragraph: IT engineers install, maintain and repair the physical components of computer systems and equipment and the networks they operate across.
  jobs-now: 2797
  jobs-future: 2584
  starting-salary: 18000
  hashtag: it-engineer

- career-number: 4
  career-title: IT Operations Technician
  career-paragraph: IT operations technicians are responsible for the day-to-day running of networks including the preparation of back-up systems, and for performing regular checks to ensure smooth running.
  jobs-now: 8954
  jobs-future: 9201
  starting-salary: 18000
  hashtag: it-technician

- career-number: 5
  career-title: IT Project or Programme Manager
  career-paragraph: IT project managers manage, co-ordinate and technically supervise specific IT projects and programmes of a discrete duration and/or budget.
  jobs-now: 6091
  jobs-future: 6545
  starting-salary: 25000
  hashtag: it-manager

- career-number: 6
  career-title: Telecommunications Engineer
  career-paragraph: Telecommunications engineers install, maintain and repair public and private telephone systems and maintain, test and repair telecommunications cables.
  jobs-now: 6125
  jobs-future: 5665
  starting-salary: 18000
  hashtag: telecommunications-engineer

- career-number: 7
  career-title: Information Technology or Telecommunications Director
  career-paragraph: Directors plan, organise and co-ordinate the work and resources necessary to provide and operate information technology and telecommunications services within an organisation.
  jobs-now: 4795
  jobs-future: 5338
  starting-salary: 24000
  hashtag: network-manager

- career-number: 8
  career-title: IT User Support Technicican
  career-paragraph: Technicians are responsible for providing technical support, advice and guidance for users of IT systems and applications, either directly or by telephone, e-mail or other network interaction.
  jobs-now: 6898
  jobs-future: 7135
  starting-salary: 24000
  hashtag: IT-Technician
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Digital Academy Cornwall has developed from a meeting of minds and ideas, from software companies, creative thinkers and Cornwall’s leading information technology training provider." p2="With a national shortage of digital skills, there is a need to think differently about skills training and education for digital industries." p3="We want to help prepare you, the developers, technicians and dreamers of the future to be work ready, with high-level skills. We'll help you access real world experience through our extensive industry partnerships to give you a career edge." %}

<section class="container">{% youtube https://youtu.be/kq3V5sKSl3k %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/career-stats.html percent1=97 end1='of our ICT students say that lecturers know their subject well.' begin2='Our ICT for users courses have an' percent2=96.5 end2='success rate (<span>7.7%</span> higher than the national average).' %}

{% include /career/key-stats.html stat1='The tech sector contributes £91 billion to the UK economy' stat2='UK adults spend more time using media than they do sleeping' stat3='Last year, there were an extra 77,000 jobs available in the tech sector' stat4='26,000 new jobs were in the region between 2012-2013'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Software Development Apprenticeship Level 4' infoLink1='cornwallcollege/digital-academy/software-development-apprenticeship' courseTitle2='Software Development Technical Baccalaureate Level' infoLink2='cornwallcollege/digital-academy/software-development-technical-baccalaureate' courseTitle3='IT Design &amp; Web Media Apprenticeship' infoLink3='/cornwallcollege/digital-academy/it-design-web-media-apprenticeship' courseTitle4='FdSc Computing, Networking &amp; Software Development' infoLink4='/cornwallcollege/digital-academy/fdsc-computing-networking-software-development' courseTitle5='ICT Systems &amp; Principles For IT Professionals Diploma' infoLink5='/cornwallcollege/digital-academy/ict-systems-principles-for-it-professionals-diploma' %}
