---
layout: career-page
title: Horticulture &amp; Floristry
description: Find out more about starting career in the Agriculture and Horticulture industry at The Cornwall College Group
career: agriculture-horticulture
link: course-subjects/agriculture
brand: DC
background-image: /images/area-banners/agriculture-horticulture-mobile.jpg
campuscodes: R,D,B
schema: https://schema.org/course

staff-name: Caroline Crabb
staff-role: Lecturer - Floristry
staff-photo: /images/staff/caroline-crabb.jpg
staff-text: Caroline has been working in the floristry industry for almost two decades. She regularly competes in national                     competitions, has won medals at the RHS Chelsea Flower Show and has run her own floristry business for the last 16                 years. Caroline is one of only 50 people in the UK to hold the Masters Diploma in Professional Floristry (City & Guilds             Level 5). She has also been awarded a Licentiateship LCGI and Affiliateship (AfCGI) by City & Guilds.

alumni-name: Sally Charret
alumni-role: Deputy features editor, Amateur Gardens, IPC Media, Bournemouth
alumni-photo:
alumni-text: Alumni-Text

student-name1: Aiden Fone
student-role1:
student-photo1: /images/students/rural-economy/horticulture-floristry/aiden-fone.jpg
student-text1: I would highly recommend this course to anyone

student-name2: Archie Cox
student-role2:
student-photo2: /images/students/rural-economy/horticulture-floristry/archie-cox.jpg
student-text2: The tutors were really helpful

student-name3: Ollie Hibbard
student-role3:
student-photo3: /images/students/rural-economy/horticulture-floristry/ollie-hibberd.jpg
student-text3: I'm hoping to come back to level 3 arboriculture and move into the working industry
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Enjoy working outside and find farm work, livestock and machinery interesting? Then you should consider a career in agriculture. Or if plants, their growth, sustainability and making the environment beautiful are close to your heart a career in horticulture could be for you.' %}

<section class="container">
    <artical class="col-sm-6">{% youtube https://youtu.be/XyeoUD8OGEk %}</artical>
    <artical class="col-sm-6">{% youtube https://youtu.be/A80YkPPT3Yk %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Florist' paragraph='Florists sell flowers and related products in a wholesale or retail business, and design and make up floral bouquets, wreaths, tributes and other floral arrangements for sale to the public.' jobsIn='the Southwest' jobsNow=717 jobsFuture=729 startingSalary=16000 hashtag='florist' %}

{% include /career/career-example-job.html number='2' title='Gardener or Landscape Gardener' paragraph='Gardeners and landscape gardeners cultivate flowers, trees, shrubs and other plants in public and private gardens, construct features to improve the appearance of existing terrain, and cut and lay turf.' jobsIn='the Southwest' jobsNow=15817 jobsFuture=15699 startingSalary=12000 hashtag='gardener' %}

{% include /career/career-example-job.html number='3' title='Horticultural Operative' paragraph='Horticultural trades workers intensively cultivate vegetables, plants, fruit, shrubs, trees and flowers in greenhouses, market gardens, nurseries and orchards.' jobsIn='the Southwest' jobsNow=2132 jobsFuture=2175 startingSalary=12000 hashtag='horticulture-operative' %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}
    
{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}
    
{% include /career/career-stats.html begin1='Our agriculture courses have an' percent1=89.1 end1='success rate.' %}

{% include /career/key-stats.html stat1="UK consumers spend around £5 billion a year on products and plants for their gardens - that's more than we spend on chocolate as a nation" stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html campuscodes='RDB'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
