---
layout: career-page
title: Countryside Management
description: Find out more about starting a career in the Countryside Management industry with courses from The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='countryside-management' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">If you love the countyrside, are passionate about its protection and conservation and the livelihoods that rely on its existence, this could be the career path for you. You'll need to love working outdoors, and want to understand how nature works and how we interract with it in a sustainable way.</p>
        {% youtube https://youtu.be/zj2ddSyyjIE %}
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                
{% include career-example-job.html number='1' title='Property, Housing or Estate Manager' paragraph='Job holders within this group manage shopping centres, residential areas and private estates, and arrange for the sale, purchase, rental and leasing of property on behalf of clients and employers.' jobsIn='Cornwall' jobsNow=1945 jobsFuture=2161 startingSalary=21000 %} 
               
{% include career-example-job.html number='2' title='Forestry Worker' paragraph='Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.' jobsIn='the Southwest' jobsNow=1226 jobsFuture=1249 startingSalary=12000 %} 
                              
            </section>
        </section>

        <!-- skills -->

        <section id="skills" class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="side-text col-xs-6 col-md-4 col-md-offset-1">
                    <h2>OUR <strong>STATS</strong></h2>
                </article>

                <article class="progress-bars col-xs-6 col-md-5 col-md-offset-1">
                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%">
                            <span>100%</span> of our countryside management students say that teaching on their course was good.
                        </div>
                    </section>

                </article>
            </section>
        </section>

        <!-- call to action section -->  
        {% include career-apply-bar.html career='countryside-management' %}   