---
layout: career-page
title: Countryside Management
description: Find out more about starting a career in the Countryside Management industry with courses from The Cornwall College Group
career: countryside-management
link: course-subjects/countryside-conservation-gamekeeping
brand: DC
---

{% include career-header.html %}

{% include career-intro.html p1="If you love the countyrside, are passionate about its protection and conservation and the livelihoods that rely on its existence, this could be the career path for you. You'll need to love working outdoors, and want to understand how nature works and how we interract with it in a sustainable way." %}

<section class="container">{% youtube https://youtu.be/zj2ddSyyjIE %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Property, Housing or Estate Manager' paragraph='Job holders within this group manage shopping centres, residential areas and private estates, and arrange for the sale, purchase, rental and leasing of property on behalf of clients and employers.' jobsIn='Cornwall' jobsNow=1945 jobsFuture=2161 startingSalary=21000 %}

{% include career-example-job.html number='2' title='Forestry Worker' paragraph='Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.' jobsIn='the Southwest' jobsNow=1226 jobsFuture=1249 startingSalary=12000 %}

{% include career-examples-foot.html %}

{% include career-stats.html percent1=100 end1='of our countryside management students say that teaching on their course was good.' %}

{% include career-apply-bar-second.html %}   
