---
layout: location-hub
title: The Cornwall College GroupLocation Hub
description: The Cornwall College Group has a range of locations accross the south west offering range of career driven courses, find and more and apply here.
link: location
---
<!--get all the locations as a header map-->
{% include campus-locations.html campuscodes='BCFNRSADE'%}

    <!-- BODY SECTION -->

    <section class="container">
        
            <section class="col-md-12 intro" style="margin-top:30px;">
                    <article class="col-sm-12 text-center"><h2 class="text-uppercase">Our <strong>Locations</strong> </h2></article>
            </section> 
            <article>  
                <p class="lead">Our specialist career pathways will help you to develop your <strong onclick="window.smoothScrollTo('usp-explained');"><u>USP</u></strong>, giving you the very best opportunity to fulfil your potential. Our range of <strong>study programmes</strong> are the best preparation for the world of work...</p>
                <p class="lead">We’ve got lots of courses for all abilities and interests. To help you find your way, this website will let you select the career area that interests you and we’ll work with you to create a <strong>programme of study</strong> to fit your needs.</p>
            </article>     
            
    </section>

{% include campus-overview.html %}