---
layout: career-page
title: Aerospace
description: Find out more about starting an Electrical Career at The Cornwall College Group
career: aerospace
link: course-subjects/engineering
brand: CC
schema: https://schema.org/course

careers:
- career-number: 1
  career-title: Aircraft Maintenance or Related Trades Operative
  career-paragraph: Workers in this area fit, service, repair and overhaul aircraft engines and assemblies.
  jobs-now: 5243
  jobs-future: 4981
  starting-salary: 18000
  hashtag: aircraft-maintenance

- career-number: 2
  career-title: Aircraft Pilot or Flight Engineer
  career-paragraph: Aircraft flight deck officers check, regulate, adjust and test engines and other equipment prior to take-off, navigate and pilot aircraft and give flying lessons.
  jobs-now: 1345
  jobs-future: 1487
  starting-salary: 38000
  hashtag: aircraft-pilot
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Aerospace is an advanced industry, a specialist engineering pathway that looks set to offer a growth in jobs in the South West very soon.' p2='Whether you enjoy solving technical challenges or being innovative, aerospace engineering opens up a wide range of job roles for people with technical skills.' %}

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-second.html %}
