---
layout: career-page
title: Aerospace
description: Find out more about starting an Electrical Career at The Cornwall College Group
career: aerospace
link: course-subjects/engineering
brand: CC
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Aerospace is an advanced industry, a specialist engineering pathway that looks set to offer a growth in jobs in the South West very soon.' p2='Whether you enjoy solving technical challenges or being innovative, aerospace engineering opens up a wide range of job roles for people with technical skills.' %}

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Aircraft Maintenance or Related Trades Operative' paragraph='Workers in this area fit, service, repair and overhaul aircraft engines and assemblies.' jobsIn='the Southwest' jobsNow=3224 jobsFuture=2877 startingSalary=18000 %}

{% include /career/career-example-job.html number='2' title='Aircraft Pilot or Flight Engineer' paragraph='Aircraft flight deck officers check, regulate, adjust and test engines and other equipment prior to take-off, navigate and pilot aircraft and give flying lessons.' jobsIn='the Southwest' jobsNow=1494 jobsFuture=1701 startingSalary=38000 %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-second.html %}    
