---
layout: career-page
title: Electrical Careers
description: Find out more about starting an Electrical Career at The Cornwall College Group
---

        {% include career-header.html career='aerospace' %}

        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Aerospace is an advanced industry, a specialist engineering pathway that looks set to offer a growth in jobs in the South West very soon.</p>
            <p class="lead">Whether you enjoy solving technical challenges or being innovative, aerospace engineering opens up a wide range of job roles for people with technical skills.</p>
        </section>

        <!-- example careers in this area -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2><strong>CAREERS</strong></h2>

                </article>
            </section>
        </section>
        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
{% include career-example-job.html number='1' title='Aircraft Maintenance or Related Trades Operative' paragraph='Workers in this area fit, service, repair and overhaul aircraft engines and assemblies.' jobsIn='the Southwest' jobsNow=3224 jobsFuture=2877 startingSalary=18000 %} 

{% include career-example-job.html number='2' title='Aircraft Pilot or Flight Engineer' paragraph='Aircraft flight deck officers check, regulate, adjust and test engines and other equipment prior to take-off, navigate and pilot aircraft and give flying lessons.' jobsIn='the Southwest' jobsNow=1494 jobsFuture=1701 startingSalary=38000 %} 
                <!-- And many more section -->
                <section class="col-sm-12 margin-top header-icon"> 
                    <header>	              
                      <i class="fa fa-plus fa-4x fa-border transition" style="color:#52B3D9;"></i>
                      <h4 style="color:black;">MANY MORE!</h4>
                    </header>
                </section>
            </section>
        </section>
        
        {% include career-apply-bar.html career='aerospace' %}    