---
layout: about-page
title: Contact us
description: Contact us and how to find us.
background-image: /local-office.jpg
---

<!-- HEADER SECTION -->
<section id="header-bar" style="background: url(/images/banners/{{page.background-image}}) 50% 0 no-repeat fixed; background-size: cover;" class="col-md-12 jumbotron header-title career-title">
    <header class="container">
        <h2><a href="/"><small>Home / </small></a><a href="/career-hub/index.html"><small> Contact Us</small></a>
            <span>
            {% if include.title %}
                <span itemprop="department">{{ include.title | capitalize }}</span>
            {% else %}
                <span itemprop="department">{{ page.title | capitalize }}</span>
            {% endif %}
         </span></h2>
    </header>
</section>
<!-- END OF HEADER -->


{% include /career/career-intro.html p1="Contact details for all campuses will be stored here. For futher information regarding each campus visit that campuses page." %} 

<section class="col-xs-12 all-contact-details">
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#77BC43;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Bicton</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01395 562400</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:customer.services@bicton.ac.uk" style="color;color: white;"><strong>customer.services@bicton.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">East Budleigh, Budleigh Salterton, Devon EX9 7BY</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;">Opening time: 8:30am - 5:30pm</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#70AF3F;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/bicton-campus.html" title="Bicton Campus Page" style="color;color: white;"><strong>Bicton Campus Page</strong></a></td>
            </tr>              
          </tbody>
        </table>
    </article>  
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#B51E8F;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Bristol</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">0333 344 2235</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:...." style="color;color: white;"><strong>....</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Temple Studios, Temple Gate, Bristol, BS1 6QA</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;">Opening time: ....</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#AB1D88;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/bristol-campus.html" title="Bristol Campus Page" style="color;color: white;"><strong>Bristol Campus Page</strong></a></td>
            </tr>              
          </tbody>
        </table>
    </article>  
     
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#00509B;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Camborne</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01209 616161</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:enqiries@cornwall.ac.uk" style="color;color: white;"><strong>enqiries@cornwall.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Trevenson Road, Redruth, Cornwall, TR15 3RD</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;"> Opening time: 8:30am - 4:30pm </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/camborne-campus.html" title="Camborne Campus Page" style="color;color: white;"><strong>Camborne Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>  
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#CC0E0E;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Eden</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">....</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:...." style="color;color: white;"><strong>....</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Eden Project, Bodelva, Cornwall, PL24 2SG</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;"> Opening time: .... </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#BF0D0D;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/eden-campus.html" title="Eden Campus Page" style="color;color: white;"><strong>Eden Campus Page</strong></a>
                </td>
            </tr>              
          </tbody>
        </table>
    </article>  
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#00AFBF;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Falmouth</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01326 310323</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:falenquiries@cornwall.ac.uk" style="color;color: white;"><strong>falenquiries@cornwall.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Killigrew Street, Falmouth, Cornwall TR11 3QS</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;"> Opening time: 8:30am - 5:00pm </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#00A5B4;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/eden-campus.html" title="Falmouth Campus Page" style="color;color: white;"><strong>Falmouth Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article> 
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#00509B;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Newquay</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01637 857965</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:newquay.enquiries@cornwall.ac.uk" style="color;color: white;"><strong>newquay.enquiries@cornwall.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Wildflower Lane, Trenance Gardens, Newquay, Cornwall TR7 2LZ</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;"> Opening time: 8:30am - 5:30pm </td>           
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-link fa-2x"></i></td>
                <td style="color;color: white;">
                    <a href="/location-pages/newquay-campus.html" title="Newquay Campus Page"><strong>Newquay Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#007B4C;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Rosewarne</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01209 722100</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:rosewarne.enquiries@duchy.ac.uk" style="color;color: white;"><strong>rosewarne.enquiries@duchy.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Rosewarne, Camborne, Cornwall</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;">Opening time: ....</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/rosewarne-campus.html" title="Rosewarne Campus Page" style="color;color: white;"><strong>Rosewarne Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#00509B;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#004B93;" ><i class="fa fa-university fa-2x" ></i></td>
                <td><address style="color;color: white;">Saltash</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01752 850200</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:info@saltash.ac.uk" style="color;color: white;"><strong>info@saltash.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Church Rd, Saltash, Cornwall PL12 4AE</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;">Opening time: 8:30am - 5:00pm </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-link fa-2x"></i></td>
                <td style="color;color: white;">
                    <a href="/location-pages/saltash-campus.html" title="Saltash Campus Page"><strong>Saltash Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>
        
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#D1D1D1;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-university fa-2x"></i></td>
                <td><address>Sisna</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-phone fa-2x" ></i></td>
                <td>08452 232567</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:enquiries@cornwall.ac.uk" style="color;color: black;"><strong>enquiries@cornwall.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td>87-89, Sisna Park Road, PLYMOUTH</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td>Opening time: 8:30am - 5:00pm</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#C6C6C6;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/sisna-campus.html" title="Sisna Campus Page" style="color;color: black;"><strong>Sisna Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#00509B;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">St Austell</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01726 226622</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:info@st-austell.ac.uk" style="color;color: white;"><strong>info@st-austell.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Tregonissey Road, St Austell, Cornwall PL25 4DJ</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;"> Opening time: 8:30am - 5:00pm </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#004B93;"><i class="fa fa-link fa-2x"></i></td>
                <td><a href="/location-pages/st-austell-campus.html" style="color;color: white;" title="St Austell Campus Page"><strong>St  Austell Campus Page</strong></a></td>
            </tr>              
          </tbody>
        </table>
    </article>
    
    <article class="col-sm-12 col-md-6">
        <table id="main-contact" class="contact-details" style="background-color:#007B4C;">
          <tbody>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-university fa-2x"></i></td>
                <td><address style="color;color: white;">Stoke</address></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-phone fa-2x" ></i></td>
                <td style="color;color: white;">01579 372222</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-envelope-o fa-2x"></i></td>
                <td><a href="mailto:stoke.enquiries@duchy.ac.uk" style="color;color: white;"><strong>stoke.enquiries@duchy.ac.uk</strong></a></td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-map-marker fa-2x"></i></td>
                <td style="color;color: white;">Stoke Climsland, Callington, Cornwall PL17 8PB</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-clock-o fa-2x"></i></td>
                <td style="color;color: white;">Opening time: 9.00am - 5.00pm</td>
            </tr>
            <tr>
                <td class="text-center" style="background-color:#006D43;"><i class="fa fa-link fa-2x"></i></td>
                <td>
                    <a href="/location-pages/stoke-campus.html" title="Stoke Campus Page" style="color;color: white;"><strong>Stoke Campus Page</strong></a>
                </td>
            </tr>              
              
          </tbody>
        </table>
    </article>
</section> 
