---
layout: about-page
title: Contact us
description: Contact us and how to find us.
background-image: /local-office.jpg
---

<!-- HEADER SECTION -->
<section id="header-bar" style="background: url(/images/banners/{{page.background-image}}) 50% 0 no-repeat fixed; background-size: cover;" class="col-md-12 jumbotron header-title career-title">
  <header class="container">
    <h2><a href="/"><small>Home / </small></a><a href="/career-hub/index.html"><small> Contact Us</small></a>
      <span>
        {% if include.title %}
        <span itemprop="department">{{ include.title | capitalize }}</span>
        {% else %}
        <span itemprop="department">{{ page.title | capitalize }}</span>
        {% endif %}
      </span></h2>
    </header>
  </section>
<!-- END OF HEADER -->


{% include /career/career-intro.html p1="Contact details for all campuses will be stored here. For futher information regarding each campus visit that campuses page." %}

<section class="container all-contact-details">
  {% for campus in site.data.campus-overview %}
  {% if campus.campus == 'Plymouth Engineering' %}
  <article class="col-sm-12 col-md-6" >
    <table class="contact-overview contact-details" style="background-color:#{{ campus.primary-color }}">
      <tbody>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-university fa-2x"></i></td>
          <td><address style="color: black">{{ campus.brand }} {{ campus.campus }}</address></td>
        </tr>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-phone fa-2x" ></i></td>
          <td style="color: black">{{ campus.contact-number }}</td>
        </tr>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-envelope-o fa-2x"></i></td>
          <td><a href="mailto:{{ campus.email }}" style="color: black;"><strong>{{ campus.email }}</strong></a></td>
        </tr>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-map-marker fa-2x"></i></td>
          <td style="color: black">{{ campus.address }}</td>
        </tr>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-clock-o fa-2x"></i></td>
          <td style="color: black">{{ campus.opening }}</td>
        </tr>
        <tr>
          <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-link fa-2x"></i></td>
          <td>
            <a href="/location-pages/{{ campus.link }}" title="{{ campus.campus }} Page" style="color: black"><strong>{{ campus.campus }} Page</strong></a></td>
          </tr>
        </tbody>
      </table>
    </article>
    {% else %}
    <article class="col-sm-12 col-md-6" >
      <table class="contact-overview contact-details" style="background-color:#{{ campus.primary-color }}">
        <tbody>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-university fa-2x"></i></td>
            <td><address style="color: white">{{ campus.brand }} {{ campus.campus }}</address></td>
          </tr>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-phone fa-2x" ></i></td>
            <td style="color: white">{{ campus.contact-number }}</td>
          </tr>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-envelope-o fa-2x"></i></td>
            <td><a href="mailto:{{ campus.email }}" style="color: white;"><strong>{{ campus.email }}</strong></a></td>
          </tr>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-map-marker fa-2x"></i></td>
            <td style="color: white">{{ campus.address }}</td>
          </tr>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-clock-o fa-2x"></i></td>
            <td style="color: white">{{ campus.opening }}</td>
          </tr>
          <tr>
            <td class="text-center" style="background-color:#{{ campus.secondary-color }}"><i class="fa fa-link fa-2x"></i></td>
            <td>
              <a href="/location-pages/{{ campus.link }}" title="{{ campus.campus }} Page" style="color: white"><strong>{{ campus.campus }} Page</strong></a></td>
            </tr>
          </tbody>
        </table>
      </article>
    {% endif %}
  {% endfor %}
</section>
