---
layout: about-page
title: Downloads &amp; Documents
description: Find out more about starting an Engineering Career at The Cornwall College Group
background-image: downloads-documents.jpg
---

{% include /about/about-header.html %} 

{% include /career/career-intro.html p1="Fundamentally, engineers are problem solvers. The first hand work of engineers can be experienced in all parts of our daily lives including making a telephone call, riding a mountain bike, flying in a plane, walking across a bridge and even wearing perfume or aftershave!" p2="Engineers solve scientific and practical problems which affect all aspects of our lives underpinning economic activity and quality of life." p3="As an engineer you may be involved in design, production, research or running businesses. You may work for a small or large business or even a multi-national company anywhere in the world. Engineering gives you great opportunities for travel and working abroad." %} 