---
layout: hub
title: Career Hub
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: 14-18
---

    <!-- HEADER SECTION -->
    <section id="services" class="col-md-12 jumbotron header-title">
        <header class="container">
            <h2><a href="/"><small>Home </small></a><span>Open to the Public</span></h2>
        </header>
    </section>
    <!-- END OF HEADER -->

    <!-- BODY SECTION -->

    <section class="container">
        <p class="lead">Our specialist career pathways will help you to develop your <strong onclick="window.smoothScrollTo('usp-explained');"><u>USP</u></strong>, giving you the very best opportunity to fulfil your potential. Our range of <strong>study programmes</strong> are the best preparation for the world of work...</p>
        <p class="lead">We’ve got lots of courses for all abilities and interests. To help you find your way, this website will let you select the career area that interests you and we’ll work with you to create a <strong>programme of study</strong> to fit your needs.</p>
    </section>

    <!-- CAREER SECTION
====================================================================== -->


<section class="container main-section-margins ">

    <!-- list of businesses -->
    <section id="public-list" class="container">
        <div class="public-filter">

            <!-- CAREER FILTER OPTIONS -->
            <ul>
                {% for business in site.data.open-public %}
                <li class="{{ business.class }}" onclick="window.smoothScrollTo('{{business.short}}');">
                    <a class="transition {{ business.short }}" >
                        <h3>{{ business.business }}</h3>
                    </a>
                </li>       
                {% endfor %}
                    
            </ul>
        </div>
    </section>        
            
    <div class="clearfix"></div>

    
    {% for business in site.data.open-public %}        
        <section id="{{ business.short }}" style="border-left-color: #{{ business.color }}" class="col-xs-12 col-sm-12 public-body">
            
            <section class="col-xs-12 col-md-offset-3">
                <h2 class="main-section-margins" style="color: #{{business.color}}">{{ business.business }}</h2>
            </section>
            
            <section class="col-xs-12 col-sm-3">
                
                <article>
                    <table>
                        {% for table in business.table %}
                        {% if business.table != null %}
                        <tr>
                            <td class="text-center" style="padding:10px; background-color: #{{ business.color }}"><i class="{{ table.icon }} fa-2x" aria-hidden="true"></i></td>
                            <td style="padding:10px; background-color: #{{ business.color }}">{{ table.detail }}  </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </article>

                <article>
                    <img class="img-responsive" src="{{ business.image }}">
                </article>
                
            </section>
            
            <div class="col-xs-12 col-sm-9">
                
                <p class="lead">{{ business.title }}</p>
                <p>{{ business.text }}</p>
                
                <div class="panel-group" id="accordion-{{ business.short }}" >
                    {% for campus in business.campus %}
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #{{ business.color }}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-{{ business.short }}" href="#{{ campus.id }}">{{ campus.campus-name }}</a>
                            </h4>
                        </div>
                        <div id="{{ campus.id }}" class="{{ campus.class }}" style= "background-color: #{{ business.color }}">
                            <div class="panel-body">{{ campus.text }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            
        </section>
    {% endfor %}
    
</section>



<!-- Career Areas Divs -->

<section class="career-popup cbp-spmenu cbp-spmenu-vertical career-popup-left">
    <div id="career-content">
    </div>
</section>

<!-- CAREER section ends -->