---
layout: career-page
title: Marine &amp; Natural Environment
description: Find out more about starting a career in the Marine, Natural Science and Conservation sector at The Cornwall College Group
career: marine-natural-science-conservation
link: marine-science-biology
brand: FM
background-image: /images/area-banners/marine-natural-science-conservation-mobile.jpg
campuscodes: F
schema: https://schema.org/course

staff-name: Luke Marsh
staff-role: Programme Manager Marine Biology &amp; Ecology
staff-photo: /images/staff/luke-marsh.jpg
staff-text: Luke is a keen surfer and loves the ocean, so after leaving school he travelled the world for ten years before getting back into education and going to university. After graduating from Plymouth University in 2009 he worked as a research associate and an environmental consultant, specialising in pollution, particularly air emissions. Luke joined the ocean sciences team at Falmouth Marine School as a laboratory technician. Over the years he has progressed to become programme manager, he also lectures on the degree programme.

alumni-name: Lauren Bambury
alumni-role: Assistant Harbour Master - Hayle Harbour
alumni-photo: /images/alumni/science-environment/lauran-bambury.jpg
alumni-text: Falmouth Marine School helped me to get where I am today by providing me with the skills to be confident in my abilities. It also showed me the importance of volunteering and gaining vital work experience along with my studies.

student-name1: Dephiny Cesarano
student-role1:
student-photo1: /images/students/science-environment/dephiny-cesarano.jpg
student-text1: Falmouth Marine School hugely inspired me to participate in more practical outdoor activities and gave me the motivation to do my open water diving course.

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Conservation or Environmental Associate Professional
  career-paragraph: Conservation and environmental associate professionals are responsible for the day-to-day running and management of areas of the countryside and the wider environment in a way that reconciles the interests of conservation, land owners and the public. They carry out practical conservation activities and assist in promoting awareness of the natural environment.
  jobs-now: 695
  jobs-future: 780
  starting-salary: 17000
  hashtag: environmental-associate-professional

- career-number: 2
  career-title: Conservation Professional
  career-paragraph: Conservation professionals are responsible for ensuring that landscapes, habitats and species are protected and enhanced via appropriate management and conservation. They promote public understanding and awareness of the natural environment and help to develop and implement appropriate policies to achieve these objectives.
  jobs-now: 1282
  jobs-future: 1378
  starting-salary: 17000
  hashtag: conversation

- career-number: 3
  career-title: Fishing or Agriculture Operative
  career-paragraph: Workers in this area perform a variety of tasks in relation to the breeding and rearing of animals and fish, catch fish at sea and from inland waterways, assist in the picking and lifting of crops, plant and maintain hedges, oversee the incubation and hatching of eggs and perform other fishing and elementary agricultural tasks.
  jobs-now: 2157
  jobs-future: 2130
  starting-salary: 13000
  hashtag: agriculture

- career-number: 4
  career-title: Environment Professional
  career-paragraph: Workers in this area investigate, address, and advise on a variety of terrestrial and marine environment and resource management issues, including the development and implementation of environmental policies and remedies that address the impacts of human activities and industrial processes on the environment.
  jobs-now: 3590
  jobs-future: 3955
  starting-salary: 22000
  hashtag: environment-professional

- career-number: 5
  career-title: Environment Health Professional
  career-paragraph: Environmental health professionals use specialist technical skills and knowledge to protect people from health risks associated with the environment in which they live and work. They maintain and safeguard standards, including taking legal action to enforce relevant legislation with regard to public health policy.
  jobs-now: 1117
  jobs-future: 1243
  starting-salary: 25000
  hashtag: environmental-health
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Our world is precious and it takes a special set of skills to nurture and protect it. Careers in this area are all about sustaining our world, supporting flora and fauna and educating future generations to create a sustainable environment. You'll need an interest in sciences and a passion for our world's living creatures." %}

<section class="container">
    <article class="col-sm-6">{% youtube https://youtu.be/ZsZn8hwCjs0 %}</article>
    <article class="col-sm-6">{% youtube https://youtu.be/vWEm63JLRw4 %}</article>
</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our marine biology students say that teaching on their course was good.' percent2=88.8 start2='Our science courses have an' end2='success rate' %}

{% include /career/key-stats.html stat1='Aquaculture is now recognised as the fastest growth sector of agribusiness' stat2='70% of the earth’s surface is covered in water, yet most of it remains unexplored' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}


    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
