---
layout: career-page
title: Customer Service
description: Find out more about starting a Career in the Sales, Marketing and Customer Service sector at The Cornwall College Group
career: sales-marketing
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/customer-service-desktop.jpg
campuscodes: C,A
schema: https://schema.org/course

staff-name:
staff-role:
staff-photo:
staff-text:

alumni-name: Brett Pearn
alumni-role: Director at Parkes &amp; Pearn Property Consultants
alumni-photo: /images/alumni/business-pro/sales-marketing-customer-Service-brett-pearn.jpg
alumni-text: Successful entrepreneur Brett has an impressive business portfolio, including his latest addition, estate agency Parkes &amp; Pearn.

student-name1:
student-role1:
student-photo1:
student-text1:

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Advertising Accounts Manager
  career-paragraph: Advertising accounts managers and creative directors plan, design, organise and direct the advertising activities of an organisation.
  jobs-now: 2074
  jobs-future: 2336
  starting-salary: 18000
  hashtag: advertising-account-manager

- career-number: 2
  career-title: Customer Service Manager or Supervisor
  career-paragraph: Organise and co-ordinate resources necessary for receiving and dealing with customers, complaints or purchases for a business and manage a team of people.
  jobs-now: 12691
  jobs-future: 14119
  starting-salary: 19000
  hashtag: customer-service

- career-number: 3
  career-title: Marketing Professional
  career-paragraph: Assist in the development and implementation of marketing and sales plans which aim to meet customer needs profitably. You'll need to be creative, a good communicator and well organised.
  jobs-now: 13676
  jobs-future: 15186
  starting-salary: 18000
  hashtag: marketing-professional

- career-number: 4
  career-title: Sales Accounts or Business Development Manager
  career-paragraph: Sales accounts and business development managers plan, organise and undertake market research to meet the requirements of an organisation’s marketing and sales policies.
  jobs-now: 35550
  jobs-future: 38953
  starting-salary: 25000
  hashtag: business-development

- career-number: 5
  career-title: Sales or Retail Assistant
  career-paragraph: Sales and retail assistants demonstrate and sell a variety of goods and services in shops, stores, showrooms and similar establishments.
  jobs-now: 108650
  jobs-future: 106214
  starting-salary: 11000
  hashtag: sales-retail-assistant

- career-number: 6
  career-title: Public Relations Professional
  career-paragraph: PR people plan, organise and co-ordinate activities that promote the image, reputation and understanding of an organisation and its products or services to consumers.
  jobs-now: 3305
  jobs-future: 3632
  starting-salary: 18000
  hashtag: public-relations-director

- career-number: 7
  career-title: Call Centre or Contact Centre Operative
  career-paragraph: PR people plan, organise and co-ordinate activities that promote the image, reputation and understanding of an organisation and its products or services to consumers.
  jobs-now: 9897
  jobs-future: 10999
  starting-salary: 13500
  hashtag: public-relations-professional

- career-number: 8
  career-title: Customer Service Operative
  career-paragraph: Perform a variety of customer service tasks
  jobs-now: 25497
  jobs-future: 28698
  starting-salary: 13500
  hashtag: public-relations-professional

- career-number: 9
  career-title: Marketing & Sales Director
  career-paragraph: Marketing and sales directors plan, organise and direct market research and formulate and implement an organisation’s marketing and sales policies.
  jobs-now: 16256
  jobs-future: 18223
  starting-salary: 25000
  hashtag: marketing-director

- career-number: 10
  career-title: Retail Casher or Checkout Operator
  career-paragraph: Retail cashiers and check-out operators accept payments from customers and give change in respect of sales or services. You'll need to be comfortable working with lots of different people.
  jobs-now: 22081
  jobs-future: 21615
  starting-salary: 11000
  hashtag: checkout-operative

- career-number: 11
  career-title: Sales Supervisor
  career-paragraph: Marketing and sales directors plan, organise and direct market research and formulate and implement an organisation’s marketing and sales policies.
  jobs-now: 19767
  jobs-future: 19337
  starting-salary: 18000
  hashtag: sales-supervisor

- career-number: 12
  career-title: Wholesale or Retail Shopkeeper or Proprietor
  career-paragraph: Run your own business by co-ordinating the activities in the running of small, independent retail or wholesale establishment.
  jobs-now: 15544
  jobs-future: 16317
  starting-salary: 13000
  hashtag: sales-supervisor
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Marketers identify, anticipate and satisfy the customer - for a profit; sales people encourage us to buy and customer service professionals help us along the way. Working in this sector, you'll need to be creative, a great communicator and happy to engage with all sorts of people on a day-to-day basis." %}

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile Removed -->

<!-- Our Students Removed -->

<!-- Our Stats Removed -->

{% include /career/key-stats.html stat1='Customer handling skills is one of the most important skills employers look for when recruiting.' stat2='Employers report that this is one of the skills which is most lacking among applicants.' stat3='Organisations with the highest customer satisfaction achieved the highest growth in sales.' stat4='In the 2016 UK Customer Service Index, Amazon was the highest scoring organisation.' %}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Customer Service Apprenticeship' infoLink1='?courses=customer-service-apprenticeship' courseTitle2='Eden Host Apprenticeship' infoLink2='?courses=eden-host-apprenticeship-2' courseTitle3='Facilities Service Apprenticeship' infoLink3='?courses=facilities-service-apprenticeship' %}
