---
layout: career-page
title: Sales, Marketing and Customer Service
description: Find out more about starting a Career in the Sales, Marketing and Customer Service sector at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='sales-marketing' title='Sales, Marketing & Customer Service' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Marketers identify, anticipate and satisfy the customer - for a profit; sales people encourage us to buy and customer service professionals help us along the way. Working in this sector, you'll need to be creative, a great communicator and happy to engage with all sorts of people on a day-to-day basis.  </p>
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                
{% include career-example-job.html number='1' title='Advertising Accounts Manager' paragraph='Advertising accounts managers and creative directors plan, design, organise and direct the advertising activities of an organisation.' jobsIn='the Southwest' jobsNow=2036 jobsFuture=2328 startingSalary=18000 %}

{% include career-example-job.html number='2' title='Customer Service Manager or Supervisor' paragraph='Organise and co-ordinate resources necessary for receiving and dealing with customers, complaints or purchases for a business and manage a team of people.' jobsIn='the Southwest' jobsNow=12107 jobsFuture=13569 startingSalary=19000 %}

{% include career-example-job.html number='3' title='Marketing Professional' paragraph="Assist in the development and implementation of marketing and sales plans which aim to meet customer needs profitably. You'll need to be creative, a good communicator and well organised." jobsIn='the Southwest' jobsNow=12423 jobsFuture=14127 startingSalary=18000 %}
           
{% include career-example-job.html number='4' title='Sales Accounts or Business Development Manager' paragraph='Sales accounts and business development managers plan, organise and undertake market research to meet the requirements of an organisation’s marketing and sales policies.' jobsIn='Cornwall' jobsNow=2174 jobsFuture=2471 startingSalary=25000 %}
                           
{% include career-example-job.html number='5' title='Sales or Retail Assistant' paragraph='Sales and retail assistants demonstrate and sell a variety of goods and services in shops, stores, showrooms and similar establishments.' jobsIn='the Southwest' jobsNow=10529 jobsFuture=10527 startingSalary=11400 %}

{% include career-example-job.html number='6' title='Public Relations Professional' paragraph='PR people plan, organise and co-ordinate activities that promote the image, reputation and understanding of an organisation and its products or services to consumers.' jobsIn='Cornwall' jobsNow=3084 jobsFuture=3528 startingSalary=18000 %}
                
            </section>
        </section>
        <!-- call to action section -->
        {% include career-apply-bar.html career='sales-marketing' order='first' %}


        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Brett Pearn</h4>

              <footer>
                <p>Succesful entrepreneur Brett has an impressive business portfolio, including his latest addition, estate agency Parkes &amp; Pearn </p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/sales-marketing-customer-Service-brett-pearn.jpg" class="img-responsive" alt="Brett Pearn">
              </figure>
            </article>

        </section>

        <!-- call to action section -->   
        {% include career-apply-bar.html career='sales-marketing' %} 