---
layout: career-page
title: Sales, Marketing & Customer Service
description: Find out more about starting a Career in the Sales, Marketing and Customer Service sector at The Cornwall College Group
career: sales-marketing
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/customer-service-desktop.jpg
---

{% include career-header.html %}

{% include career-intro.html p1="Marketers identify, anticipate and satisfy the customer - for a profit; sales people encourage us to buy and customer service professionals help us along the way. Working in this sector, you'll need to be creative, a great communicator and happy to engage with all sorts of people on a day-to-day basis." %}

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Advertising Accounts Manager' paragraph='Advertising accounts managers and creative directors plan, design, organise and direct the advertising activities of an organisation.' jobsIn='the Southwest' jobsNow=2036 jobsFuture=2328 startingSalary=18000 %}

{% include career-example-job.html number='2' title='Customer Service Manager or Supervisor' paragraph='Organise and co-ordinate resources necessary for receiving and dealing with customers, complaints or purchases for a business and manage a team of people.' jobsIn='the Southwest' jobsNow=12107 jobsFuture=13569 startingSalary=19000 %}

{% include career-example-job.html number='3' title='Marketing Professional' paragraph="Assist in the development and implementation of marketing and sales plans which aim to meet customer needs profitably. You'll need to be creative, a good communicator and well organised." jobsIn='the Southwest' jobsNow=12423 jobsFuture=14127 startingSalary=18000 %}

{% include career-example-job.html number='4' title='Sales Accounts or Business Development Manager' paragraph='Sales accounts and business development managers plan, organise and undertake market research to meet the requirements of an organisation’s marketing and sales policies.' jobsIn='Cornwall' jobsNow=2174 jobsFuture=2471 startingSalary=25000 %}

{% include career-example-job.html number='5' title='Sales or Retail Assistant' paragraph='Sales and retail assistants demonstrate and sell a variety of goods and services in shops, stores, showrooms and similar establishments.' jobsIn='the Southwest' jobsNow=10529 jobsFuture=10527 startingSalary=11400 %}

{% include career-example-job.html number='6' title='Public Relations Professional' paragraph='PR people plan, organise and co-ordinate activities that promote the image, reputation and understanding of an organisation and its products or services to consumers.' jobsIn='Cornwall' jobsNow=3084 jobsFuture=3528 startingSalary=18000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}
    
{% include staff-profile.html image='http://placehold.it/370x370' name='Staff Member' role="Staff posistion - Staff Department" about="Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorum ius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem." %}

{% include student-case-studies.html studentImage1="/images/alumni/sales-marketing-customer-Service-brett-pearn.jpg" studentName1='Brett Pearn' studentRole1="director of Cornwalls' information centre" studentQuote1="Successful entrepreneur Brett has an impressive business portfolio, including his latest addition, estate agency Parkes & Pearn." studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include career-stats.html percent1=100 end1='Lorem ipsum dolor sit amet, feugiat tincidunt philosophia eu mel, quando appareat eos an.' %}

{% include key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include nas-apprenticeships.html sectors='Health, Public Services and Care' %}

{% include campus-locations.html campuscodes='#'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}
