---
layout: career-page
title: Children, Schools & Families
description: Find out more about starting career working wityh childen at The Cornwall College Group
career: childrens-workforce
link: course-subjects/early-years
brand: CC
---

{% include /career/career-header.html %}            

{% include /career/career-intro.html p1="Shaping the way our world grows by working with a new generation is an exciting prospect. Whether you are working in a childcare setting with babies and toddlers or developing youth projects, children's workforce careers are so important to how our society develops and offer a truly challenging and rewarding experience." %}

<section class="container">{% youtube https://youtu.be/uEv33C_B6Xs %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Nursery Nurse or Assistant' paragraph='Nursery nurses and assistants care for children from birth up to seven years of age in day or residential nurseries, children’s homes, maternity units and similar establishments.' jobsIn='Cornwall' jobsNow=1806 jobsFuture=1988 startingSalary=10000 %}

{% include /career/career-example-job.html number='2' title='Childminder or Related Occupation' paragraph='Childminders and related occupations provide day-to-day care of children within a domestic setting, and supervise and participate in their play, educational and other activities.' jobsIn='Cornwall' jobsNow=1220 jobsFuture=1343 altStartingSalary='variable' %}

{% include /career/career-example-job.html number='3' title='Playworker' paragraph='Playworkers deliver and facilitate play opportunities for children in a range of formal and informal settings including play groups, play schemes, free play locations, and in pre- and after-school activities.' jobsIn='Cornwall' jobsNow=381 jobsFuture=419 startingSalary=12000 %}

{% include /career/career-example-job.html number='4' title='Youth & Community Worker' paragraph='Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.' jobsIn='Cornwall' jobsNow=449 jobsFuture=500 startingSalary=14000 %}

{% include /career/career-example-job.html number='5' title='Teaching Assistant' paragraph='Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.' jobsIn='Cornwall' jobsNow=3380 jobsFuture=3719 startingSalary=13000 %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/career-stats.html percent1=100 end1='of our childcare students say that their lecturers are constantly challenging them to do their best.' %}

{% include career-alumni.html name="Matthew White" text="Matthew is passionate about helping children to have the best start in life. He worked in the Flying Start nursery at Stoke Climsland whilst completing his Foundation Degree in Children & Young People's Workforce." photo="alumni/childrens-workforce-matthew-white.jpg" %}

{% include career-apply-bar-second.html %}    
