---
layout: career-page
title: Construction Plant Careers
description: Find out more about starting a Career in Construction Plant at The Cornwall College Group
---

        {% include career-header.html career='construction-plant' %} 

        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Move the earth, well most of it, with large plant equipment. If you'd like a varied job that gives you the chance to work on a range of projects, operating some of the largest machines on the planet, a route into construction plant operations could be for you.</p>
        {% youtube https://youtu.be/jv03EeSWbYA %}
        {% youtube https://youtu.be/FoxB6zwZXqw %}
        </section>

        <!-- example careers in this area -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2><strong>CAREERS</strong></h2>

                </article>
            </section>
        </section>
        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                {% include career-example-job.html number='1' title='Plant &amp; Machine Operative' paragraph='Workers in this area operate a variety of plant and machinery.' jobsIn='the Southwest' jobsNow=2122 jobsFuture=1726 startingSalary=12000 %}
                <!-- And many more section -->
                <section class="col-sm-12 margin-top header-icon"> 
                    <header>	              
                      <i class="fa fa-plus fa-4x fa-border transition" style="color:#52B3D9;"></i>
                      <h4 style="color:black;">MANY MORE!</h4>
                    </header>
                </section>                
            </section>
        </section>

{% include career-stats.html percent1=100 end1='of our plant operations students say that their lecturers know their subject well.' %}

{% include career-apply-bar.html career='construction-plant' %}   