---
layout: career-page
title: Construction Plant
description: Find out more about starting a Career in Construction Plant at The Cornwall College Group
career: construction-plant
link: course-subjects/land-based-engineering-construction-plant
brand: DC
---

{% include /career/career-header.html %} 

{% include /career/career-intro.html p1="Move the earth, well most of it, with large plant equipment. If you'd like a varied job that gives you the chance to work on a range of projects, operating some of the largest machines on the planet, a route into construction plant operations could be for you." %}

<section class="container">
  <artical class="col-sm-6">{% youtube https://youtu.be/jv03EeSWbYA %}</artical>
  <artical class="col-sm-6">{% youtube https://youtu.be/FoxB6zwZXqw %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Plant &amp; Machine Operative' paragraph='Workers in this area operate a variety of plant and machinery.' jobsIn='the Southwest' jobsNow=2122 jobsFuture=1726 startingSalary=12000 %}

{% include /career/career-examples-foot.html %}

{% include /career/career-stats.html percent1=100 end1='of our plant operations students say that their lecturers know their subject well.' %}

{% include career-apply-bar-second.html %}   
