---
layout: hub
title: Access to Higher Education
description: If you’d like to study for a degree, but don’t have the qualifications you need, an Access to Higher Education course will refresh your study skills.
link: access-hub
background-image: /images/access-hub-desktop.jpg
apply-area: Course Interest Area - Access
usefulLinks:
- href: /financial-support/#adults-returning-to-study
  title: Financial information, loans, bursaries and grants explained
  baseurl: true
  suburl: student-support

- href: /supporting-your-learning
  title: Supporting your learning
  baseurl: true
  suburl: student-support

- href: /supporting-you
  title: Supporting you during your time with us
  baseurl: true
  suburl: student-support

- href: /how-to-apply/#19+
  title: The application process explained
  baseurl: true
  suburl: student-support

faq-main-title: Frequently Asked <strong>QUESTIONS</strong>
faqs:
- question: What are Access Courses?
  id: what-are-access-courses
  answer: Access courses are specifically designed for adults looking to return to study. If you’d like to study for a degree and are aged 19 and over, but don’t have the qualifications you need, then an Access to Higher Education course could help refresh your study skills, build your confidence and open the gateway to a new career.

- question: How can I fit in time to study?
  id: timetable
  answer: The timetable is built to help you balance work, family and other commitments.

- question: Can I use the Access qualification to get into any College or University?
  id: qualification
  answer: Access to Higher Education Diplomas are widely recognised by UK universities and colleges.

- question: How can I afford to pay for the Access course?
  id: loans
  answer: Advanced Learning Loans are available to cover tuition costs of Access courses. Repayments will not start until after you complete the course and you won’t have to pay anything back until you’re earning over £21,000 a year. Visit our Financial Support pages or get in touch for full information.

- question: Won't an Access course and a Degree put me in a lot of debt?
  id: paid-loan
  answer: Fees for 2017 entry are approximately £3,000, this is usually confirmed by the Skills Funding Agency in April/May each year. For anyone who is 19 years or over, you can apply for an Advanced Learning Loan to cover all costs. You do not have to repay the loan until you are earning a minimum of £21,000 a year.<br><br>The loan may also be written off by the Student Loans Company if you go on to complete a full higher education qualification. The College also has a limited bursary fund to support people from low income families with their course costs, childcare and transport, please contact us on 0330 123 2523 for more details.

- question: What if I'm not prepared for an Access Course?
  id: long
  answer: We also offer Progression (Pre-Access) courses, GCSEs and functional skills brush-up classes to prepare you for an Access course, ideal if you have been away from studying for some time.

text:
- tile-number: 1
  tile-title: Helping you to be prepared
  tile-paragraph: On an Access course you will study a subject of your choice with fellow adults. The course will be delivered in a flexible way with supportive staff who understand the challenges adults may face when returning to education.</p><p>As well as expanding your subject knowledge we will help you develop the study skills needed to succeed at university. We know we are good at this as our past students often tell us how confident they felt in their first year of university study, compared to some of their peers. Often our learners make long lasting friendships with fellow students and support each other throughout the Access programme and beyond.

- tile-number: 2
  tile-title: Helping you gain your university place
  tile-paragraph: We will help you identify the best university courses for you and support you with your application. Our students progress onto a wide range of university courses; some with us, some at other institutions in Cornwall, and some further afield.

- tile-number: 3
  tile-title: Fees
  tile-paragraph: Fees for 2017 entry are approximately £3,000, this is usually confirmed by the Skills Funding Agency in April/May each year. For anyone who is 19 years or over, you can apply for an Advanced Learning Loan to cover all costs. You do not have to repay the loan until you are earning a minimum of £21,000 a year.</p><p>The loan may also be written off by the Student Loans Company if you go on to complete a full higher education qualification. The College also has a limited bursary fund to support people from low income families with their course costs, childcare and transport.
  tile-link: /student-support/financial-support/#adults-returning-to-study
  tile-link-title: Financial Information

- tile-number: 4
  tile-title: Careers Advice
  tile-paragraph: If you want to change your career but are not sure if an Access course is the right route please feel free to make an appointment with one of our advisors, they are totally impartial and will help you to explore all your options.
  tile-link: /about-pages/contact.html
  tile-link-title: Get in touch

student-name1: Mark Gill
student-role1: Paramedic
student-photo1: /images/access-hub/mark-gill.png
student-text1:  My tutors at Cornwall College were very knowledgeable, supportive and positive. They allowed me to be more independent in my learning and I could tailor my projects to my design interests.

student-name2: Sonia Staples
student-role2: Community Staff Nurse
student-photo2: /images/access-hub/sonia-staples.png
student-text2: Cornwall College Saltash was small, but had a real friendly feel and the staff were very helpful, which is a big deal when you have not been in any formal education for many years. Since completing the Access to Nursing course I have gained a 2:1 BSc (Hons) Adult Nursing degree at Oxford Brookes University, and am now a community staff nurse.

student-name3: Dom Ferris
student-role3: Projects Manager, Surfers Against Sewage
student-photo3: /images/access-hub/dom-ferris.jpg
student-text3: I am extremely proud of myself for throwing everything I had back in the education ring at 27 and after studying an Access to Science course, I started the FdSc Surf Science & Technology at Newquay. On completion I then topped up to the BSc (Hons) Environmental Resource Management at Camborne and really enjoyed the challenge that the step up in level offered.
campuscodes: A,B,C,D,E,S
---
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- HEADER SECTION -->
<section id="access-hub" class="col-md-12 jumbotron header-title">
  <header class="container">
    <h2><a href="/"><small>Home </small></a><span>{{ page.title }}</span></h2>
  </header>
</section>
<!-- END OF HEADER -->

<!-- BODY SECTION -->
<section class="container ">
  <div class="col-sm-12 col-md-8 main-section-margins">
    <p class="lead ">Have you ever thought there may be more for you? Education can unlock so many different worlds, whether you want to gain skills and knowledge to boost your career, change direction or just prove to yourself, yes I can do this.</p>
    <p>If you’d like to study for a degree and are aged 19 and over, but don’t have the qualifications you need, then an Access to Higher Education course could help refresh your study skills, build your confidence and open the gateway to a new career.</p>
  </div>

  <div class="col-sm-12 col-md-4 useful-links main-section-margins">
    <h3>Links</h3>
    {% for link in page.usefulLinks %}
    <a class="btn" href="{% if link.baseurl == true %}{{ site.course_site_baseurl }}{{ link.suburl }}{% endif %}{{ link.href }}" title="{{ link.title }}" style="white-space:normal"> {{ link.title | upcase }}</a>
    {% endfor %}
  </div>
</section>

{% include faq.html %}

{% include tiles-dropdown.html %}

{% include one-option.html one-option-href="/book-call-back-access-courses" one-option-text="Book a call back with a programme manager" one-option-button-text="booking form" %}

{% include /career/student-case-studies.html %}

{% include /career/key-stats-three-stats.html stat1='92% of Access students were in employment six months after completing their undergraduate studies' stat2='6% (around 20,000) of all UCAS applications are from Access students' stat3='Each year around 50,000 adults study an Access course' %}

{% include /career/career-courses.html courseTitle1='Return To Learn Diploma' infoLink1='/cornwallcollege/foundation-learning/return-learn-diploma' courseTitle2='Nursing Access To HE Diploma' infoLink2='/cornwallcollege/social-care-health/nursing-access-diploma' courseTitle3='Progression To Access Certificate' infoLink3='/cornwallcollege/foundation-learning/progression-access-certificate' courseTitle4='Journalism And Media Access To Higher Education Diploma' infoLink4='/cornwallcollege/arts-media/journalism-and-media-access-to-higher-education-diploma' courseTitle5='Art & Design ASCENTIS Access To HE Diploma' infoLink5='/cornwallcollege/arts-media/art-design-ascentis-access-to-he-diploma' %}

{% include /career/campus-locations.html %}
