---
layout: hub
title: Access to Higher Education courses
description: If you’d like to study for a degree, but don’t have the qualifications you need, an Access to Higher Education course will refresh your study skills.
link: access-hub
background-image: /images/access-hub-desktop.jpg
apply-area:
usefulLinks:
    - href: /financial-support/#adults-returning-to-study
      title: Financial information, loans, bursaries and grants explained
      baseurl: true
      suburl: student-support

    - href: /supporting-your-learning
      title: Supporting your learning
      baseurl: true
      suburl: student-support

    - href: /supporting-you
      title: Supporting you during your time with us
      baseurl: true
      suburl: student-support

    - href: /how-to-apply/#19+
      title: The application process explained
      baseurl: true
      suburl: student-support

faq-main-title: ACCESS COURSE <strong>FREQUENTLY</strong> ASKED QUESTIONS
faqs:
    - question: What are Access Courses?
      id: what-are-access-courses
      answer: Access courses are specifically designed for adults looking to return to study

    - question: How can I fit in time to study?
      id: timetable
      answer: The timetable is built to help you balance work, family and other commitments

    - question: Can I use the Access qualification to get into any College or University?
      id: qualification
      answer: Access to Higher Education Diplomas are widely recognised by UK universities and colleges

    - question: How can I afford to pay for the Access course?
      id: loans
      answer: Advanced Learning Loans are available to cover tuition costs of Access courses

    - question: Won't an Access course and a Degree put me in alot of dept?
      id: paid-loan
      answer: No, there is no upper age limit and to start an apprenticeship you need to be at least 16.

    - question: What if I'm not prepared for an Access Course?
      id: long
      answer: We also offer Progression (Pre-Access) courses to prepare you for an Access course, ideal if you have been away from studying for some time

alumni-name: Mark Gill
alumni-photo: /images/access-hub/paramedic.png
alumni-text: My tutors ar Cornwall College were very knowledgeable, supportive and positive. They allowed me to be more independent in my learning and I could tailor my projects to my design interests.
---
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- HEADER SECTION -->
<section id="access-hub" class="col-md-12 jumbotron header-title">
  <header class="container">
    <h2><a href="/"><small>Home </small></a><span>{{ page.title }}</span></h2>
  </header>
</section>
<!-- END OF HEADER -->

<!-- BODY SECTION -->
<section class="container ">
  <div class="col-sm-12 col-md-8 main-section-margins">
    <p class="lead ">Have you ever thought there may be more for you? Education can unlock so many different worlds, whether you want to gain skills and knowledge to boost your career, change direction or just prove to yourself, yes I can do this.</p>
    <p>If you’d like to study for a degree and are aged 19 and over, but don’t have the qualifications you need, then an Access to Higher Education course could help refresh your study skills, build your confidence and open the gateway to a new career.</p>
  </div>

  <div class="col-sm-12 col-md-4 useful-links main-section-margins">
    <h3>Links</h3>
    {% for link in page.usefulLinks %}
    <a class="btn" href="{% if link.baseurl == true %}{{ site.course_site_baseurl }}{{ link.suburl }}{% endif %}{{ link.href }}" title="{{ link.title }}" style="white-space:normal"> {{ link.title | upcase }}</a>
    {% endfor %}
  </div>
</section>

{% include faq.html %}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/key-stats-three-stats.html stat1='92% of Access students were in employment six months after completing their undergraduate studies' stat2='6% (around 20,000) of all UCAS applications are from Access students' stat3='Each year around 50,000 adults study an Access course' %}

<!-- BROWSE BY section -->
{% include two-options.html first-half-text="View Our Learning Areas" first-half-button="Let's Go!" first-half-link="/learning-area-hub" second-half-text="View Our Career Areas" second-half-button="Let's Go!" second-half-link="/career-hub/" %}
<!-- BROWSE BY section ENDS-->


<!-- usp section -->
<section class="col-sm-12 fulltime-bar clearfix">
  <div class="container">
    <h2>Seen enough, apply now!</h2>
    <a href="{{site.course_site_baseurl}}apply-page/?course-title=Career-Area:{{page.apply-area}}" class="apply-btn btn">Apply NOW</a>
  </div>
</section>
