---
layout: career-page
title: Engineering
description: Find out more about starting an Engineering Career at The Cornwall College Group
career: engineering
link: course-subjects/engineering
brand: CC
background-image: /images/et/engineering.jpg
campuscodes: C,A,S
schema: https://schema.org/course
---

{% include /career/career-header.html %} 

{% include /career/career-intro.html p1="Fundamentally, engineers are problem solvers. The first hand work of engineers can be experienced in all parts of our daily lives including making a telephone call, riding a mountain bike, flying in a plane, walking across a bridge and even wearing perfume or aftershave!" p2="Engineers solve scientific and practical problems which affect all aspects of our lives underpinning economic activity and quality of life." p3="As an engineer you may be involved in design, production, research or running businesses. You may work for a small or large business or even a multi-national company anywhere in the world. Engineering gives you great opportunities for travel and working abroad." %}

<section class="container">{% youtube https://youtu.be/Cz2wrXyYS7s %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Civil Engineer' paragraph='Civil engineers undertake research and design, direct construction and manage the operation and maintenance of civil and mining engineering structures.' jobsIn='Cornwall' jobsNow=438 jobsFuture=477 startingSalary=25000 hashtag=civil-engineer %}

{% include /career/career-example-job.html number='2' title='Design and Development Engineer' paragraph='Design and development engineers conceive engineering designs from product ideas or requirements in mechanical, electrical and electronic engineering.' jobsIn='Cornwall' jobsNow=403 jobsFuture=438 startingSalary=20000 hashtag=design-and-development-engineer %}

{% include /career/career-example-job.html number='3' title='Mechanical Engineer' paragraph='Mechanical engineers undertake research and design, direct the manufacture and manage the operation and maintenance of engines, machines, aircraft, vehicle and ships’ structures, building services and other mechanical items.' jobsIn='Cornwall' jobsNow=486 jobsFuture=529 startingSalary=22000 hashtag=mechanical-engineer %}

{% include /career/career-example-job.html number='4' title='Metal Machining Setters And Setter-operators' paragraph='Jobholders in this area operate machines to drill, bore, grind, cut, mill or otherwise shape metal workpieces.' jobsIn='Cornwall' jobsNow=549 jobsFuture=489 startingSalary=14000 hashtag=metal-machining-setters-and-setter-operators %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image="/images/staff/luke-bazeley.jpg" name='Luke Bazeley' role="Course Manager - Engineering" about="Engineering runs in the family for Luke, who spent time as a child watching his grandfather working on civil engineering drawings. Luke started out as an apprentice toolmaker with Daften Diecasting. After learning his trade, he went to Australia and worked for an engineering company, producing large components for the logging industry. On returning to the UK Luke joined the engineering team at Cornwall College and has become our resident CNC and programming expert. When he’s not at work, Luke runs his own business developing products such as mouthpieces, which aid brass musicians from around the world with metal allergies." %}

{% include /career/student-case-studies.html studentImage1="/images/alumni/technology/nick-smith-marine-engineering.jpg" studentName1='Nick Smith' studentRole1='' studentQuote1="Falmouth Marine School has helped me immensely with my career. I was enrolled onto a course that I wanted to do and really suited me needs" studentImage2="/images/alumni/technology/harry-symes-engineering.jpg" studentName2='Harry Symes' studentRole2='' studentQuote2="I like the practical and theory lesson and leaning" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="quote" %}
    
{% include /career/career-stats.html percent1=99 end1='of engineering students say that their lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
