---
layout: career-page
title: Engineering
description: Find out more about starting an Engineering Career at The Cornwall College Group
career: engineering
link: course-subjects/engineering
brand: CC
background-image: /images/et/engineering.jpg
campuscodes: C,A,S
schema: https://schema.org/course

staff-name: Luke Bazeley
staff-role: Course Manager - Engineering
staff-photo: /images/staff/luke-bazeley.jpg
staff-text: Engineering runs in the family for Luke, who spent time as a child watching his grandfather working on civil                       engineering drawings. Luke started out as an apprentice toolmaker with Daften Diecasting. After learning his trade, he             went to Australia and worked for an engineering company, producing large components for the logging industry. On                   returning to the UK Luke joined the engineering team at Cornwall College and has become our resident CNC and                       programming expert. When he’s not at work, Luke runs his own business developing products such as mouthpieces, which               aid brass musicians from around the world with metal allergies.

alumni-name: Simon Jones
alumni-role:
alumni-photo:
alumni-text: Quote

student-name1: Harry Symes
student-role1:
student-photo1: /images/students/technology/harry-symes.jpg
student-text1: I like the practical and theory lesson and learning

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Fundamentally, engineers are problem solvers. The first hand work of engineers can be experienced in all parts of our daily lives including making a telephone call, riding a mountain bike, flying in a plane, walking across a bridge and even wearing perfume or aftershave!" p2="Engineers solve scientific and practical problems which affect all aspects of our lives underpinning economic activity and quality of life." p3="As an engineer you may be involved in design, production, research or running businesses. You may work for a small or large business or even a multi-national company anywhere in the world. Engineering gives you great opportunities for travel and working abroad." %}

<section class="container">{% youtube https://youtu.be/Cz2wrXyYS7s %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Civil Engineer' paragraph='Civil engineers undertake research and design, direct construction and manage the operation and maintenance of civil and mining engineering structures.' jobsIn='the Southwest' jobsNow=7457 jobsFuture=8257 startingSalary=17000 hashtag='civil-engineer' %}

{% include /career/career-example-job.html number='2' title='Design and Development Engineer' paragraph='Design and development engineers conceive engineering designs from product ideas or requirements in mechanical, electrical and electronic engineering.' jobsIn='the Southwest' jobsNow=7192 jobsFuture=7899 startingSalary=20000 hashtag='development-engineer' %}

{% include /career/career-example-job.html number='3' title='Mechanical Engineer' paragraph='Mechanical engineers undertake research and design, direct the manufacture and manage the operation and maintenance of engines, machines, aircraft, vehicle and ships’ structures, building services and other mechanical items.' jobsIn='The Southwest' jobsNow=9829 jobsFuture=10956 startingSalary=22000 hashtag=mechanical-engineer %}

{% include /career/career-example-job.html number='4' title='Metal Machining Setters And Setter-operators' paragraph='Jobholders in this area operate machines to drill, bore, grind, cut, mill or otherwise shape metal workpieces.' jobsIn='The Southwest' jobsNow=6263 jobsFuture=6063 startingSalary=15000 hashtag='metal-machine-setter' %}

{% include /career/career-example-job.html number='5' title='Energy Plant Operative' paragraph='Workers in this area operate boilers to produce hot water or steam and attend and operate compressors, turbines, electrical substations, switchboards and auxiliary plant and machinery to fuel nuclear reactors, drive blowers and pumps, electricity generators and other equipment.' jobsIn='The Southwest' jobsNow=701 jobsFuture=559 startingSalary=18000 hashtag='energy-plant-operative' %}

{% include /career/career-example-job.html number='6' title='Engineering Technician' paragraph='Engineering technicians perform a variety of technical support functions to assist engineers with the design, development, operation, installation and maintenance of engineering systems and constructions.' jobsIn='The Southwest' jobsNow=7468 jobsFuture=7772 startingSalary=18000 hashtag='engineering-techician' %}
<!--
{% include /career/career-example-job.html number='7' title='Metal Working Machine Operative' paragraph='Metal working machine operatives operate machines to cut, shape, abrade and otherwise machine metal, use hand and power tools to remove surplus metal and rough surfaces from castings, forgings or other metal parts, and clean, smooth and polish metal workpieces.' jobsIn='The Southwest' jobsNow=4299 jobsFuture=3666 startingSalary=13500 hashtag=metal-working-machine-operative %}

{% include /career/career-example-job.html number='8' title='Metal Working Production & Maintenance Fitter' paragraph='Metal working production and maintenance fitters erect, install and repair electrical and mechanical plant and industrial machinery, fit and assemble parts and sub-assemblies in the manufacture of metal products and test and adjust new motor vehicles and engines.' jobsIn='The Southwest' jobsNow=19454 jobsFuture=18529 startingSalary=18000 hashtag=metal-working-production-and-maintenance-fitter %}

{% include /career/career-example-job.html number='9' title='Precision Instrument Maker or Repairer' paragraph='Precision instrument makers and repairers make, calibrate, test and repair precision and optical instruments such as barometers, compasses, cameras, calibrators, watches, clocks and chronometers.' jobsNow=2793 jobsFuture=2620 startingSalary=15000 hashtag=Precision-Instruement-Maker-or-Repairer %}

{% include /career/career-example-job.html number='10' title='Production and Process Engineer' paragraph="Production and process engineers advise on and direct technical aspects of production programmes to ensure cost-effectiveness and efficiency. This group includes planning and quality control engineers who plan production schedules work sequences, and manufacturing and processing procedures to ensure accuracy, quality and reliability; and chemical engineers who undertake research on commercial scale chemical processes and processed products, design and provide specifications and direct the construction, operation, maintenance and repair of chemical plants and control systems." jobsNow=4446 jobsFuture=4884 startingSalary=22000 hashtag=Production-and-Process-Engineer %}

{% include /career/career-example-job.html number='11' title='Quality Control & Planning Engineer' paragraph="Quality control and planning engineers plan production schedules, work sequences, and manufacturing and processing procedures to ensure accuracy, quality and reliability." jobsNow=2414 jobsFuture=2658 startingSalary=18000 hashtag=quality-control-and-planning-engineer %}

{% include /career/career-example-job.html number='12' title='Science,Engineering & Production Technician' paragraph='Workers in this group perform a variety of technical support functions.' jobsNow=2820 jobsFuture=2912 startingSalary=13500 hashtag=science-engineering-and-production-technician %}

{% include /career/career-example-job.html number='13' title='Sheet Metal Worker' paragraph='Sheet metal workers mark out, cut, shape and join sheet metal using hand or machine tools to make and repair sheet metal products and components (excluding vehicle bodywork).' jobsNow=1821 jobsFuture=1801 startingSalary=18000 hashtag=Sheet-Metal-Worker %}

{% include /career/career-example-job.html number='14' title='Ships or Hovercraft Officer' paragraph='Ship and hovercraft officers command and navigate ships and other craft, co-ordinate the activities of officers and deck and engine room ratings, operate and maintain communications equipment on board ship and undertake minor repairs to engines, boilers and other mechanical and electrical equipment.' jobsNow=1325 jobsFuture=1417 startingSalary=20000 hashtag=Sheet-Metal-Worker %}
-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=99 end1='of engineering students say that their lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
