---
layout: career-page
title: Engineering
description: Find out more about starting an Engineering Career at The Cornwall College Group
career: engineering
link: course-subjects/engineering
brand: CC
background-image: /images/et/engineering.jpg
campuscodes: C,A,S
schema: https://schema.org/course

staff-name: Luke Bazeley
staff-role: Course Manager - Engineering
staff-photo: /images/staff/luke-bazeley.jpg
staff-text: Engineering runs in the family for Luke, who spent time as a child watching his grandfather working on civil engineering drawings. Luke started out as an apprentice toolmaker with Daften Diecasting. After learning his trade, he went to Australia and worked for an engineering company, producing large components for the logging industry. On returning to the UK Luke joined the engineering team at Cornwall College and has become our resident CNC and programming expert. When he’s not at work, Luke runs his own business developing products such as mouthpieces, which aid brass musicians from around the world with metal allergies.

alumni-name: Tom Jackman
alumni-role: Cheif Engineer on a superyacht
alumni-photo: /images/alumni/technology/tom-jackman.jpg
alumni-text: I am doing exactly what I dreamed of doing and am grateful for the tuition I received at Falmouth Marine School. The subjects I studied provided the perfect grounding for my career and I constantly apply the principles and skills I learnt.

student-name1: Harry Symes
student-role1:
student-photo1: /images/students/technology/harry-symes.jpg
student-text1: I like the practical and theory lesson and learning.

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Civil Engineer
  career-paragraph: Civil engineers undertake research and design, direct construction and manage the operation and maintenance of civil and mining engineering structures.
  jobs-now: 7457
  jobs-future: 8257
  starting-salary: 17000
  hashtag: civil-engineer

- career-number: 2
  career-title: Design and Development Engineer
  career-paragraph: Design and development engineers conceive engineering designs from product ideas or requirements in mechanical, electrical and electronic engineering.
  jobs-now: 7192
  jobs-future: 7899
  starting-salary: 20000
  hashtag: development-engineer

- career-number: 3
  career-title: Mechanical Engineer
  career-paragraph: Mechanical engineers undertake research and design, direct the manufacture and manage the operation and maintenance of engines, machines, aircraft, vehicle and ships’ structures, building services and other mechanical items.
  jobs-now: 9829
  jobs-future: 10956
  starting-salary: 22000
  hashtag: mechanical-engineer

- career-number: 4
  career-title: Metal Machining Setters And Setter-operators
  career-paragraph: Jobholders in this area operate machines to drill, bore, grind, cut, mill or otherwise shape metal workpieces.
  jobs-now: 6263
  jobs-future: 6063
  starting-salary: 15000
  hashtag: metal-machine-setter

- career-number: 5
  career-title: Energy Plant Operative
  career-paragraph: Workers in this area operate boilers to produce hot water or steam and attend and operate compressors, turbines, electrical substations, switchboards and auxiliary plant and machinery to fuel nuclear reactors, drive blowers and pumps, electricity generators and other equipment.
  jobs-now: 701
  jobs-future: 559
  starting-salary: 18000
  hashtag: plant-operative

- career-number: 6
  career-title: Engineering Technician
  career-paragraph: Engineering technicians perform a variety of technical support functions to assist engineers with the design, development, operation, installation and maintenance of engineering systems and constructions.
  jobs-now: 7468
  jobs-future: 7772
  starting-salary: 18000
  hashtag: engineering

- career-number: 7
  career-title: Metal Working Machine Operative
  career-paragraph: Metal working machine operatives operate machines to cut, shape, abrade and otherwise machine metal, use hand and power tools to remove surplus metal and rough surfaces from castings, forgings or other metal parts, and clean, smooth and polish metal workpieces.
  jobs-now: 4299
  jobs-future: 3666
  starting-salary: 13500
  hashtag: metal-working

- career-number: 8
  career-title: Metal Working Production & Maintenance Fitter
  career-paragraph: Metal working production and maintenance fitters erect, install and repair electrical and mechanical plant and industrial machinery, fit and assemble parts and sub-assemblies in the manufacture of metal products and test and adjust new motor vehicles and engines.
  jobs-now: 19454
  jobs-future: 18529
  starting-salary: 18000
  hashtag: metal-working

- career-number: 9
  career-title: Precision Instrument Maker or Repairer
  career-paragraph: Precision instrument makers and repairers make, calibrate, test and repair precision and optical instruments such as barometers, compasses, cameras, calibrators, watches, clocks and chronometers.
  jobs-now: 2793
  jobs-future: 2620
  starting-salary: 15000
  hashtag: instrument-maker

- career-number: 10
  career-title: Production and Process Engineer
  career-paragraph: Production and process engineers advise on and direct technical aspects of production programmes to ensure cost-effectiveness and efficiency. This group includes planning and quality control engineers who plan production schedules work sequences, and manufacturing and processing procedures to ensure accuracy, quality and reliability; and chemical engineers who undertake research on commercial scale chemical processes and processed products, design and provide specifications and direct the construction, operation, maintenance and repair of chemical plants and control systems.
  jobs-now: 4446
  jobs-future: 4884
  starting-salary: 22000
  hashtag: Production-and-Process-Engineer

- career-number: 11
  career-title: Quality Control & Planning Engineer
  career-paragraph: Quality control and planning engineers plan production schedules, work sequences, and manufacturing and processing procedures to ensure accuracy, quality and reliability.
  jobs-now: 2414
  jobs-future: 2658
  starting-salary: 18000
  hashtag: quality-control

- career-number: 12
  career-title: Science, Engineering & Production Technician
  career-paragraph: Workers in this group perform a variety of technical support functions.
  jobs-now: 2820
  jobs-future: 2912
  starting-salary: 13500
  hashtag: production-technician

- career-number: 13
  career-title: Sheet Metal Worker
  career-paragraph: Sheet metal workers mark out, cut, shape and join sheet metal using hand or machine tools to make and repair sheet metal products and components (excluding vehicle bodywork).
  jobs-now: 1821
  jobs-future: 1801
  starting-salary: 18000
  hashtag: Sheet-Metal-Worker

- career-number: 14
  career-title: Ships or Hovercraft Officer
  career-paragraph: Ship and hovercraft officers command and navigate ships and other craft, co-ordinate the activities of officers and deck and engine room ratings, operate and maintain communications equipment on board ship and undertake minor repairs to engines, boilers and other mechanical and electrical equipment.
  jobs-now: 1325
  jobs-future: 1417
  starting-salary: 20000
  hashtag: Sheet-Metal-Worker
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Fundamentally, engineers are problem solvers. The first hand work of engineers can be experienced in all parts of our daily lives including making a telephone call, riding a mountain bike, flying in a plane, walking across a bridge and even wearing perfume or aftershave!" p2="Engineers solve scientific and practical problems which affect all aspects of our lives underpinning economic activity and quality of life." p3="As an engineer you may be involved in design, production, research or running businesses. You may work for a small or large business or even a multi-national company anywhere in the world. Engineering gives you great opportunities for travel and working abroad." %}

<section class="container">{% youtube https://youtu.be/Cz2wrXyYS7s %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=99 end1='of engineering students say that their lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='The average starting salary for engineers is £21,725, the second highest behind medicine and dentistry' stat2='Engineering supports 14.5 million jobs – 55% of UK employment' stat3='The engineering sector will need 182,000 people each year' stat4='By 2017 STEM related occupations will account for 7.1% of UK jobs'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Engineering Extended Diploma Level 3' infoLink1='/cornwallcollege/engineering/engineering-extended-diploma-level-3' courseTitle2='Engineering Apprenticeship Level 3' infoLink2='/ccbusiness/engineering/engineering-apprenticeship-level-3' courseTitle3='Electrical Installation Level 3 Diploma' infoLink3='/cornwallcollege/engineering/electrical-installation-level-3-diploma' courseTitle4='Aeronautical Engineering Level 3 Extended Diploma' infoLink4='/cornwallcollege/engineering/aeronautical-engineering-level-3-extended-diploma' courseTitle5='Engineering &amp; Technology Level 2 Diploma' infoLink5='/cornwallcollege/engineering/engineering-technology-level-2-diploma' %}
