---
layout: career-page
title: Travel &amp; Tourism
description: Find out more about starting a career in the Performing Arts at The Cornwall College Group
career: travel-visitor-attractions
link: course-subjects/travel-tourism
brand: CC
background-image: /images/area-banners/travel-visitor-attractions-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Suzette Sadler
staff-role: Team Lead - Travel &amp; Tourism
staff-photo: /images/staff/suzette-sadler.jpg
staff-text: After studying travel and tourism with business studies at university in Durham, Suzette started her career with                   British Airways at London Heathrow Airport, where she worked in operations and customer service. She has also worked               in retail travel agencies, specialising in group and independent tours, along with business travel and as a tour guide.

alumni-name: Jess Williams
alumni-role: flybe cabin crew
alumni-photo: /images/alumni/cultral-visitor/travel-tourism/jess-williams.jpg
alumni-text: The College helped me get my first job Newquay airport. They have lecturers who work within the aviation industry whose knowledge and advice was invaluable to me.

student-name1: Emma Morgan
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: The course at college taught me the key elements of good Customer Service and industry knowledge, as well as how to deal with challenging and demanding work situations.  My studies have enabled me to develop a good set of communication and collaborative skills that I adapt to the variety of customers that I support.  I would sincerely recommend anyone interested in a career at sea or in resort management to consider the courses at Cornwall College.

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Archivist or Curator
  career-paragraph: Archivists and curators collect, appraise and preserve collections of recorded and other material of historical interest.
  jobs-now: 1061
  jobs-future: 1204
  starting-salary: 18000
  hashtag: archivist

- career-number: 2
  career-title: Travel Agent
  career-paragraph: Travel agents advise travellers upon travel arrangements, make bookings and receive payment for travel arrangements made.
  jobs-now: 3406
  jobs-future: 3146
  starting-salary: 13000
  hashtag: travel-agent

- career-number: 3
  career-title: Leisure or Theme Park Attendant
  career-paragraph: Leisure and theme park attendants monitor the operation of amusement arcades, check tickets of entry to theatres and cinemas and show people to their seats, operate rides at funfairs and theme parks, and entertain and look after guests at holiday camps.
  jobs-now: 2300
  jobs-future: 2231
  starting-salary: variable
  hashtag: travel-agent
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="The 21st century has seen Cornwall emerge as one of the world's iconic destinations for its beaches, culture, watersports, countryside and history." p2="It's an amazing time and location to start a career in this vital industry if you are passionate about the wonders of the world and the people who inhabit it." %}

<section class="container">{% youtube https://youtu.be/sljkUyGrhmQ %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<!-- STUDENT PROFILE -->

{% include /career/career-stats.html percent1=100 end1='of our Travel & Tourism Diploma Level 3 students say that their lecturers are constantly challenging them to do their best.' %}

{% include /career/key-stats.html stat1='The hospitality and tourism sector employs 7% of the working population' stat2='There are 262,268 tourism businesses in the UK' stat3='Since 2010 almost 3,00 jobs have been created in tourism' stat4='Tourism spend in the South West is £12.4 billion per year'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Travel &amp; Tourism City &amp; Guilds Diploma' infoLink1='?courses=travel-tourism-city-guilds-diploma-2' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
