---
layout: career-page
title: Travel &amp; Tourism
description: Find out more about starting a career in the Performing Arts at The Cornwall College Group
career: travel-visitor-attractions
link: course-subjects/travel-tourism
brand: CC
background-image: /images/area-banners/travel-visitor-attractions-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Suzette Sadler
staff-role: Team Lead - Travel &amp; Tourism
staff-photo: /images/staff/suzette-sadler.jpg
staff-text: After studying travel and tourism with business studies at university in Durham, Suzette started her career with                   British Airways at London Heathrow Airport, where she worked in operations and customer service. She has also worked               in retail travel agencies, specialising in group and independent tours, along with business travel and as a tour guide.

alumni-name: Jess Williams
alumni-role: flybe cabin crew
alumni-photo: alumni/cultral-visitor/travel-tourism/jess-williams.jpg
alumni-text: The College helped me get my first job Newquay airport. They have lecturers who work within the aviation industry                  whose knowledge and advice was invaluable to me.

student-name1: Emma Morgan
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: Text

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="The 21st century has seen Cornwall emerge as one of the world's iconic destinations for its beaches, culture, watersports, countryside and history." p2="It's an amazing time and location to start a career in this vital industry if you are passionate about the wonders of the world and the people who inhabit it." %}

<section class="container">{% youtube https://youtu.be/sljkUyGrhmQ %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Archivist or Curator' paragraph='Archivists and curators collect, appraise and preserve collections of recorded and other material of historical interest.' jobsIn='the Southwest' jobsNow=894 jobsFuture=1024 startingSalary=18000 hashtag=archivist-or-curator %}

{% include /career/career-example-job.html number='2' title='Travel Agent' paragraph='Travel agents advise travellers upon travel arrangements, make bookings and receive payment for travel arrangements made.' jobsIn='the Southwest' jobsNow=3546 jobsFuture=3571 startingSalary=13000 hashtag=travel-agent %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Travel & Tourism Diploma Level 3 students say that their lecturers are constantly challenging them to do their best.' %}

{% include /career/key-stats.html stat1='The hospitality and tourism sector employs 7% of the working population' stat2='There are 262,268 tourism businesses in the UK' stat3='Since 2010 almost 3,00 jobs have been created in tourism' stat4='Tourism spend in the South West is £12.4 billion per year'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}