---
layout: landing
title: Home
link: index.php
---

    <!-- Swiper -->
    <div class="swiper-container swiper-container-h">
        <div class="swiper-wrapper">
            <div class="swiper-slide home">
                <div class="swiper-container swiper-container-v">
                    <div class="swiper-wrapper" >
                            
                        <div class="swiper-slide home">{% include sweeper-slide-home.html %}</div>
                        <div class="swiper-slide whats-on">{% include sweeper-slide-whats-on.html %}</div>
                    </div>
                </div>              
            </div>
    </div>
<script>
        var videos = [
            '342934498',
            '342960541',
            '343380914'
        ];

        var index=Math.floor(Math.random() * videos.length);
        var html='<video autoplay  poster="" id="bgvid" loop><source src="videos/'+ videos[index] +'.mp4" type="video/webm"><source src="/videos/' + videos[index] + '.webm" frameborder="0" allowfullscreen></iframe></div>'; 
    
        document.write(html);
</script>