---
layout: career-page
title: The School of Education &amp; Professional Development
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: education-teaching
link: course-subjects/education-professional-development
brand: CC
background-image: /images/area-banners/education-teaching-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Inspiring others to achieve their potential is a great vocation, to be able to capture imagination, build and develop ideas and motivate a generation to become more than they thought possible requires knowledge, patience, good communication skills and a sense of humour." %}

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Primary or Nursery Education Teaching Professional' paragraph='Plan, organise and provide instruction to children at all levels up to the age of entry into secondary education in an inspiring and engaging way.' jobsIn='Cornwall' jobsNow=3293 jobsFuture=3657 startingSalary=22000 %}

{% include /career/career-example-job.html number='2' title='Educational Support Assistant' paragraph='If you care about people and like working 1-2-1 with individuals who need a bit of extra support, being an educational support assistant could be for you.' jobsIn='Cornwall' jobsNow=1238 jobsFuture=1362 startingSalary=13000 %}

{% include /career/career-example-job.html number='3' title='Higher Education Teaching Professional' paragraph='Higher education teaching professionals deliver lectures and teach students to at least first degree level, undertake research and write journal articles and books in their chosen field of study.' jobsIn='Cornwall' jobsNow=1047 jobsFuture=1164 startingSalary=33000 %}

{% include /career/career-example-job.html number='4' title='Secondary Education Teaching Professional' paragraph="To inspire, engage and encourage a future generation by working in a secondary school, is challenging and rewarding. You'll usually cover a specific subject, but also contribute to supporting the wider student experience." jobsIn='Cornwall' jobsNow=3346 jobsFuture=3717 startingSalary=22000 %}

{% include /career/career-example-job.html number='5' title='Speech or Language Therapist' paragraph='Speech and language therapists are responsible for the assessment, diagnosis and treatment of speech, language, fluency and voice disorders caused by disability, injury or illness.' jobsIn='Cornwall' jobsNow=1423 jobsFuture=1611 startingSalary=21400 %}

{% include /career/career-example-job.html number='6' title='Teaching Assistant' paragraph='Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.' jobsIn='Cornwall' jobsNow=3380 jobsFuture=3719 startingSalary=13000 %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image="/images/alumni/education/education-teaching-dr-tanya-hope.jpg" name="Dr Tanya Ovenden-Hope" role="Director of Education" about="Principal Fellow of the Higher Education Academy, Tanya was recognised for her international reputation in leading learning and teaching. Particularly through her innovations in teaching practice, engagement in teacher education policy and research on improving education for learners.</p><p>Tanya has been invited to speak about her research findings at international conferences and is currently helping to map the future of further education teaching practice in the UK." photo="alumni/education-teaching-dr-tanya-hope.jpg" %}

{% include /career/student-case-studies.html studentImage1="/images/alumni/education/katie-jane-goodman.jpg" studentName1='Katie-Jane Goodman' studentRole1="" studentQuote1="I'd read about the College's reputation on its website and was very happy woth my findings. The tutors were very supportive and friendly, and the whole college seemed to have a friendly orientated feel about it" studentImage2='http://placehold.it/370x370' studentName2='Mirren Zammit' studentRole2='role' studentQuote2="student quote" studentImage3='http://placehold.it/370x370' studentName3='student name' studentRole3='role' studentQuote3="student quote" %}

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Health & Social Care students are happy with their course and with the college.' %}

{% include /career/key-stats.html stat1="Stat 1" stat2="Stat 1" stat3="Stat 1" stat4="Stat 1"%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html campuscodes='AC'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
