---
layout: location-page
title: Bicton Campus
description: Find out more about our Bicton campus | The Cornwall College Group
campus: Bicton College
intro: Bicton College is based in East Devon in an Outstanding Area of Natural Beauty, just two miles from the Jurassic Coast. The historic Georgian mansion, commercial farm, rugby pitches, Animal Husbandry School as well as modern Veterinary Nursing building are set in over 200 hectares of historic parkland.
link: course-subjects/business-administration-law
brand: BIC
email: info@cornwall.ac.uk
phone: 01209 200200
address: Trevenson road, Pool, Redruth
postcode: TR16 3TD
opening-times: 8.30am till 5.30pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - health
    - digital
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}