---
layout: location-page
title: <span itemprop="name">Bicton College</span>
description: Find out more about our Bicton campus | The Cornwall College Group
campus: Bicton College
intro: Bicton College is based in East Devon in an Outstanding Area of Natural Beauty, just two miles from the Jurassic Coast. The historic Georgian mansion, commercial farm, rugby pitches, Animal Husbandry School as well as modern Veterinary Nursing building are set in over 200 hectares of historic parkland. Our campus is fantastic! Set in 200 hectares of open green parkland and rolling countryside, with the majestic house overlooking a beautiful lake, Bicton College is only ten minutes from the sea and twenty minutes from the city of Exeter with its great shops, clubs, bars, eateries, cinemas and theatres. The many other towns and villages, such as Exmouth and Sidmouth, offer a wealth of different activities and entertainment to suit everyone. The nearest beach is only four miles away in Budleigh Salterton and, if you enjoy climbing or hill walking, Dartmoor is less than one hour’s drive from the College. The College is also an Open Award Centre for the Duke of Edinburgh’s Award.
link: course-subjects/business-administration-law
brand: Bicton College
email: customer.services@bicton.ac.uk
phone: 0330 123 4782
address: East Budleigh, Budleigh Salterton, Devon </br> EX9 7BY
postcode:
opening-times: 8.30am till 5.30pm
video:
background-image: /images/location-banners/bicton-LG.jpg
campuscodes: B
event_campus: 5
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/Documents/maps/campus-map-bicton2.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-bicton.jpg" %}

{% include /campus/campus-partnerships.html %}
