---
layout: location-page
title: dBs Music Bristol Campus
description: Find out more about our Bristol campus | The Cornwall College Group
campus: dbs Music Bristol
intro: At dBs Music Bristol we give a true flavor of the music industry in an environment that will inspire, challenge and excite the music professional in you.
brand: dBs
email: enquiries@dbsmusic.co.uk
phone:  0330 123 2523
address: Location House, 14-16 Wilson Place, Bristol, BS2 9HJ<br>17 St Thomas Street Bristol BS1 6JS 
postcode:
opening-times: 9am – 5pm
directions:
video:
background-image: /images/location-banners/dbs-LG.jpg
learning-areas:
    - dBs music
campuscodes: M
event_campus: 18
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}


{% include /campus/campus-directions.html %}
