---
layout: location-page
title: dBs Music Bristol
description: Find out more about our Bristol campus | The Cornwall College Group
campus: dbs Music Bristol
intro: Industry leader dBs Music have created a state-of-the-art recording, production and performance facility directly on our Camborne campus. The building now houses industry standard studios, rehearsal spaces, IT Suites, dedicated DJ pods and a surround sound lecture theatre. If you are crazy about music and sound and have a real passion to be working in this industry then you will love what dBs Music is all about. At dBs Music we give a true flavor of the music industry and provide you with an environment that will inspire, challenge and excite the music professional in you. Whilst we provide our students with the necessary theoretical foundation they need to support their vocational practice, it is our belief that students should spend most of their time honing their music production craft and getting practical experience on the very best industry standard equipment. 
link: course-subjects/business-administration-law
brand: dBs
email: enquiries@dbsmusic.co.uk
phone:  0330 123 2523
address: Temple Studios Temple Gate Bristol BS1 6QA <br>17 St Thomas Street Bristol BS1 6JS 
postcode: 
opening-times: 9am – 5pm
directions:
video:
background-image: /images/location-banners/dbs-LG.jpg
learning-areas: 
    - dBs music
campuscodes: M
event_campus: 18
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}


{% include /campus/campus-directions.html %}



