---
layout: location-page
title: Camborne Campus
description: Find out more about our Camborne campus | The Cornwall College Group
campus: Cornwall College, Camborne
intro: With over £10million spent on redevelopments in recent years the campus is out of this world. On offer are the widest range of qualifications and subjects in the area, with a diverse student mix of further education, apprenticeships, professional qualifications and university study.
link: course-subjects/business-administration-law
brand: Cornwall College
email: enquiries@cornwall.ac.uk
phone: 01209 616161
address: Trevenson Road, Redruth, Cornwall
postcode: TR15 3RD
opening-times: 8:30am till 5:30pm
directions:
video:
background-image: /images/location-banners/camborne-LG.jpg
learning-areas: 
    - health
    - digital
campuscodes: C
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}
