---
layout: location-page
title: <span itemprop="name">Camborne College</span>
description: Find out more about our Camborne campus | The Cornwall College Group
campus: Cornwall College Camborne
intro: With over £10million spent on redevelopments in recent years the campus is out of this world. On offer are the widest range of qualifications and subjects in the area, with a diverse student mix of further education, apprenticeships, professional qualifications and university study.
link: course-subjects/business-administration-law
brand: Cornwall College
email: enquiries@cornwall.ac.uk
phone: <span itemprop="telephone">01209 616161</span>
address: <span itemprop="address">Trevenson Road, Redruth, Cornwall
postcode: TR15 3RD</span>
opening-times: 8.30am till 4.30pm
directions:
video:
background-image: /images/location-banners/camborne-LG.jpg
campuscodes: C
event_campus: 4
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}
