---
layout: location-page
title: Cornwall College Camborne Campus
description: Find out more about our Camborne campus | The Cornwall College Group
campus: Cornwall College Camborne
intro: Cornwall College Camborne offers a wide range of vocational courses from further education to university, professional qualifications and apprenticeships.
link: course-subjects/business-administration-law
brand: Cornwall College
email: enquiries@cornwall.ac.uk
phone: 0330 123 2523
address: Trevenson Road, Pool, Redruth, Cornwall, <br>TR15 3RD
postcode:
opening-times: 8.30am till 4.30pm
directions:
video:
background-image: /images/location-banners/camborne2-LG.jpg
campuscodes: C
event_campus: 4
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}

{% include /campus/campus-directions.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/documents/maps/camborne-cornwall-college-campus-map.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-camborne.jpg" %}

<section class="accreditations intro main-section-margins col-xs-12 col-sm-12">
  <h2>our <strong>accreditations</strong></h2>
  <ul>
    <li><img src="/images/public/trevenson-logo-square.jpg" alt="Trevenson Restaurant Logo" class="img-responsive"></li>
    <li><img src="/images/public/gold-accredited-square.jpg" alt="Gold Accredited Logo" class="img-responsive"></li>
    <li><img src="/images/public/college-rosette-highly-commended-square.jpg" alt="College Roetter Highly Commended Logo" class="img-responsive"></li>
    <li><img src="/images/public/centre-of-excellence-logo-square.jpg" alt="Centre of Excellence Logo" class="img-responsive"></li>
    <li><img src="/images/public/food-hygiene-square.jpg" alt="Food Hygiene Logo" class="img-responsive"></li>
  </ul>
</section>

{% include search.html title="Want to learn something new in your spare time?" search-href='//network.cornwall.ac.uk/leisure/tag/camborne-area/' button-title="Not sure? browse our leisure courses" button-href='//network.cornwall.ac.uk/leisure/tag/camborne-area/' %}

{% include /campus/campus-partnerships.html %}
