---
layout: location-page
title: Eden Project
description: Find out more about our Bicton campus | The Cornwall College Group
campus: The Eden Project
intro: In partnership with the Eden Project, we have introduced a range of new apprenticeships for enterprising and innovative individuals and businesses that are motivated to make the world a better place. The Eden Project and the Cornwall College Group are working together to train and employ a range of new apprentices in key business areas such as service excellence, cookery and horticulture.
link: course-subjects/business-administration-law
brand: Eden Project
email: edenprojectlearning@cornwall.ac.uk
phone: 0330 123 2523
address: Eden Project, Bodelva, Cornwall </br> PL24 2SG
postcode: 
opening-times: Mon to Thurs 9am – 5pm and Fri 8.30am – 4.30pm
directions:
video:
background-image: /images/location-banners/eden-LG.jpg
learning-areas: 
campuscodes: E
event_campus: 23
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}

