---
layout: location-page
title: The Eden Project campus - part of The Cornwall College Group
description: The Eden Project and the Cornwall College Group offer a range of apprenticeships and degree courses for people motivated to make the world a better place.
campus: The Eden Project
intro: In partnership with the Eden Project, we have developed a unique set of university-level degrees taught on-site at Eden, to complement Eden’s ethos of making the world a better place. Taught by Cornwall College's expert trainers in the Eden Project’s unique learning environment, Eden Project Learning students have the opportunity study for a university-level degree, awarded by Plymouth University, alongside experiencing hands-on practical experience at a world-famous visitor attraction and garden. Find out more at our next Open Day.
link: course-subjects/business-administration-law
brand: Eden Project
email: edenprojectlearning@cornwall.ac.uk
phone: 0330 123 2523
address: Eden Project, Bodelva, Cornwall <br> PL24 2SG
postcode:
opening-times: Mon-Thurs 9am–5pm, Fri 8:30am–4:30pm
directions:
video:
background-image: /images/location-banners/eden-LG.jpg
learning-areas:
campuscodes: E
event_campus: 23
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}

{% include /campus/campus-directions.html %}
