---
layout: location-page
title: <span itemprop="name">Falmouth Marine School</span>
description: Find out more about our Falmouth campus | The Cornwall College Group
campus: Falmouth Marine School
intro: Falmouth Marine School provides a comprehensive selection of courses from introductory to degree level in partnership with Plymouth University. We specialise in Boatbuilding, Leisure & Watersports, Marine Engineering and Marine Science & Biology.</br></br> We have an excellent international reputation for our marine courses with superb facilities including boatbuilding and engineering workshops, a dedicated marine science lab and a well equipped watersports centre. Our tutors combine industry experience with academic expertise and are active in their field through research and personal interest in their subjects.</br></br>  Whatever you choose to study, Falmouth Marine School is committed to ensuring that you enjoy your time with us, and can be assured of personal attention, support and guidance every step of the way.
link: course-subjects/business-administration-law
brand: Falmouth Marine School
email: falenquiries@cornwall.ac.uk
phone: 01326 310323
address: Killigrew Street, Falmouth, Cornwall, TR11 3QS
postcode: TR11 3QS
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/falmouth-LG.jpg
learning-areas: 
    - health &amp; wellbeing
    - science &amp; natural environment
    - technology
campuscodes: F
event_campus: 22
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}