---
layout: location-page
title: Falmouth Campus
description: Find out more about our Falmouth campus | The Cornwall College Group
campus: Falmouth Marine School
intro: Cornwall’s college of the ocean has had a facelift this year, with over £3 million invested in ensuring the main Killigrew campus is a state-of-the-art training facility for the marine sector including ocean sciences, technology, watersports and boatbuilding. There are two other centres in Falmouth that make up the Marine School, a watersports facility on the water’s edge of the Fal estuary and a boatbuilding and fabrication unit in Ponsharden boatyard.
link: course-subjects/business-administration-law
brand: Falmouth Marine School
email: falenquiries@cornwall.ac.uk
phone: 01326 310323
address: Killigrew Street, Falmouth, Cornwall
postcode: TR11 3QS
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - health &amp; wellbeing
    - science &amp; natural environment
    - technology
campuscodes: F
event_campus: 22
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}