---
layout: location-page
title: <span itemprop="name">Newquay College</span>
description: Find out more about our Newquay campus | The Cornwall College Group
campus: Cornwall College Newquay
intro: Newquay is a modern, small and friendly campus located in the heart of the bright and bustling town of Newquay. Specialising in animal, marine and surf science studies, it has a reputation for being environmentally friendly and offering individual support in all aspects of study.
link: course-subjects/business-administration-law
brand: Cornwall College
email: newquay.enquiries@cornwall.ac.uk
phone: 01637 857965
address: Wildflower Lane, Trenance Gardens, Newquay, Cornwall, TR7 2LZ
postcode: TR7 2LZ
opening-times: 8.30am till 5.30pm
directions:
video:
background-image: /images/location-banners/newquay-LG.jpg
learning-areas: 
    - science &amp; natural environment
campuscodes: N
event_campus: 16
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}