---
layout: location-page
title: Newquay Campus
description: Find out more about our Newquay campus | The Cornwall College Group
campus: Cornwall College Newquay
intro: Newquay is a modern, small and friendly campus located in the heart of the bright and bustling town of Newquay. Specialising in zoology, marine and surf science studies, the campus is well-known in Cornwall as a friendly and inclusive setting for high quality teaching and research.
link: course-subjects/business-administration-law
brand: Cornwall College
email: newquay.enquiries@cornwall.ac.uk
phone: 0330 123 2523
address: Wildflower Lane, Trenance Gardens, Newquay, Cornwall, TR7 2LZ
postcode: 
opening-times: 8.30am till 5.30pm
directions:
video:
background-image: /images/location-banners/newquay-LG.jpg
learning-areas: 
    - science &amp; natural environment
campuscodes: N
event_campus: 16
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/Documents/maps/NQ Campus Map.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-newquay.jpg" %}

{% include /campus/campus-events.html %}

{% include /campus/campus-partnerships.html %}
