---
layout: location-page
title: Newquay Campus
description: Find out more about our Newquay campus | The Cornwall College Group
campus: <span itemprop="CollegeOrUniversity">Cornwall College Newquay</span>
intro: Newquay is a modern, small and friendly campus located in the heart of the bright and bustling town of Newquay. Specialising in animal, marine and surf science studies, it has a reputation for being environmentally friendly and offering individual support in all aspects of study.
link: course-subjects/business-administration-law
brand: <span itemprop="brand">Cornwall College</span>
email: <span itemprop="email">newquay.enquiries@cornwall.ac.uk</span>
phone: <span itemprop="telephone">01637 857965</span>
address: <span itemprop="address">Wildflower Lane, Trenance Gardens, Newquay, Cornwall</span>
postcode: <span itemprop="address">TR7 2LZ</span>
opening-times: 8.30am till 5.30pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - science &amp; natural environment
campuscodes: N
event_campus: 16
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}