---
layout: location-page
title: dBs Music Plymouth Campus
description: Find out more about our Plymouth campus | The Cornwall College Group
campus: dbs Music Plymouth
intro: Plymouth students have access to top recording and production equipment, the latest industry standard software packages and IT facilities. The tutors come from a vast range of professional backgrounds and are all still working in some aspect of the music industry.<br>Plymouth students also benefit from our 400 capacity, working live venue in the centre of Plymouth, used for live sound training on the dedicated FdA in Live Sound but also for modules on our Diplomas and the other HE Level courses.
brand: dBs
email: enquiries@dbsmusic.co.uk
phone:  0333 344 2237
address: 6 Elizabeth Court Higher Lane Plymouth
postcode: PL1 2AN
opening-times: 9am – 5pm
directions:
video:
background-image: /images/location-banners/dbs-LG.jpg
learning-areas:
    - dBs music
campuscodes: L
event_campus: 18
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}


{% include /campus/campus-directions.html %}
