---
layout: location-page
title: Duchy College Rosewarne Campus
description: Duchy College Rosewarne is just outside Camborne on a beautiful farm with a working nursery, engineering workshops and specialist vet nursing facilities.
campus: Duchy College Rosewarne
intro: Duchy College Rosewarne is situated just outside Camborne on a working farm. Our extensive beautiful grounds are spread over approximately 47 hectares and are an excellent horticultural resource with national plant collections on campus.<br><br>Onsite we have a working nursery where we grow and sell our own plants, a protected cropping unit of glasshouses, polytunnels and conservation areas, a designated floristry department and a micropropagation unit.<br><br>We also have land-based engineering workshops, specialist veterinary nursing facilities and a state of the art animal management centre housing a wide range of animal species, from small mammals to reptiles, birds and farm livestock.
link: course-subjects/business-administration-law
brand: Duchy College
email: rosewarne.enquiries@duchy.ac.uk
phone: 0330 123 4784
address: Rosewarne, Camborne, Cornwall <br> TR14 0AB
postcode:
opening-times: Mon-Thurs 8:30am–5pm, Fri 8:30am–4:30pm
directions:
video:
background-image: /images/location-banners/rosewarne-LG.jpg
learning-areas:
    - rural economy
campuscodes: R
event_campus: 19
---

{% include location-header.html %}

<section class="container">

{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html button1="Student Support" link1="/student-support/student-support/" button2="Our outreach centres" link2="/outreach-hub/index.html" %}

</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}

{% include /campus/campus-directions.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/documents/maps/rosewarne-duchy-college-campus-map.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-rosewarne.jpg" %}

{% include search.html title="Want to learn something new in your spare time?" search-href='//network.cornwall.ac.uk/leisure/tag/rosewarne-area/' button-title="Not sure? browse our leisure courses" button-href='//network.cornwall.ac.uk/leisure/tag/rosewarne-area/' %}

{% include /campus/campus-partnerships.html %}
