---
layout: location-page
title: Rosewarne Campus
description: Find out more about our Rosewarne campus | The Cornwall College Group
campus: Duchy College Rosewarne
intro: Duchy College Rosewarne is situated just outside Camborne, on a working farm on the site of a former Ministry of Agriculture horticultural experimental station. The extensive beautiful grounds are spread over approximately 47 hectares and are an excellent horticultural resource with national plant collections on campus. On offer are specialist courses in agriculture, animal management, countryside, floristry, horticulture, land-based engineering, construction plant and veterinary nursing.
link: course-subjects/business-administration-law
brand: Duchy College
email:  rosewarne.enquiries@duchy.ac.uk 
phone: 01209 722100
address: Rosewarne, Camborne, Cornwall
postcode: TR14 0AB
opening-times: ....
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - rural economy
campuscodes: R
event_campus: 19
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}