---
layout: location-page
title: <span itemprop="name">Rosewarne Campus</span>
description: Find out more about our Rosewarne campus | The Cornwall College Group
campus: Duchy College Rosewarne
intro: Duchy College Rosewarne is situated just outside Camborne on a working farm. Our extensive beautiful grounds are spread over approximately 47 hectares and are an excellent horticultural resource with national plant collections on campus. Onsite we also have a working nursery where we grow and sell our own plants, a working farm and protected cropping unit, land-based engineering workshops and specialist veterinary nursing facilities, the only one of its kind in the county. To get you to and from Rosewarne we have our own transport network that will collect you from a range of towns and villages.
link: course-subjects/business-administration-law
brand: Duchy College
email: rosewarne.enquiries@duchy.ac.uk
phone: 01209 722100
address: Rosewarne, Camborne, Cornwall </br> TR14 0AB
postcode:
opening-times: Mon to Thurs 8.30am – 5pm and Friday 8.30am – 4.30pm
directions:
video:
background-image: /images/location-banners/rosewarne-LG.jpg
learning-areas:
    - rural economy
campuscodes: R
event_campus: 19
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}


</section>
{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}

{% include search.html search-href='//network.cornwall.ac.uk/leisure/tag/rosewarne-area/' button-href='//network.cornwall.ac.uk/leisure/tag/rosewarne-area/' %}

{% include /campus/campus-partnerships.html %}
