---
layout: location-page
title: Saltash Campus
description: Find out more about our Saltash campus | The Cornwall College Group
campus: Cornwall College Saltash
intro: The training centres in Saltash are split over two sites; on Church Road the main campus is nestled in the heart of a residential area only a few minutes’ walk from the town centre. The construction skills centre is a couple of miles away in a dedicated unit on an industrial estate by the A38, and is home to a range of skills training in plumbing, electrical, trowel trades and carpentry.
link: course-subjects/business-administration-law
brand: Cornwall College
email:  info@saltash.ac.uk
phone: 01752 850200
address: Church Rd, Saltash, Cornwall
postcode: PL12 4AE
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - business &amp; professional
    - cultural &amp; visitor economy
    - education
    - foundation learning
    - health &amp; wellbeing
    - technology
campuscodes: S
event_campus: 15
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}
