---
layout: location-page
title: <span itemprop="name">Saltash Campus</span>
description: Find out more about our Saltash campus | The Cornwall College Group
campus: Cornwall College Saltash
intro: The campus at Saltash is based on Church Road, nestled in the heart of a residential area only a few minutes’ walk from the town centre and close to the A38. We are a small and friendly campus sat in a semi-rural location, perfect if you live in South-East and North Cornwall, Plymouth or South-West Devon. We have excellent facilities including; a higher education centre, construction skills training centre, commercial hair and beauty salons and a state-of-the-art training kitchen.
brand: Cornwall College
email: info@saltash.ac.uk
phone: 01752 850200
address: Church Rd, Saltash, Cornwall,</br> PL12 4AE
postcode:
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/saltash-LG.jpg
learning-areas:
    - business &amp; professional
    - cultural &amp; visitor economy
    - education
    - foundation learning
    - health &amp; wellbeing
    - technology
campuscodes: S
event_campus: 15
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}

{% include search.html search-href='//network.cornwall.ac.uk/leisure/tag/saltash-area/' button-href='//network.cornwall.ac.uk/leisure/tag/saltash-area/' %}

{% include /campus/campus-partnerships.html %}
