---
layout: location-page
title: Cornwall College Plymouth Engineering Skills Centre Sisna Park
description: Sisna Park on the Estover estate in Plymouth has state-of-the-art workshops for welding, cutting and fabrication, engineering and electrical training.
campus: Plymouth Engineering Skills Centre
intro: The Cornwall College Group has recently created an engineering skills centre based at Sisna Park on the Estover estate in Plymouth.<br><br>The centre is two industrial units which have been fitted out with state-of-the-art equipment ; this investment of £200,000 has created fully functional workshops where qualifications can be delivered in welding, cutting and fabrication, engineering and electrical skills.  In addition, there are several classrooms and IT facilities available to support our learners.
link: course-subjects/business-administration-law
brand: Cornwall College
email: enquiries@cornwall.ac.uk
phone: 0330 123 2523
address: 87-89, Sisna Park Road, Plymouth <br> PL6 7AE WGP
postcode:
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/sisna-LG.jpg
learning-areas:
campuscodes: P
event_campus: 21
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}

{% include /campus/campus-directions.html %}
