---
layout: location-page
title: Sisna Campus
description: Find out more about our Engineering Skills Centre | The Cornwall College Group
campus: Cornwall College, Engineering Skills Centre, Plymouth
intro: The Cornwall College Group has recently created an engineering skills centre based at Sisna Park on the Estover estate in Plymouth.  The centre is two industrial units which have been fitted out with state-of-the-art equipment ; this investment of £200,000 has created fully functional workshops where qualifications can be delivered in welding, cutting and fabrication, engineering and electrical skills.  In addition, there are several classrooms and IT facilities available to support our learners. 
link: course-subjects/business-administration-law
brand: Cornwall College
email:   enquiries@cornwall.ac.uk
phone: 0845 22 32 567
address: 87-89, Sisna Park Road, PLYMOUTH 
postcode: PL6 7AE
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - health
    - digital
campuscodes: P
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}
