---
layout: location-page
title: <span itemprop="CollegeOrUniversity">St-Austell Campus</span>
description: Find out more about our Bicton campus | The Cornwall College Group
campus: Cornwall College St Austell
intro: The St Austell campus sits high overlooking the bay and offers panoramic views of the area. There are six floors in the main building, a bespoke theatre, recently refurbished A-level centre, an arts block and dedicated construction and engineering skills centre, with the very latest real world skills training facilities.
link: course-subjects/business-administration-law
brand: <span itemprop="brand">Cornwall College</span>
email: info@st-austell.ac.uk
phone: <span itemprop="telephone">01726 226622</span>
address: <span itemprop="address">Tregonissey Road, St Austell, Cornwall</span>
postcode: <span itemprop="address">PL25 4DJ</span>
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
    - as &amp; a-levels
    - business &amp; professional
    - cultural &amp; visitor economy
    - education
    - foundation learning
    - health &amp; wellbeing
    - science &amp; natural environment
    - technology
campuscodes: B
event_campus: 17
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}