---
layout: location-page
title: St-Austell Campus
description: Find out more about our Bicton campus | The Cornwall College Group
campus: Cornwall College, St-Austell
intro: The St Austell campus sits high overlooking the bay and offers panoramic views of the area. There are six floors in the main building, a bespoke theatre, recently refurbished A-level centre, an arts block and dedicated construction and engineering skills centre, with the very latest real world skills training facilities.
link: course-subjects/business-administration-law
brand: Cornwall College
email:  info@st-austell.ac.uk
phone: 01726 226622
address: Tregonissey Road, St Austell, Cornwall
postcode: PL25 4DJ
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/bicton-LG.jpg
learning-areas: 
    - health
    - digital
campuscodes: B
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>    

{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}
