---
layout: location-page
title: Cornwall College St Austell Campus
description: Cornwall College St Austell campus overlooks the bay and has a bespoke theatre, A-level centre, a construction and engineering skills centre and beauty salon.
campus: Cornwall College St Austell
intro: The St Austell campus sits high overlooking the bay and offers panoramic views of the area.<br><br>There are six floors in the main building, a bespoke theatre, an A-level centre, an arts block and dedicated construction and engineering skills centre, KoKo Beauty Salons and the award winning Cloisters Restaurant with the very latest real world skills training facilities.
link: course-subjects/business-administration-law
brand: Cornwall College
email: info@st-austell.ac.uk
phone: 0330 123 2523
address: Tregonissey Road, St Austell, Cornwall <br> PL25 4DJ
postcode:
opening-times: 8.30am till 5.00pm
directions:
video:
background-image: /images/location-banners/st-austell-LG.jpg
campuscodes: A
event_campus: 17
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
</section>

{% include /campus/campus-events.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-facilities.html %}

{% include /campus/campus-directions.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/documents/maps/st-austell-cornwall-college-campus-map.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-st-austell.jpg" %}

{% include search.html title="Want to learn something new in your spare time?" search-href='//network.cornwall.ac.uk/leisure/tag/st-austell-area/' button-title="Not sure? browse our leisure courses" button-href='//network.cornwall.ac.uk/leisure/tag/st-austell-area/' %}

{% include /campus/campus-partnerships.html %}
