---
layout: location-page
title: Stoke Climsland Campus
description: Find out more about our Stoke Climsland campus | The Cornwall College Group
campus: Duchy College Stoke Climsland
intro: Our campus is nestled in the rural Cornish countryside at Stoke Climsland. The campus offers great land-based activities and during your time here you are more than welcome to make use of the grounds and use all of our facilities.</br></br></br></br>
link: course-subjects/business-administration-law
brand: Duchy College
email: stoke.enquiries@duchy.ac.uk
phone: 0330 123 4784
address: Stoke Climsland, Callington, Cornwall </br> PL17 8PB
postcode:
opening-times: 9.00am till 5.00pm
directions:
video:
background-image: /images/location-banners/stoke-LG.jpg
learning-areas:
    - health
    - digital
campuscodes: B
event_campus: 20
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}

</section>


{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include one-option.html one-option-text="View our campus map" one-option-href="/documents/maps/Stoke Campus Map.pdf" one-option-button-text='Download Map' background-img="/images/campus-maps/campus-map-stoke.jpg" %}

{% include /campus/campus-events.html %}

{% include search.html title="Want to learn something new in your spare time?" search-href='//network.cornwall.ac.uk/leisure/tag/stoke-climsland-area/' button-title="Not sure? browse our leisure courses" button-href='//network.cornwall.ac.uk/leisure/tag/stoke-climsland-area/' %}

{% include /campus/campus-partnerships.html %}
