---
layout: location-page
title: <span itemprop="name">Stoke Climsland College</span>
description: Find out more about our Stoke Climsland campus | The Cornwall College Group
campus: Duchy College Stoke Climsland
intro: Duchy College’s largest campus is found within the striking Cornish countryside at Stoke Climsland, near Launceston. The campus is more than suitable for land-based activities and during your time here you are more than welcome to make use of the grounds and use all of our facilities.</br></br></br></br>
link: course-subjects/business-administration-law
brand: Duchy College
email: stoke.enquiries@duchy.ac.uk
phone: 01579 372222
address: Stoke Climsland, Callington, Cornwall
postcode: PL17 8PB
opening-times: 9.00am till 5.00pm
directions:
video:
background-image: /images/location-banners/stoke-LG.jpg
learning-areas: 
    - health
    - digital
campuscodes: B
event_campus: 20
---

{% include location-header.html %}

<section class="container">
{%include campus/campus-intro.html%}

{% include /campus/campus-contact.html %}
    
{% include /campus/campus-outreach-btn.html %}       
</section>    


{% include /campus/campus-facilities.html %}

{% include /campus/campus-learning-areas.html %}

{% include /campus/campus-directions.html %}

{% include /campus/campus-events.html %}