---
layout: career-page
title: Equine
description: Love working with horses? Find out more about starting an Equine career with courses from The Cornwall College Group
career: equine
link: course-subjects/equine
brand: DC
background-image: /images/area-banners/equine-desktop.jpg
---

{% include career-header.html %}

{% include career-intro.html p1="Equine sector jobs allow you to follow a career working with something you are passionate about: horses. Whether that's the welfare, husbandry and supervision of horses in a stable or livery, training thoroughbred racehorses or coaching and breeding. You could be a jockey, showjumper or support technician, there is a wide range of careers to choose from." %}

<section class="container">{% youtube https://youtu.be/DKWdE7pkQiY %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Horse Riding Instructor' paragraph='' jobsIn='' startingSalary=12000 %}

{% include career-example-job.html number='2' title='Horse Groom' paragraph='' jobsIn='' startingSalary=10000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include career-staff.html name="Dr Hayley Randle" text="Duchy College lecturer, Dr Hayley Randle is the Honorary President of the International Society for Equitation Science. The organisation was set up to promote and encourage the application of research and advanced practice which will ultimately improve the welfare of horses around the world." photo="alumni/equine-dr-randel.jpg" %}

{% include student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Name' studentRole1='role' studentQuote1="Student Quote" studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include career-stats.html percent1=100 end1='of our equine students say that teaching on their course was good.' %}

{% include key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include campus-locations.html campuscodes='DRB'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}