---
layout: career-page
title: Equine
description: Love working with horses? Find out more about starting an Equine career with courses from The Cornwall College Group
career: equine
link: course-subjects/equine
brand: DC
background-image: /images/area-banners/equine-desktop.jpg
campuscodes: D,R,B
schema: https://schema.org/course

staff-name: Dr Hayley Randle
staff-role: Team Lead – Equitation Science
staff-photo: /images/staff/hayley-randle.jpg
staff-text: Duchy College lecturer, Dr Hayley Randle is the Honorary President of the International Society for Equitation Science.             The organisation was set up to promote and encourage the application of research and advanced practice which will                   ultimately improve the welfare of horses around the world.

alumni-name: Alumni-Name
alumni-role: Alumni-Role
alumni-photo:
alumni-text: Alumni-Text

student-name1: Danielle Wilcock
student-role1:
student-photo1: /images/students/rural-economy/equine/danielle-willcock.jpg
student-text1: I am enjoying being a student at Duchy College because I have learnt a lot more about horses and my riding has improved so much and the social life at college is great!

student-name2: Joe Wroe
student-role2:
student-photo2: /images/students/rural-economy/equine/joe-wroe.jpg
student-text2: I like how practical the course is so we are not always in a classroom

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Horse Riding Instructor
  career-paragraph:
  jobs-now:
  jobs-future:
  starting-salary: 12000
  hashtag: horse-riding

- career-number: 2
  career-title: Horse Groom
  career-paragraph:
  jobs-now:
  jobs-future:
  starting-salary: 10000
  hashtag: horse-care
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Equine sector jobs allow you to follow a career working with something you are passionate about: horses. Whether that's the welfare, husbandry and supervision of horses in a stable or livery, training thoroughbred racehorses or coaching and breeding. You could be a jockey, show jumperor support technician, there is a wide range of careers to choose from." %}

<section class="container">{% youtube https://youtu.be/DKWdE7pkQiY %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our equine students say that teaching on their course was good.' %}

{% include /career/key-stats.html stat1='The estimated overall annual worth of the UK equine industry is £4 billion' stat2='There are an estimated 446,000 horse-owning households in the country' stat3='Indirect consumer expenditure associated with equestrian activity is estimated at £557 million per year' stat4='There are 19 million equestrian consumers in Britain with a range of associated interests'%}

<!-- ALUMNI SECTION -->

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html campuscodes='DRB'%}

{% include /career/career-courses.html courseTitle1='Equine Management Technical Extended Diploma' infoLink1='?courses=equine-management-advanced-technical-extended-diploma' courseTitle2='Horse Care Advanced Apprenticeship' infoLink2='?courses=horse-care-apprenticeship-2' courseTitle3='Equine Business Management Diploma/Extended Diploma' infoLink3='?courses=equine-business-management-90-creditextended-diploma' courseTitle4='Equine Care Technical Certificate' infoLink4='?courses=equine-care-technical-certificate' courseTitle5='FdSc Equitation, Training &amp; Behaviour' infoLink5='?courses=fdsc-equitation-training-behaviour-2' %}
