---
layout: hub
title: Learning Area Hub - what do you want to study?
description: We have lots of courses across the southwest in many different learning areas including A-levels, Diplomas, NVQs and apprenticeship training.
---

    <!-- HEADER SECTION -->
    <section id="services" class="col-md-12 jumbotron header-title">
        <header class="container">
            <h2><a href="/"><small>Home </small></a><span>LEARNING AREAS</span></h2>

        </header>
    </section>
    <!-- END OF HEADER -->

    <!-- BODY SECTION -->

    <section class="container">
        <p class="lead ">The Cornwall College Group has got lots of courses across the southwest, with Cornwall College, Bicton College, Duchy College and Falmouth Marine School. Click on the learning areas below to find a course that interests you.</p>
    </section>

    <!-- CAREER SECTION -->


<section class="col-xs-12">
  {% include /learning-area/learning-area-display.html %}
  <!-- socialfeed #career -->
  <section class="col-md-12 main-section-margins clearfix">
    <section class="container social-feed-container">
    </section>
  </section>

</section>

  {% include search.html title="Want to learn something new in your spare time?" search-href='/leisure/' button-title="Not sure? browse our leisure courses" button-href='/leisure/' %}
    <!-- why you choose us section -->
    <section class="col-md-12  main-section-padding dark-bg intro">
        <section class="container">
            <header class="col-sm-12 text-center another-title">
                <h2 class="text-uppercase">The <strong>College</strong></h2>
                <p class="lead white">Show us some ambition, we’ll show you a better life.</p>
            </header>
            <footer class="item-blocks">
                <!-- BLOCK 1 -->
                <article class="col-md-4">
                    <h4><span class="number">1/</span> Award winning Students’ Union</h4>
                    <p>Life isn’t all about hard work, our learners’ also have a fantastic wider college experience supported by an outstanding Students’ Union, representing your voice. </p>
                </article>
                <!-- BLOCK 2 -->
                <article class="col-md-4">
                    <h4><span class="number">2/</span> Breath taking learning environments</h4>
                    <p>We’ll get you ready for your career by training you in the environment you can expect to be working in, with over £100million spent on practical skills training facilities in recent years.</p>
                </article>
                <!-- BLOCK 3 -->
                <article class="col-md-4">
                    <h4><span class="number">3/</span> A history of academic success</h4>
                    <p>Good just got great! Our A-level department has seen its best results ever in 2016, with an overall pass rate of 99.6%, which is the highest in Cornwall. Our students achieved a 100% pass rate in 25 out of 26 subjects and our value added is in the top 1% in the UK!</p>
                </article>
            </footer>
        </section>
    </section>


    <!-- action to call section -->
    <section class="col-sm-12 fulltime-bar clearfix">
        <div class="container">
            <h2>Seen enough, apply now! </h2>
            <a href="{{site.url}}/apply-page?course-title=apply%20area%20{{page.title}}" class="apply-btn btn">Apply NOW</a>
        </div>
    </section>
