---
layout: hub
title: Learning Area Hub - what do you want to study?
description: We have lots of courses across the southwest in many different learning areas including A-levels, Diplomas, NVQs and apprenticeship training.
---

    <!-- HEADER SECTION -->
    <section id="services" class="col-md-12 jumbotron header-title">
        <header class="container">
            <h2><a href="/"><small>Home </small></a><span>LEARNING AREAS</span></h2>

        </header>
    </section>
    <!-- END OF HEADER -->

    <!-- BODY SECTION -->

    <section class="container">
        <p class="lead ">The Cornwall College Group has got lots of courses across the southwest, with Cornwall College, Bicton College, Duchy College and Falmouth Marine School. Click on the learning areas below to find a course that interests you.</p>
    </section>

    <!-- CAREER SECTION -->


<section class="col-xs-12">
  {% include /learning-area/learning-area-display-university.html %}
  <!-- socialfeed #career -->
  <section class="col-md-12 main-section-margins clearfix">
    <section class="container social-feed-container">
    </section>
  </section>

</section>

  {% include search.html title="Want to learn something new in your spare time?" search-href='/leisure/' button-title="Not sure? browse our leisure courses" button-href='/leisure/' %}
