---
layout: about-page
title: Restaurants at Camborne
description: Recent winners of a prestigious Highly Commended AA College Rosette, Trevenson Restaurant is one of several on-site restaurants at Cornwall College Camborne.
background-image: trevenson-banner.jpg
postcode: TR15 3RD

sidebarbox-buttons:
    - button: Trevenson Menu
      href: /documents/other/trevenson_menu.pdf

    - button: Trevenson Tasting Menu
      href: /documents/other/trevenson_tasting_menu.pdf

    - button: Trevenson Drinks Menu
      href: /documents/other/trevenson_drinks_menu.pdf
---
{% include /about/about-header.html %}

<div class="container">
  <div class="col-sm-12">
    <p class="facilities"> All our Camborne Restaurants & Cafes have 5 Rating and Platinum Award for Cornwall Healthy Eating Federation.</p>
  </div>

  <section class="col-xs-12 col-md-4 pull-right" style="margin-top:20px" >

    <!-- Slideshow -->
    <div class="col-xs-12">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img src="/images/facilities/slideshow/trevenson-flower.jpg" class="img-responsive" alt="Demo kitchen at Cornwall College Camborne" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img src="/images/facilities/slideshow/demo-kitchen.jpg" class="img-responsive" alt="Demo kitchen at Cornwall College Camborne" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 4</div>
          <img src="/images/facilities/slideshow/trevenson-lecturer.jpg" class="img-responsive" alt="training kitchen at Cornwall college Camborne" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 4</div>
          <img src="/images/facilities/slideshow/training-kitchen.jpg" class="img-responsive" alt="training kitchen at Cornwall college Camborne" style="width:100%">
        </div>
      </div>

      <div style="text-align:center; margin-top:10px">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>

      <!-- Downloads Box -->
      {% include /sidebarbox-buttons.html title="Downloads:" %}

      <!-- YOUTUBE video -->
      {% youtube https://youtu.be/cmKeCjxA5fw %}

 </div>
  </section>


  <section class="col-sm-12 col-md-8">
    <h3>Trevenson Restaurant</h3>
    <p class="facilities">Mon to Fri Lunchtime, Wednesday Evening</p>
    <p>Recent winners of a prestigious Highly Commended AA College Rosette, the ethos to Trevenson is simple; continually driven by sustainable seasonality, using locally sourced ingredients, we ensure ever changing gastronomic dishes, freshly prepared in our state-of-the-art kitchens & delivered by an attentive and enthusiastic team. The Hospitality & Catering Department also holds 3 Centre’s of Excellence including: Fish & Shellfish, Food & Beverage Service and Patisserie & Confectionary as well as the coveted title by People 1st of Gold Accreditation, this makes us one of the best catering college in the UK, evident by the standard of food on our menus and the attention to detail in our service.</p>
    <p>Trevenson Restaurant not only serve traditional classic dishes, they also serve new and exciting dishes to cater for all tastes which are devised by our professional staff and experienced students. As well as our a la carte menu, we also offer tasting menus and special themed evenings, where we invite local established chefs to devise, prepare and host selected events, all supported by our staff and students. To find out about our next themed evening, simply contact the reservations number below.</p>
    <p>The stylish interior is akin to any fine dining establishment, offering a relaxing atmosphere for informal lunch, as well as a contemporary ambience for evening fine diners.</p>
    <p>Trevenson has also been awarded the Gold Cornwall Healthier Eating and Food Safety (CHEFS) Award two years running, making it only one of five restaurants in the county to receive the accolade, something we are all truly proud of.</p>
    <p>Trevenson is fully licensed and offers a comprehensive selection of wines and beers, carefully chosen to accompany each dish on the menu. Opened by Michelin star chefs Nathan Outlaw and Pierre Koffmann, Trevenson offers a very special dining experience, offering both creative and mouth-watering menus every day. For details and reservations:
    <p><strong>Contact us:</strong><br>
      Telephone: 01209 616160<br>
      Like us: <a href="https://www.facebook.com/TrevensonR/">facebook.com/TrevensonR</a></p>

    <h3>Cafe Metro</h3>
    <p class="facilities">Mon to Fri 8:40am - 2:00pm (term time)</p>
    <p class="facilities">Pop up Cafe: Tues to Fri 10.30am - 1:00pm (term time)</p>
    <p>Cafe Metro is a large cafeteria that provides breakfast items, snacks, fruit, confectionery, drinks, salad bar and main meals. We aim to please our customers with a mix of traditional and ethnic dishes, including vegetarians options.</p>

    <h3>Denise’s Snack Bar (Brunel)</h3>
    <p class="facilities">Mon to Fri 8.30am to 3:00pm (term time)</p>
    <p>Denise’s Snack Bar offers a great choice of confectionery, homemade cakes hot/cold snacks and drinks.</p>
    <p><strong>Contact us:</strong><br>
      Telephone: 01209 616211</p>
  </section>
  <div class="col-sm-12">
    <p class="facilities">If you wish to order any specific items or if you require catering for events or meetings please contact each individual eatery.</p>
  </div>
</div>
