---
layout: about-page
title: Cloisters Restaurant
description: Recent winners of a prestigious Highly Commended AA College Rosette, Trevenson Restaurant is one of several on-site restaurants at Cornwall College Camborne.
background-image: trevenson-banner.jpg
postcode: TR15 3RD

sidebarbox-buttons:
    - button: Opening Times &amp; Events
      href: /documents/cloisters-menus/opening-times.pdf

    - button: Lunch Menu
      href: /documents/cloisters-menus/lunch-menu.pdf

    - button: Drinks List
      href: /documents/cloisters-menus/drinks-list.pdf

    - button: Wine List
      href: /documents/cloisters-menus/wine-list.pdf

    - button: Function Menu
      href: /documents/cloisters-menus/function-menus.pdf

    - button: Christmas Menu
      href: /documents/cloisters-menus/christmas-menus.pdf
---
{% include /about/about-header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <!-- Slideshow -->
    <div>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="/images/facilities/slideshow/cloisters-logo.jpg" alt="Cloisters Restaurant Logo" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="/images/facilities/slideshow/cloisters-food.jpg" alt="Cloisters Restaurant Food" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="/images/facilities/slideshow/cloisters-table.jpg" alt="Cloisters Restaurant Tables" style="width:100%">
        </div>
      </div>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>

    <!-- Downloads Box -->
    {% include /sidebarbox-buttons.html title="Downloads:" %}

    <!-- YOUTUBE video -->
    {% youtube https://youtu.be/uHxJlF7dYbQ %}

    <!-- Contact Info -->
    {% include sidebarbox-links.html title="Contact Info:" telephone="01726 226740" email="cloistersrestaurant@cornwall.ac.uk" facebook="https://www.facebook.com/Cloistersrest" twitter="https://twitter.com/CloistersRest" %}

  </section>

  <section class="col-sm-12 col-md-8">
    <p class="facilities">The Hospitality &amp; Catering Department also holds 3 Centre’s of Excellence including: Fish &amp; Shellfish, Food &amp; Beverage Service and Patisserie &amp; Confectionary as well as the coveted title by People 1st of Gold Accreditation, this makes us the best catering college in the UK, evident by the standard of food on our menus and the attention to detail in our service.</p>
    <p>Cloisters Restaurant not only serve traditional classic dishes, they also serve new and exciting dishes to cater for all tastes which are devised by our professional staff and experienced students.</p>
    <p>The interior is welcoming and comfortable to any fine dining establishment, offering a relaxing atmosphere for informal lunch, as well as a contemporary ambience for evening fine diners.</p>
    <p>To dine at Cloisters is a wonderful experience and as well as our Table d’hote menu, we also offer a tasting menus &amp; special themed menu’s throughout the year.</p>
    <p>Cloisters is fully licensed and offers a comprehensive selection of wines and beers, carefully chosen to accompany each dish on the menu.</p>
  </section>
</div>
