---
layout: about-page
title: Koko Hair and Beauty Salon
description: Find out more about Koko Hair and Beauty salon located at Bicton Campus
background-image: hair-beauty-desktop.jpg
---

{% include /about/about-header.html background-image=hair-beauty-desktop.jpg %} 


<article class="col-sm-12 col-md-4 pull-right" style="margin-bottom:15px" >
       <!-- DOWNLOADS BOX --> 
        <article style="margin-bottom: 15px;">
                <table>
                    <tr>
                    <td class="text-center" style="padding:10px; background-color: #52B3D9; font-size:20px; color: #fff; opacity:0.9; padding-right: 45px; max-width:90px">Files</td><td style="background-color: #52b3d9"></td>
                    </tr>
                    <tr>
                        <td class="text-center" style="padding:10px; background-color: #52B3D9; color: #fff;opacity:0.9"><i class="fa fa-file fa-2x" aria-hidden="true"></i></td>
                        <td style="background-color: #52B3D9; padding-right: 8px"><a style="color:white; padding:8px" href="/documents/0144JW0716_Koko_CCC_pricelist.pdf"> Download a price list.</a><br></td>   
                    </tr>
                        
                        <tr>
                        <td class="text-center" style="padding:10px; background-color: #52B3D9; color: #fff;opacity:0.9"><i class="fa fa-file fa-2x" aria-hidden="true"></i></td>
                        <td style="background-color: #52B3D9; padding-right: 25px"><a style="color:white; padding:8px;" href="/documents/05411JW0515_Koko_Pamper_Days_leaflet.pdf"> KoKo Pamper Days Leaflet</a> <br></td>
                        </tr>
                    </table>
                </article>
        <!-- CONTACT: TREVENSON --> 
        <article style="margin-bottom: 15px;">
                <table>
                    <tr>
                    <td class="text-left" style="padding:10px; background-color: #52B3D9; font-size:20px; color: #fff; opacity:0.9; max-width:90px">Contact: </td><td style="background-color: #52b3d9;font-size:20px; color: #fff; padding:8px">KoKo</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="padding:10px; background-color: #52B3D9; color: #fff;opacity:0.9"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></td>
                        <td style="background-color: #52B3D9; padding-right: 8px"><a style="color:white; padding:8px" href="https://www.facebook.com/TrevensonR/">Facebook</a> <br></td>   
                        </tr>
                        
                        <tr>
                        <td class="text-center" style="padding:10px; background-color: #52B3D9; color: #fff;opacity:0.9"><i class="fa fa-file fa-2x" aria-hidden="true"></i></td>
                        <td style="background-color: #52B3D9; padding-right: 8px"><a style="color:white; padding:8px" >Opening Times:</a> <br></td>
                        </tr>
                        
                        <tr>
                            <td class="text-center" style="padding:10px; background-color: #52B3D9; color: #fff;opacity:0.9"><i class="fa fa-file fa-2x" aria-hidden="true"></i></td>
                        <td style="background-color: #52B3D9; padding-right: 8px"><a style="color:white; padding:8px; padding-right: 97px;" >TEL:01209 616160 </a><br></td>      
                        </tr>
                    </table>
                </article>

<!-- DIRECTIONS --> 
    {% include data campus}
        <article style="margin-bottom: 15px;">
                <table>
                    <tr>
                    <td class="text-left" style="padding:5px; background-color: #52B3D9; font-size:20px; opacity:0.9"><a style="color:white" href="https://www.google.com/maps/dir/Current+Location/{{page.postcode | remove: ' ' }}">Get Your Location</a></td>
                    </tr>
                    <tr>
                        <td style="padding:5px; background-color: #52B3D9; font-size:20px; opacity:0.9">
                            <form action="https://maps.google.com/maps" method="get" target="_blank">
                            <label for="saddr" style="color:white; font-size:20px; font-weight:300">Enter your location</label><br/>
                            <input type="text" name="saddr" style="Padding-bottom:5px" placeholder="TR16 3DR"/>
                            <input type="hidden" name="daddr" value="{{page.campus}} {{page.address}} {{page.postcode}}" />
                            <input type="submit" class="icon-btn" value="Get directions" style="color:white; margin-right:14px" />
                </form>
                        </td>
                    <td>
                    
                    </td>
                    </tr>
                    
                </table>
        </article>    
</article>

<section class="container">
    <article class="col-sm-12 col-md-8">
        <p style="font-size:21px">We only use high-quality professional products, from brands like Dermalogica, St Tropez, Goldwell, Moroccan Oil and CND. Retail sizes are available to purchase from all Koko salons.<br><br>We offer skin rejuvenation and hair removal with the Lynton Luminette Advance intense pulsed light system (IPL) – contact your nearest Koko salon to check availability and discuss your treatment requirements.<br><br>The department for Hair, Beauty & Wellbeing has gone from strength to strength in recent years.<br><br>Koko Salon is open to the public. There is dedicated customer parking available.        </p>
    </article
</section> 
