---
layout: career-page
title: Construction Trades
description: Find out more about starting a Career in Construction at The Cornwall College Group
career: construction
link: course-subjects/construction-trades
brand: CC
background-image: /images/area-banners/construction-desktop.jpg
---

{% include /career/career-header.html %} 

{% include /career/career-intro.html p1="From laying foundations to tiling the roof and everything in between, we offer practical skills training in all construction trades. If you like working outdoors, using your hands and experiencing different environments, the construction industry is waiting for you." p2="With skills shortages in many disciplines, there's a host of opportunities for those with the right skills." %}

<section class="container">
  <artical class="col-sm-6">{% youtube https://youtu.be/wUKR-DKt1Zs %}</artical>
  <artical class="col-sm-6">{% youtube https://youtu.be/56-foxdGqRU %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Architect' paragraph='Architects plan and design the construction and development of buildings and land areas with regard to functional and aesthetic requirements.' jobsIn='the Southwest' jobsNow=3960 jobsFuture=4529 startingSalary=30000 hashtag=architect %}

                <!--
{% include /career/career-example-job.html number='2' title='Architectural or Town Planning Technician' paragraph='Architectural and town planning technicians perform a variety of technical support functions to assist architects and planners with the design of buildings and the layout of urban and rural areas.' jobsIn='the Southwest' jobsNow=1390 jobsFuture=1449 startingSalary=18000 hashtag=architectural-or-town-planning-technician %}
                -->
{% include /career/career-example-job.html number='3' title='Bricklayer or Mason' paragraph='Bricklayers and masons erect and repair structures of stone, brick and similar materials and cut, shape and polish granite, marble, slate and other stone for building, ornamental and other purposes.' jobsIn='Cornwall' jobsNow=950 jobsFuture=1027 startingSalary=16000 hashtag=bricklayer-or-mason %}

{% include /career/career-example-job.html number='4' title='Carpenter or Joiner' paragraph='Carpenters and joiners construct, erect, install and repair wooden structures and fittings used in internal and external frameworks and cut, shape, fit and assemble wood to make templates, jigs, scale models and scenic equipment for theatres.' jobsIn='Cornwall' jobsNow=3024 jobsFuture=3269 startingSalary=18000 hashtag=carpenter-or-joiner %}
                <!--
{% include /career/career-example-job.html number='5' title='Chartered Architectural Technologist' paragraph='Chartered architectural technologists provide architectural design services, negotiate construction projects and manage the development of projects from conception to completion.' jobsIn='the Southwest' jobsNow=250 jobsFuture=287 startingSalary=15000 hashtag=chartered-architectural-technologist %}
                -->
{% include /career/career-example-job.html number='6' title='Chartered Surveyor' paragraph='Chartered surveyors conduct surveys related to the measurement, management, valuation and development of land, natural resources, buildings, other types of property, and infrastructure such as harbours, roads and railway lines.' jobsIn='the Southwest' jobsNow=5389 jobsFuture=6164 startingSalary=20000 hashtag=chartered-surveyor %}

{% include /career/career-example-job.html number='7' title='Construction or Building Trades Supervisor' paragraph='Construction and building trades supervisors oversee operations and directly supervise and co-ordinate the activities of workers in construction and building trades.' jobsIn='the Southwest' jobsNow=6002 jobsFuture=6487 startingSalary=27000 hashtag=construction-or-building-trades-supervisor %}
                <!--
{% include /career/career-example-job.html number='8' title='Construction Operative' paragraph='Workers in this area operate insulating equipment, fix plasterboard or dry linings to ceilings and walls, help construct, maintain, repair and demolish buildings and clean and resurface eroded stonework, lay, join and examine pipe sections for drainage, gas, water or similar piping systems and carry out a variety of other construction operative tasks' jobsIn='Cornwall' jobsNow=795 jobsFuture=647 startingSalary=15000 hashtag=construction-operative %}

{% include /career/career-example-job.html number='9' title='Construction Project Manager or Related Professional' paragraph='Workers in this area manage and oversee major construction and civil engineering projects and major building contracts for quality of work, safety, timeliness and completion within budget; forecast travel patterns and develop strategies for managing the impact of traffic-related demand.' jobsIn='the Southwest' jobsNow=4772 jobsFuture=5460 startingSalary=25000 hashtag=construction-project-manager-or-related-professional %}

{% include /career/career-example-job.html number='10' title='Construction Operative' paragraph='Workers in this area perform a variety of general labouring and construction duties to assist building, civil engineering and related trades workers in the performance of their tasks.' jobsIn='Cornwall' jobsNow=1767 jobsFuture=1799 startingSalary=15000 hashtag=construction-operative %}

{% include /career/career-example-job.html number='11' title='Floorer or Wall Tiler' paragraph='Floorers and wall tilers lay composition mixtures (other than mastic asphalt) to form flooring, plan, fit and secure carpet, underlay and linoleum and cover and decorate walls and floors with terrazzo and granolithic mixtures, tiles and mosaic panels.' jobsIn='the Southwest' jobsNow=3554 jobsFuture=3841 startingSalary=17000 hashtag=floorer-or-wall-tiler %}

{% include /career/career-example-job.html number='12' title='Furniture Maker or Other Craft Woodworker' paragraph='Furniture makers and other craft woodworkers make, repair and restore wooden furniture, decorative objects and other crafted pieces of woodwork.' jobsIn='the Southwest' jobsNow=3846 jobsFuture=3239 startingSalary=12000 hashtag=furniture-maker-or-other-craft-woodworker %}

{% include /career/career-example-job.html number='13' title='Glass or Ceramics Maker, Decorator or Finisher' paragraph='Glass and ceramics workers, form, shape, decorate, smooth and polish glassware, earthenware, refractory goods, clay bricks and other ceramic goods.' jobsIn='the Southwest' jobsNow=812 jobsFuture=684 startingSalary=14000 hashtag=glass-or-ceramics-maker-decorator-or-finisher %}

{% include /career/career-example-job.html number='14' title='Glazier, Window Fabricator or Fitter' paragraph='Workers in this job install pre-glazed wooden, metal or PVC framework, and cut, fit and set glass in windows, doors, shop fronts, and other structural frames.' jobsIn='Cornwall' jobsNow=592 jobsFuture=640 startingSalary=13000 hashtag=glazier-window-fabricator-or-fitter %}

{% include /career/career-example-job.html number='15' title='Painter or Decorator' paragraph='Those working in these jobs apply paint, varnish, wallpaper and other protective and decorative materials to interior and exterior walls and surfaces, paint designs on wood, glass, metal, plastics and other materials, and stain, wax and French polish wood surfaces by hand.' jobsIn='Cornwall' jobsNow=1309 jobsFuture=1415 startingSalary=14500 hashtag=painter-or-decorator %}

{% include /career/career-example-job.html number='16' title='Plasterer' paragraph='Plasterers apply plaster and cement mixtures to walls and ceilings, fix fibrous sheets and cast and fix ornamental plasterwork to the interior or exterior of buildings.' jobsIn='Cornwall' jobsNow=599 jobsFuture=647 startingSalary=14000 hashtag=plasterer %}

{% include /career/career-example-job.html number='17' title='Plumber or Heating & Ventilation Engineer' paragraph='Workers in this area assemble, install, maintain and repair plumbing fixtures, heating and ventilating systems and pipes and pipeline systems in commercial, residential and industrial premises and public buildings.' jobsIn='Cornwall' jobsNow=2399 jobsFuture=2593 startingSalary=18000 hashtag=plumber-or-heating-and-ventilation-engineer %}

{% include /career/career-example-job.html number='18' title='Quantity Surveyor' paragraph='Quantity surveyors advise on financial and contractual matters relating to, and prepare bills of quantities for, construction projects and provide other support functions concerning the financing and materials required for building projects.' jobsIn='the Southwest' jobsNow=3419 jobsFuture=3907 startingSalary=20000 hashtag=quantity-surveyor %}

{% include /career/career-example-job.html number='19' title='Rail Construction or Maintenance Operative' paragraph='Rail construction and maintenance operatives lay, re-lay, repair and examine railway track and maintain surrounding areas.' jobsIn='the Southwest' jobsNow=879 jobsFuture=716 startingSalary=18000 hashtag=rail-construction-or-maintenance-operative %}

{% include /career/career-example-job.html number='20' title='Road Construction Operative' paragraph='Road construction operatives construct, repair and maintain roads and lay paving slabs and kerbstones to form pavements and street gutters.' jobsIn='the Southwest' jobsNow=1851 jobsFuture=1509 startingSalary=120000 hashtag=road-construction-operative %}

{% include /career/career-example-job.html number='21' title='Roofer, Roof Tiler or Slater' paragraph='Roofers and tilers cover roofs and exterior walls with felting, sheeting, slates, tiles and thatch to provide a waterproof surface.' jobsIn='the Southwest' jobsNow=4536 jobsFuture=4903 startingSalary=16000 hashtag=roofer-roof-tiler-or-slater %}

{% include /career/career-example-job.html number='22' title='Scaffolder, Stager or Rigger' paragraph='Job holders in this group erect and dismantle scaffolding and working platforms, set up lifting equipment and ships’ rigging, maintain and repair steeples, industrial chimneys and other tall structures and install, maintain and repair ropes, wires and cables.' jobsIn='the Southwest' jobsNow=2020 jobsFuture=1644 startingSalary=17000 hashtag=scaffolder-stager-or-rigger %}

{% include /career/career-example-job.html number='23' title='Town Planning Officer' paragraph='Town planning officers direct or undertake the planning of the layout and the co-ordination of plans for the development of urban and rural areas.' jobsIn='the Southwest' jobsNow=1377 jobsFuture=1574 startingSalary=18000 hashtag=town-planning-officer %}
                -->
{% include /career/career-example-job.html number='24' title='Welding Tradesperson' paragraph='Welding trades workers join metal parts by welding, brazing and soldering, and cut and remove defects from metal using a variety of equipment and techniques.' jobsIn='the Southwest' jobsNow=6492 jobsFuture=5793 startingSalary=16000 hashtag=welding-tradesperson %}       

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image="/images/staff/jem-stevens.jpg" name='Jem Stevens' role="Course Manager - Plumbing" about="Jem has travelled the world as an airframes aircraft engineer in the Royal Air Force, he then retrained as a plumbing and gas heating engineer and worked in the construction industry for over a decade before joining Cornwall College. Jem is also a qualified PASMA scaffold instructor and delivers scaffold training to our students enabling them to gain a nationally recognised PASMA accreditation." %}

{% include /career/student-case-studies.html studentImage1="/images/alumni/technology/alice-collard.jpg" studentName1='Alice Collard' studentRole1='Owner of A Collard Plumbing &mp; Heating' studentQuote1="Student Quote" studentImage2="/images/alumni/technology/construction-kyle-friendship.jpg" studentName2='Kyle Friendship' studentRole2='Roofing Apprentice' studentQuote2="Kyle is currently the best young roofer in the UK, after securing Gold at the WorldSkills UK  final at the NEC. Kyle is the third roofing student from Cornwall College to take the title."  studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}

{% include /career/career-stats.html percent1=100 end1='of our construction students say that the teaching on their course is good.' begin2='Our building &amp; construction courses have an' percent2=80.7 end2='success rate (higher than the national average).' %}

{% include /career/key-stats.html stat1='In 2014 the construction industry in the UK contributed £103 billion' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html campuscodes='ACSB'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
