---
layout: career-page
title: Construction
description: Find out more about starting a Career in Construction at The Cornwall College Group
career: construction
link: course-subjects/construction-trades
brand: CC
background-image: /images/area-banners/construction-desktop.jpg
campuscodes: A,C,S,B
schema: https://schema.org/course

staff-name: Jem Stevens
staff-role: Course Manager - Plumbing
staff-photo: /images/staff/jem-stevens.jpg
staff-text: Jem has travelled the world as an airframes aircraft engineer in the Royal Air Force, he then retrained as a plumbing and gas heating engineer and worked in the construction industry for over a decade before joining Cornwall College. Jem is also a qualified PASMA scaffold instructor and delivers scaffold training to our students enabling them to gain a nationally recognised PASMA accreditation.

alumni-name: Alice Collard
alumni-role: Owner of Collard Plumbing &amp; Heating
alumni-photo: /images/alumni/technology/alice-collard.jpg
alumni-text: I went straight to college and choose to study plumbing because I wanted a good trade.

student-name1: Vincent Chan Ka Nam
student-role1:
student-photo1: /images/students/technology/construction/vincent-chan-ka-nam.jpg
student-text1: There are loads of opportunities available at Cornwall College which is great, I chose to study the Construction Diploma with specialism in Wood Occupations. The workshop is very professional with a lot of high quality equipment and the tutors are very helpful. The advice I would give to new students is just to embrace college life, try as many new things as possible and work hard.

student-name2: Kyle Friendship
student-role2: Roofing Apprentice
student-photo2: /images/students/technology/construction/kyle-friendship.jpg
student-text2: Kyle is currently the best young roofer in the UK after securing Gold at the WorldSkills UK final at the NEC. Kyle is the third roofing student from Cornwall College to take the title.

student-name3: Shikoni Tresidder
student-role3:
student-photo3: /images/students/technology/construction/shikoni-tresidder.jpg
student-text3: This plumbing course was really something different from school for me, I’m enjoying the practical side, we get a lot of time in the workshops to develop our skills.

careers:
- career-number: 1
  career-title: Architect
  career-paragraph: Architects plan and design the construction and development of buildings and land areas with regard to functional and aesthetic requirements.
  jobs-now: 4902
  jobs-future: 5555
  starting-salary: 30000
  hashtag: architect

- career-number: 2
  career-title: Bricklayer or Mason
  career-paragraph: Bricklayers and masons erect and repair structures of stone, brick and similar materials and cut, shape and polish granite, marble, slate and other stone for building, ornamental and other purposes.
  jobs-now: 7690
  jobs-future: 8223
  starting-salary: 16000
  hashtag: mason

- career-number: 3
  career-title: Carpenter or Joiner
  career-paragraph: Carpenters and joiners construct, erect, install and repair wooden structures and fittings used in internal and external frameworks and cut, shape, fit and assemble wood to make templates, jigs, scale models and scenic equipment for theatres.
  jobs-now: 25662
  jobs-future: 27277
  starting-salary: 18000
  hashtag: carpenter

- career-number: 4
  career-title: Chartered Surveyor
  career-paragraph: Chartered surveyors conduct surveys related to the measurement, management, valuation and development of land, natural resources, buildings, other types of property, and infrastructure such as harbours, roads and railway lines.
  jobs-now: 6058
  jobs-future: 6717
  starting-salary: 20000
  hashtag: chartered-surveyor

- career-number: 5
  career-title: Construction or Building Trades Supervisor
  career-paragraph: Construction and building trades supervisors oversee operations and directly supervise and co-ordinate the activities of workers in construction and building trades.
  jobs-now: 5120
  jobs-future: 5376
  starting-salary: 27000
  hashtag: construction

- career-number: 6
  career-title: Welding Tradesperson
  career-paragraph: Welding trades workers join metal parts by welding, brazing and soldering, and cut and remove defects from metal using a variety of equipment and techniques.
  jobs-now: 6019
  jobs-future: 5813
  starting-salary: 16000
  hashtag: welding

- career-number: 7
  career-title: Architectural or Town Planning Technician
  career-paragraph: Architectural and town planning technicians perform a variety of technical support functions to assist architects and planners with the design of buildings and the layout of urban and rural areas.
  jobs-now: 1515
  jobs-future: 1596
  starting-salary: 18000
  hashtag: architectural-or-town-planning-technician

- career-number: 8
  career-title: Chartered Architectural Technologist
  career-paragraph: Chartered architectural technologists provide architectural design services, negotiate construction projects and manage the development of projects from conception to completion.
  jobs-now: 303
  jobs-future: 339
  starting-salary: 15000
  hashtag: chartered-architectural-technologist

- career-number: 9
  career-title: Construction Operative
  career-paragraph: Workers in this area operate insulating equipment, fix plasterboard or dry linings to ceilings and walls, help construct, maintain, repair and demolish buildings and clean and resurface eroded stonework, lay, join and examine pipe sections for drainage, gas, water or similar piping systems and carry out a variety of other construction operative tasks
  jobs-now: 7315
  jobs-future: 6129
  starting-salary: 15000
  hashtag: construction-operative

- career-number: 10
  career-title: Construction Project Manager or Related Professional
  career-paragraph: Workers in this area manage and oversee major construction and civil engineering projects and major building contracts for quality of work, safety, timeliness and completion within budget; forecast travel patterns and develop strategies for managing the impact of traffic-related demand.
  jobs-now: 5689
  jobs-future: 6359
  starting-salary: 25000
  hashtag: construction-project-manager-or-related-professional

- career-number: 11
  career-title: Construction Operative
  career-paragraph: Workers in this area perform a variety of general labouring and construction duties to assist building, civil engineering and related trades workers in the performance of their tasks.
  jobs-now: 14809
  jobs-future: 14876
  starting-salary: 15000
  hashtag: construction-operative

- career-number: 12
  career-title: Floorer or Wall Tiler
  career-paragraph: Floorers and wall tilers lay composition mixtures (other than mastic asphalt) to form flooring, plan, fit and secure carpet, underlay and linoleum and cover and decorate walls and floors with terrazzo and granolithic mixtures, tiles and mosaic panels.
  jobs-now: 3885
  jobs-future: 4161
  starting-salary: 17000
  hashtag: floorer-or-wall-tiler

- career-number: 13
  career-title: Furniture Maker or Other Craft Woodworker
  career-paragraph: Furniture makers and other craft woodworkers make, repair and restore wooden furniture, decorative objects and other crafted pieces of woodwork.
  jobs-now: 3460
  jobs-future: 3665
  starting-salary: 12000
  hashtag: furniture-maker-or-other-craft-woodworker

- career-number: 14
  career-title: Glass or Ceramics Maker, Decorator or Finisher
  career-paragraph: Glass and ceramics workers, form, shape, decorate, smooth and polish glassware, earthenware, refractory goods, clay bricks and other ceramic goods.
  jobs-now: 780
  jobs-future: 802
  starting-salary: 14000
  hashtag: glass-or-ceramics-maker-decorator-or-finisher

- career-number: 15
  career-title: Glazier, Window Fabricator or Fitter
  career-paragraph: Workers in this job install pre-glazed wooden, metal or PVC framework, and cut, fit and set glass in windows, doors, shop fronts, and other structural frames.
  jobs-now: 4481
  jobs-future: 4684
  starting-salary: 13000
  hashtag: glazier-window-fabricator-or-fitter

- career-number: 16
  career-title: Painter or Decorator
  career-paragraph: Those working in these jobs apply paint, varnish, wallpaper and other protective and decorative materials to interior and exterior walls and surfaces, paint designs on wood, glass, metal, plastics and other materials, and stain, wax and French polish wood surfaces by hand.
  jobs-now: 13146
  jobs-future: 13992
  starting-salary: 14500
  hashtag: painter-or-decorator

- career-number: 17
  career-title: Plasterer
  career-paragraph: Plasterers apply plaster and cement mixtures to walls and ceilings, fix fibrous sheets and cast and fix ornamental plasterwork to the interior or exterior of buildings.
  jobs-now: 5687
  jobs-future: 6122
  starting-salary: 14000
  hashtag: plasterer

- career-number: 18
  career-title: Plumber or Heating & Ventilation Engineer
  career-paragraph: Workers in this area assemble, install, maintain and repair plumbing fixtures, heating and ventilating systems and pipes and pipeline systems in commercial, residential and industrial premises and public buildings.
  jobs-now: 17619
  jobs-future: 18576
  starting-salary: 18000
  hashtag: plumber-or-heating-and-ventilation-engineer

- career-number: 19
  career-title: Quantity Surveyor
  career-paragraph: Quantity surveyors advise on financial and contractual matters relating to, and prepare bills of quantities for, construction projects and provide other support functions concerning the financing and materials required for building projects.
  jobs-now: 3321
  jobs-future: 3786
  starting-salary: 20000
  hashtag: quantity-surveyor

- career-number: 20
  career-title: Rail Construction or Maintenance Operative
  career-paragraph: Rail construction and maintenance operatives lay, re-lay, repair and examine railway track and maintain surrounding areas.
  jobs-now: 785
  jobs-future: 610
  starting-salary: 18000
  hashtag: rail-construction-or-maintenance-operative

- career-number: 21
  career-title: Road Construction Operative
  career-paragraph: Road construction operatives construct, repair and maintain roads and lay paving slabs and kerbstones to form pavements and street gutters.
  jobs-now: 1711
  jobs-future: 1448
  starting-salary: 120000
  hashtag: road-construction-operative

- career-number: 22
  career-title: Roofer, Roof Tiler or Slater
  career-paragraph: Roofers and tilers cover roofs and exterior walls with felting, sheeting, slates, tiles and thatch to provide a waterproof surface.
  jobs-now: 4411
  jobs-future: 4697
  starting-salary: 16000
  hashtag: roofer-roof-tiler-or-slater

- career-number: 23
  career-title: Scaffolder, Stager or Rigger
  career-paragraph: Job holders in this group erect and dismantle scaffolding and working platforms, set up lifting equipment and ships’ rigging, maintain and repair steeples, industrial chimneys and other tall structures and install, maintain and repair ropes, wires and cables.
  jobs-now: 2394
  jobs-future: 2015
  starting-salary: 17000
  hashtag: scaffolder-stager-or-rigger

- career-number: 24
  career-title: Town Planning Officer
  career-paragraph: Town planning officers direct or undertake the planning of the layout and the co-ordination of plans for the development of urban and rural areas.
  jobs-now: 1566
  jobs-future: 1767
  starting-salary: 18000
  hashtag: town-planning-officer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="From laying foundations to tiling the roof and everything in between, we offer practical skills training in all construction trades. If you like working outdoors, using your hands and experiencing different environments, the construction industry is waiting for you." p2="With skills shortages in many disciplines, there's a host of opportunities for those with the right skills." %}

<section class="container">
  <artical class="col-sm-6">{% youtube https://youtu.be/wUKR-DKt1Zs %}</artical>
  <artical class="col-sm-6">{% youtube https://youtu.be/56-foxdGqRU %}</artical>
</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our construction students say that the teaching on their course is good.' begin2='Our building &amp; construction courses have an' percent2=80.7 end2='success rate (higher than the national average).' %}

{% include /career/key-stats.html stat1='In 2014 the construction industry in the UK contributed £103 billion' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Wood Occupations: Bench Joinery Or Site Carpentry Level 3 Diploma' infoLink1='?courses=wood-occupations-bench-joinery-or-site-carpentry-level-3-diploma' courseTitle2='Trowel Occupations (Construction) Level 3 Diploma' infoLink2='?courses=trowel-occupations-construction-level-3-diploma' courseTitle3='Plumbing Studies' infoLink3='?courses=plumbing-studies-2' courseTitle4='Furniture Design &amp; Making City &amp; Guilds Diploma' infoLink4='?courses=furniture-design-making-level-3-diploma' %}
