---
layout: career-page
title: Hairdressing &amp; Beauty Therapy
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: hair-beauty
link: course-subjects/hair-beauty
brand: CC
background-image: /images/area-banners/hair-beauty-desktop.jpg
campuscodes: A,C,S
schema: https://schema.org/course

staff-name: Fran Clapham
staff-role: team lead - beauty
staff-photo: /images/staff/fran-clapham.jpg
staff-text: Cornwall College St Austell lecturer Fran Clapham has been recognised as one of the highest trained skin care                      professionals in the country. She now holds Dermalogica Expert status, the only trainer in Cornwall to achievethis.

alumni-name: Alisha Dobson
alumni-role: a-lister Jessie j's personal hairstylist
alumni-photo: alumni/health-wellbeing/hairdressing-beauty/alisha-dobson.jpg
alumni-text: I wouldn't be doing this without college and my training salon. College gives you the foundation for everything.

student-name1: Wassim Imchichi
student-role1: 
student-photo1: /images/students/health-wellbeing/wassim-imchichi.jpg
student-text1: Quote

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Whether it's creating the latest look for a celebrity or designing a hair and make-up collection for a catwalk show, working in hair and beauty offers variety and an outlet for creativity, beyond simply working in a salon or spa. Film and theatrical make-up also provide unique career opportunities for artists who love to work with people." %}

<section class="container">{% youtube https://youtu.be/47b1xZQJiwU %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Hairdresser or Barber' paragraph='Hairdressers and barbers shampoo, cut, colour, style and treat hair.' jobsIn='the Southwest' jobsNow=18166 jobsFuture=19900 startingSalary=14000 hashtag='hairdresser' %}

{% include /career/career-example-job.html number='2' title='Beauty Therapist or Nail Technician' paragraph='Beauticians and related workers give facial and body beauty treatments, apply cosmetics and dress wigs.' jobsIn='the Southwest' jobsNow=6476 jobsFuture=6928 startingSalary=12000 hashtag='beauty-therapist' %}

{% include /career/career-example-job.html number='3' title='Spa or Salon Manager' paragraph='Salon managers plan, organise, direct and co-ordinate the activities and resources of hairdressing salons, beauty treatment and similar establishments.' jobsIn='the Southwest' jobsNow=2267 jobsFuture=2466 startingSalary=14000 hashtag='spa-manager' %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Hairdressing Diploma students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1="salon managers earn £30k+" stat2="the hair & beauty industry is worth £6.2 billion" stat3="nail technicians can earn up to £25k a year" stat4="1000s of apprentices started their careers with us"%} 

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html
courseTitle1='Sports Massage Therapy VTCT Certificate' infoLink1='?courses=sports-massage-therapy-vtct-certificate'
courseTitle2='Nail Services City &amp; Guilds Technical Diploma' infoLink2='?courses=nail-services-city-guilds-technical-diploma'
courseTitle3='Beauty Therapy City &amp; Guilds Diploma' infoLink3='?courses=beauty-therapy-city-guilds-diploma'
courseTitle4='Hairdressing &amp; Barbering City &amp; Guilds Certificate' infoLink4='?courses=hairdressing-barbering-city-guilds-certificate'
courseTitle5='Theatrical, Special Effects, Hair &amp; Media Make-Up City &amp; Guilds Diploma' infoLink5='?courses=theatrical-special-effects-hair-media-make-up' %}