---
layout: career-page
title: Hair, Beauty & Wellbeing
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: hair-beauty
---

        <!-- HEADER SECTION -->
        {% include career-header.html %}
        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Whether it's creating the latest look for a celebrity or designing a hair and make-up collection for a catwalk show, working in hair and beauty offers variety and an outlet for creativity, beyond simply working in a salon or spa. Film and theatrical make-up also provide unique career opportunities for artists who love to work with people.</p>
        {% youtube https://youtu.be/47b1xZQJiwU %}
        </section>

        <!-- example careers in this area -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2><strong>CAREERS</strong></h2>

                </article>
            </section>
        </section>
        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
{% include career-example-job.html number='2' title='Hairdresser or Barber' paragraph='Hairdressers and barbers shampoo, cut, colour, style and treat hair.' jobsIn='the Southwest' jobsNow=16383 jobsFuture=16517 startingSalary=14000 %}
                
{% include career-example-job.html number='1' title='Beauty Therapist or Nail Technician' paragraph='Beauticians and related workers give facial and body beauty treatments, apply cosmetics and dress wigs.' jobsIn='the Southwest' jobsNow=6324 jobsFuture=6378 startingSalary=12000 %}
                
{% include career-example-job.html number='3' title='Spa or Salon Manager' paragraph='Salon managers plan, organise, direct and co-ordinate the activities and resources of hairdressing salons, beauty treatment and similar establishments.' jobsIn='the Southwest' jobsNow=2697 jobsFuture=2997 startingSalary=14000 %}                           
                <!-- And many more section -->
                <section class="col-sm-12 margin-top header-icon"> 
                    <header>	              
                      <i class="fa fa-plus fa-4x fa-border transition" style="color:#52B3D9;"></i>
                      <h4 style="color:black;">MANY MORE!</h4>
                    </header>
                </section>                 
            </section>
        </section>
        <!-- call to action section -->

 <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>STAFF</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Fran Clapham</h4>

              <footer>
                <p>Fran is recognised as one of only two people in Cornwall to be recognised as a Dermalogica Expert. To achieve this status she had to complete a series specialist product, treatment and business workshops: something that Dermalogica only offer to the most skilled and knowledgeable therpsits in the industry</p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/hair-beauty-fran-clapham.jpg" class="img-responsive" alt="Fran Clapham">
              </figure>
            </article>

        </section>


        {% include career-apply-bar-first.html %}  

        <!-- skills -->
        {% include career-stats.html percent1=100 end1='of our Hairdressing Diploma students say that teaching on their course is good.' %}

        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Alisha Dobson</h4>

              <footer>
                <p>Alisha has travelled the world since leaving Cornwall College, working on prime time TV shows including the X Factor and Britain's Got Talent.  She is now touring with Jessie J and working as her personal hair stylist.</p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/hair-beauty-alisha-dobson.jpg" class="img-responsive" alt="Alisha Dobson">
              </figure>
            </article>

        </section>

        <!-- call to action section -->  
        {% include career-apply-bar-second.html %}    