---
layout: career-page
title: Performing and Visual Arts
description: Find out more about starting a career in the Performing and Visual Arts at The Cornwall College Group
---

{% include career-header.html career='performing-arts' title='Performing & Visual Arts' %}

{% include career-intro.html p1="Whether it's your passion to perform or create beautiful things for the world to enjoy, a career in the arts offers you an amazing variety or opportunities." p2="You may end up directing or producing entertainment for millions, or working with small communities on projects that will change lives forever." %}

<section class="container">{% youtube https://youtu.be/P3fQLOiJ0YU %}</section>

{% include career-examples-head.html%}

{% include career-example-job.html number='1' title='Actor, Entertainer or Presenter' paragraph='Actors, entertainers and presenters sing, portray roles in dramatic productions, and introduce and present radio and television programmes.' jobsIn='Cornwall' jobsNow=423 jobsFuture=496 %}

{% include career-example-job.html number='2' title='Artist' paragraph='Artists create artistic works using appropriate techniques, materials and media; design artwork and illustrations; and restore damaged pieces of art.' jobsIn='the Southwest' jobsNow=3398 jobsFuture=3992 %}

{% include career-example-job.html number='3' title='Arts Officer, Producer or Director' paragraph='Arts officers, producers and directors assume creative, financial and organisational responsibilities in the production and direction of television and radio programmes, films, stage presentations, content for other media, and the promotion and exhibition of other creative activities.' jobsIn='the Southwest' jobsNow=4909 jobsFuture=5764 startingSalary=18000 %}

{% include career-example-job.html number='4' title='Musician' paragraph='Dancers and choreographers devise, direct, rehearse and perform classical and contemporary dance routines.' jobsIn='Cornwall' jobsNow=1329 jobsFuture=1561 %}

{% include career-example-job.html number='5' title='Dancer or Choreographer' paragraph='Musicians write, arrange, orchestrate, conduct and perform musical compositions.' jobsIn='the Southwest' jobsNow=3205 jobsFuture=3763 %}
{% include career-example-job.html number='6' title='Product, Clothing or Related Products Designer' paragraph='Product, clothing and related designers plan, direct and undertake the creation of designs for new industrial and commercial products, clothing and related fashion accessories, costumes and wigs, and for building interiors and stage sets.' jobsIn='the Southwest' jobsNow=4422 jobsFuture=5195 startingSalary=17000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar.html career='performing-arts' order='first' %}


        <!-- skills -->

        <section id="skills" class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="side-text col-xs-6 col-md-4 col-md-offset-1">
                    <h2>OUR <strong>STATS</strong></h2>
                </article>

                <article class="progress-bars col-xs-6 col-md-5 col-md-offset-1">
                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>100%</span> of our arts and media students say that lecturers know their subject well.
                        </div>
                    </section>

                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90.5" aria-valuemin="0" aria-valuemax="100" style="width: 90.5%;">
                            Our creative arts &amp; design courses have a <span>90.5%</span> success rate.
                        </div>
                    </section>

                </article>
            </section>
        </section>

{% include career-alumni.html name="Sophie Hallstead" text="Hard working and dedicated, Sophie has secured a place at one of the most prestigous dance schools in the UK; Trinity Laban Conservatoire of Music and Dance." photo="alumni/performing-visual-arts-sophie-hallstead.jpg" %}

{% include career-apply-bar.html career='performing-arts' %}
