---
layout: career-page
title: Children, Schools &amp; Families
description: Find out more about starting career working with childrenat The Cornwall College Group
career: children's workforce
link: course-subjects/early-years
brand: CC
background-image: /images/area-banners/childrens-workforce-desktop.jpg
campuscodes: A, C, D, S
schema: https://schema.org/course

staff-name: Staff Member
staff-role: Staff position - Staff Department
staff-photo: http://placehold.it/370x370
staff-text: Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorum               ius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens                     sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem.

alumni-name: Katie-Jane Goodman
alumni-role: Primary Teacher at St Stephens Academy
alumni-photo: alumni/education/katie-jane-goodman.jpg
alumni-text: I read about the College's reputation on its website and was very happy with my findings. The tutors were very                      supportive and friendly, and the whole college seemed to have a friendly orientated feel about it.

student-name1: Tom Douglas
student-role1:
student-photo1: /images/students/education/tom-douglas.jpg
student-text1: Student Quote

student-name2: Matthew White
student-role2: /images/students/education/matthew-white.jpg
student-photo2: /images/students/education/matthew-white.jpg
student-text2: Matthew is passionate about helping children to have the best start in life. He worked in the Flying Start nursery                  at Stoke Climsland whilst completing his Foundation Degree in Children & Young People's Workforce.

student-name3: Jake Sandercock
student-role3:
student-photo3: /images/students/education/jake-sandercock.jpg
student-text3: Duchy College had loads of positive reviews for the Children's Care Learning & Development National Diploma and the                tutors are absolutely amazing, really helpful and positive. We learn about child development, nutritional needs,                    their well-being and safeguarding, and two days a week we get to go into placement that's a really positive                        experience. When I finish I'd like to be a primary school assistant preferably with Year 2 children.
---

{% include /career/career-header.html %}            

{% include /career/career-intro.html p1="Shaping the way our world grows by working with a new generation is an exciting prospect. Whether you are working in a childcare setting with babies and toddlers or developing youth projects, children's workforce careers are so important to how our society develops and offer a truly challenging and rewarding experience." %}

<section class="container">{% youtube https://youtu.be/uEv33C_B6Xs %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Nursery Nurse or Assistant' paragraph='Nursery nurses and assistants care for children from birth up to seven years of age in day or residential nurseries, children’s homes, maternity units and similar establishments.' jobsIn='The Southwest' jobsNow=1806 jobsFuture=1988 startingSalary=10000 %}

{% include /career/career-example-job.html number='2' title='Childminder or Related Occupation' paragraph='Childminders and related occupations provide day-to-day care of children within a domestic setting, and supervise and participate in their play, educational and other activities.' jobsIn='The Southwest' jobsNow=13861 jobsFuture=15532 altStartingSalary='variable' %}

{% include /career/career-example-job.html number='3' title='Playworker' paragraph='Playworkers deliver and facilitate play opportunities for children in a range of formal and informal settings including play groups, play schemes, free play locations, and in pre- and after-school activities.' jobsIn='The Southwest' jobsNow=4953 jobsFuture=5476 startingSalary=12000 %}

{% include /career/career-example-job.html number='4' title='Youth & Community Worker' paragraph='Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.' jobsIn='The Southwest' jobsNow=449 jobsFuture=500 startingSalary=14000 %}

{% include /career/career-example-job.html number='5' title='Teaching Assistant' paragraph='Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.' jobsIn='The Southwest' jobsNow=3380 jobsFuture=3719 startingSalary=13000 %}

{% include /career/career-example-job.html number='6' title='Child & Early Years Officer' paragraph='Child and early years officers work with babies and with children up to 14 years of age (or 16 for those with special needs), providing support, care, help and advice.' jobsIn='the Southwest' jobsNow=2085 jobsFuture=2366 startingSalary=10000 %}

<!--{% include /career/career-example-job.html number='7' title='Nursery Nurse or Assistant' paragraph="Nursery nurses and assistants care for children from birth up to seven years of age in day or residential nurseries, children’s homes, maternity units and similar establishments." jobsIn='The Southwest' jobsNow=21197 jobsFuture=23480 startingSalary=10000 hashtag=nursery-nurse-or-assistant %}
-->

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our childcare students say that their lecturers are constantly challenging them to do their best.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html campuscodes='CSA'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}