---
layout: career-page
title: Children, Schools &amp; Families
description: Find out more about starting career working with childrenat The Cornwall College Group
career: childrens-workforce
link: course-subjects/early-years
brand: CC
background-image: /images/area-banners/childrens-workforce-desktop.jpg
campuscodes: A, C, D, S
schema: https://schema.org/course

staff-name: Dani Hamilton
staff-role: Staff position - Staff Department
staff-photo: /images/staff/dani-hamilton.jpg
staff-text: Dani is an experienced teacher, assessor and early years practitioner. She has a particular interest in the role of the nursery nurse in baby care and has worked within private day care.

alumni-name: Katie-Jane Goodman
alumni-role: Primary Teacher at St Stephens Academy
alumni-photo: /images/alumni/education/katie-jane-goodman.jpg
alumni-text: I read about the College's reputation on its website and was very happy with my findings. The tutors were very supportive and friendly, and the whole college seemed to have a friendly orientated feel about it.

student-name1: Tom Douglas
student-role1:
student-photo1: /images/students/education/tom-douglas.jpg
student-text1: I have really enjoyed my time at Cornwall College studying the Extended Diploma in Childcare. There are so many nice people to meet. The course has really taught me how to look after children and help them develop.

student-name2: Matthew White
student-role2:
student-photo2: /images/students/education/matthew-white.jpg
student-text2: Matthew is passionate about helping children to have the best start in life. He worked in the Flying Start nursery at Stoke Climsland whilst completing his Foundation Degree in Children & Young People's Workforce.

student-name3: Jake Sandercock
student-role3:
student-photo3: /images/students/education/jake-sandercock.jpg
student-text3: Duchy College had loads of positive reviews for the Children's Care Learning & Development National Diploma and the tutors are absolutely amazing, really helpful and positive. We learn about child development, nutritional needs, their well-being and safeguarding, and two days a week we get to go into placement that's a really positive experience. When I finish I'd like to be a primary school assistant preferably with Year 2 children.

careers:
- career-number: 1
  career-title: Nursery Nurse or Assistant
  career-paragraph: Nursery nurses and assistants care for children from birth up to seven years of age in day or residential nurseries, children’s homes, maternity units and similar establishments.
  jobs-now: 21197
  jobs-future: 23480
  starting-salary: 10000
  hashtag: children

- career-number: 2
  career-title: Childminder or Related Occupation
  career-paragraph: Childminders and related occupations provide day-to-day care of children within a domestic setting, and supervise and participate in their play, educational and other activities.
  jobs-now: 13861
  jobs-future: 15532
  starting-salary: variable
  hashtag: childminder

- career-number: 3
  career-title: Playworker
  career-paragraph: Playworkers deliver and facilitate play opportunities for children in a range of formal and informal settings including play groups, play schemes, free play locations, and in pre- and after-school activities.
  jobs-now: 4953
  jobs-future: 5476
  starting-salary: 12000
  hashtag: playworker

- career-number: 4
  career-title: Youth & Community Worker
  career-paragraph: Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.
  jobs-now: 5130
  jobs-future: 5812
  starting-salary: 14000
  hashtag: youth-worker

- career-number: 5
  career-title: Teaching Assistant
  career-paragraph: Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.
  jobs-now: 40333
  jobs-future: 44347
  starting-salary: 13000
  hashtag: teaching-assistant

- career-number: 6
  career-title: Child & Early Years Officer
  career-paragraph: Child and early years officers work with babies and with children up to 14 years of age (or 16 for those with special needs), providing support, care, help and advice.
  jobs-now: 2085
  jobs-future: 2366
  starting-salary: 10000
  hashtag: early-years

- career-number: 7
  career-title: Nursery Nurse or Assistant
  career-paragraph: Nursery nurses and assistants care for children from birth up to seven years of age in day or residential nurseries, children’s homes, maternity units and similar establishments.
  jobs-now: 21197
  jobs-future: 23480
  starting-salary: 10000
  hashtag: nursery-nurse-or-assistant
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Shaping the way our world grows by working with a new generation is an exciting prospect. Whether you are working in a childcare setting with babies and toddlers or developing youth projects, children's workforce careers are so important to how our society develops and offer a truly challenging and rewarding experience." %}

<section class="container">{% youtube https://youtu.be/uEv33C_B6Xs %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our childcare students say that their lecturers are constantly challenging them to do their best.' %}

{% include /career/key-stats.html stat1='100,000+ people are currently working in the UK as nannies' stat2='Speech and language therapists could earn between £21,692 and £28,180 per year' stat3='There are 20,000+ day care settings operating in the UK ' stat4='As an early years teacher you can expect a starting salary of £20,000'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html campuscodes='CSA'%}

{% include /career/career-courses.html courseTitle1='Children’s Play, Learning &amp; Development (Early Years Educator) BTEC Extended Diploma' infoLink1='?courses=childrens-play-learning-development-early-years-educator-btec-extended-diploma' courseTitle2='Childcare &amp; Education (Early Years Educator) CACHE Diploma' infoLink2='?courses=childcare-education-early-years-educator-cache-diploma' courseTitle3='Supporting Teaching &amp; Learning In Schools Apprenticeship' infoLink3='?courses=supporting-teaching-learning-in-schools-apprenticeship' courseTitle4='FdA Children &amp; Young People’s Workforce' infoLink4='?courses=fda-children-young-peoples-workforce-2' courseTitle5='FdA Early Childhood Studies' infoLink5='?courses=fda-early-childhood-studies' %}
