---
layout: career-page
title: Hospitality &amp; Front of House
description: Find out more about starting a Career in Hospitality at The Cornwall College Group
career: hospitality-front
link:
brand: CC
background-image: /images/area-banners/hospitality-front-desktop.jpg
campuscodes: C,S,A
schema: https://schema.org/course

staff-name: Clair Winkler Irons
staff-role: Trevenson Restaurant Manager
staff-photo: /images/staff/claire-winkler-irons.jpg
staff-text: I'm just so passionate about food and the environment in which we dine; restaurants, gastro food, hands-on cooking and how people work in these environments realy fascinates me.

alumni-name: Ben Stevens
alumni-role: Director of Delicate Trade &amp; Bystro restaurant chain
alumni-photo: /images/alumni/cultral-visitor/catering-hospitality/ben-stevens.jpg
alumni-text: At Cornwall College a huge emphasis was on practical work, as well as therory. I believe that having knowledge has helped me create my own unique business.

student-name1: James Defreitas
student-role1:
student-photo1: /images/students/cultral-visitor/catering-academy/james-defreitas.jpg
student-text1: Studying Professional Cookery at Cornwall College has been great, I have enjoyed meeting new friends and gaining experience in the catering industry. The facilities are really good and I have learnt to be much more confident in myself and what I am doing. Next year I plan to move onton a higher level course at the College and continue my learning.

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Bakers & Flour Confectioner
  career-paragraph: Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.
  jobs-now: 2195
  jobs-future: 1847
  starting-salary: 13000
  hashtag: baker

- career-number: 2
  career-title: Bar Staff
  career-paragraph: Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.
  jobs-now: 16836
  jobs-future: 15959
  starting-salary: 11000
  hashtag: bar-staff

- career-number: 3
  career-title: Catering or Bar Manager
  career-paragraph: Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.
  jobs-now: 4182
  jobs-future: 4211
  starting-salary: 11000
  hashtag: catering-manager

- career-number: 4
  career-title: Chef
  career-paragraph: Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.
  jobs-now: 11918
  jobs-future: 11957
  starting-salary: 13000
  hashtag: chef

- career-number: 5
  career-title: Cook
  career-paragraph: Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.
  jobs-now: 6036
  jobs-future: 6149
  starting-salary: 13000
  hashtag: cook

- career-number: 6
  career-title: Hotel & Accommodation Manager or Proprietor
  career-paragraph: Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.
  jobs-now: 9142
  jobs-future: 9400
  starting-salary: 19000
  hashtag: hotel-manager
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="We are the best catering college in the South West and the only college nationally to win three People 1st Centres of Excellence Awards. Our two training restaurants, Trevenson and Cloisters, both hold an AA College Rosette making us the only college in the country with two award-winning restaurants." p2="Our partnerships include Academy Nathan Outlaw, established with the two Michelin-starred chef and we work closely with Jamie Oliver's Fifteen restaurant to prepare students for working in professional kitchens." %}

<section class="container">{% youtube https://youtu.be/Ogd1m7JQndY %}</section>


{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Professional Cookery City & Guilds Diploma Level 2 students are happy with their course and with the College.' begin2='Our Catering & Hospitality courses have a' percent2=90.7 end2='success rate' %}

{% include /career/key-stats.html stat1="The hospitality industry is the UK’s fourth biggest industry in employment terms" stat2="In 2014 there were 2.9 million jobs in this sector" stat3="The UK hospitality industry contributed an estimated £57 billion to UK GDP in 2014" stat4="34% of the hospitality workforce is under 25 years of age" %}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Hospitality BTEC First Diploma' infoLink1='/courses/hospitality-btec-first-diploma' courseTitle2='Food &amp; Beverage Service Supervision City &amp; Guilds Diploma' infoLink2='/courses/food-beverage-service-supervision-city-guilds-diploma' courseTitle3='Professional Food &amp; Beverage Service City &amp; Guilds Diploma' infoLink3='/courses/professional-food-beverage-service-city-guilds-diploma-2' %}
