---
layout: career-page
title: Hospitality &amp; Front of House
description: Find out more about starting a Career in Hospitality at The Cornwall College Group
career: 
link: 
brand: CC
background-image:
campuscodes:
schema: https://schema.org/course

staff-name: Staff Name
staff-role: Staff Role
staff-photo: http://placehold.it/370x370
staff-text: Staff Text

alumni-name: Almni Name
alumni-role: Amumni Role
alumni-photo:
alumni-text: Alumni Text

student-name1: Student Name
student-role1: Student Role
student-photo1: http://placehold.it/370x370
student-text1: Student Text

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Cornwall has seen an incredible gastronomic community grow in recent years, with many Michelin starred chefs choosing the region for their flagship eateries." p2="Three time Michelin star winning chef Nathan Outlaw has chosen Cornwall College to host his Academy where you could gain a competitive edge in a career in the sector that is the life blood of the region." %}

<section class="container">{% youtube https://youtu.be/y8KB3tyhZyg %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Bakers & Flour Confectioner' paragraph='Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.' jobsIn='the Southwest' jobsNow=2195 jobsFuture=1847 startingSalary=13000 hashtag=bakers-and-flour-confectioner %}

{% include /career/career-example-job.html number='2' title='Bar Staff' paragraph='Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.' jobsIn='the Southwest' jobsNow=14541 jobsFuture=15193 startingSalary=11000 hashtag=bar-staff %}

{% include /career/career-example-job.html number='3' title='Catering or Bar Manager' paragraph='Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.' jobsIn='the Southwest' jobsNow=4369 jobsFuture=3678 startingSalary=20000 hashtag=catering-or-bar-manager %}

{% include /career/career-example-job.html number='4' title='Chef' paragraph='Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.' jobsIn='the Southwest' jobsNow=14844 jobsFuture=12501 startingSalary=13000 hashtag=chef %}

{% include /career/career-example-job.html number='5' title='Cook' paragraph='Cooks prepare, season and cook food, often using pre-prepared ingredients, in clubs, private households, fast food outlets, shops selling food cooked on the premises and the catering departments and canteens of other establishments.' jobsIn='the Southwest' jobsNow=6162 jobsFuture=5190 startingSalary=13000 hashtag=cook %}

{% include /career/career-example-job.html number='6' title='Hotel & Accommodation Manager or Proprietor' paragraph='Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.' jobsIn='the Southwest' jobsNow=5314 jobsFuture=5907 startingSalary=19000 hashtag=hotel-and-accommodation-manager-or-proprietor %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Professional Cookery City & Guilds Diploma Level 2 students are happy with their course and with the College.' begin2='Our Catering & Hospitality courses have a' percent2=90.7 end2='success rate' %}

{% include /career/key-stats.html stat1='head chefs earn from £25k+' stat2='hotel managers earn from £31k+' stat3='The hospitality and
tourism sector employs 7% of the working population' stat4='660,200 people will need to be recruited by 2020'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}