---
layout: career-page
title: Agriculture &amp; Countryside Management
description: Find out more about starting a career in the Countryside Management industry with courses from The Cornwall College Group
career: countryside-management
link: course-subjects/countryside-conservation-gamekeeping
brand: DC
background-image: /images/area-banners/countryside-management-desktop.jpg
campuscodes: B,R,D
schema: https://schema.org/course

staff-name: Nick Taylor
staff-role: Course Manager - Conservation &amp; Countryside
staff-photo: /images/staff/nick-taylor.jpg
staff-text: Nick has spent many years working in the conservation sector, in many roles as a keeper at London Zoo, Taronga Zoo Sydney, the Monkey Sanctuary near Looe and as a warden at the Wildfowl and Wetlands Trust. He’s travelled the world to experience all manner of wildlife in their natural habitats, and has been to every continent except South America and Antarctica. For the last 15 years Nick has been teaching at Duchy College and is their resident expert in wildlife identification.

alumni-name: Danny Olver
alumni-role: Owner of Animal Arks and self-employed dairy milker
alumni-photo: /images/alumni/rural-economy/danny-olver.jpg
alumni-text: I found working and learning at the College very effective You are learning the technical aspects of the industry and then putting them into practice.

student-name1: Rachael Harris
student-role1:
student-photo1: /images/students/rural-economy/agriculture-countryside/rachael-harris.jpg
student-text1: As an advanced apprentice I'm at college one day a week, mainly learning the paperwork side of farming such as how to manage the farm accounts and that side of things. It's a great help back in the workplace because I can link the practical with the paperwork that I don't gain as much knowledge of on the farm.

student-name2: Alistair Worth
student-role2:
student-photo2: /images/students/rural-economy/agriculture-countryside/alistair-worth.jpg
student-text2: Studying agriculture I do a wide range of things like handling and looking after animals, learning about crops and machinery but my most memorable experience was doing machinery practicals with my friends. I've enjoyed studying here, there is plenty to do and I've made loads of new friends.

student-name3: Billy Nankivell
student-role3:
student-photo3: /images/students/rural-economy/agriculture-countryside/billy-nankivell.jpg
student-text3: We were treated all on the same level, as adults.

careers:
- career-number: 1
  career-title: Forestry Worker
  career-paragraph: Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.
  jobs-now: 1269
  jobs-future: 1241
  starting-salary: 12000-19000
  hashtag: forestry-worker

- career-number: 2
  career-title: Farm Worker
  career-paragraph: Farm workers perform a variety of tasks, by hand and machine, to produce and harvest crops and to breed and rear cattle, sheep, pigs and poultry.
  jobs-now: 9814
  jobs-future: 9708
  starting-salary: 13000
  hashtag: farm-worker

- career-number: 3
  career-title: Farmer
  career-paragraph: Farmers and related occupations cultivate arable crops, fruits and trees, and raise cattle, sheep, pigs, poultry and other livestock for consumption.
  jobs-now: 15691
  jobs-future: 15844
  starting-salary: 20000
  hashtag: farmer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="If you love the countryside, are passionate about its protection and conservation and the livelihoods that rely on its existence, this could be the career path for you. You'll need to love working outdoors, and want to understand how nature works and how we interactwith it in a sustainable way." %}

<section class="container">
  <article class="col-sm-6">{% youtube https://youtu.be/XyeoUD8OGEk %}</article>
  <article class="col-sm-6">{% youtube https://youtu.be/zj2ddSyyjIE %}</article>
</section>

{% include /career/example-careers.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our countryside management students say that teaching on their course was good.' begin2='Our agriculture courses have an' percent2=89.1 end2='success rate.' %}

{% include /career/key-stats.html stat1='The average UK salary for a farmer is £27k per year ' stat2='Managerial roles in agriculture will increase by 11% in the South West by 2020' stat3='The South West has a quarter of all farms in England (25,421)' stat4='The latest combine harvesters can process 100 tonnes of wheat an hour'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Forestry &amp; Arboriculture 90 Credit Diploma' infoLink1='/courses/forestry-arboriculture-90-credit-diploma' courseTitle2='Gamekeeping &amp; Wildlife Managment Technical Eextended Diploma' infoLink2='/courses/gamekeeping-wildlife-management-city-guilds-extended-diploma' courseTitle3='Land &amp; Wildlife Management Technical Extended Diploma' infoLink3='/courses/countryside-wildlife-management-city-guilds-diploma-2' courseTitle4='Land &amp; Wildlife Management (Countryside Ranger) Technical Extended Diploma' infoLink4='/courses/countryside-management-countryside-ranger-extended-diploma' %}
