---
layout: career-page
title: Agriculture &amp; Countryside Management
description: Find out more about starting a career in the Countryside Management industry with courses from The Cornwall College Group
career: countryside-management
link: course-subjects/countryside-conservation-gamekeeping
brand: DC
background-image: /images/area-banners/countryside-management-desktop.jpg
campuscodes: B,R,D
schema: https://schema.org/course

staff-name: Nick Taylor
staff-role: Course Manager - Conservation &amp; Countryside
staff-photo: /images/staff/nick-taylor.jpg
staff-text: Nick has spent many years working in the conservation sector, in many roles as a keeper at London Zoo, Taronga Zoo                 Sydney, the Monkey Sanctuary near Looe and as a warden at the Wildfowl and Wetlands Trust. He’s travelled the world to             experience all manner of wildlife in their natural habitats, and has been to every continent except South America and               Antarctica. For the last 15 years Nick has been teaching at Duchy College and is their resident expert in wildlife                 identification.

alumni-name: Danny Olver
alumni-role: Owner of Animal Arks and self-employed dairy milker
alumni-photo: alumni/rural-economy/danny-olver.jpg
alumni-text: I found working and learning at the College very efffective. You are learning the technical aspects of the industry                and then putting them into practice.

student-name1: Rachel Brown
student-role1:
student-photo1: /images/students/rural-economy/agriculture-countryside/rachel-brown.jpg
student-text1: I have really enjoyed how hands on this course has been and the very wide range of activites from lambing sheep to                  making aa green wood gate

student-name2: Alistair Worth
student-role2:
student-photo2: /images/students/rural-economy/agriculture-countryside/alistair-worth.jpg
student-text2: Studying agriculture I do a wide range of things like handling and looking after animals, learning about crops and                  machinery but my most memorable experience was doing machinery practicals with my friends. I've enjoyed studying                    here, there is plenty to do and I've made loads of new friends.

student-name3: Billy Nankivell
student-role3:
student-photo3: /images/students/rural-economy/agriculture-countryside/billy-nankivell.jpg
student-text3: We were treated all on the same level, as adults.
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="If you love the countryside, are passionate about its protection and conservation and the livelihoods that rely on its existence, this could be the career path for you. You'll need to love working outdoors, and want to understand how nature works and how we interract with it in a sustainable way." %}

<section class="container">{% youtube https://youtu.be/zj2ddSyyjIE %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Property, Housing or Estate Manager' paragraph='Job holders within this group manage shopping centres, residential areas and private estates, and arrange for the sale, purchase, rental and leasing of property on behalf of clients and employers.' jobsIn='the Southwest' jobsNow=1945 jobsFuture=2161 startingSalary=21000 hashtag=property-housing-or-estate-manager %}

{% include /career/career-example-job.html number='2' title='Forestry Worker' paragraph='Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.' jobsIn='the Southwest' jobsNow=1269 jobsFuture=1241 startingSalary=12000-19000 hashtag=forestry-worker %}

{% include /career/career-example-job.html number='3' title='Farm Worker' paragraph='Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.' jobsIn='the Southwest' jobsNow=9814 jobsFuture=9708 startingSalary=13000 hashtag=Farm-worker %}

{% include /career/career-example-job.html number='4' title='Farmer' paragraph='Forestry workers perform a variety of tasks related to the planting, cultivation and protection of trees.' jobsIn='the Southwest' jobsNow=15691 jobsFuture=15844 startingSalary=20000 hashtag=farmer %}

{% include /career/career-examples-foot.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}
    
{% include /career/career-stats.html percent1=100 end1='of our countryside management students say that teaching on their course was good.' %}

{% include /career/key-stats.html stat1='The agri-food sector contributed £103billion to the UK economy in 2013' stat2='The average UK salary for a farmer is £27k per year' stat3='The agri-food sector contributed £103 billion to the UK economy in 2013' stat4='Food &amp; Drink manufacturing is the largest segment in the UK manufacturing sector'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %} 
