{% if include.align == "right" %}
<article class="col-xs-12 col-sm-5 popup-alt popup-right-alt a-levels" style="min-height: 335px">
{% else %}
<article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt a-levels" style="clear:left; min-height: 335px;">
{% endif %}
    <header>
        <h5 class="col-xs-10 text-uppercase">{{include.a-level | upcase }}</h5>
    </header>
    <p>{{include.a-level-summery }}</p>

    <footer class="center">
      <a href="{{include.a-level-link }}" class="btn bottom" style="opacity:1">See Our course</a>
    </footer>

</article>
