<!-- example careers in this area -->
<section class="col-md-12 main-section-margins intro">
  <section class="container">
    <article class="col-sm-12 text-center">
      <h2><strong>CAREERS</strong></h2>

    </article>
  </section>
</section>

<section class="col-md-12 main-section-margins clearfix career-areas">
  <section class="container box-square box-square-alt">

    {% for career in page.careers %}
    {% if forloop.index < 7 %}
    <article class="col-sm-6">
      <a data-toggle="collapse" data-target="#career-{{career.career-number}}" href="#career-{{career.career-number}}" aria-expanded="false" aria-controls="career-{{career.career-number}}" class="collapsed">
        <h2>{{career.career-title}}<span class="readmore"><br/>Read more...</span></h2>
        <i class="fa fa-times close-icon"></i>
      </a>
      <div {{site.schema-job}} class="collapse" id="career-{{career.career-number}}">
        <p>{{career.career-paragraph}}</p>
        <section id="counters-{{career.career-number}}">
          <div class="container" style="width:auto;">
            <div class="counters counters-alt">
              {% if career.jobs-now %}
              <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                <h5><span class="counter">{{career.jobs-now}}</span> Jobs in the southwest {{career.jobs-in}}</h5>
              </div>
              {% endif %}
              {% if career.jobs-future %}
              <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                <h5><span class="counter">{{career.jobs-future}}</span> Jobs by <br/> 2020</h5>
              </div>
              {% endif %}
              {% if career.starting-salary %}
              <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                <h5><span class="counter">£{{career.starting-salary}}</span> Starting Salary</h5>
              </div>
              {% else %}
              <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                <h5><span><small><strong>variable</strong></small></span> Starting Salary</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
        <section>
          <a href="{{ site.course_site_baseurl }}tag/{{career.career-hashtag}}" title="career: {{career.career-title}}" class="btn ghost" style="width:100%; white-space:normal;">view courses relating to {{career.career-title}}</a>
        </section>
      </div>
    </article>
    {% endif %}
    {% endfor %}

    {% for career in page.careers %}
    {% if forloop.length > 6 %}
    <section class="col-sm-12 header-icon" style="margin-top: 20px; margin-bottom: 20px;">
      <a href="#" data-toggle="collapse" aria-expanded="false" class="collapsed" data-target="#more-careers" href="#more-careers">
        <i class="fa fa-plus fa-4x transition" style="font-size:40px; color:#52B3D9;"></i>
        <h4 style="color:black;">MANY MORE!</h4>
      </a>
    </section>

    <section id="more-careers" class="more collapse">
    {% break %}
    {% endif %}
    {% endfor %}

    {% for career in page.careers %}
    {% if forloop.index > 6 and forloop.index < 13 %}
        <article class="col-sm-6">
          <a data-toggle="collapse" data-target="#career-{{career.career-number}}" href="#career-{{career.career-number}}" aria-expanded="false" aria-controls="career-{{career.career-number}}" class="collapsed">
            <h2>{{career.career-title}}<span class="readmore"><br/>Read more...</span></h2>
            <i class="fa fa-times close-icon"></i>
          </a>
          <div {{site.schema-job}} class="collapse" id="career-{{career.career-number}}">
            <p>{{career.career-paragraph}}</p>
            <section id="counters-{{career.career-number}}">
              <div class="container" style="width:auto;">
                <div class="counters counters-alt">
                  {% if career.jobs-now %}
                  <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                    <h5><span class="counter">{{career.jobs-now}}</span> Jobs in the South West</h5>
                  </div>
                  {% endif %}
                  {% if career.jobs-future %}
                  <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                    <h5><span class="counter">{{career.jobs-future}}</span> Jobs by <br/> 2020</h5>
                  </div>
                  {% endif %}
                  {% if career.starting-salary %}
                  <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                    <h5><span class="counter">£{{career.starting-salary}}</span> Starting Salary</h5>
                  </div>
                  {% else %}
                  <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                    <h5><span><small><strong>variable</strong></small></span> Starting Salary</h5>
                  </div>
                  {% endif %}
                </div>
              </div>
            </section>
            <section>
              <a href="{{ site.course_site_baseurl }}tag/{{career.career-hashtag}}" title="career: {{career.career-title}}" class="btn ghost" style="width:100%; white-space:normal;">view courses relating to {{career.career-title}}</a>
            </section>
          </div>
        </article>
    {% endif %}
    {% endfor %}

    </section>

  </section>
</section>
