<section class="col-xs-12 team-founder " >
    <article class="container">
        <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
            <h4 class="text-uppercase"><span itemprop="employee">{{include.studentName}}</span></h4>
            <span>{{include.studentRole}}</span>

            <footer>
                <p>{{include.studentQuote}}</p>
            </footer>
            
        </section>
        <!-- TEAM FOUNDER PICTURE -->
        <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <img src="{{include.studentImage}}" class="img-responsive" alt="team pic">
        </figure>
    </article>
</section>
