<li class="col-xs-12 col-sm-4">
<article>
    <figure>
        <img src="{{include.studentImage1}}" class="img-responsive transition" alt="{{include.studentName1}}"/>
    </figure>
    <section class="popup popup-top text-center">
        <h4 class="transition"><span itemprop="alumni">{{include.studentName1}}</span></h4>
        <span>{{include.studentRole1}}</span>
        <p class="student-quote">{{include.studentQuote1}}</p>
    </section>
</article>
</li>

<li class="col-xs-12 col-sm-4">
<article>
    <figure>
        <img src="{{include.studentImage2}}" class="img-responsive transition" alt="{{include.studentName2}}"/>
    </figure>
    <section class="popup popup-top text-center">
        <h4 class="transition"><span itemprop="alumni">{{include.studentName2}}</span></h4>
        <span>{{include.studentRole2}}</span>
        <p class="student-quote">{{include.studentQuote2}}</p>
    </section>
</article>
</li>

<li class="col-xs-12 col-sm-4">
<article>
    <figure>
        <img src="{{include.studentImage3}}" class="img-responsive transition" alt="{{include.studentName3}}"/>
    </figure>
    <section class="popup popup-top text-center">
        <h4 class="transition"><span itemprop="alumni">{{include.studentName3}}</span></h4>
        <span>{{include.studentRole3}}</span>
        <p class="student-quote">{{include.studentQuote3}}</p>
    </section>
</article>
</li>
