--- 
    title: 16-18 Hub - courses for school leavers 
    description: Specialist study programmes for school leavers include A-levels, Diplomas, NVQs, practical skills training and work experience to give you a careers edge.
    link: 16-18 
    event_cat_id: 8 
    event_cat_slug: 16-18-event 
--- 

{% include 16-18/head.html %}

<body>
    <!-- Google Tag Manager -->
    {% include tag-manager.html %}
    <!-- End Google Tag Manager -->
    <a id="top"></a>

    <!-- LOADER -->
    <div id="site-loader" class="load-complete">
        <div class="load-position">
            <div class="loading-logo"><img src="/images/loader.gif" alt="loading-logo" /></div>
            <div class="loading">
                <div class="loading-line"></div>
                <div class="loading-break loading-dot-1"></div>
                <div class="loading-break loading-dot-2"></div>
                <div class="loading-break loading-dot-3"></div>
            </div>
        </div>
    </div>

    {% include 16-18/slider.html %} {% include 16-18/header.html %}


    <section id="video-block" class="col-sm-12 full-width-video-block">
        <article class="col-md-4 col-xs-12 no-padding">
            {% youtube https://youtu.be/-AqUfso3nkY %}
            <div class="text-center caption">
                <h4>Academy Nathan Outlaw</h4>
                <p>Train with the best to be the best – the UKs top college for catering</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12 no-padding">
            {% youtube https://youtu.be/1fs7XVTcZv0 %}
            <div class="text-center caption">
                <h4>iamdigital – a new way of learning</h4>
                <p>Our NEW Software Development Tech Bacc – train in industry</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12 no-padding">
            {% youtube https://youtu.be/qO934r2oINU %}
            <div class="text-center caption">
                <h4>STEM Centre of Excellence</h4>
                <p>Study a wide range of Science, Technology, Engineering &amp; Maths to degree-level</p>
            </div>
        </article>
    </section>

    <section class="col-sm-12 full-width-video-block">
        <article class="col-md-4 col-xs-12  no-padding">
            {% youtube https://youtu.be/C_yLJBhRMt8 %}
            <div class="text-center caption">
                <h4>Outstanding alumni</h4>
                <p>Our learners go on to great things</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12  no-padding">
            {% youtube https://youtu.be/0SNqMaTSPG4 %}
            <div class="text-center caption">
                <h4>Bicton College &amp; Duchy College</h4>
                <p>The widest range of specialist courses</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12 no-padding">
            {% youtube https://youtu.be/Zuc1Rk4oSNg %}
            <div class="text-center caption">
                <h4>Specialist Marine Studies</h4>
                <p>At Falmouth Marine School</p>
            </div>
        </article>
    </section>
    <!-- Project Section -->
    <div class="project-section" style="margin-bottom:50px;">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-6 col-xs-6 start-project">
                <p>courses</p>
                <h2>view our learning areas</h2>
                <a href="/learning-area-hub/"><span>Let's Go</span></a>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-6 send-msg">
                <p>careers</p>
                <h2>view our career areas</h2>
                <a href="/career-hub/"><span>Let's Go</span></a>
            </div>
        </div>
    </div>
    <!-- Project Section Over -->
    <!-- How We Work -->
    <section id="how-we-work" class="how-we-work">
        <!-- Section Header -->
        <div class="section-header">
            <h2>career : edge</h2>
            <img src="/images/apprenticeships-work.png" alt="Apprenticeships work" class="text-center" style="display:block; margin:0 auto;" />
            <p class="lead text-center">Our study programme offers you the chance to gain a broad range of experience
                <br/> that will give you the edge when entering the workplace or progressing to university.</p>
        </div>
        <!-- Section Header Over-->
        <div class="container" style="align-items: center; display: flex; justify-content: center">
            <ul class="how-we-work-categories">
                <li>
                    <a href="#">
                        <i class="fa fa-building-o"></i>
                        <span>Professional<br/>Qualification</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-certificate"></i>
                        <span>Work<br/>Experience</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Soft<br/>Skills</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-rocket"></i>
                        <span>A great start<br/>to your career</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="how-we-work-container hide-on-mobile">
            <div class="research-slope">
                <div class="research shape-content">
                    <p class="lead">Our specialist programmes of study combine qualifications, work readiness skills training and work experience, giving you a careers edge and the very best preparation for the world of work.</p>
                    <p>We offer a variety of qualifications including A-levels, BTEC and City &amp; Guilds Diplomas, Technical Baccalaureates, Practical Skills Training, NVQs and Apprenticeships at our colleges: Cornwall College, Duchy College, Bicton College and Falmouth Marine School.</p>
                </div>
            </div>
            <section class="col-xs-12 blue-bg white  center punchout">
                <h2>A few reasons to choose <span>#thecareercollege</span>…</h2>
                <p class="lead"> We are one of the best colleges for catering studies in the UK, with partnerships with Nathan Outlaw, River Cottage and Fifteen Cornwall...</p>
            </section>
            <div class="we-perfection-slope hide-on-mobile">
                <div class="we-perfection shape-content">
                    <h2>With the <strong>largest</strong> provider of Apprenticeships in the South West you can:</h2>
                    <ul>
                        <li>Work in industry</li>
                        <li>Gain a real wage</li>
                        <li>Choose from over 80 career routes</li>
                        <li>Progress your career or university study</li>
                    </ul>
                </div>
            </div>
            <div class="car"></div>
            <div class="clean-code">
                <div class="clean-code-box shape-content">



                    <h3>We work with many of the regions big industry leaders to ensure our learners are ready for the workplace:</h3>
                    <div class="col-sm-4 col-md-4">
                        <ul>
                            <li>Pendennis Shipyards</li>
                            <li>Blue Flame Academy</li>
                            <li>Kier Academy</li>
                            <li>Mill Auto Supplies</li>
                            <li>NHS</li>
                            <li>Plymouth Argyle FC</li>
                            <li>The National Trust</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ul>
                            <li>NFU</li>
                            <li>The Eden Project</li>
                            <li>Software Cornwall</li>
                            <li>Academy Nathan Outlaw</li>
                            <li>River Cottage</li>
                            <li>Fifteen Cornwall</li>
                            <li>Cornwall Council</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ul>
                            <li>Midas</li>
                            <li>Ocean Housing</li>
                            <li>Newquay Zoo</li>
                            <li>Blue Reef Aquarium</li>
                            <li>Fit N Fun Kids</li>
                            <li>Imerys</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="we-launch-slope hide-on-mobile">
                <div class="we-launch shape-content">
                    <h3>Our learners go on to great things:</h3>
                    <ul class="our-learners">
                        <li>Toby Brown | <span>art &amp; design</span> – now product designer for Lego</li>
                        <li>Daniel Warren | <span>media studies</span> – now X Factor Producer</li>
                        <li>Tom Jackman | <span>marine engineering</span> – now a Superyacht Engineer</li>
                        <li>Steve Uren | <span>graphic design</span> - now Creative Director for Amazon Europe</li>
                        <li>Tom Brown | <span>chef apprentice</span> – now Head Chef at Outlaw’s at The Capital Restaurant</li>
                        <li>Carla Fairburn | <span>hair &amp; beauty</span> – now co-owns Inkfish Salon Falmouth</li>
                        <li>Sophie Budd | <span>catering studies</span> – now owns Taste Budd’s Cooking Australia</li>
                        <li>Lauren Bambury | <span>marine science</span> – now Assistant Harbour Master in Hayle</li>
                        <li>Owen Marks | <span>public services</span> – now in Military Police</li>
                        <li>Alisha Dobson | <span>hair apprentice</span> – now personal stylist to Jessie J</li>

                        <li>Ben Spaul | <span>sports development</span> – now a coach at Tottenham Hotspur FC Academy</li>

                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- How We Work Over -->



    <!-- Services Section -->
    <div id="service-section" class="service-section">
        <h2 class="text-center">#thecareercollege</h2>
        <div class="container">
            <div class="service-bg">
                <img src="images/achive-image.png" alt="achive image" />
                <h3>How we help<br/>you achieve<br/>your career<br/>goals</h3>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 pull-right col-sm-5">
                        <i class="icon-srv fa fa-cogs"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Universal skills</h3>
                        <p>We’ll boost your qualifications if need be in English, maths and IT</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 col-sm-5">
                        <i class="icon-srv fa fa-building-o"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Work readiness</h3>
                        <p>Our dedicated team will work with you to become work ready with projects, guest lectures and work experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 pull-right col-sm-5">
                        <i class="icon-srv fa fa-star"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Specialist skills</h3>
                        <p>The qualification you study will build your specialist knowledge and lead to further study, university or the workplace</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 col-sm-5">
                        <i class="icon-srv fa fa-users"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Personal skills</h3>
                        <p>Our coaching team will help you build on personal qualities, resilience, social awareness and confidence</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 pull-right col-sm-5">
                        <i class="icon-srv fa fa-life-ring"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Supporting you</h3>
                        <p>You will have a personal advisor and a subject tutor to help you on every step of the journey</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box-inner">
                    <div class="col-md-4 col-sm-5">
                        <i class="icon-srv fa fa-balance-scale"></i>
                    </div>
                    <div class="col-md-8 content-box col-sm-7">
                        <h3 class="block-title">Our Values</h3>
                        <p>Help us work together for a common goal, your success.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section Over -->
    <!-- Features Section -->
    <section id="why-choose" class="why-choose">
        <div class="why-choose-inner">

            <h2 style="text-align:left;">CHOOSE CORNWALL COLLEGE</h2>

            <div class="feature-box-inner">
                <div style="text-align:initial">
                    <i class="icon-feature fa fa-cutlery"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title" style="padding:0px">One of the best catering colleges in the UK</h3>
                </div>
            </div>

            <div class="feature-box-inner">
                <div style="text-align:initial">
                    <i class="icon-feature fa fa-hashtag"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title" style="padding:0px">#1 for apprenticeships in the South West</h3>
                </div>
            </div>

            <div class="feature-box-inner">
                <div style="text-align:initial">
                    <i class="icon-feature fa fa-trophy"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title" style="padding:0px">Award winning students and tutors work with us</h3>
                </div>
            </div>

            <div class="feature-box-inner">
                <div style="text-align:initial">
                    <i class="icon-feature fa fa-leaf"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title" style="padding:0px">Over 1,200 acres for land-based specialist training and education</h3>
                </div>
            </div>

        </div>
    </section>

    <section id="features-section" class="features-section ow-background-no-size">
        <div class="feature-box">

            <div class="feature-box-inner">
                <div class="icon-left">
                    <i class="icon-feature fa fa-briefcase"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title">Courses developed in partnership with employers to ensure relevance to industry</h3>
                </div>
                <div class="icon-right">
                    <i class="icon-feature fa fa-briefcase"></i>
                </div>
            </div>

            <div class="feature-box-inner">
                <div class="icon-left">
                    <i class="icon-feature fa fa-home"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title">National award-winning construction tradespeople train with us</h3>
                </div>
                <div class="icon-right">
                    <i class="icon-feature fa fa-home"></i>
                </div>
            </div>

            <div class="feature-box-inner">
                <div class="icon-left">
                    <i class="icon-feature fa fa-film"></i>
                </div>
                <div class="feature-box-text">
                    <h3 class="block-title">Award winning media studies department – 33 student awards in 11 years</h3>
                </div>
                <div class="icon-right">
                    <i class="icon-feature fa fa-film"></i>
                </div>
            </div>

        </div>
    </section>
    <!-- Features Section Over -->

    <!-- Apllication Section -->
    <section id="application-section" class="application-section">
        <div class="container">
            <div class="col-md-6">
                <div class="application-iphone">
                    <img src="images/application/iphone.png" alt="application iphone" />
                </div>
            </div>
            <div class="col-md-6 app-content-box">
                <h2>Plan your future on the move</h2>
                <p>This website is mobile friendly, just bookmark this section, you can also use our careers hub to start planning your career journey. We’ve got the latest stats on starting salaries, job vacancy predictions in the region and training routes all mapped out.</p>
                <div class="col-md-9 app-updates">
                    <h4><i class="fa fa-bar-chart"></i> WORKFORCE PREDICTIONS</h4>
                    <p> Use the latest labour market intelligence to plan a career where you will be in demand</p>
                </div>
                <div class="col-md-9 app-updates">
                    <h4><i class="fa fa-line-chart"></i> SALARY INDICATORS</h4>
                    <p>find out what you could be earning in 5 years in the career of your dreams</p>
                </div>
                <div class="col-md-9 app-updates">
                    <h4><i class="fa fa-pencil"></i> START PLANNING</h4>
                    <p>what skills, training and experience do you need to reach your career goal</p>
                </div>
                <div class="col-md-9 app-updates">
                    <h4><i class="icon_lightbulb"></i> GET INSPIRED</h4>
                    <p>If you’re not sure what you want to do, browse our site and start to get some ideas of what’s possible</p>
                </div>
                <div class="col-md-9 app-updates">
                    <a href="/career-hub/" title="Visit our career area hub" class="btn ghost">Visit our career area hub</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Application Section Over -->


    <!-- Statistics Section -->
    <div id="statistics-section" class="statistics-section">
        <h2 class="text-center">There’s more to The Cornwall College Group</h2>
        <div class="container">
            <div class="col-md-3 col-sm-12">
                <h1><i class="fa fa-graduation-cap"></i> <span id="project"></span>K</h1>
                <p>Learners we support every year</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h1><i class="fa fa-map-o "></i> <span id="work"></span> &nbsp; </h1>
                <p>Campuses across 2 counties</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h1><i class="fa fa-book"></i> <span id="consumed"></span> &nbsp; </h1>
                <p>Full-time courses for school leavers</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h1><i class="fa fa-map-signs"></i> <span id="videos"></span>+</h1>
                <p>Apprenticeship career pathways</p>
            </div>
        </div>
    </div>

    {% include /16-18/16-18-events.html %}

    <!-- Statistics Section Over -->

    <!-- What Students Section
	<section id="client-section" class="client-section">
		<!-- Section Header
		<div class="section-header">
			<h2>WHAT OUR STUDENTS SAY</h2>
		</div>
		<!-- Section Header Over
		<div class="client-style1">
			<svg width="0" height="0">
				<clipPath id="client-1">
					<polygon points="0 152,1920 310,1920 0,0 0">
					</polygon>
				</clipPath>
				<clipPath id="client-11">
					<polygon points="0 752,1920 752,1920 0,0 0">
					</polygon>
				</clipPath>
			</svg>
			<div class="client-hover">
				<h2>"Werbi in velit ligula eget vulputate ligulaviv sollicitudin rcusante orbi in velit"</h2>
				<p>by Ane Doe</p>
			</div>
		</div>
		<div class="client-style2 client-active">
			<svg width="0" height="0">
				<clipPath id="client-2">
					<polygon points="-1 450,1920 289,1920 158,0 0">
					</polygon>
				</clipPath>
				<clipPath id="client-21">
					<polygon points="-1 752,1920 666,1920 97,0 0">
					</polygon>
				</clipPath>
			</svg>
			<div class="client-hover">
				<h2>"Werbi in velit ligula eget vulputate ligulaviv sollicitudin rcusante orbi in velit"</h2>
				<p>by Ane Doe</p>
			</div>
		</div>
		<div class="client-style3">
			<svg width="0" height="0">
				<clipPath id="client-3">
					<polygon points="-1 326,1920 316,1920 0,0 155">
					</polygon>
				</clipPath>
				<clipPath id="client-31">
					<polygon points="-1 752,1920 756,1920 0,0 155">
					</polygon>
				</clipPath>
			</svg>
			<div class="client-hover">
				<h2>"Werbi in velit ligula eget vulputate ligulaviv sollicitudin rcusante orbi in velit"</h2>
				<p>by Ane Doe</p>
			</div>
		</div>
	</section>
	<!-- What Clients Section Over -->


    <!-- Project Section -->
    <div class="project-section">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-6 col-xs-6 start-project">
                <p>courses</p>
                <h2>view our learning areas</h2>
                <a href="/learning-area-hub/"><span>Let's Go</span></a>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-6 send-msg">
                <p>careers</p>
                <h2>view our career areas</h2>
                <a href="/career-hub/"><span>Let's Go</span></a>
            </div>
        </div>
    </div>
    <!-- Project Section Over -->

    <!-- Footer Section -->

    {% include footer.html %}

    <!-- Footer Section -->


    {% js bundle-16-18 %}
</body>

</html>
