---
layout: career-page
title: Legal
description: Find out more about starting an career in health and safety at The Cornwall College Group
career: legal
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/legal-desktop.jpg
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Legal training is a valuable commodity beyond the world of solicitors and barristers. Employers value the skills learned along the way: research, analysis, the ability to weigh-up and create a logical argument and reasoned conclusion from a set of complex facts and communicating clearly are all sought-after skills." %}

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Barrister or Judge' paragraph='Barristers and judges prepare and conduct court cases on behalf of clients, preside over judicial proceedings, and pronounce judgements within a variety of court settings and tribunals.' jobsIn='the Southwest' jobsNow=2184 jobsFuture=2497 startingSalary=12000 %}

{% include /career/career-example-job.html number='2' title='Legal Associate Professional' paragraph='Provide administrative support for legal professionals, and investigate and make recommendations on legal matters that do not fall within the province of a normal court of law.' jobsIn='the Southwest' jobsNow=4650 jobsFuture=5285 startingSalary=18000 %}

{% include /career/career-example-job.html number='3' title='Legal Secretary' paragraph='Legal secretaries file and maintain legal and other records, transcribe notes and dictation into typewritten form and perform other routine clerical tasks in legal practices.' jobsIn='the Southwest' jobsNow=4419 jobsFuture=3612 startingSalary=18000 %}

{% include /career/career-example-job.html number='4' title='Solicitor' paragraph='Solicitors advise and act on behalf of individuals, organisations, businesses and government departments in legal matters. Understanding the law and being licensed to practice requires university then specialist qualifications.' jobsIn='the Southwest' jobsNow=10674 jobsFuture=12210 startingSalary=16650 %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image='http://placehold.it/370x370' name='Staff Member' role="Staff posistion - Staff Department" about="Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorum ius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem." %}

{% include /career/student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Name' studentRole1='role' studentQuote1="Student Quote" studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include /career/career-stats.html percent1=100 end1='Lorem ipsum dolor sit amet, feugiat tincidunt philosophia eu mel, quando appareat eos an.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

{% include /career/campus-locations.html campuscodes='#'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
