---
layout: career-page
title: Legal
description: Find out more about starting an career in health and safety at The Cornwall College Group
career: legal
---

{% include career-header.html %}

{% include career-intro.html p1="Legal training is a valuable commodity beyond the world of solicitors and barristers. Employers value the skills learned along the way: research, analysis, the ability to weigh-up and create a logical argument and reasoned conclusion from a set of complex facts and communicating clearly are all sought-after skills." %}

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Barrister or Judge' paragraph='Barristers and judges prepare and conduct court cases on behalf of clients, preside over judicial proceedings, and pronounce judgements within a variety of court settings and tribunals.' jobsIn='the Southwest' jobsNow=2184 jobsFuture=2497 startingSalary=12000 %}

{% include career-example-job.html number='2' title='Legal Associate Professional' paragraph='Provide administrative support for legal professionals, and investigate and make recommendations on legal matters that do not fall within the province of a normal court of law.' jobsIn='the Southwest' jobsNow=4650 jobsFuture=5285 startingSalary=18000 %}
{% include career-example-job.html number='3' title='Legal Secretary' paragraph='Legal secretaries file and maintain legal and other records, transcribe notes and dictation into typewritten form and perform other routine clerical tasks in legal practices.' jobsIn='the Southwest' jobsNow=4419 jobsFuture=3612 startingSalary=18000 %}

{% include career-example-job.html number='4' title='Solicitor' paragraph='Solicitors advise and act on behalf of individuals, organisations, businesses and government departments in legal matters. Understanding the law and being licensed to practice requires university then specialist qualifications.' jobsIn='the Southwest' jobsNow=10674 jobsFuture=12210 startingSalary=16650 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-second.html %} 
