---
layout: career-page
title: Applied and Forensic Science
description: Find out more about starting a career in Applied and Forensic Science at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='applied-forensic-science' title='Applied &amp; Forensic Science' %}            

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">For those who love science, have an enquiring mind and attention to detail a career in applied or forensics could be perfect. Whether working as a forensic scientist helping to solve crimes, in an industrial laboratory or in research and development there is a broad range of careers available to you.</p>
            {% youtube https://youtu.be/OQTmjVePtqw %}
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-1" aria-expanded="false" aria-controls="career-1" class="collapsed">
                        <h2>Chemical or Related Process Operative<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-1">
                        <p>Workers in this area operate plant and machinery in the processing of chemical and related materials by chemical, heat or other treatment, manufacture synthetic materials and bleach, dye or otherwise treat textiles, and treat hides, skins and pelts for making into fur, leather and skin products.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">3515</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">2862</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="pound-sign">£</span><span class="counter">15000</span> Starting Salary</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-2" aria-expanded="false" aria-controls="career-2" class="collapsed">
                        <h2>Laboratory Technician<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-2">
                        <p>Laboratory technicians carry out routine laboratory tests and checks, and perform a variety of technical support functions requiring the application of established or prescribed procedures and techniques to assist scientists with their research, development, analysis and testing, and to verify the physical, chemical and other characteristics of materials and products.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">5877</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">6133</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">13,500</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-3" aria-expanded="false" aria-controls="career-3" class="collapsed">
                        <h2>Chemical Scientist<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-3">
                        <p>Chemical scientists analyse and research physical aspects of chemical structure and change within substances and develop chemical techniques used in the manufacture or modification of natural substances and processed products.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">2494</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">2715</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">20,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                
            </section>
        </section>

        <!-- skills -->
{% include career-stats.html percent1=95 end1='of our science mathematics students say they are given useful feedback which helps them to improve.' %}



        <!-- call to action section -->     
        {% include career-apply-bar.html career='applied-forensic-science' %}    