<div class="help-button" style=""> 
    <a id="ask-a-question-button" class="btn btn-primary ask-a-question collapsed" data-toggle="collapse" href="#ask-a-question" aria-expanded="false" aria-controls="ask-a-question"><i class="fa fa-question fa-lg"></i><span>Ask a Question</span></a>
    <div class="collapse" id="ask-a-question">
        <div class="help-window">
            <section class="container">
                <section class="col-md-12">
                    <div class="question-text">
                <p class="lead">Do you have a question? Complete the form below and a member of our enquiries team will be in touch.</p>
                </div>
                    <!-- contact form with input fields -->
                    <!-- contact form with input fields -->
                    <form id="form-question" class="col-md-8 form-horizontal help-form" role="form" novalidate="novalidate">
                        <input type="hidden" name="source" id="source" value="question">
                        <div id="result"></div>
                        <!-- FULL NAME -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <label for="name" accesskey="N"><i class="fa fa-user"></i>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Full Name*">
                            </div>
                        </div>
                        <!-- EMAIL -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <label for="email" accesskey="E"><i class="fa fa-envelope-o"></i>
                                </label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                            </div>
                        </div>
                        <!-- CONTACT NUMBER -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <label for="phone" accesskey="P"><i class="fa fa-phone"></i>
                                </label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Contact Number*">
                            </div>
                        </div>
                        <!-- MESSAGE -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <label for="question" accesskey="C"><i class="fa fa-comment"></i>
                                </label>
                                <textarea class="form-control" rows="7" name="question" id="question" placeholder="Question*"></textarea>
                            </div>
                        </div>
                        <!-- SERVER ERROR -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <div id='question-error'></div>
                            </div>
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <div class="form-group">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <button id="question-submit-btn" class="custom-btn transition">
                                    Send
                                </button>
                            </div>
                        </div>
                    </form>

                    <div id="success" class="alert alert-sucess">
                        <span class="green text-center container layer-size-1">
                        <i class="fa fa-check fa-3x"></i>
                    </span>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
