
<section class="container">
    <section class="col-md-12 main-section-margins intro">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>    
<section class="col-md-12 no-padding">  
    <script>
                var campuses = [
                    {% assign posts = site.posts | sort:"code"  %}                   
                    {% for campus in posts %}
                        {% if campus.category contains 'content/campus' %}
                            {% if include.campuscodes contains campus.code %}
                                {% include campus-locations-location.html campus=campus %}
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                ];      
    </script>    

    <!-- map -->
    <div id="gmap_canvas"></div>
</section>    

