<section class="col-md-12 no-padding">  
    <script>
                var campuses = [
                    {% assign posts = site.data.campus | sort:"code"  %}                   
                    {% for campus in posts %}
                        {% if campus.category contains 'content/campus' %}
                            {% if include.campuscodes contains campus.code %}
                                {% include campus-locations-location.html campus=campus %}
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                ];      
    </script>    

    <!-- map -->
    <div id="gmap_canvas"></div>
</section>    

