<section id="skills" class="col-md-12 main-section-margins ">
    <section class="container">
        <article class="col-sm-12 text-center">
            <h2>OUR <strong>STATS</strong></h2>
        </article>
        <article class="progress-bars col-md-11 col-lg-6 col-md-offset-1 col-lg-offset-3 ">
            {% include career-stats-stat.html begin=include.begin1 percent=include.percent1 end=include.end1 %}
            {% include career-stats-stat.html begin=include.begin2 percent=include.percent2 end=include.end2 %}
            {% include career-stats-stat.html begin=include.begin3 percent=include.percent3 end=include.end3 %}
            {% include career-stats-stat.html begin=include.begin4 percent=include.percent4 end=include.end4 %}
            {% include career-stats-stat.html begin=include.begin5 percent=include.percent5 end=include.end5 %}
        </article>
    </section>
</section>
