<!-- HEADER SECTION -->
<section id="{{ include.career | replace:' ','-' | downcase }}" class="col-md-12 jumbotron header-title career-title">
    <header class="container">
        <h2><a href="/"><small>Home / </small></a><a href="/full-time-hub/"><small> Full-time Hub</small></a> <span>
            {% if include.title %}
                {{ include.title | capitalize }}</span></h2>
            {% else %}
                {{ include.career | replace:'-',' ' | capitalize }}</span></h2>
            {% endif %}
    </header>
</section>
<!-- END OF HEADER -->