

<article class="col-sm-6">
    <a data-toggle="collapse" data-target="#career-{{include.number}}" href="#career-{{include.number}}" aria-expanded="false" aria-controls="career-{{include.number}}" class="collapsed">
        <h2>{{include.title}}<span class="readmore"><br/>Read more...</span></h2>
        <i class="fa fa-times close-icon"></i>
    </a>
    <div class="collapse" id="career-{{include.number}}">
        <p>{{include.paragraph}}</p>
        <section id="counters-{{include.number}}">
            <div class="container" style="width:auto;">
                <div class="counters counters-alt">                    
                    {% if include.jobsNow %}
                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                        <h5><span class="counter">{{include.jobsNow}}</span> Jobs in {{include.jobsIn}}</h5>
                    </div> 
                    {% endif %}
                    {% if include.jobsFuture %}
                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                        <h5><span class="counter">{{include.jobsFuture}}</span> Jobs by <br/> 2020</h5>
                    </div>
                    {% endif %}                    
                    {% if include.startingSalary %}
                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                        <h5><span class="counter">£{{include.startingSalary}}</span> Starting Salary</h5>
                    </div>
                    {% else %}
                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                        <h5><span><small><strong>variable</strong></small></span> Starting Salary</h5>
                    </div>   
                    {% endif %}
                </div>
            </div>
        </section> 
        <section>
                    <a href="//courses.cornwall.ac.uk/tag/{{include.tag}}" title="career: {{include.title}}" class="btn ghost" style="width:100%; white-space:normal;">view courses relating to {{include.title}}</a> 
        </section>
    </div>
</article>