<section id="courses" class="col-md-12 main-section-margins intro ">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>TOP 5<strong> COURSES </strong>IN THIS AREA</h2>
                </article>
                <section id="career-course" class="header-icon">       
                    <!-- Headings --> 
                    <div class="row"> 
                        <article class="hidden-xs hidden-sm col-md-12 offering-heading">
                            <h5>Course Title</h5>
                        </article>   
                 

                    </div> 
                    {% include career-courses-course.html title=include.courseTitle1 link=include.infoLink1 %}
                    {% include career-courses-course.html title=include.courseTitle2 link=include.infoLink2 %}
                    {% include career-courses-course.html title=include.courseTitle3 link=include.infoLink3 %}
                    {% include career-courses-course.html title=include.courseTitle4 link=include.infoLink4 %}
                    {% include career-courses-course.html title=include.courseTitle5 link=include.infoLink5 %}

                    <a title='view all courses in this area' href='{{ page.course-area-search-link }}' class="btn">View All Courses in {{ page.title }}</a>

                </section>        
            </section>
</section>
