<li class="college-event" style="display: none">
	<a href='www.cornwall.ac.uk/events/{{include.event.mainlink}}' data-largesrc='/content-media/{{include.event.imagefilename}}' data-title='{{include.event.title}}' data-description='{{include.event.description}}' data-category='{{include.event.campus}}' data-date='{{include.event.eventdate}}'>
    <div class='event-title-wrap caption'>
    	<h4 class='event-title'>{{include.event.title}}</h4>
    </div>
    <img src='/content-media/{{include.event.imagefilename}}' alt='{{include.event.title}}' />
    </a>
</li>