<li class="college-event" style="display: none" data-date='{{include.event.eventdate }}'>
	<a href='https://www.cornwall.ac.uk/events/{{include.event.mainlink}}' data-largesrc='/content-media/{{include.event.imagefilename}}' data-title='{{include.event.title | escape}}' data-description='{{include.event.description | escape}}' data-category='{{include.event.campus}}' data-date='{{include.event.eventdate | date: "%d %b %Y" }}'>
    <div class='event-title-wrap caption'>
    	<h4 class='event-title'>{{include.event.title | escape}}</h4>
    </div>
    <img src='/content-media/{{include.event.imagefilename}}' alt='{{include.event.title | escape}}' />
    </a>
</li>