<section class="col-md-12 faqs main-section-margins">     
    <header class="col-sm-12 text-center"> <h2 class="text-uppercase">{{ page.faq-main-title }}</h2></header>
        <section class="container">
            
            {% for faq in page.faqs %}
  
            <button type="button" class="faq-question collapsed" data-toggle="collapse" data-target="#{{ faq.id }}"><h3>{{ faq.question }}</h3></button>
            <div id="{{ faq.id }}" class="collapse">
                <p>{{ faq.answer }}</p>
            </div>    

            {% endfor %}
            
        </section>
</section>  