<head>
    <meta charset="utf-8">
    <title>Cornwall College | The Career College</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cornwall College">
    <meta name="author" content="Cornwall College">
    <link rel="shortcut icon" href="/images/favicon-cornwall.ico" type="image/vnd.microsoft.icon" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom-styles.css" />
    <!-- the two fonts used in the template -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:700,300,400,100" rel="stylesheet" type="text/css">
</head>

