<head>
    <meta charset="utf-8">
    <!--[if IE 9]>
    <meta http-equiv="">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />


    {% include seo-meta.html %}


    <link rel="shortcut icon" href="/images/favicon-cornwall.ico" type="image/vnd.microsoft.icon" />
    <style>
        #loader {
            background: #fff url('../images/loader.gif') no-repeat center;
            padding-top: 50%;
            padding-left: 50%;
            position: fixed;
            z-index: 2000;
            width: 100%;
            height: 100%;
        }
    </style>



<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-3.2.0.min.css">    
{% if page.page == 'home' %}
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> 
    <link rel="stylesheet" type="text/css" href="/css/swiper.css"> 
    <link rel="stylesheet" type="text/css" href="/css/selectordie.css">  
    <link rel="stylesheet" type="text/css" href="/css/home.css">     
{% else %}
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">    
{% endif %}
    <link rel="stylesheet" type="text/css" href="/css/custom-styles.css">
    <link rel="stylesheet" type="text/css" href="/css/cc-global-styles.css">    
    <!--
    - /css/bootstrap-3.2.0.min.css
    - /css/animate.css
    - /css/swiper.css
    - /css/selectordie.css
    - /css/styles.css
    - /css/custom-styles.css
    -->
</head>
