
<!-- Google Tag Manager -->
{% include tag-manager.html %}
<!-- End Google Tag Manager -->
<div id="alert-container"></div>
<header>
  <div id="loader">
    <div id="bicton-load">
      <svg width="60" height="60">
        <rect width="60" height="60" rx="10" ry="10" fill="#77BC43"/>
      </svg>
    </div>

    <div id="falmouth-load">
      <svg width="60" height="60">
        <rect width="60" height="60" rx="10" ry="10" fill="#00AFBF"/>
      </svg>
    </div>

    <div id="duchy-load">
      <svg width="60" height="60">
        <rect width="60" height="60" rx="10" ry="10" fill="#007B4C"/>
      </svg>
    </div>

    <div id="cornwall-load">
      <svg width="60" height="60">
        <rect width="60" height="60" rx="10" ry="10" fill="#00509B"/>
      </svg>
    </div>
  </div>
  <!-- LOGO SECTION ====================================================================== -->

  <nav class="navbar-fixed-top click-through" >
    <div id="white-nav-bg" class="white-nav-bg grow"></div>
    <div class="fixed-head-wrap">
      <div class="container click-through">
        <div class="navbar-header ">
          <!-- MENU ICON ON THE RIGHT -->
          <span id="openRightPush" class="menu-icon click-me">
            <span class="menu-text">MENU</span>
            <i class="fa fa fa-bars transition"></i>
          </span>

          <div id="logo-wrap">
            <div id="cornwall" class="cc-brand-logo current-brand logo">
              <a class="click-me" href="https://www.cornwall.ac.uk/">
                <div>
                  <img id="cc-logo" src="/images/cc-brand-logo.png" class="brand-image" alt="The Cornwall College Group" itemprop="logo"/>
                </div>
              </a>
            </div>

            <div id="duchy" class="duchy-brand-logo sub-brand grow logo">
              <a class="click-me" href="https://www.duchy.ac.uk/">
                <div>
                  <img id="dc-logo" src="/images/dc-brand-logo.png" class="brand-image" alt="duchy college logo" itemprop="logo"/>
                </div>
              </a>
            </div>

            <div id="falmouth" class="fms-brand-logo sub-brand grow logo">
              <a class="click-me" href="https://www.falmouthmarineschool.ac.uk/">
                <div>
                  <img id="fms-logo" src="/images/fms-brand-logo.png" class="brand-image" alt="falmouth marine school logo" itemprop="logo"/>
                </div>
              </a>
            </div>

            <div id="bicton" class="bicton-brand-logo sub-brand grow logo">
              <a class="click-me" href="https://www.bicton.ac.uk/">
                <div>
                  <img id="bic-logo" src="/images/bic-brand-logo.png" class="brand-image" alt="bicton college logo" itemprop="logo"/>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- LOGO SECTION END -->

  <!-- MENU START -->
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">

    <!-- MENU SEARCH FORM -->
    <form name="course-search" id="search-form" class="container" role="search" method="GET" action="{{site.url}}/search">
      <div class="no-padding col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 search-filters">
        <a id="course-search" class="btn active search-filter"  data-name="s" data-placeholder="Course Search" data-action="'/search">Course Search</a>

        <a id="site-search" class="btn not-active search-filter" data-name="q" data-placeholder="Search the whole site" data-action="/site-search.html">Site Search</a>

        <a id="leisure-search" class="btn not-active search-filter" data-name="s" data-placeholder="Leisure Course Search" data-action="/leisure">Leisure Courses</a>

        <a id="event-search" class="btn not-active search-filter" data-name="tribe-bar-search" data-placeholder="Search Events" data-action="/events/whats-on">Search Events</a>
      </div>

      <div class="input-group margin-bottom-sm col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        {% if site.hash != 'cornwall' %}
        <input name="brand" value="{{site.brand-long}}" type="hidden" />
        {% endif %}

        <input id="site-search-input" class="form-control" name="s" type="text" placeholder="Course Search">

        <div class="input-group-addon transition"><button type="submit" class="search-submit"><i class="fa fa-search fa-fw"></i></button></div>
      </div>
    </form>

    <div class="container clearfix portal col-sm-12">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-3 text-center">
        <a href="https://www.cornwall.ac.uk/students" class="btn ghost"><i class="fa fa-graduation-cap fa-lg"></i>Student Portal</a>
      </div>

      <div class="col-sm-offset-1 col-md-offset-0  col-sm-10 col-md-3 text-center ">
        <a href="https://www.cornwall.ac.uk/staff" class="btn ghost"><i class="fa fa-users fa-lg"></i>Staff Portal</a>
      </div>
    </div>

    <div id="main-menu" class="container clearfix"></div>

    {% include socialmedia.html %}
  </nav>
  <!-- MENU END -->
</header>
