<ul class="menu-item-links">
    {% for menu in site.data.menu %}

            {% if site.data.menu.sub-menu == empty %}

                    <li>
                        <a href="{{site.url}}/{{menu.menu-link}}" title="{{menu.menu-name}}">{{menu.menu-name}}</a>
                    </li>

            {% else %}

                    <li class="dropdown">
                        <a href="{% if menu.menu-link contains 'http' %}{{menu.menu-link}}{% else %}{{site.url}}/{{menu.menu-link}}{% endif %}" title="{{menu.menu-name}}">{{menu.menu-name}}</a>
                        <ul class="submenu-items transition">
                            {% for sub-menu in menu.sub-menu %}
                                <li><a href="{% if sub-menu.sub-menu-link contains 'http' %}{{sub-menu.sub-menu-link}}{% else %}{{site.url}}/{{sub-menu.sub-menu-link}}{% endif %}">{{sub-menu.sub-menu-name}}</a></li>
                            {% endfor %}
                        </ul>    
                    </li>

            {% endif %}

    {% endfor %}
</ul>