<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5PH3GW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5PH3GW');</script>
<!-- End Google Tag Manager -->

<header>
    <div id="loader"></div>
    <!-- LOGO SECTION ====================================================================== -->
    
    <nav class="navbar-fixed-top click-through" role="navigation">
        <div id="white-nav-bg" class="white-nav-bg grow"></div>
        <div class="fixed-head-wrap">
            <div class="container click-through">
                <div class="navbar-header ">
                    <!-- MENU ICON ON THE RIGHT -->
                    <span id="openRightPush" class="menu-icon click-me">
                        <span class="menu-text">MENU</span> <i class="fa fa fa-bars transition"></i>
                    </span>

                    <div id="logo-wrap">
                        <div class="cc-brand-logo current-brand">
                            <a class="click-me" href="/">
                                <div>
                                    <img id="cc-logo" src="/images/cc-brand-logo.png" class="brand-image" alt="The Cornwall College Group"/>
                                </div>
                            </a>
                        </div>
                        <div class="duchy-brand-logo sub-brand grow">
                            <a class="click-me" href="/duchy-index.html">
                                <div>
                                    <img id="dc-logo" src="/images/dc-brand-logo.png" class="brand-image" alt="duchy college logo"/>
                                </div>
                            </a>
                        </div>
                        <div class="fms-brand-logo sub-brand grow">
                            <a class="click-me" href="/falmouth-index.html">
                                <div>
                                    <img id="fms-logo" src="/images/fms-brand-logo.png" class="brand-image" alt="falmouth marine school logo"/>
                                </div>
                            </a>                
                        </div>
                        <div class="bicton-brand-logo sub-brand grow">
                            <a class="click-me" href="/bicton/index.html">
                                <div>
                                    <span><img id="bic-logo" src="/images/bic-brand-logo.png" class="brand-image" alt="bicton college logo"/></span>
                                </div>
                            </a>                
                        </div>
                    </div>    


                </div>
            </div>
        </div>    
    </nav>
    <!-- LOGO SECTION END -->

    <!-- MENU START -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">

        <!-- MENU SEARCH FORM -->
        <form name="course-search" id="search-form" class="container" role="search" method="GET" action="http://open-for-business.cornwall.ac.uk/www-v2/">
            <div class="input-group margin-bottom-sm col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <!--<input name="s" value="search" type="hidden" />-->
                <input class="form-control" name="s" type="text" placeholder="Course Search">
                <div class="input-group-addon transition"><button type="submit" class="search-submit"><i class="fa fa-search fa-fw"></i></button></div>
                <!--<button type="submit"><span class="input-group-addon transition"><i class="fa fa-search fa-fw"></i></span></button>-->
            </div>
        </form>
        <div class="container clearfix portal col-sm-12">
            <div class="col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3 text-center">
                <a href="https://portal.cornwall.ac.uk" class="btn ghost"><i class="fa fa-graduation-cap fa-lg"></i>Student Portal</a>
            </div>
            <div class="col-sm-3 col-md-3 text-center ">
                <a href="https://www.cornwall.ac.uk/staff" class="btn ghost"><i class="fa fa-users fa-lg"></i>Staff Portal</a>
            </div>
        </div>

        <div class="container clearfix">
            <ul class="menu-item-links">
                <li class="dropdown">
                    <a href="#">About &amp; Contact Us</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">About us</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>                        
                        <li><a href="#">Governance</a>
                        </li>
                        <li><a href="#">College charter</a>
                        </li>
                        <li><a href="#">Complaints procedure</a>
                        </li>
                        <li><a href="#">Jobs vacancies</a>
                        </li>
                        <li><a href="#">Order a Prospectus</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Where you study</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">Camborne</a>
                        </li>
                        <li><a href="#">St Austell</a>
                        </li>
                        <li><a href="#">Newquay</a>
                        </li>
                        <li><a href="#">Saltash</a>
                        </li>
                        <li><a href="#">Falmouth Marine School</a>
                        </li>
                        <li><a href="#">Duchy Stoke Climsland</a>
                        </li>
                        <li><a href="#">Duchy Rosewarne</a>
                        </li>
                        <li><a href="#">Bicton College</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">What You Study</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">Academic studies</a></li>
                        <li><a href="#">Business &amp; Professional</a></li>
                        <li><a href="#">Cultureal &amp; Visitor Economy</a></li>
                        <li><a href="#">Health &amp; Wellbeing</a></li>
                        <li><a href="#">Rural Economy</a></li>
                        <li><a href="#">Science &amp; Natural Enviorment</a></li>
                        <li><a href="#">Tecnology</a></li>
                        <li><a href="#">Education &amp; Teaching</a></li>
                    </ul>
                </li>
    
                <li class="dropdown">
                    <a href="#">How You Study</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">16 to 18</a></li>
                        <li><a href="#">19 plus</a></li>
                        <li><a href="#">leisure course</a></li>
                        <li><a href="#">University</a></li>
                        <li><a href="#">Apprenticeships</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="#">Your Career</a>
                        <ul class="submenu-items transition">
                        <li><a href="#">Career Hub</a></li>  
                        </ul>    
                </li>
            </ul>
        </div>

        {% include socialmedia.html %}

    </nav>
    <!-- MENU END -->
</header>
