<header>
    <div id="loader"></div>
    <!-- LOGO SECTION ====================================================================== -->
    <nav class="navbar-fixed-top click-through" role="navigation">
        <div class="container click-through">
            <div class="navbar-header ">

                <a class="click-me" href="index.html">
                    <div id="logo-wrapper" class="logo-other">
                        <span><img id="cc-logo" src="/images/ccg-logo-small-blue.jpg" alt="The Cornwall College Group"/></span>
                    </div>
                </a>
                <!-- MENU ICON ON THE RIGHT -->
                <span id="openRightPush" class="menu-icon click-me">
                    <span class="menu-text">MENU</span> <i class="fa fa fa-bars transition"></i>
                </span>

            </div>
        </div>
    </nav>
    <!-- LOGO SECTION END -->

    <!-- MENU START -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">

        <!-- MENU SEARCH FORM -->
        <form id="search-form" class="container" role="search">
            <div class="input-group margin-bottom-sm col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <input class="form-control" type="text" placeholder="Course Search">
                <span class="input-group-addon transition"><i class="fa fa-search fa-fw"></i></span>
            </div>
        </form>
        <div class="container clearfix portal col-sm-12">
            <div class="col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3 text-center">
                <a href="https://portal.cornwall.ac.uk" class="btn ghost"><i class="fa fa-graduation-cap fa-lg"></i>Student Portal</a>
            </div>
            <div class="col-sm-3 col-md-3 text-center ">
                <a href="http://www.cornwall.ac.uk/staff" class="btn ghost"><i class="fa fa-users fa-lg"></i>Staff Portal</a>
            </div>
        </div>

        <div class="container clearfix">
            <ul class="menu-item-links">
                <li class="dropdown">
                    <a href="#">About</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">About us</a>
                        </li>
                        <li><a href="#">Governance</a>
                        </li>
                        <li><a href="#">College charter</a>
                        </li>
                        <li><a href="#">Complaints procedure</a>
                        </li>
                        <li><a href="#">Jobs vacancies</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Our Colleges</a>
                    <ul class="submenu-items transition">
                        <li><a href="//www.cornwall.ac.uk/campus/cornwall-college-camborne">Camborne</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/cornwall-college-st-austell">St Austell</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/cornwall-college-newquay">Newquay</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/cornwall-college-saltash">Saltash</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/falmouth-marine-school">Falmouth Marine School</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/duchy-college-stoke-climsland">Duchy Stoke Climsland</a>
                        </li>
                        <li><a href="//www.cornwall.ac.uk/campus/duchy-college-rosewarne">Duchy Rosewarne</a>
                        </li>
                        <li><a href="//www.bicton.ac.uk">Bicton College</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">News</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">Latest News</a>
                        </li>
                        <li><a href="#">Media centre</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Events</a>
                </li>
                <li class="dropdown">
                    <a href="#">Contact</a>
                    <ul class="submenu-items transition">
                        <li><a href="#">Enquire about a course</a>
                        </li>
                        <li><a href="#">Contact a campus</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>

        {% include socialmedia.html %}

    </nav>
    <!-- MENU END -->
</header>