<section class="col-xs-12 main-section-padding main-section-margins team-founder light-bg" style="padding-top:50px;">
    <section class="col-md-12 main-section-margins intro">
        <article class="col-sm-12 text-center">
            <h2>{{include.profile-title}}</h2>
        </article>
    </section>

    <article class="container">
        <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
            <h4 class="text-uppercase"><span itemprop="employee">{{include.profile-heading}}</span></h4>
            <span>{{include.profile-subheading}}</span>

            <footer>
                <p>{{include.profile-text}}</p>
            </footer>
        </section>

        <!-- TEAM FOUNDER PICTURE -->
        <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 box-padding">
            <img src="{{include.profile-image}}" class="img-responsive" alt="team pic">
        </figure>
    </article>
</section>
