    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="author" content="{{ site.author }}" />


<!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cornwallcollege">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:url" content="https://twitter.com/cornwallcollege">
    <meta name="twitter:description" content="{{site.description}}" />
    
<!-- Open Graph Protocol -->
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{site.image}}" />
    <meta property="og:url" content="https://www.cornwall.ac.uk">
    <meta name="og:description" content="{{site.description}}" />
    <meta property="og:site_name" content="The Cornwall College Group">

<!-- Google Plus -->
    <link rel="publisher" href="https://plus.google.com/+cornwallcollege/posts">

    
    {% if page.description %}
    <meta name="description" content="{{page.description }}" />
    {% else %}
    <meta name="description" content="{{site.description }}" />
    {% endif %}

    {% if page.link and page.brand == "CC" %}
        <link rel="canonical" href="https://www.cornwall.ac.uk/{{page.link }}" />
    {% elsif page.link and page.brand == "DC" %}
        <link rel="canonical" href="https://www.duchy.ac.uk/{{page.link }}" />
    {% elsif page.link and page.brand == "FMS" %}
        <link rel="canonical" href="https://www.falmouthmarineschool.ac.uk/{{page.link }}" />
    {% elsif page.link %}
        <link rel="canonical" href="https://www.cornwall.ac.uk/{{page.link }}" />
    {% endif %}