    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    
    {% if page.description %}
    <meta name="description" content="{{page.description }}" />
    {% else %}
    <meta name="description" content="{{site.description }}" />
    {% endif %}

    {% if page.link and page.brand == "CC" %}
        <link rel="canonical" href="https://www.cornwall.ac.uk/{{page.link }}" />
    {% elsif page.link and page.brand == "DC" %}
        <link rel="canonical" href="https://www.duchy.ac.uk/{{page.link }}" />
    {% elsif page.link and page.brand == "FMS" %}
        <link rel="canonical" href="https://www.falmouthmarineschool.ac.uk/{{page.link }}" />
    {% elsif page.link %}
        <link rel="canonical" href="https://www.cornwall.ac.uk/{{page.link }}" />
    {% endif %}