 <!-- menu social icons -->
        <div class="social-icons menu-social-icons col-sm-12 text-center">
            <a target='_blank' href="https://www.facebook.com/cornwallcollegeuk"><i class="fa fa-facebook fa-lg"></i></a>
            <a target='_blank' href="https://twitter.com/cornwallcollege"><i class="fa fa-twitter fa-lg"></i></a>
            <a target='_blank' href="https://www.youtube.com/user/corncoll"><i class="fa fa-youtube-play fa-lg"></i></a>
            <a target='_blank' href="https://www.instagram.com/cornwallcollege/"><i class="fa fa-instagram fa-lg"></i></a>
            <div class="main-menu-phone">CALL US: <span itemprop="telephone">0330 123 2523</span></div>
        </div>
