<section class="swiper-slide" id="dc-home-slide">
    <section class="col-xs-12 no-padding">
        <section class="container main-section-margins">

            {% if site.hash == 'duchy' %}
            <h1 class="text-uppercase" itemprop="name">What is most important to you?</h1>
            {% else %}
            <h2 class="text-uppercase" itemprop="name">What is most important to you?</h2>
            {% endif %}            <div id="home-page-select-wrap">
                <select class="home-page-select select" data-custom-class="cover_sod no_highlight">
                    <option value="#">Choose an option</option>
                    <option value="{{ site.duchy-base-url }}location-hub/index.html" data-custom-id="dc-location-hub">Where you study</option>
                    <option value="{{ site.duchy-base-url }}learning-area-hub/" data-custom-id="dc-sector-hub">What you study</option>
                    <option value="{{ site.duchy-base-url }}sector-hub/" data-custom-id="dc-next-step-hub">Your next step</option>
                    <option value="{{ site.duchy-base-url }}career-hub/" data-custom-id="dc-career-hub">Your Career path</option>
                    <option value="https://www.ccbtraining.co.uk/" data-custom-id="dc-ccb-training">Your business training needs</option>
                    <option value="course-search" data-custom-id="dc-just-search">Just give me a course search</option>
                </select>
            </div>
            <div class="course-search transition" style="display:none;">
                <form id="hidden-search-form" name="course-search" class=" hidden-search-form " role="search" method="GET" action="/search" >

                    <div class="no-padding col-xs-12 col-md-8 col-md-offset-2">

                        <a id="course-search" class="btn active search-filter"  data-name="s" data-placeholder="Course Search" data-action="'/search">Course Search</a>

                        <a id="site-search" class="btn not-active search-filter" data-name="q" data-placeholder="Search the whole site" data-action="/site-search.html">Site Search</a>

                    </div>

                    <div class="input-group margin-bottom-sm col-xs-12 col-md-8 col-md-offset-2">
                        <input class="form-control" name="s" type="text" placeholder="Course Search">
                        <input type="hidden" name="brand" value="duchycollege">

                        <div class="input-group-addon transition">
                            <button type="submit" class="search-submit"><i class="fa fa-search fa-fw"></i></button>
                        </div>
                    </div>
                </form>
                <div class="no-padding col-xs-12 search-links">
                    <div class="col-xs-6 col-sm-12 col-md-4 col-md-offset-2">
                        <a class="btn ghost light" href="{{site.url}}/leisure">Looking for a leisure course? Click here</a>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-4 ">
                        <a class="btn ghost light" href="https://www.ccbtraining.co.uk">Looking for Business Training? Click here</a>
                    </div>
                </div>
            </div>
            <div>
              <p class="lead home-lead" style="background-color:#d97852; color:#333"><strong>Severe weather update: </strong>28th Feb 2018: 6.15am - Bicton College is open today.
All other college sites are closed for students.  This includes Eden Project Learning, Cornwall College Saltash (Plymouth), Newquay, St Austell and Camborne; Falmouth Marine School, Duchy College Stoke Climsland and Duchy College Rosewarne.  Staff who live locally should work as normal, but please only travel if it is safe to do so. Staff who live at a distance from their place of work should work remotely, since it is
forecast that the weather will deteriorate later in the day.</p>
            </div>

        </section>
    </section>
    <section id="whats-on-duchy" class="plus-button" data-link="whats-on-link">
        <i class="fa fa-arrow-down swiper-button-more text-uppercase"></i>
        <section>
            <p class="text-uppercase white">check out what's happening @Duchy College</p>
        </section>
    </section>
</section>
