<section class="swiper-slide" id="fms-home-slide">
    <section class="col-xs-12 no-padding">
        <section class="container main-section-margins">

            {% if site.hash == 'falmouth' %}
            <h1 class="text-uppercase" itemprop="name">What is most important to you?</h1>
            {% else %}
            <h2 class="text-uppercase" itemprop="name">What is most important to you?</h2>
            {% endif %}
            <div class="home-page-select-wrap">
                <select class="home-page-select select" data-custom-class="cover_sod no_highlight">
                    <option value="#">Choose an option</option>
                    <option value="{{ site.falmouth-base-url }}location-hub/index.html" data-custom-id="fms-location-hub">Where you study</option>
                    <option value="{{ site.falmouth-base-url }}learning-area-hub/" data-custom-id="fms-learning-area-hub">What you study</option>
                    <option value="{{ site.falmouth-base-url }}sector-hub/" data-custom-id="fms-next-step-hub">Your next step</option>
                    <option value="{{ site.falmouth-base-url }}career-hub/index.html" data-custom-id="fms-career-hub">Your Career path</option>
                    <option value="https://www.ccbtraining.co.uk/" data-custom-id="fms-ccb-training">Your business training needs</option>
                    <option value="course-search" data-custom-id="fms-just-search">Just give me a course search</option>
                </select>
            </div>
            <div class="course-search transition" style="display:none;">
                <form id="hidden-search-form" name="course-search" class=" hidden-search-form " role="search" method="GET" action="/search" >

                    <div class="no-padding col-xs-12 col-md-8 col-md-offset-2">

                        <a id="course-search" class="btn active search-filter"  data-name="s" data-placeholder="Course Search" data-action="'/search">Course Search</a>

                        <a id="site-search" class="btn not-active search-filter" data-name="q" data-placeholder="Search the whole site" data-action="/site-search.html">Site Search</a>

                    </div>

                    <div class="input-group margin-bottom-sm col-xs-12 col-md-8 col-md-offset-2">
                        <input class="form-control" name="s" type="text" placeholder="Course Search">
                        <input type="hidden" name="brand" value="falmouthms">

                        <div class="input-group-addon transition">
                            <button type="submit" class="search-submit"><i class="fa fa-search fa-fw"></i></button>
                        </div>
                    </div>
                </form>
                <div class="no-padding col-xs-12 search-links">
                    <div class="col-xs-6 col-sm-12 col-md-4 col-md-offset-2">
                        <a class="btn ghost light" href="{{site.url}}/leisure">Looking for a leisure course? Click here</a>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-4 ">
                        <a class="btn ghost light" href="https://www.ccbtraining.co.uk">Looking for Business Training? Click here</a>
                    </div>
                </div>
            </div>
            <div>
              <p class="lead home-lead" itemprop="description">We have a diverse range of courses for all ages in locations across the southwest. Tell us what most important to you. and we will show you what we have to offer.
                  <!--At The Cornwall College Group we have a diverse offering, spanning all subjects across the southwest in both full &amp; part time options with courses ranging from hobby courses through to University level &amp; beyond-->
              </p>
            </div>

        </section>
    </section>

</section>
<section id="whats-on-falmouth" class="plus-button" data-link="whats-on-link">
    <i class="fa fa-arrow-down swiper-button-more text-uppercase"></i>
    <section>
        <p class="text-uppercase white">check out what's happening @Falmouth Marine School</p>
    </section>
</section>
