<section class="sweeper-slide" style="width:100%">
    <section class="container main-section-margins">
        <section class="col-sm-12 bar2 career-search">
           
        <div class="preview">
            <select class="well_hello_there" data-links="true"  data-placeholder-option="true" data-custom-class="cover_sod no_highlight">
                <option value="#">What</option>
                <option value="https://github.com/vestman/">GitHub</option>
                <option value="http://dribbble.com/MyBeardAndI/">Dribbble</option>
                <option value="http://twitter.com/MyBeardAndI">Twitter</option>
            </select>
            <span class="sod_select cover_sod no_highlight focus" tabindex="0" data-cycle="false" data-links="false" data-links-external="false" data-placeholder-option="true" data-filter=""><span class="sod_label sod_placeholder">Select or Die?</span><span class="sod_list_wrapper"><span class="sod_list"><span class="sod_option  selected active  is-placeholder disabled" title="Select or Die?" data-value="null">Select or Die?</span><span class="sod_option " title="What?" data-value="#intro">What?</span><span class="sod_option " title="Config" data-value="#config">Config</span><span class="sod_option " title="Methods" data-value="#methods">Methods</span><span class="sod_option " title="Download / Usage" data-value="#download">Download / Usage</span></span></span><select class="well_hello_there" data-placeholder-option="true" data-custom-class="cover_sod no_highlight">
            <option value="null" disabled="">Select or Die?</option>
            <option value="#intro">What?</option>
            <option value="#config">Config</option>
            <option value="#methods">Methods</option>
            <option value="#download">Download / Usage</option>
        </select></span>
            <select class="well_hello_there" data-placeholder-option="true" data-custom-class="cover_sod no_highlight">
            <option value="null" disabled="">Select or Die?</option>
            <option value="#intro">What?</option>
            <option value="#config">Config</option>
            <option value="#methods">Methods</option>
            <option value="#download">Download / Usage</option>
        </select>
        </div>
  
            <h1 class="text-uppercase">is the most important to you?</h1>
            <p class="lead">We have a diverse offering of courses for all ages in locations across the southwest. Tell us what most important to you.<!--At The Cornwall College Group we have a diverse offering, spanning all subjects across the southwest in both full &amp; part time options with courses ranging from hobby courses through to University level &amp; beyond--></p>
        </section>    
    </section>
    <section class="plus-button">
            <i class="fa fa-plus swiper-button-more text-uppercase"></i>
        <section>
            <p class="text-uppercase white">check out what's happening?</p>
        </section>
    </section>    
</section>    
