<section class="sweeper-slide" style="width:100%;">
    <section class="container main-section-margins">
        <section class="col-sm-12 bar2 career-search">
            <h1 class="text-uppercase">Your Career?</h1>
                <section class="col-sm-12 career-search">
                 <h2 class="text-uppercase white">WHAT’S YOUR DREAM <strong style="color:#303047;">Career</strong>?</h2>
                    <div class="col-sm-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3 ">
                        <form  class="form-horizontal" role="form" novalidate="novalidate" onsubmit="return window.restoreZoomAndScrollTo('jobs-input');" >
                            <label for="jobs-input" ><i class="fa fa-search"></i></label>
                            <input type="text" data-items="10" id="jobs-input" class="form-control" placeholder="search...">
                        </form>
                        <div><ul id="jobs-results"></ul></div>
                    </div>
                    <div class="col-sm-5 text-center col-sm-offset-1">
                        <a class="btn ghost light" onclick="window.smoothScrollTo('topOfClusters');"><span>Not sure, browse our</span>&nbsp;<span><strong>Subjects</strong></span></a>
                    </div>
                    <div class="col-sm-5  text-center">
                        <a class="btn ghost light" href="/career-help"><span>or, book now for your</span>&nbsp;<span><strong>free</span>&nbsp;<span></strong>20 minute consultation</span></a>
                    </div>
                </section>
        </section>    
    </section>
    <section class="plus-button">
        <a href="/career-hub/index.html"><i class="fa fa-plus text-uppercase"></i></a>
            <section>
                <p class="text-uppercase white">more</p>
            </section>
    </section>
</section>    
