<section class="sweeper-slide" style="width:100%">
    <section class="container main-section-margins">
        <section class="col-sm-12 bar2 career-search">
            <h1 class="text-uppercase">What's most important to you?</h1>
            <p class="lead">You can find what's important to you at our College, hit the arrow on the right<!--At The Cornwall College Group we have a diverse offering, spanning all subjects across the southwest in both full &amp; part time options with courses ranging from hobby courses through to University level &amp; beyond--></p>
        </section>    
    </section>
    <section class="plus-button">
            <i class="fa fa-plus swiper-button-more text-uppercase"></i>
        <section>
            <p class="text-uppercase white">check out what's happening?</p>
        </section>
    </section>    
</section>    
