<section class="sweeper-slide">
    <section class="container main-section-margins">
        <section class="col-sm-12 bar2 career-search">
            <h1 class="text-uppercase">Where you study?</h1>
            <p class="lead">You can study at any of our campuses across the Southwest, click below to see more</p>
        </section>    
    </section>
    <section class="plus-button">
            <i class="fa fa-plus swiper-button-more text-uppercase"></i>
        <section>
            <p class="text-uppercase white">more</p>
        </section>
    </section>
</section>    