<section class="sweeper-slide" id="fms-home-slide" style="width:100%">
    <section class="container main-section-margins">
        <section class="col-sm-12 "style="padding:0;">
           
        <div>          
            <h1 class="text-uppercase">What is most important to you?</h1>
            <div id="home-page-select-wrap" >
                <select id="home-page-select" class="select" data-custom-class="cover_sod no_highlight">
                    <option value="#">Select</option>
                        <option value="/location-hub/index.html">Where you study</option>
                        <option value="/learning-area-hub/">What you study</option>
                        <option value="/sector-hub/">Your next step</option>
                        <option value="/career-hub/index.html">Your Career path</option>
                        <option value="course-search">Just give me a course search</option>
                </select>
            </div>    
            <div class="course-search transition" style="display:none;">
                <form name="course-search" id="hidden-search-form" class="course-search" role="search" method="GET" action="//network.cornwall.ac.uk/" _lpchecked="1"> 
                    <div class="input-group margin-bottom-sm col-xs-12 col-md-8 col-md-offset-2"> <!--<input name="s" value="search" type="hidden" />--> 
                        <input class="form-control" name="s" type="text" placeholder="Course Search"> 
                        <div class="input-group-addon transition">
                            <button type="submit" class="search-submit"><i class="fa fa-search fa-fw"></i></button>
                        </div>
                    </div> 
                </form>
            </div>
            <div>    
                <p class="lead home-lead">We have a diverse range of courses for all ages in locations across the southwest. Tell us what most important to you. and we will show you what we have to offer.<!--At The Cornwall College Group we have a diverse offering, spanning all subjects across the southwest in both full &amp; part time options with courses ranging from hobby courses through to University level &amp; beyond--></p>
            </div>             
        </div>
   
        </section>
    </section>
  
</section>    
<section id="whats-on-falmouth" class="plus-button">
        <i class="fa fa-arrow-down swiper-button-more text-uppercase"></i>
    <section>
        <p class="text-uppercase white">check out what's happening @Falmouth Marine School</p>
    </section>
</section>  