<section class="sweeper-slide" style="width:100%">
    <section class="container main-section-margins">
        <section class="col-sm-12 bar2 career-search">
           
        <div>          
            <h1 class="text-uppercase">    
                <select class="well_hello_there" data-links="true"  data-placeholder-option="true" data-custom-class="cover_sod no_highlight">
                    <option value="#">Select What</option>
                        <option value="https://github.com/vestman/">Where I study</option>
                        <option value="http://dribbble.com/MyBeardAndI/">What I study</option>
                        <option value="http://twitter.com/MyBeardAndI">How I study</option>
                        <option value="/career-hub/index.html">My Career path</option>
                </select>
                is most important to you???
            </h1>
        </div>
        <div>    
            <p class="lead">We have a diverse offering of courses for all ages in locations across the southwest. Tell us what most important to you. and we will show you what we have to offer.<!--At The Cornwall College Group we have a diverse offering, spanning all subjects across the southwest in both full &amp; part time options with courses ranging from hobby courses through to University level &amp; beyond--></p>
        </div>    
        </section>    
    </section>
    <section class="plus-button">
            <i class="fa fa-plus swiper-button-more text-uppercase"></i>
        <section>
            <p class="text-uppercase white">check out what's happening?</p>
        </section>
    </section>    
</section>    
