<section class="container">

    <section class="swiper-button-less less-button" style="position:relative; top:5px;">
            <i class="fa fa-minus text-uppercase"></i>
        <section>
            <p class="text-uppercase white">Less</p>
        </section>
    </section>  
    <section class="whats-on-wrap">
        <h1 class="text-uppercase">whats on?</h1>
        
<ul id="isotope_filters">
    <li><a data-filter="*" href="#">show all</a></li>
    <li><a data-filter=".facebook" href="#">facebook</a></li>
    <li><a data-filter=".twitter" href="#">twitter</a></li>
</ul>
        <div class="social-feed-container grid">
        </div>
    </section>    
</section>
