<!-- BROWSE BY section -->
<section class="col-xs-12 two-options no-padding no-margin">
  <div class="first-half col-sm-6">
    <h2 style="color:#fff">{{ include.first-half-text }}</h2>
    <a style="color:white">Talk direct to a programme manager about the course
    <a href="{{ include.first-half-link }}" class="btn">{{ include.first-half-button }}</a>
  </div>
  <div class="second-half col-sm-6">
    <h2 style="color:#333">{{ include.second-half-text }}</h2>
    <a href="{{ include.second-half-link }}" class="btn">{{ include.second-half-button }}</a>
  </div>
</section>
<!-- BROWSE BY section ENDS-->
