---
layout: career-page
title: Music &amp; Performing Arts
description: Find out more about starting a career in the media digital and creativity sector at The Cornwall College Group
career: media-digital-creativity
link: course-subjects/arts-media-performing-arts
brand: CC
background-image: /images/area-banners/media-digital-creativity-desktop.jpg
campuscodes: A,C,M
schema: https://schema.org/course

staff-name: Rory Mason
staff-role: team lead - digital media
staff-photo: /images/staff/rory-mason.jpg
staff-text: Previous students have worked their way up through the industry to become executive producers on a range of shows from X factor to American Idol and that's down to the very practical nature of our courses that give our students the skills             to succeed.

alumni-name: Jake Moyle
alumni-role: professional dancer
alumni-photo: /images/alumni/cultral-visitor/music-performing/jake-moyle.jpg
alumni-text: Jake trained at Cornwall College. He went onto achieve a BA Hons degree at London Studio Centre. Jake has danced for Madonna and Take That

student-name1: Michaela Drew
student-role1:
student-photo1: /images/students/cultral-visitor/music-performing/michaela-drew.jpg
student-text1: I've always wanted to go into performing arts. The atmosphere at Cornwall College was so much more welcoming than other colleges I applied to and everyone's really friendly here. When I finish my Extended Diploma in Performing Arts I want to go to acting school in London and eventually work as an actress.

student-name2: Tom Dunn
student-role2:
student-photo2: /images/students/cultral-visitor/music-performing/tom-dunn.jpg
student-text2: I heard how good the dance course was from current and previous students, and attended a taster day at the College and saw how good it was for myself. The dance studios are reat and the tutors offer good constructive criticism and praise. I am really happy that I decided to study dance at Cornwall College.

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Actor, Entertainer or Presenter
  career-paragraph: Actors, entertainers and presenters sing, portray roles in dramatic productions, and introduce and present radio and television programmes.
  jobs-now: 3273
  jobs-future: 3446
  starting-salary: 18000
  hashtag: actor

- career-number: 2
  career-title: Artist
  career-paragraph: Artists create artistic works using appropriate techniques, materials and media; design artwork and illustrations; and restore damaged pieces of art.
  jobs-now: 3946
  jobs-future: 4357
  starting-salary: variable
  hashtag: artist

- career-number: 3
  career-title: Arts Officer, Producer or Director
  career-paragraph: Arts officers, producers and directors assume creative, financial and organisational responsibilities in the production and direction of television and radio programmes, films, stage presentations, content for other media, and the promotion and exhibition of other creative activities.
  jobs-now: 4806
  jobs-future: 5247
  starting-salary: 18000-25000
  hashtag: arts

- career-number: 4
  career-title: Dancer or Choreographer
  career-paragraph: Dancers and choreographers devise, direct, rehearse and perform classical and contemporary dance routines.
  jobs-now: 1788
  jobs-future: 1977
  starting-salary: variable
  hashtag: choreographer

- career-number: 5
  career-title: Musician
  career-paragraph: Musicians write, arrange, orchestrate, conduct and perform musical compositions.
  jobs-now: 3215
  jobs-future: 3505
  starting-salary: variable
  hashtag: musican

- career-number: 6
  career-title: Product, Clothing or Related Products Designer
  career-paragraph: Product, clothing and related designers plan, direct and undertake the creation of designs for new industrial and commercial products, clothing and related fashion accessories, costumes and wigs, and for building interiors and stage sets.
  jobs-now: 4794
  jobs-future: 5317
  starting-salary: 17000
  hashtag: clothing-designer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Our industry focus is evident, with strong collaboration and partnerships in all creative areas. Our media students repeatedly win countless awards for their film projects, including awards from the Cornwall Film Festival and the Royal Television Society." p2="Our facilities are outstanding and include artist pods, media and performance spaces, music practise and recording studios, The Keay Theatre, professional dance studios, dedicated DJ areas through dBs Music and surround sound lecture spaces." %}

<section class="container">{% youtube https://youtu.be/P3fQLOiJ0YU %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Creative Media students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='dancers can earn on average £22k+' stat2='top record producers can earn £100k+' stat3='there are 5,480 businesses in the performing arts sector' stat4='101,593 people working in the performing arts sector'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Performing Arts Extended Diploma' infoLink1='?courses=performing-arts-extended-diploma' courseTitle2='Music Production &amp; Live Sound Extended Diploma' infoLink2='?courses=music-production-live-sound-extended-diploma' courseTitle3='Music Performance Extended Diploma' infoLink3='?courses=music-performance-extended-diploma' courseTitle4='Musical theatre extended diploma' infoLink4='?courses=musical-theatre-extended-diploma' courseTitle5='Dance Extended Diploma' infoLink5='?courses=dance-extended-diploma' %}
