---
layout: career-page
title: Land-based Engineering &amp; Technology
description: Find out more about starting career in the Agriculture and Horticulture industry at The Cornwall College Group
career: agriculture-horticulture
link: course-subjects/agriculture
brand: DC
background-image: /images/area-banners/agriculture-horticulture-mobile.jpg
campuscodes: R,D,B
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Enjoy working outside and find farm work, livestock and machinery interesting? Then you should consider a career in agriculture. Or if plants, their growth, sustainability and making the environment beautiful are close to your heart a career in horticulture could be for you.' %}

<section class="container">
    <artical class="col-sm-6">{% youtube https://youtu.be/XyeoUD8OGEk %}</artical>
    <artical class="col-sm-6">{% youtube https://youtu.be/A80YkPPT3Yk %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Agricultural Machinery Driver' paragraph='Operate and drive tractors, combine harvesters or other farm vehicles to clear and cultivate land and to sow and harvest plants and crops.' jobsIn='the Southwest' jobsNow=786 jobsFuture=800 startingSalary=12000 hashtag=agricultural-machinery-driver %}

{% include /career/career-example-job.html number='2' title='Farm Worker' paragraph='Farm workers perform a variety of tasks, by hand and machine, to produce and harvest crops and to breed and rear cattle, sheep, pigs and poultry.' jobsIn='the Southwest' jobsNow=7014 jobsFuture=7142 startingSalary=13000 hashtag=farm-worker %}

{% include /career/career-example-job.html number='3' title='Farmer' paragraph='Farmers and related occupations cultivate arable crops, fruits and trees, and raise cattle, sheep, pigs, poultry and other livestock for consumption.' jobsIn='the Southwest' jobsNow=22383 jobsFuture=21839 startingSalary=20000 hashtag=farmer %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}
    
{% include /career/staff-profile.html image="/images/staff/robb-dunn.jpg" name='Rob Dunn' role="Head of Land-Based &amp; Food Studies" about="Food and farming expert Rob Dunn has recently joined the leadership team for Duchy and Bicton College and has taken on the role of curriculum lead, overseeing education provision across the region and projects such as the new Future Farm scheme; the £10 million creation of a new skills centre, dairy unit and pioneering research centre at Duchy College Stoke Climsland. Rob has worked at a number of land-based colleges around the UK. Rob also presents a weekly farming show for a Cornish radio station and is a judge for the British Farming Awards." %}

{% include /career/student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Name' studentRole1='role' studentQuote1="Student Quote" studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include /career/career-stats.html begin1='Our agriculture courses have an' percent1=89.1 end1='success rate.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %} 
