<section class="col-md-12 main-section-margins intro">
  <section class="container">
    <article class="col-sm-12 col-md-3 left">
        <h2><strong>LATEST</strong> VACANCIES</h2>
        <p class="lead">We have many vacancies available throughout the year, click the link to see them listed on the National Apprenticeship Service.</p> 
        <p class="lead">Not seen anything for you right now? Register with our Recruitment Service today and we’ll send you the latest vacancies that suit your profile, when they become available.
        <a href="{{site.course_site_baseurl}}apprenticeship-recruitment-service-form/" class="btn ghost">Click to Register</a>
        </p>
    </article>
    
    <article class="col-sm-12 col-md-8 col-md-offset-1 clearfix right apprenticeships">
        <div class="main">
            <ul id="og-grid" class="og-grid"> 
                {% for apprenticeship in site.data.apprenticeships %}
                            {% include /apprenticeship/apprenticeship-vacancy.html %}
                {% endfor %}
            </ul>
        </div>    
        
    </article>
  </section>
</section>