$(document).ready(function () {

//======================  Search filters  =================================
    // Create the dropdown base
    $("<select />").appendTo(".search-filters");

    // Create default option "Go to..."
    $("<option />", {
       "selected": "selected",
       "value"   : "",
       "text"    : "Change Search..."
    }).appendTo(".search-filters select");

    // Populate dropdown with menu items
    $(".search-filters a").each(function() {
     var el = $(this);
     $("<option />", {
         "value"             : el.attr("href"),
         "text"              : el.text(),
         "data-name"         : el.attr("data-name"),
         "data-action"       : el.attr("data-action"),
         "data-placeholder"  : el.attr("data-placeholder")
     }).appendTo(".search-filters select");
    });

    // Search form update on click
    $( ".search-filter" ).click(function() {
        //get data from link
        var name = $(this).data('name');
        var action = $(this).data('action');
        var placeholder = $(this).data('placeholder');

        $('#search-form').attr('action', action );
        $('.form-control').attr("placeholder", placeholder);
        $('.form-control').attr("name", name);
        $( this ).addClass("active").removeClass( "not-active" );
        $(this).siblings().removeClass( "active" ).addClass("not-active");
    });

    //Watch for value change on select
    $('.search-filters select').on('change', function() {
        //get data from link
        var name = $(this).find(':selected').data('name');
        var action = $(this).find(':selected').data('action');
        var placeholder = $(this).find(':selected').data('placeholder');

        $('#search-form').attr('action', action );
        $('.form-control').attr("placeholder", placeholder);
        $('.form-control').attr("name", name);

    });
//======================  Search filters ENDS  =================================

    //ajax in global menu items
    $("#main-menu").load("/global-menu.html");
    $("#footer").load("/global-footer.html");

    //ask a question
    $(document).on("click", "#question", function (e) {
        var pageURL = $(location).attr("href");
        e.preventDefault();
        window.location.href = $(this).attr("href") + 'referrer=' + pageURL;
    });

    //set brand from site config
    Cookies.set('brand', '#{{site.hash}}' );
    Cookies.set('course-brand', '#{{site.hash}}', {
        domain: '{{site.cookie-domain}}'
    });


    if(is_IOS()){
        //background:; cover fix
        $('.jumbotron').css({ 'background-size': "initial" });
        $('.fulltime-bar').css({ 'background-size': "initial", 'background-attachment': "initial", });
    }

    function is_IOS() {
      var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
        return isIOS;
    }
});


    // resposive logo; first click open second click follow link
    $('.brand-image').click(function (e) {
        var scroll = $(window).scrollTop();
        var window = $( window ).width();
        if (scroll >= 301 || screen.width <= 600){

            if (!$('#logo-wrap').children().hasClass('active')) {
                //$('#logo-wrap').removeClass('active');
                $('#logo-wrap').children().addClass('active');
                e.preventDefault();
            } else {
                $('#logo-wrap').children().removeClass('active');
               return true;
            }

        }
    });


// click off and collapse
$(document).click(function (e) {
    if ($(e.target).is('.brand-image') === false) {
        $("#logo-wrap").children().removeClass("active");
    }
});

/* Shrink logo on scroll */
$(function () {
    var logoWrap = $("#logo-wrap");
    var currentBrand = $(".current-brand");
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 300) {
            //if page scrolls add scroll class and remove active class
            logoWrap.removeClass("logo-wrap").addClass("logo-wrap-scroll");
            currentBrand.addClass("current-brand-scroll");
            $("#logo-wrap").children().removeClass("active");

            // Add click to expand logo cluster
            $(".brand-image").click(function () {
                logoWrap.removeClass("logo-wrap-scroll")
            });

            //add active class to white bg behind logos (slides down)
            $('#white-nav-bg').addClass('active');
        } else {
            // if its at the top of the page
            logoWrap.removeClass("logo-wrap-scroll").addClass('logo-wrap');
            //remove active class at the top of the page
            $('#white-nav-bg').removeClass('active');

        }


    });
});


/* SUPER SLIDES OPTIONS */
if ($("#slides").length) {
    $('#slides').superslides({
        animation: 'fade',
        play: 5000
    });
}

/* BACK BUTTON */
function goBack() {
    window.history.back()
}
/* BACK BUTTON ENDS*/

"use strict";

cc = {};

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function incrementCount(counter) {
    var max = Number($(counter).attr("data-count-to"));
    var stepSize = Number($(counter).attr("data-count-step"));
    var numberText = $(counter).html();
    var current = Number(numberText.replace(',', '').replace('£', ''));
    var prefix = '';
    if (numberText.substring(0, 1) === '£') {
        prefix = '£';
    }
    if (current < max) {
        var nextNumber = current + stepSize
        var nextNumber = Number(nextNumber.toFixed(0));
        if (nextNumber > max) {
            nextNumber = Number(max.toFixed(0));
        }
        $(counter).html(prefix + numberWithCommas(nextNumber));
        window.setTimeout(function () {
            incrementCount(counter)
        }, 10);
    }
}

(function ($) {


    $(document).ready(function () {
    /* Set brand cookie on home */
        $('.logo').removeClass('current-brand');
        $('.logo').addClass('sub-brand grow');
        $( Cookies.get('brand') ).removeClass('grow');
        $( Cookies.get('brand') ).addClass('current-brand');
        //bring the active logo to the front
        $( Cookies.get('brand') ).css("z-index", "999");

        //apply z-index to correctly stack the logos
        var offset = 1;
        $( Cookies.get('brand') ).prevAll().each(function(index){
           $(this).css("z-index", 999 - offset);
            offset++;
        });
        $( Cookies.get('brand') ).nextAll().each(function(index){
           $(this).css("z-index", 999 - offset);
            offset++;

        });


        $('#loader').fadeOut(400);
        /*
            $(window).load(function() { // makes sure the whole site is loaded

            var hash = location.hash.replace('#', '').toLowerCase();
            if(hash.length)
            {
                showPopup(hash);
            }
        */

       /* EXPANDER GRID INITIALIZER (used in location facilities) */
       if ( $( "#og-grid" ).length ) {
          Grid.init();
       }

       /* FULL-TIME-HUB - Job Lookup */

       if (location.pathname.indexOf("career-hub") !== -1) {
           SimpleJekyllSearch.init({
               searchInput: document.getElementById('jobs-input'),
               resultsContainer: document.getElementById('jobs-results'),
               dataSource: '/data/jobs.json',
               searchResultTemplate: '<li><a href="/career-pages/{url}/index.html" title="{title}">{title}</a></li>',
               noResultsText: '<li>None found, please choose from below</li>',
               limit: 10,
               fuzzy: false,
           })
       }


    });


    /* MENU TOGGLING - 1.7 update*/
    if ($("#cbp-spmenu-s2").length) {
        var openRightPush = document.getElementById('openRightPush'),
            menuRight = document.getElementById('cbp-spmenu-s2'),
            body = document.body;

        openRightPush.onclick = function () {
            classie.toggle(this, 'active');
            $('.menu-icon > i').toggleClass("fa-bars");
            $('.menu-icon > i').toggleClass("fa-times");
            $('.menu-text').html($('.menu-text').html() == 'MENU' ? 'CLOSE' : 'MENU');
            classie.toggle(menuRight, 'cbp-spmenu-open');
        };

    }

    /* the id="menu-container" has to be added to the one-page template,
       to the <div class="container"> of the <nav id="cbp-spmenu-s2">

    */

    if ($("#menu-container").length) {
        var menuContainer = document.getElementById('menu-container'),
            menuRight = document.getElementById('cbp-spmenu-s2'),
            body = document.body;

        menuContainer.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(menuRight, 'cbp-spmenu-open');
        };

    }

    /* end of 1.7 update */

    /* ISOTOPE FOR PORTFOLIO ITEMS */
    if ($("#career-grid").length) {
        var $container = $('#career-grid').imagesLoaded(function () {
            var isotope = function () {
                $container.isotope({
                    resizable: false,
                    itemSelector: '.entry'
                });
            };
            isotope();
        });

        $('div.career-filter ul a').click(function () {
            var selector = $(this).attr('data-filter');
            if (selector) {
                $('html, body').animate({
                    scrollTop: $('#career-grid-anchor').offset().top
                }, 500);
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            }
            return true;
        });

        var $optionSets = $('div.career-filter ul'),
            $optionLinks = $optionSets.find('a');
        $optionLinks.click(function () {
            var $this = $(this);
            // don't proceed if already selected
            if ($this.hasClass('selected')) {
                return false;
            }
            var $optionSet = $this.parents('div.career-filter ul');
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');
        });

        $container.isotope({
            filter: "load",
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        var thenDoThis1 = function (e, p) {
            if ($(window).width() <= 480) {
                e.style.opacity = Math.min(1, p);
                return;
            }
            if ($(window).width() <= 1024) {
                e.style.opacity = Math.min(1, p * 1.5);
            }
        };
        window.trackScrollAndMouseDistance("auto-hover", thenDoThis1, 6, 33);

        var thenDoThis2 = function (e, p) {
            if ($(window).width() <= 480) {
                e.style.opacity = 0.25 + Math.max(0, p);
            }
        };
        window.trackScrollAndMouseDistance("cluster-hover", thenDoThis2, 3, 50);

    }

    /* CAREER-slide - Job Lookup */
    $(document).ready(function () {
        if (location.pathname === "career-pages") {
            SimpleJekyllSearch.init({
                searchInput: document.getElementById('jobs-input'),
                resultsContainer: document.getElementById('jobs-results'),
                dataSource: '/data/jobs.json',
                searchResultTemplate: '<li><a href="/career-pages/{url}/index.html" title="{title}">{title}</a></li>',
                noResultsText: '<li>None found, please choose from below</li>',
                limit: 10,
                fuzzy: false,
            })
        }


    /* CAREER PAGES */
        if (location.pathname.indexOf("career-pages") !== -1 ) {

            $(document).on("click", "[aria-expanded]", function (event) {
                var item = $(this).attr("aria-controls");
                if ($("#" + item).hasClass("in") === false) {
                    $("#" + item).find(".counter").each(function () {
                        var countTo = 0;
                        if ($(this).attr("data-count-to") == undefined) {
                            var max = Number($(this).html().replace(",", "").replace('£', ''));
                            $(this).attr("data-count-to", max);
                            var stepSize = max / 2 / 100;
                            $(this).attr("data-count-step", stepSize);
                        }
                        var html = $(this).html();
                        if (html.substring(0, 1) === '£') {
                            $(this).html("£0");
                        } else {
                            $(this).html("0");
                        }
                        countTo = $(item).attr("data-count-to");
                        incrementCount(this);
                    });
                }
            });



        }
    });
    if (location.pathname.indexOf("16-18-hub") !== -1 ) {

        /*!
        * jquery.counterup.js 1.0
        *
        * Copyright 2013, Benjamin Intal http://gambit.ph @bfintal
        * Released under the GPL v2 License
        *
        * Date: Nov 26, 2013
        */
        (function(e) {
            "use strict";
            e.fn.counterUp = function(t) {
                var n = e.extend({
                    time: 400,
                    delay: 10
                }, t);
                return this.each(function() {
                    var t = e(this)
                      , r = n
                      , i = function() {
                        var e = []
                          , n = r.time / r.delay
                          , i = t.text()
                          , s = /[0-9]+,[0-9]+/.test(i);
                        i = i.replace(/,/g, "");
                        var o = /^[0-9]+$/.test(i)
                          , u = /^[0-9]+\.[0-9]+$/.test(i)
                          , a = u ? (i.split(".")[1] || []).length : 0;
                        for (var f = n; f >= 1; f--) {
                            var l = parseInt(i / n * f);
                            u && (l = parseFloat(i / n * f).toFixed(a));
                            if (s)
                                while (/(\d+)(\d{3})/.test(l.toString()))
                                    l = l.toString().replace(/(\d+)(\d{3})/, "$1,$2");
                            e.unshift(l)
                        }
                        t.data("counterup-nums", e);
                        t.text("0");
                        var c = function() {
                            t.text(t.data("counterup-nums").shift());
                            if (t.data("counterup-nums").length)
                                setTimeout(t.data("counterup-func"), r.delay);
                            else {
                                delete t.data("counterup-nums");
                                t.data("counterup-nums", null);
                                t.data("counterup-func", null)
                            }
                        };
                        t.data("counterup-func", c);
                        setTimeout(t.data("counterup-func"), r.delay)
                    };
                    t.waypoint(i, {
                        offset: "100%",
                        triggerOnce: !0
                    })
                })
            }
        })(jQuery);

        /* FUN FACTS COUNTERS */

         if ( $( ".counter" ).length ) {
           $('.counter').counterUp({
               delay: 10,
               time: 1000
           });
         }
    }


    if (location.pathname.indexOf("university-hub", "about-pages", "career-hub") !== -1 ||
       location.pathname.indexOf("about-pages") !== -1 ||
       location.pathname.indexOf("career-hub") !== -1) {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
    }

    $(function () {
        window.smoothScrollTo = function (id) {
            $('html, body').animate({
                scrollTop: $('#' + id).offset().top - 50
                //scrollTop: $('#' + id).offset().top
            }, 500);
            return false;
        }
    });

    $(function () {
        window.desktopRedirectOrMobileSmoothScrollTo = function (id, url) {
            if ($(window).width() <= 480) {
                $('html, body').animate({
                    scrollTop: $('#' + id).offset().top - 50
                }, 500);
            } else {
                window.location.href = url;
            }
            return false;
        };
    });

    $(function () {
        window.restoreZoomAndScrollTo = function (id) {
            //var scale = 'scale(1)';
            //document.body.style.webkitTransform =  scale;    // Chrome, Opera, Safari
            //document.body.style.msTransform =   scale;       // IE 9
            //document.body.style.transform = scale;
            $('#' + id).blur();
            window.smoothScrollTo(id);
            return false;
        };
    });

    // prevent default action on example career expand
    jQuery('.collapsed').bind('click', function (e) {
        e.preventDefault();
    });

})(jQuery);



//Campus Google Map script

$(document).ready(function () {
    //GOOGLE MAP
    if (location.pathname.indexOf("career-pages") !== -1 ||
        location.pathname.indexOf("location-hub") !== -1 ||
        location.pathname.indexOf("access-hub") !== -1 ||
        location.pathname.indexOf("location-pages") !== -1) {
        function initMap() {
            var map = new google.maps.Map(document.getElementById('gmap_canvas'), {
                zoom: 9,
                center: {
                    lat: 50.304513,
                    lng: -5.000000
                },
                scrollwheel: false,
                styles: [
                    {
                        "featureType": "administrative",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "road",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "landscape",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [{ "saturation": -13 },
                            { "color": "#52b3d9" },
                            { "visibility": "on" }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [{ "color": "#ffffff" },
                            { "visibility": "on" },
                            { "weight": 5.2 }]
                    }
                ]


            });
            if (location.pathname.indexOf("location-pages") !== -1) {
                var map = new google.maps.Map(document.getElementById('gmap_canvas'), {
                    zoom: 9,
                    center: {
                        lat: 50.304513,
                        lng: -5.000000
                    },
                    scrollwheel: false,
                    styles: [

                        {
                            "featureType": "poi",
                            "stylers": [{ "visibility": "off" }]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry.fill",
                            "stylers": [{ "color": "#ffffff" },
                                { "visibility": "on" },
                                { "weight": 5.2 }]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [{ "saturation": -13 },
                                { "color": "#52b3d9" },
                                { "visibility": "on" }]
                        }
                    ]
                });
            };

            map.fitBounds(setMarkers(map));

        }

        function setMarkers(map) {
            var bounds = new google.maps.LatLngBounds();

            // Data for the markers consisting of a name, a LatLng and a zIndex for the
            // order in which these markers should display on top of each other.

            //init the info window and set the max width
            var infowindow = new google.maps.InfoWindow({
                maxWidth: 200
            });

            //Loop through the locations
            for (var i = 0; i < campuses.length; i++) {
                var campus = campuses[i];
                var marker = new google.maps.Marker({
                    position: {
                        lat: campus[1],
                        lng: campus[2]
                    },
                    map: map,
                    //icon: image,
                    //shape: shape,
                    title: campus[0],
                    anchor: campus[4]
                    //zIndex: beach[3]
                });
                if (location.pathname.indexOf("location-hub") !== -1) {

                    // stuff just for the location hub map
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            //window.location.href = this.anchor;
                            //window.smoothScrollTo = this.anchor;
                            window.smoothScrollTo(this.anchor)
                        }
                    })(marker, i));

                } else if (location.pathname.indexOf("location-pages") !== -1) {

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<h4>' + campuses[i][0] + '</h4>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));

                } else if (location.pathname.indexOf("access-hub") !== -1) {

                  google.maps.event.addListener(marker, 'click', (function (marker, i) {
                      return function () {
                          infowindow.setContent('<h4>' + campuses[i][0] + '</h4>' + '<a href="' + campuses[i][5] + '" class="btn campus-button">View Access Courses at this campus</a>');
                          infowindow.open(map, marker);
                      }
                  })(marker, i));

                } else {

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<h4>' + campuses[i][0] + '</h4>' + '<a href="' + campuses[i][3] + '" class="campus-button">Visit our campus site</a>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));

                }

                bounds.extend(marker.getPosition());

            }

            // Don't zoom in too far on only one marker
            if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
                var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.01, bounds.getNorthEast().lng() + 0.01);
                var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.01, bounds.getNorthEast().lng() - 0.01);
                bounds.extend(extendPoint1);
                bounds.extend(extendPoint2);
            }

            return bounds;


        }

        google.maps.event.addDomListener(window, 'load', initMap);
    };



});

   /* JCAROUSEL RESPONSIVENESS */
   $(function() {
       if ( $( ".jcarousel" ).length ) {
         var jcarousel = $('.jcarousel');

         jcarousel
             .on('jcarousel:reload jcarousel:create', function () {
                 var width = jcarousel.innerWidth();

                 if (width >= 768) {
                     width = width / 4;
                 } else if (width >= 450) {
                     width = width / 2;
                 }

                 jcarousel.jcarousel('items').css('width', width + 'px');
             })
             .jcarousel({
                 wrap: 'circular'
             });

         $('.jcarousel-control-prev')
             .jcarouselControl({
                 target: '-=1'
             });

         $('.jcarousel-control-next')
             .jcarouselControl({
                 target: '+=1'
             });

         $('.jcarousel-pagination')
             .on('jcarouselpagination:active', 'a', function() {
                 $(this).addClass('active');
             })
             .on('jcarouselpagination:inactive', 'a', function() {
                 $(this).removeClass('active');
             })
             .on('click', function(e) {
                 e.preventDefault();
             })
             .jcarouselPagination({
                 perPage: 1,
                 item: function(page) {
                     return '<a href="#' + page + '">' + page + '</a>';
                 }
             });
       }
   });

$(document).ready(function(){
    if(location.pathname.indexOf("apprenticeship-hub") !== -1){
        var job_of_the_week_feed = "https://www.cornwall.ac.uk/student-support/feed/?post_type=job_of_the_week";
        //var job_wrap = $("#job-of-the-week").attr("data-event-campus-id");

        var jobfeedurl = job_of_the_week_feed;
        $.get(jobfeedurl, function (data) {
            var $RSS = $(data);
            $RSS.find("item").each(function () {

                var $this = $(this),
                    item = {
                        title: $this.find("title").text(),
                        link: $this.find("job_link").text(),
                        description: $this.find("description").text(),
                        pubDate: $this.find("pubDate").text(),
                        appType: $this.find("job_apprenticeship_type").text(),
                        businessName: $this.find("job_business_name").text(),
                        jobPostcode: $this.find("job_location_postcode").text(),
                        closeDate: $this.find("job_closing_date").text(),
                        wage: $this.find("job_wage").text(),

                    };

                var event = $('<div/>').addClass("owl-item");
                var article = $('<article/>').addClass("transition text-center");
                var link = item.link;

                $(event).append((article).append($('<h3/>').text(item.title)));
                $(event).append((article).append($('<p/>').text("Company Name: "+item.businessName).addClass("businessName")));
                $(event).append((article).append($('<p/>').text("Wage: £"+item.wage).addClass("wage")));
                $(event).append((article).append($('<p/>').text("Closing Date: "+item.closeDate).addClass("closeDate ")));
                $(event).append((article).append("<a href='" + item.link + "' title='" + item.title + "' class='btn pull-right'>View full details</a>"));
                $(".job-carousel").append(event);
                //etc...

                $("#jobs-carousel").show();
                $("#job-of-the-week").show();


            });

                if ($("#jobs-carousel").length) {
                    $('#jobs-carousel').owlCarousel({
                        items: 1,
                        margin: 10,
                        //loop: true,
                        loop: $('#jobs-carousel').children().length > 1,
                        //nav: $('#event-carousel').children().length > 1,
                        animateOut: 'fadeOut',
                        autoplay: true,
                    });
                }

        });
    }

    if ( location.pathname.indexOf("location-pages") !== -1 || location.pathname.indexOf("apprenticeship-hub") !== -1 || location.pathname.indexOf("university-hub") !== -1 ||
    location.pathname.indexOf("16-18-hub") !== -1  ) {
        //jQuery RSS parse for events on campus pages

        var campus_id = $("#event-carousel").attr("data-event-campus-id");

        if (location.pathname.indexOf("apprenticeship-hub") !== -1){
            var event_filter = "https://www.cornwall.ac.uk/events/whats-on/category/apprenticeship-event/feed/";
        } else if (location.pathname.indexOf("university-hub") !== -1){
            var event_filter = "https://www.cornwall.ac.uk/events/whats-on/category/university/feed/";
        } else if (location.pathname.indexOf("16-18-hub") !== -1){
            var event_filter = "https://www.cornwall.ac.uk/events/whats-on/category/16-18-event/feed/";
        } else {
            var event_filter = "https://www.cornwall.ac.uk/events/whats-on/feed/?post_type=tribe_events&venue=" + campus_id;
        }

        var rssurl = event_filter;
        $.get(rssurl, function (data) {
            var $XML = $(data);
            $XML.find("item").each(function () {

                var $this = $(this),
                    item = {
                        title: $this.find("title").text(),
                        link: $this.find("link").text(),
                        description: $this.find("description").text(),
                        pubDate: $this.find("pubDate").text(),
                        author: $this.find("author").text(),
                        organizer: $this.find("organizer").text(),
                        venue: $this.find("venue").text(),
                        enddate: $this.find("enddate").text(),
                        startdate: $this.find("startdate").text(),
                        category: $this.find("category").text(),

                    };

                var event = $('<div/>').addClass("owl-item");
                var article = $('<article/>').addClass("transition text-center");
                var link = item.link;

                $(event).append((article).append($('<h3/>').text(item.title)));
                $(event).append((article).append($('<p/>').text(item.organizer).addClass("organizer")));
                $(event).append((article).append($('<p/>').text(item.venue).addClass("venue")));
                $(event).append((article).append($('<p/>').text(item.startdate).addClass("startdate ")));
                if (item.enddate) { $(event).append((article).append($('<p/>').text(item.enddate).addClass("enddate "))); }
                $(event).append((article).append("<a href='" + item.link + "' title='" + item.title + "' class='btn pull-right'>View event details</a>"));
                $(".event-carousel").append(event);
                //etc...

                $("#event-carousel").show();
                $("#no-events").hide();

            });

            if ($("#event-carousel").length ) {
                $('#event-carousel').owlCarousel({
                    items: 1,
                    margin: 10,
                    //loop: true,
                    loop: $('#event-carousel').children().length > 1,
                    //nav: $('#event-carousel').children().length > 1,
                    animateOut: 'fadeOut',
                    autoplay: true,
                });
            }
        });
    }
});


/*------------------- Download  filer ISOTOPE ----------------------*/
if (location.pathname.indexOf("about-pages") !== -1) {
    // init Isotope
    var $grid = $('#download-list').isotope({
      itemSelector: '.download',
      layoutMode: 'masonry'
    });

    // filter items on button click
    $('.filter-button-group').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
    });
}
/*------------------- learning area filer ISOTOPE ----------------------*/
if (location.pathname.indexOf("learning-area-hub") !== -1 || location.pathname.indexOf("sector-hub") !== -1) {
    $(document).ready(function () {

        //createItems();

        var $container = $('#career-content').isotope({
            itemSelector: '.area',
            //resizable: false
        });

        var $sector = $('#sector-page-content').isotope({
            itemSelector: '.area',
            //resizable: false
        });
        function rebuildLayout(id) {
            $(id).isotope( 'layout' );
        }
        // read more link on Learning area page
        $container.on('click', '.show-more', function () {
            // change size of item by toggling big class
            if($(this).parent().find(".detail").is(':visible')){
                $(this).parent().find(".detail").fadeOut(50);
            }
            else{
               $(this).parent().find(".detail").fadeIn(1500);
            }

            $(this).parent().toggleClass('big');

            //hide the readmore link
            $(this).children(".readmore").toggle();
            //re-build the layout after a delay
            setTimeout(function(){rebuildLayout('#career-content')}, 300);
        });

        // read more link on sector page
        $sector.on('click', '.show-more', function () {
            $(this).parent().toggleClass('big');
            $(this).children(".readmore").toggle();
            $sector.isotope('layout');
            //re-build the layout after a delay
            setTimeout(function(){rebuildLayout('#sector-page-content')}, 300);
        });

        // filter items on button click Sector hub page
        $('.link-wrap').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');

            $sector.isotope({ filter: filterValue });
            $sector.show();
            //if 16-18 show the 'how you learn' filters
            $sector.isotope('layout');
            $('html, body').animate({
                scrollTop: $('#sector-page-content').offset().top - 150
            }, 1000);

        });

        var $output = $('#output');

        // filter with selects and checkboxes
        var $checkboxes = $('#form-ui input');
        //declare the courseType var for use later
        var courseType;
        var campusFilter;
        var brandFilter;
        var campusTarget;
        var sectorTarget;

        $('#form-ui label.btn').click(function ($event) {
            // Deselect all other options
            var $clickedButton = $($event.target);

            $clickedButton.siblings('.active').click();
        });

        $checkboxes.change(function () {
            // map input values to an array
            //var exclusives = [];
            var inclusives = [];
            //get and set course type data value
            courseType = $(this).attr("data-course-type") || courseType;
            //get and set campus data value
            campusFilter = $(this).attr("data-campus") || campusFilter;
            //get and set brand data value
            brandFilter = $(this).attr("data-brand") || brandFilter;

            $('.filter-title').fadeIn(1500);
            // inclusive filters from checkboxes
            $checkboxes.each(function (i, elem) {

                var item = $(this);
                var campusItem = $(item.attr("data-campus-target"));
                var sectorItem = $(item.attr("data-sector-target"));

                if(item.is(":checked")){
                    campusItem.delay(250).show(300);
                    sectorItem.delay(250).show(300);

                    inclusives.push(elem.value);
                    $sector.show();
                    $sector.isotope('layout');

                }else{
                    campusItem.hide(200);
                    sectorItem.hide(200);
                }

            });

            // combine inclusive filters
            var filterValue = inclusives.length ? inclusives.join('') : '*';

            $output.text(filterValue);
            $container.isotope({
                filter: filterValue,
                queue: false,
                resizable: false
            })
        });

        // set the course area on click
        $('.course-area').click(function () {
            //event.preventDefault();
            if (typeof courseType !== "undefined") {
                $(this).attr('href', function () {
                    return this.href + '/course_type/' + courseType;
                });
            }
            if (typeof campusFilter !== "undefined") {
                $(this).attr('href', function () {
                    return this.href + '/campus/' + campusFilter;
                });
            }
            if (typeof brandFilter !== "undefined") {
                $(this).attr('href', function () {
                    return this.href + '/brand/' + brandFilter;
                });
            }

        });
        $('.campus').click(function () {
            //event.preventDefault();

        });

        // Preset options
        var brand_cookie = Cookies.get('brand');
        if (brand_cookie == '#duchy') {
            $('.area-filter > input[value=".dc"]').parent().click();
        } else if (brand_cookie == '#falmouth') {
            $('.area-filter > input[value=".fms"]').parent().click();
        } else if (brand_cookie == '#bicton') {
            $('.area-filter > input[value=".bic"]').parent().click();
        }

    });

        $(".isotope-reset").click(function(){
            $(".content ul.sort").isotope({
            filter: '*'
            });
        });

}
if (location.pathname.indexOf("university-hub") !== -1 || location.pathname.indexOf("16-18-hub") !== -1) {
    //play video on click UNIVERSITY Hub

    var instances = plyr.setup({
        // Output to console
        //autoplay: true
        debug: true
    });
    // Get an element
    function get(selector) {
        return document.querySelector(selector);
    }
  // Custom event handler
    function on(element, type, callback) {
        if (!(element instanceof HTMLElement)) {
          element = get(element);
        }
        element.addEventListener(type, callback, false);
    }
    instances.forEach(function(instance) {
        instance.on('ready', function() {
            //$("#playVideo").fadeToggle(2000);
            $('#playVideo').css('visibility','visible');
        });
        on('#playVideo', 'click', function() {
            instance.play();
            instance.toggleFullscreen();
            $("#title-header").fadeOut( "fast" );
            $("#plyr-wrap").fadeIn( "slow" );
            $(".plyr").show();
            $("#video-wrap").fadeIn( "slow" );

        });
        instance.on('exitfullscreen', function() {
            instance.pause();
            $("#video-wrap").fadeOut();
            $("#title-header").fadeIn( "fast" );
            $(".plyr").hide();
        });
        instance.on('ended', function() {
            $("#video-wrap").fadeOut();
            $("#title-header").fadeIn( "fast" );
            $(".plyr").hide();
        });

    });

    /*
    $("#video").YTPlayer(function() {
        $('#wrapper_mbYTP_video').hide();
    });

    //setup the button var
    var button = document.querySelector("#playVideo");

    //show the play button whn ready
    $("#video").on("YTPReady",function(){
        $('#playVideo').fadeIn( "slow" );
    });

    //on play click
    button.addEventListener("click", function onclick(event) {
        $('#video').YTPTogglePlay();
        $("#title-header").fadeOut( "fast" );
        $('#wrapper_mbYTP_video').fadeIn( "slow" );
      event.preventDefault();
    });

    // on pause
    $("#video").on("YTPPause",function(){
        $("#wrapper_mbYTP_video").fadeOut( "fast" );
        $("#title-header").fadeIn( "slow" );

    }); */
}

// get announcement from
jQuery(document).ready(function () {
    // Lookup alert message and display if required.  url source: https://network.cornwall.ac.uk/?action=ccg_get_announcement
    jQuery.getJSON('https://www.cornwall.ac.uk/announcement', function(data) {
        if(data.enabled && data.message) {
            $('#alert-container').html('<div class="announce-alert">' + data.message + '</div>');
            $('#alert-container').show();
        }
    });
});



// Google Site Search Script
  (function() {
    var cx = '013758913649466621994:in_cmlejpiq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();


  $(function(){

  function iframeModalOpen(){

  		// We set the attributes to be added iframe eg: data-src will setup the url iframe
  		$('.modalButton').on('click', function(e) {
  			var src = $(this).attr('data-src');
  			var width = $(this).attr('data-width') || 640; // iframe width if not set uses 640
  			var height = $(this).attr('data-height') || 360; // iframe height if not set uses 360

  			var allowfullscreen = $(this).attr('data-video-fullscreen'); // we set the button if the allowfullscreen attribute is a video to allow you to switch to full screen mode

  			// We print our data in iframe
  			$("#myModal iframe").attr({
  				'src': src,
  				'height': height,
  				'width': width,
  				'allowfullscreen':''
  			});
  		});

  		// if you close the modal iframe we reset the data to prevent a video to continue to reproduce even when the modal is closed
  		$('#myModal').on('hidden.bs.modal', function(){
  			$(this).find('iframe').html("");
  			$(this).find('iframe').attr("src", "");
  		});
  	}


  		iframeModalOpen();


  });


//Facility page slide show
  if (location.pathname.indexOf("facility-pages") !== -1 ||
      location.pathname.indexOf("public") !== -1) {
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
           slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex> slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" dot-active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " dot-active";
        setTimeout(showSlides, 2225); // Change image every 3.5 seconds
    }
  };

  // Start of Tawk.to Script
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/590b442764f23d19a89b0bb5/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  // End of Tawk.to Script
