---
layout: career-page
title: Automotive Careers
description: Find out more about starting an Automotive Career at The Cornwall College Group
career: automotive
---

{% include career-header.html %} 

{% include career-intro.html p1="If you love cars and fixing things, then a career as a vehicle technician could be ideal for you. Motor vehicle technicians repair and service cars, vans, motorbikes, lorries and coaches." p2="Using the latest technology they work on all vehicle mechanics and electrics, from engines and exhaust systems to air-conditioning and security." %}

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Vehicle or Metal Goods Assembler' paragraph='Workers in this area undertake the routine assembly of vehicles and other metal goods or components such as frames, axles, wire brushes and wheels.' jobsIn='the Southwest' jobsNow=2753 jobsFuture=2239 startingSalary=12500 %}

{% include career-example-job.html number='2' title='Garage Manager or Owner' paragraph='Garage managers and proprietors plan, organise, direct and co-ordinate the day-to-day running of garages and specialist vehicle maintenance and repair establishments.' jobsIn='the Southwest' jobsNow=3653 jobsFuture=4057 startingSalary=15000 %}

{% include career-example-job.html number='3' title='Tyre, Exhaust or Windscreen Fitter' paragraph='Tyre, exhaust and windscreen fitters fit, repair and adjust tyres, exhausts and windscreens on cars, buses, motorcycles and other motor vehicles.' jobsIn='the Southwest' jobsNow=1233 jobsFuture=1002 startingSalary=13000 %}

{% include career-example-job.html number='4' title='Vehicle Body Builder or Repairer' paragraph='Workers in this group construct and repair the bodies of road vehicles, and fit interior and exterior fittings to vehicle bodies.' jobsIn='the Southwest' jobsNow=2289 jobsFuture=2042 startingSalary=13000 %}

{% include career-example-job.html number='5' title='Vehicle Paint Technician' paragraph='Vehicle paint technicians use spray equipment to apply paint, cellulose and other protective or decorative materials to the bodywork of motor vehicles.' jobsIn='the Southwest' jobsNow=1424 jobsFuture=1269 startingSalary=13000 %}

{% include career-example-job.html number='6' title='Vehicle Technician, Mechanic or Electrician' paragraph='Vehicle technicians, mechanics and electricians accept calls for help and repair, and service the mechanical parts and electrical or electronic circuitry and components of cars, lorries, buses, motorcycles and other motor vehicles, and repair and service auto air-conditioning systems.' jobsIn='the Southwest' jobsNow=19189 jobsFuture=17119 startingSalary=15000 %}
{% include career-apply-bar-first.html %}

{% include career-examples-foot.html %}

{% include career-apply-bar.html career='automotive' order='first' %}

{% include career-stats.html percent1=100 end1='of our vehicle maintenance students say that their lecturers know their subject well.' %}

{% include career-alumni.html name="Kyle Huntington-Jones" text="After leaving Cornwall College Kyle went on to university and worked as a race engineer before progressing to the world renowned Bentley Motors, where he now works as a transmission calibration engineer." photo="alumni/automotive-kyle-huntington-jones.jpg" %}

{% include career-apply-bar-second.html %}    
