<!--[if IE 9]>
            <link rel="stylesheet" type="text/css" href="/css/IE9.css"></link>
<![endif]-->
<section class="col-md-12 main-section-margins">
  <section class="container col-xs-12 col-md-3 pull-right">

    <article class="col-xs-12 col-md-12">
      <h2 style="text-align:left;"><strong>16-18</strong> COURSE AREAS</h2>
      <p class="lead hidden-xs hidden-sm">You can study in many different learning areas across the Southwest</p>
    </article>

  </section>

  <div class="col-sm-12 col-md-9 clearfix right apprenticeships">
    <div class="main">
      <ul class="og-grid">
        {% for 16-18-cluster in site.data.sub-clusters %} {% for 16-18-area in 16-18-cluster.subclusters %} {% if site.brand != 'cc' %} {% if 16-18-area.sector contains '16-18' and 16-18-area.brand contains site.brand %}
        <span class="col-xs-12 col-sm-12 col-md-4 text-center">
                              <a class="learning-area" href="{{ site.url }}/course_type/fe16_18/cluster/{{ 16-18-area.search-link }}/{{site.brand-slug}}" style="border-left:10px solid #{{ 16-18-area.colour }};">
                                <span class="col-xs-12 19plus-area" >{{ 16-18-area.subcluster }}</span>
        </a>
        </span>
        {% endif %} {% else %} {% if 16-18-area.sector contains '16-18' %}
        <span class="col-xs-12 col-sm-12 col-md-4 text-center">
                              <a class="learning-area" href="{{ site.url }}/course_type/fe16_18/cluster/{{ 16-18-area.search-link }}" style="border-left:10px solid #{{ 16-18-area.colour }};">
                                <span class="col-xs-12 19plus-area" >{{ 16-18-area.subcluster }}</span>
        </a>
        </span>
        {% endif %} {% endif %} {% endfor %} {% endfor %}
      </ul>
    </div>
  </div>

</section>
