	<!-- Slider Section -->
	<div id="photos-slider" class="slider-section">
		<div class="slides-container">
			<!-- slide item 1 -->
			<div class="slide-item">
                <img src="/16-18-hub/images/slide-bg.jpg" alt="16-18 cornwall college" style="backface-visibility: hidden; position: absolute; left: -69px; top: 0px; z-index: -1; max-width: none; height: 900px; width: 1694.12px;">
                <div id="video-section" class="video-section" style="height:100%;">

				<a id="bgndVideo" class="player" data-property="{videoURL:'1mxD6wllX-c',containment:'.video-section', showControls:false, autoPlay:true, loop:false, vol:50, mute:true, opacity:1, addRaster:false, quality:'default', optimizeDisplay:true}">16-18 hub</a> <!--BsekcY04xvQ-->
                </div>
                <!--<h2 class="slide-title">
					<span class="inner-circle">
						<span>Making</span>
						<span>Learning</span>
						<span>Work</span>
					</span>
				</h2>-->

				<div class="slider-content">
					<div class="col-md-6 left">
						<h3 class="slide-sub-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
							<span>the</span>
							<span>courses</span>
							<span>you want<span>
						</h3>
					</div>
					<div class="col-md-6 right">
						<h3 class="slide-sub-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
						  <span>the</span>
                          <span>skills</span>    
						  <span>you need</span>						
					</h3>
					</div>
				</div>				
			</div><!-- slide item 1 over -->
		</div>

		<p class="goto-next">More<a class="arrow animated ci bounce" href="#video-block"><i class="fa fa-angle-down"></i></a></p>
	</div>
<!-- Slider Section Over-->