	<!-- Slider Section -->
	<div id="photos-slider" class="slider-section">
		<div class="slides-container">
			<!-- slide item 1 -->
			<div class="slide-item">
                <div id="video-section" class="video-section" style="height:100%;">

				<a id="bgndVideo" class="player" data-property="{videoURL:'7SnmCUwOsts',containment:'.video-section', showControls:true, autoPlay:true, loop:true, vol:50, mute:true, startAt:10, opacity:1, addRaster:true, quality:'default', optimizeDisplay:true}">My video</a> <!--BsekcY04xvQ-->
                </div>

				<div class="slider-content">
					<div class="col-md-6 left">
						<h3 class="slide-sub-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
							<span>the</span>
							<span>courses</span>
							<span>you want<span>
						</h3>
					</div>
					<div class="col-md-6 right">
						<h3 class="slide-sub-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
						<span>the</span>
                        <span>skills</span>    
						<span>you need</span>						
					</h3>
					</div>
				</div>				
			</div><!-- slide item 1 over -->
		</div>

		<p class="goto-next">More<a class="arrow animated ci bounce" href="#service-section"><i class="fa fa-angle-down"></i></a></p>
	</div>
<!-- Slider Section Over-->