---
layout: about-page
title: Cloisters Restaurant
description: Cloisters Restaurant is located at Cornwall College’s St Austell campus and is one of two fine dining commercial restaurants within the Cornwall College Group.
background-image: cloisters-restaurant.jpg
postcode: PL25 4DJ

sidebarbox-buttons:
    - button: Opening Times &amp; Events
      href: /documents/cloisters-menus/opening-times.pdf

    - button: Lunch Menu
      href: /documents/cloisters-menus/lunch-menu.pdf

    - button: Drinks List
      href: /documents/cloisters-menus/drinks-list.pdf

    - button: Wine List
      href: /documents/cloisters-menus/wine-list.pdf

    - button: Function Menu
      href: /documents/cloisters-menus/function-menus.pdf

    - button: Christmas Menu
      href: /documents/cloisters-menus/christmas-menus.pdf
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/cloisters.jpg" class="img-responsive" alt="Cloisters Restaurant is located at Cornwall College’s St Austell campus and is one of two fine dining commercial restaurants within the Cornwall College Group.">
    </div>

    <!-- Downloads Box -->
    {% include /sidebarbox-buttons.html title="Downloads:" %}

    <hr>

    <!-- Contact Info -->
    {% include sidebarbox-links.html title="Contact Info:" telephone="01726 226740" email="cloistersrestaurant@cornwall.ac.uk" facebook="https://www.facebook.com/Cloistersrest" twitter="https://twitter.com/CloistersRest" %}

    <hr>

    <!-- DIRECTIONS -->
    <div class="public-modules">
      <form action="https://maps.google.com/maps" method="get" target="_blank">
        <h3>Directions:</h3>
        <input type="text" name="saddr" placeholder="Enter your location"/>
        <input type="hidden" name="daddr" value="Cornwall College, Tregonissey Rd, Saint Austell, Cornwall PL25 4DJ"/>
        <br><input type="submit" style="" class="submit" value="Get directions"/>
      </form>
    </div>

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>Cloisters Restaurant is located at Cornwall College’s St Austell campus and is one of two fine dining commercial restaurants within the Cornwall College Group.</p>

      <p>Here students host and serve as well as create some mouth-watering menus every day for the general public.</p>

      <p>We are open for formal lunch, Tuesday - Friday 12:00 - 12:45.</p>

      <p>Offering excellent food at greatly reduced rates, with some experimental menus from our students as well as the traditional classics you would expect from a five star restaurant.</p>

      <p>Cloisters Restaurant uses fine locally sourced produce and is also fully licensed, offering a comprehensive selection of wines chosen to accompany each dish on the menu. In addition to regular fine dining lunchtime sessions during term time, Cloisters Restaurant also offers a series of fine dining evenings, devised, prepared and hosted by the students themselves throughout the year. The restaurant is also available for large group bookings.</p>
    </div>

    <hr>

    <div>
      <h3>St Austell Campus:
      <img src="/images/campus-maps/campus-map-st-austell.jpg" class="img-responsive">
    </div>
  </section>
</div>
