---
layout: about-page
title: College Design + Print
description: If you have young children we can provide you with support so that you can achieve your qualifications and career goals.
background-image: childcare.jpg
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/college-print.jpg" alt="If you have young children we can provide you with support so that you can achieve your qualifications and career goals." class="img-responsive">
    </div>

    <!-- Contact Info -->
    {% include sidebarbox-links.html title="Contact Info:" telephone="01209 616166" email="cdp@cornwall.ac.uk" %}

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>With the latest in innovative software and creative techniques we can produce</p>
      <ul>
        <li>Interactive media and presentations</li>
        <li>DVDs with menu functionality</li>
        <li>promotional video</li>
        <li>editing and web conversion</li>
        <li>iPad and android publication conversion</li>
      </ul>
      <p>Take your marketing to the next level by sending movie eshots, adding video to your website, or DVD display media to your offices or promotional areas.</p>
    </div>
  </section>
</div>
