---
layout: about-page
title: Dog Grooming
description: Duchy College, Rosewarne’s Dog Grooming Salon boasts a range of high quality, state of the art equipment for the students to use whilst training.
background-image: dog-grooming.jpg
postcode: TR14 0AB
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/dog-grooming.jpg" class="img-responsive" alt="Duchy College, Rosewarne’s Dog Grooming Salon boasts a range of high quality, state of the art equipment for the students to use whilst training.">
    </div>

    <!-- Opening Times -->
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <h3>Opening Times:</h3>
      <p>12:00 - 13:00</p>
    </div>

    {% include sidebarbox-links.html title="Contact Info:" telephone="01209 721342" %}

    <!-- DIRECTIONS -->
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <form action="https://maps.google.com/maps" method="get" target="_blank">
        <h3>Directions:</h3>
        <input type="text" name="saddr" placeholder="Enter your location"/>
        <input type="hidden" name="daddr" value="Duchy College Rosewarne, Rosewarne, Camborne, Cornwall TR14 0AB"/>
        <input type="submit" style="" class="submit" value="Get directions"/>
      </form>
    </div>

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>Duchy College, Rosewarne’s Dog Grooming Salon boasts a range of high quality, state of the art equipment for the students to use whilst training.</p>

      <p>The salon has two stainless steel baths, one “easy-step” manual bath and the other a remote controlled, electrically adjusted bath. There are six electric tables to suit a range of dogs from Yorkshire Terriers to Giant Schnauzers plus a wide variety of restraint equipment and crates to help the groomer and keep the dogs safe and secure whilst in the team’s care. Blasters, stand and tornado dryers are available, which are both mobile and directional for ease of coat drying after bathing. The salon team use a wide range of professional shampoos and conditioners for each, unique coat type and colour. Each student has access to brushing, scissoring, clipping and mat removal equipment or staff can advise where to purchase a student pack of equipment should they prefer to use their own.</p>

      <p>The salon is bright, roomy and has high level air conditioning, sealed, easy to clean flooring and walls and a viewing window for others to observe the busy lessons. The lecturers and trainers are industry experts and qualified in both teaching and dog grooming and the Course Manager is a registered Dog Behaviour Trainer as well as a dog groomer. The welfare and safety of the dogs are taken into account at all times thus creating a relaxed environment so both dogs and students feel at ease throughout the process.</p>
    </div>

    <hr>

    <div>
      <h3>Rosewarne Campus:
      <img src="/images/campus-maps/campus-map-rosewarne.jpg" class="img-responsive">
    </div>
  </section>
</div>
