---
layout: about-page
title: Evolve Sport Fitness &amp; Outdoor Activities
description: The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities.
background-image: evolve-sport-fitness-outdoors.jpg

sidebarbox-buttons:
  - button: Fees and Charges (Bicton)
    href: /documents/Bicton Download 1- Sports Fees and Charges 1617.pdf

multi-campus:
  - campus: Bicton
    image: /images/public/evolve/bicton.jpg
    text:
      "<p><strong>Contact Us</strong><br>Call Us: <a href='tel:01209-617732'>01209 617732</a></p>
      <p><strong>Sports Halls</strong></br>Our four-court sports halls are available for hire, equipped for badminton, basketball, football, netball, volleyball and cricket.</p>
      <p><strong>3G Astro Turf</strong></br>The astro turf is suitable for football, rugby training and multi sports.</p>
      <p><strong>Grass Pitches(Camborne, Stoke Climsland &amp; Bicton)</strong></br>Available for hire, suitable for football, Bicton also has rugby pitches available for hire.</p>
      <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>
      <p><strong>Adventurous Activities</strong></br>Stimulate, motivate and educate with an outdoor adventure activity course. We offer a range of activities in a beautiful setting with expert instruction, high safety standards and once in a lifetime experiences! Activity days help promote active learning and awareness of others needs whilst positively impacting intellectual, moral and physical development. Participants will have the opportunity to take part in many new and exciting activities including Kayaking, Canoeing, Climbing Tower, Low Ropes and Raft Building and many more activities.These are available for use for community groups, residential stays, clubs, societies, friends, schools using our qualified instructors or if you want a birthday party with a difference, or just book for a day</p>"
    href: <a href='/documents/Bicton Download 1- Sports Fees and Charges 1617.pdf'>Fees and Charges (Bicton)</a>

  - campus: Camborne
    image: /images/public/sport-fitness.jpg
    text:
      "<p><strong>Contact Us</strong><br>Call Us: <a href='tel:01209-617732'>01209 617732</a><br>Like Us: <a href='https://www.facebook.com/CCGGetFit'>/CCGGetFit</a></p>
      <p><strong>Sports Halls</strong></br>Our four-court sports halls are available for hire, equipped for badminton, basketball, football, netball, volleyball and cricket.</p>
      <p><strong>Fitness Suite</strong></br>Open to the public our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area. We offer No membership contract, Free ½ hour programme updates, Free gym challenges, Free personalised training programme, Free nutritional advice, Fit testing (additional charge), Motivator sessions (additional charge) and Personal training (additional charge).</p>
      <p><strong>Dance Studio</strong></br>The dance studios have a semi‐sprung wooden floor and caters for a variety of fitness classes as well as being available for hire.</p>
      <p><strong>3G Astro Turf</strong></br>The astro turf is suitable for football, rugby training and multi sports.</p>
      <p><strong>Grass Pitches</strong></br>Available for hire, suitable for football, Bicton also has rugby pitches available for hire.</p>
      <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>"

  - campus: St Austell
    image: /images/public/sport-fitness.jpg
    text:
      "<p><strong>Contact Us</strong><br>Call Us: <a href='tel:01726-226440'>01726 226440</a></p>
      <p><strong>Fitness Suite</strong></br>Open to the public our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area. We offer No membership contract, Free ½ hour programme updates, Free gym challenges, Free personalised training programme, Free nutritional advice, Fit testing (additional charge), Motivator sessions (additional charge) and Personal training (additional charge).</p>
      <p><strong>Dance Studio</strong></br>The dance studios have a semi‐sprung wooden floor and caters for a variety of fitness classes as well as being available for hire.</p>
      <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>"

  - campus: Stoke Climsland
    image: /images/public/sport-fitness.jpg
    text:
      "<p><strong>Contact Us</strong><br>Call Us: <a href='tel:01579-372206'>01579 372206</a></p>
      <p><strong>Sports Halls</strong></br>Our four-court sports halls are available for hire, equipped for badminton, basketball, football, netball, volleyball and cricket.</p>
      <p><strong>Fitness Suite</strong></br>Open to the public our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area. We offer No membership contract, Free ½ hour programme updates, Free gym challenges, Free personalised training programme, Free nutritional advice, Fit testing (additional charge), Motivator sessions (additional charge) and Personal training (additional charge).</p>
      <p><strong>Grass Pitches</strong></br>Available for hire, suitable for football, Bicton also has rugby pitches available for hire.</p>
      <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>
      <p><strong>Adventurous Activities</strong></br>Stimulate, motivate and educate with an outdoor adventure activity course. We offer a range of activities in a beautiful setting with expert instruction, high safety standards and once in a lifetime experiences! Activity days help promote active learning and awareness of others needs whilst positively impacting intellectual, moral and physical development. Participants will have the opportunity to take part in many new and exciting activities including Kayaking, Canoeing, Climbing Tower, Low Ropes and Raft Building and many more activities.These are available for use for community groups, residential stays, clubs, societies, friends, schools using our qualified instructors or if you want a birthday party with a difference, or just book for a day</p>"
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:30px" >

    <div>
      <img src="/images/public/evolve-logo.png" alt="The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities." class="img-responsive">
    </div>

    <!-- Opening Times -->
    <!--
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <h3>Opening Times:</h3>
      <p><strong>Evolve Sport and Fitness (Camborne):</strong></br>Mon to Thu: 12pm – 9pm<br>Fri: 12pm – 8pm</br>Sat &amp; Sun: open on request.</p>
      <p><strong>Evolve Sport and Fitness (St-Austell):</strong></br>Mon &amp; Wed: 7am – 9pm</br>Tue &amp; Thu: 9am – 9pm, Fri: 9am – 8pm</br>Sat: 8am – 1pm</p>
      <p><strong>Evolve Sport, Fitness and Outdoors (Stoke Climsland):</strong></br>Please contact us for opening hours</p>
      <p><strong>Evolve Sport, Fitness and Outdoors (Bicton):</strong></br>Mon to Thu: 5pm – 9.30pm</br>Fri: 5pm – 8pm</br>Sat &amp; Sun: open on request</p>
    </div>
    -->

    <!-- Contact Info -->
    <!--
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <h3>Contact Info:</h3>
      <p>Email:</br><a href="mailto:sportandfitness@cornwall.ac.uk" target="_top">sportandfitness@cornwall.ac.uk</a>
      <p><strong>Evolve Sport and Fitness (Camborne):</strong></br>Tel: <a href="tel:01209-617732">01209 617732</a></br>Facebook: <a href="https://www.facebook.com/CCGGetFit">/CCGGetFit</a></p>
      <p><strong>Evolve Sport and Fitness (St-Austell):</strong></br>Tel: <a href="tel:01726-226440">01726 226440</a></p>
      <p><strong>Evolve Sport, Fitness and Outdoors (Stoke Climsland):</strong></br>Tel: <a href="tel:01579-372206">01579 372206</a></p>
      <p><strong>Evolve Sport, Fitness and Outdoors (Bicton):</strong></br>Tel: <a href="tel:01209-617732">01209 617732</a></p>
    </div>
    -->

  </section>

  <section class="col-sm-12 col-md-8">

    <div>
      <p class="lead">The Cornwall College Group's Evolve Sport &amp Fitness facilities reflect the specialisms required by the students studying our varied sport related courses. These facilities are open to the local community, staff and students and we offer a wide range of facilities to suit a full range of activities.</p>
      <p class="lead"> Please click on the location of your choice to find out further details.</p>
    </div>

  </section>

  <section class="col-sm-12">
    <ul class="image-nav">

      {% for business in site.data.open-public %}
        {% if business.short == 'evolve' %}
          {% for campus in business.campus %}
            <li>
              <a href="{{ campus.href }}">
                <h5>{{ campus.campus-name }}</h5>
                <img width="250" height="250"src="{{ campus.image }}" alt="{{ campus.campus-name }}">
              </a>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}

    </ul>
  </section>

</div>
