---
layout: about-page
title: Football Development Centre
description: Rosewarne Nursery began in the early 1990s as an educational facility and quickly grew into a commercial enterprise supplying the nursery trade throughout Cornwall and Devon, which it is still doing to this day.
background-image: football-academy.jpg
postcode: TR14 0AB
---
{% include /public/header.html %}

<div class="container">
  <div class="row">
    <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >
      <div data-spy="affix" data-offset-top="280" data-offset-bottom="760">
        <div>
          <img src="/images/public/football-academy.jpg" class="img-responsive" alt="Rosewarne Nursery began in the early 1990s as an educational facility and quickly grew into a commercial enterprise supplying the nursery trade throughout Cornwall and Devon, which it is still doing to this day.">
        </div>

        <!-- Contact Info -->
        {% include sidebarbox-links.html title="Contact Info:" telephone="07748 920489" facebook="https://www.facebook.com/rosewarnenurseries" email="john.ashton@duchy.ac.uk" %}

        <hr>

        <!-- DIRECTIONS -->
        <div class="public-modules">
          <form action="https://maps.google.com/maps" method="get" target="_blank">
            <h3>Directions:</h3>
            <input type="text" name="saddr" placeholder="Enter your location"/>
            <input type="hidden" name="daddr" value="CAMBORNE CAMPUS Trevenson Road, Pool, Redruth, Cornwall TR15 3RD"/>
            <br><input type="submit" style="" class="submit" value="Get directions"/>
          </form>
        </div>
      </div>
    </section>

    <section class="col-sm-12 col-md-8">
      <div>
        <p>The million-pound West Cornwall Football Development Centre was established at Cornwall College Camborne to be a specialist centre for football for the local community.</p>

        <p>The centre has a close working partnership with the Cornwall County FA, and acts as a Regional Development Centre for the West of Cornwall.</p>

        <p>The concept of the centre is to bring together players, students, volunteers, coaches, referees, expert support personnel and administrators all under one roof. As a result the WCFDC is widely recognised as a leader in the delivery of football programmes, services and expertise in Cornwall.</p>

        <ul>
          <li>Football holiday courses</li>
          <li>After school clubs (Under 13s – Under 16s)</li>
          <li>Player development programmes (Under 8s – Under 12s)</li>
          <li>FA coaching sessions.</li>
        </ul>

        <p>Please be aware that the courses are of a practical nature so it is recommended that all players attending the courses require a reasonable level of fitness. On all levels of the FA Coaching Qualifications, there are practical and theory sessions, post course tasks and a final assessment.</p>
      </div>


      <hr>


      <h3>Holiday Courses</h3>
      <p>These popular courses cater for girls and boys between 4 and 14 years of age and are run in most holiday periods (Easter/ Summer/ Half-Term Breaks). Emphasis is firmly on fun and enjoyment. The Cornwall College Football Development Centre is also the first centre in Cornwall to have achieved the FA Charter Standards for excellence in delivering Holiday Courses.</p>

      <h5>Times:</h5>
      <p>4-6 year olds: 10:00am-12:00pm<br>7-14 year olds: 10:00am-3:30pm</p>

      <h5>Cost:</h5>
      <p>4-6 year olds: £10.00 for both days (£8.00 per individual day) £15 late registration<br>7-14 year olds:o £20.00 for both days (£15.00 per individual day) £30 late registration</p>

      <h5>Dates:</h5>
      <p></p>


      <hr>


      <h3>After school clubs<br>(Under 13s – Under 16s)</h3>
      <p>Sitting within the Cornwall FA Long Term Player Development Pathway, the U13's - U16's centre offers players the opportunity to continue developing after the 4 Primary Development Centre's (Penryn, Cornwall College, Mounts Bay &amp; Truro)</p>

      <h5>Who's it for:</h5>
      <ul>
        <li>Players who have not been selected for the West Cornwall SFA Squads</li>
        <li>Players who have progressed through the Primary Development Centres</li>
        <li>Players who wish to develop to trial for the West Cornwall SFA Squads</li>
        <li>Players who want to fulfil their potential</li>
      </ul>

      <h5>When and where:</h5>
      <p>Tuesday 5pm-6.30pm at Cornwall College Camborne all weather pitch</p>

      <h5>Cost:</h5>
      <p>£90 for the year in three blocks</p>


      <hr>


      <h3>Player development programme<br>(Under 8s – Under 12s)</h3>
      <p>Sitting within the Cornwall FA LTPD Player Pathway, there are 4 Primary LTPD Centres in West Cornwall, Penryn College, Mounts Bay Academy, Truro College and Cornwall College.<p>

      <h5>Who's it for:</h5>
      <ul>
        <li>Players who would like to receive advanced coaching on a weekly basis</li>
        <li>Players who have aspirations of playing football to the best of their ability</li>
        <li>Children who love football!!</li>
      </ul>

      <h5>When and where:</h5>
      <p>Mondays 5pm-6:30pm at Cornwall College Camborne all weather pitch</p>

      <h5>Cost:</h5>
      <p>£105 for the year in three blocks</p>


      <hr>


      <h3>FA coaching sessions</h3>
      <p>FA Courses available through the County FA website. All courses are run by the Cornwall County FA in association with Cornwall College. To book a place on a course or register an interest please contact CCFA on 01208 269 010 or register online at www.CornwallFA.com</h5>
      <ul>
        <li>FA Coaching</li>
        <li>FA Child Protection</li>
        <li>FA Referees</li>
        <li>Coach Education Events</li>
      </ul>


      <hr>

      <div>
        <h3>Camborne Campus:
        <img src="/images/campus-maps/campus-map-camborne.jpg" class="img-responsive">
      </div>
    </section>
  </div>
</div>
