---
layout: about-page
title: Koko Hair, Beauty and Holistic Therapies
description: Koko hair and beauty salons are located at three Cornwall College campuses – Saltash, St Austell and Camborne.
background-image: koko-hair-beauty.jpg

sidebarbox-buttons:
    - button: Koko Camborne Price List
      href: /documents/koko-camborne-priceList.pdf

    - button: Koko St Austell Price List
      href: /documents/koko-stAustell-priceList.pdf

    - button: Koko Saltash Price List
      href: /documents/koko-saltash-priceList.pdf
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/koko-logo.png" alt="Koko hair beauty and holistic therapies" class="img-responsive">
    </div>

    <!-- Downloads Box -->
    {% include /sidebarbox-buttons.html title="Downloads:" %}

    <hr>

    <!-- Contact Info -->
    <div class="public-modules">
      <h3>Contact Info:</h3>
      <p><strong>Koko (Camborne):</strong></br>Hairdressing: <a href="tel:01209-616167">01209 616167</a></br>Beauty &amp; Holistic Therapies: <a href="tel:01209-616167">01209 616167</a></br>Email Us:<br><a href="mailto:koko.camborne@cornwall.ac.uk" target="_top">koko.camborne@cornwall.ac.uk</a></p>
      <p><strong>Koko (St-Austell):</strong></br>Hairdressing: <a href="tel:01726-226728">01726 226728</a></br>Beauty &amp; Holistic Therapies: <a href="tel:01726-226731">01726 226731</a></br>Email Us:<br><a href="mailto:koko.staustell@cornwall.ac.uk" target="_top">koko.staustell@cornwall.ac.uk</a></p>
      <p><strong>Koko (Saltash):</strong></br>Hairdressing: <a href="tel:01752-850207">01752 850207</a></br>Beauty &amp; Holistic Therapies: <a href="tel:01752-850206">01752 850206</a></br>Email Us:<br><a href="mailto:koko.saltash@cornwall.ac.uk" target="_top">koko.saltash@cornwall.ac.uk</a></p>
    </div>

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>Koko hair and beauty salons are located at three Cornwall College campuses – Saltash, St Austell and Camborne.</p>

      <p>A wide range of services and treatments are available, including hair cutting and colouring, massage, facials, body toning wraps, waxing, electrolysis, tanning, manicures and pedicures. As training salons, all services at KoKo are offered at greatly discounted prices compared to high street salons. The stylists and therapists are students being assessed towards their qualifications under close supervision of fully-qualified and highly-experienced tutors.</p>

      <p>We only use high-quality professional products,from brands like Dermalogica, St Tropez, Goldwell, Moroccan Oil and CND. Retail sizes are available to purchase from all KoKo salons. New for 2016 we are delighted to offer skin rejuvenation and hair removal with the Lynton Excelight Advance intense pulsed light system (IPL) – contact your nearest KoKo salon to check availability and discuss your treatment requirements</p>

      <p>Get in touch to book an appointment</p>

      <p>There is dedicated customer parking for the Koko salons at Cornwall College Camborne and St Austell.</p>

      <p>The koko salons are training salons and are open from Monday – Friday with varying opening hours. We recommend that you give us a call to book your appointment.</p>
    </div>
  </section>
</div>
