---
layout: about-page
title: Trevenson Restaurant
description: Recent winners of a prestigious Highly Commended AA College Rosette, Trevenson Restaurant is one of several on-site restaurants at Cornwall College Camborne.
background-image: trevenson-restaurant.jpg
postcode: TR15 3RD

sidebarbox-buttons:
    - button: Trevenson Menu
      href: /documents/other/trevenson-menu.pdf

    - button: Trevenson Take Away Menu
      href: /documents/other/trevenson-take-away-menu.pdf

    - button: Trevenson Tasting Menu
      href: /documents/other/trevenson-tasting-menu.pdf

    - button: Trevenson Christmas Menu
      href: /documents/other/trevenson-christmas-menu.pdf
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/trevenson-logo.jpg" class="img-responsive">
    </div>

    <!-- Opening Times -->
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <h3>Opening Times:</h3>
      <p>Monday - Friday: Lunchtime</br>Wednesday: Evening</p>
    </div>

    <!-- Downloads Box -->
    {% include /sidebarbox-buttons.html title="Downloads:" %}

    <!-- Contact Info -->
    {% include sidebarbox-links.html title="Contact Info:" telephone="01209 616160" facebook="https://www.facebook.com/TrevensonR" %}

    <!-- DIRECTIONS -->
    <div class="public-modules" style="border:1px solid #EEE; padding: 0 0 12px 16px;">
      <form action="https://maps.google.com/maps" method="get" target="_blank">
        <h3>Directions:</h3>
        <input type="text" name="saddr" placeholder="Enter your location"/>
        <input type="hidden" name="daddr" value="CAMBORNE CAMPUS Trevenson Road, Pool, Redruth, Cornwall TR15 3RD"/>
        <input type="submit" style="" class="submit" value="Get directions"/>
      </form>
    </div>

    <!-- Slideshow -->
    <div class="public-modules slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/images/facilities/slideshow/trevenson-flower.jpg" class="img-responsive" alt="Demo kitchen at Cornwall College Camborne" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/images/facilities/slideshow/trevenson-lecturer.jpg" class="img-responsive" alt="training kitchen at Cornwall college Camborne" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/images/facilities/slideshow/training-kitchen.jpg" class="img-responsive" alt="training kitchen at Cornwall college Camborne" style="width:100%">
      </div>
    </div>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>Recent winners of a prestigious Highly Commended AA College Rosette, the ethos to Trevenson is simple; continually driven by sustainable seasonality, using locally sourced ingredients, we ensure ever changing gastronomic dishes, freshly prepared in our state-of-the-art kitchens & delivered by an attentive and enthusiastic team. The Hospitality & Catering Department also holds 3 Centre’s of Excellence including: Fish & Shellfish, Food & Beverage Service and Patisserie & Confectionary as well as the coveted title by People 1st of Gold Accreditation, this makes us one of the best catering college in the UK, evident by the standard of food on our menus and the attention to detail in our service.</p>
      <p>Trevenson Restaurant not only serve traditional classic dishes, they also serve new and exciting dishes to cater for all tastes which are devised by our professional staff and experienced students. As well as our a la carte menu, we also offer tasting menus and special themed evenings, where we invite local established chefs to devise, prepare and host selected events, all supported by our staff and students. To find out about our next themed evening, simply contact the reservations number below.</p>
      <p>The stylish interior is akin to any fine dining establishment, offering a relaxing atmosphere for informal lunch, as well as a contemporary ambience for evening fine diners.</p>
      <p>Trevenson has also been awarded the Gold Cornwall Healthier Eating and Food Safety (CHEFS) Award two years running, making it only one of five restaurants in the county to receive the accolade, something we are all truly proud of.</p>
      <p>Trevenson is fully licensed and offers a comprehensive selection of wines and beers, carefully chosen to accompany each dish on the menu. Opened by Michelin star chefs Nathan Outlaw and Pierre Koffmann, Trevenson offers a very special dining experience, offering both creative and mouth-watering menus every day.</p>
    </div>

    <hr>

    <div>
      <h3>Camborne Campus:
      <img src="/images/campus-maps/campus-map-camborne.jpg" class="img-responsive">
    </div>
  </section>
</div>
