---
layout: about-page
title: Venue Hire
description: The Cornwall College Group offers venue hire at its college locations incorporating the very latest technology, facilities and resources. Each location has something different to offer from conferences to room hire, weddings to festivals.
background-image: venue-hire.jpg
---
{% include /public/header.html %}

<div class="container">
  <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >

    <div>
      <img src="/images/public/venue-hire.jpg" class="img-responsive" alt="The Cornwall College Group offers venue hire at its college locations incorporating the very latest technology, facilities and resources. Each location has something different to offer from conferences to room hire, weddings to festivals.">
    </div>

    <!-- Contact Info -->
    {% include sidebarbox-links.html title="Contact Info:" email="info@businessspace.co.uk" website="https://www.thebusinessspace.co.uk" %}

  </section>

  <section class="col-sm-12 col-md-8">
    <div>
      <p>The Cornwall College Group offers venue hire at its college locations incorporating the very latest technology, facilities and resources. Each location has something different to offer from conferences to room hire, weddings to festivals.</p>

      <p>Whether you have 2 or 200 delegates, we will work with you to deliver a tailor made conference or events package to suit your budget and requirements. We offer:</p>

      <ul>
        <li>Two professional conference venues in the heart of Truro and Lanceston</li>
        <li>A range of onsite leisure and outdoor activities mean that every event from large and corporate to small and intimate can be catered for</li>
        <li>Our experienced and friendly staff will work alongside your event manager to ensure that your occasion runs smoothly and to a high standard throughout.</li>
        <li>A range of stylish and functional rooms of all sizes, ideal for conferences, events, workshops, seminars, private functions and parties.</li>
        <li>Computer suites and Interactive whiteboards</li>
        <li>Onsite accommodation (outside of term time Bicton and Stoke Climsland only)</li>
        <li>Catering to suit your requirements from working lunches to barbecues, all dietary needs catered for.</li>
        <li>A range of outdoor pursuits to cater for your team building events (Bicton and Stoke Climsland only)</li>
        <li>Team Building with our Outdoor Adventure Instructors</li>
      </ul>

    </div>

  </section>
</div>
