---
layout: career-page
title: Boatbuilding
description: Find out more about starting a Career in Boatbuilding at The Cornwall College Group
career: boatbuilding
---

{% include career-header.html %} 

{% include career-intro.html p1="If you're technically minded, good with your hands and flexible about where you work, consider boatbuilding. You could be working on boats and ships anywhere in the world: carrying out repairs and maintenance, re-fits, conversions and building from scratch." p2="You'll need good practical skills, the ability to work in a team and an interest in learning traditional boatbuilding skills as well as modern engineering methods." %}

<section class="container">{% youtube https://youtu.be/4wl08vd9Zxg %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Boat &amp; Ship Builder or Repairer' paragraph='Boat and ship builders and repairers construct, install and repair wooden structures and fittings, and shape, position, rivet and seal metal plates and girders to form the metal structures and frameworks for marine craft.' jobsIn='the Southwest' jobsNow=1169 jobsFuture=1043 startingSalary=15000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include career-stats.html percent1=100 end1='of our boatbuilding students say that teaching on their course is good.' %}

{% include career-alumni.html name="National Maritime Museum Cornwall" text="Students from Falmouth Marine School have been involved in creating a high profile exhibition at the National Maritime Museum Cornwall. The Viking faering they built is the centrepiece of a touch and feel exhibition in the award-winning museum." photo="alumni/maritime-museum-logo.jpg" %}

{% include career-apply-bar-second.html %}
