---
layout: career-page
title: Boatbuilding &amp; Marine Engineering
description: Find out more about starting a Career in Boatbuilding at The Cornwall College Group
career: boatbuilding
link: boat-building
brand: FMS
background-image: /images/area-banners/boatbuilding-desktop.jpg
---

{% include career-header.html %} 

{% include career-intro.html p1="If you're technically minded, good with your hands and flexible about where you work, consider boatbuilding. You could be working on boats and ships anywhere in the world: carrying out repairs and maintenance, re-fits, conversions and building from scratch." p2="You'll need good practical skills, the ability to work in a team and an interest in learning traditional boatbuilding skills as well as modern engineering methods." %}

<section class="container">{% youtube https://youtu.be/4wl08vd9Zxg %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Boat &amp; Ship Builder or Repairer' paragraph='Boat and ship builders and repairers construct, install and repair wooden structures and fittings, and shape, position, rivet and seal metal plates and girders to form the metal structures and frameworks for marine craft.' jobsIn='the Southwest' jobsNow=1169 jobsFuture=1043 startingSalary=15000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include career-alumni.html name="National Maritime Museum Cornwall" text="Students from Falmouth Marine School have been involved in creating a high profile exhibition at the National Maritime Museum Cornwall. The Viking faering they built is the centrepiece of a touch and feel exhibition in the award-winning museum." photo="alumni/maritime-museum-logo.jpg" %}

{% include staff-profile.html image='http://placehold.it/370x370' name='Simon Combe' role="Workshop Technician - Boatbuilding" about="Simon is a Falmouth Marine School alumni and has worked with a range of boatyards in the construction of yachts and small craft. He supervises both the wood and composite workshops at Falmouth Marine School’s boatbuilding training centre in Ponsharden boatyard, helping learners on a day-today basis with developing their practical skills, techniques and project planning. He also acts as a consultant with the College’s Marine Innovation Service, assisting local businesses who wish to develop their processes and products in composite boat manufacturing (FRP)." %}

{% include student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Name' studentRole1='role' studentQuote1="Student Quote" studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include career-stats.html percent1=100 end1='of our boatbuilding students say that teaching on their course is good.' %}

{% include key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include nas-apprenticeships.html sectors='Health, Public Services and Care' %}

{% include campus-locations.html campuscodes='F'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}
