	<!-- The footer -->
	<section class="footer-two transparent">
		<div class="row">
			<div class="twelve columns">


				<!-- Back to top button -->
				<p><a href="#home" class="smoothscroll"><i class="fa fa-chevron-up icon arrow-top"></i></a></p>


				<!-- Social icons -->
				<p>
					<a href="http://twitter.com/cornwallcollege"><i class="fa fa-twitter icon outline light"></i></a>
					<a href="https://www.facebook.com/cornwallcollegeuk"><i class="fa fa-facebook icon outline light"></i></a>
					<a href="http://youtube.com/corncoll"><i class="fa fa-youtube icon outline light"></i></a>
				</p>


				<!-- Credits -->
				<p class="text-light">Cornwall College Group</p>


			</div>
		</div>
	</section>
