	{% if area.sector contains "university" %}

            <div class="col-xs-6 col-sm-4 fade-it">
				<div class="portfolio-thumb">
					
                    <a href="{{site.course_site_baseurl}}cluster/{{area.search-link}}">
                        <img alt="{{area.university-faculty}}" src="/images/university-hub/he-areas/{{area.he-image}}">
						<i style="background:#{{area.colour}};" class="fa {{area.icon}}"></i>
						<b>{{area.university-faculty}}</b>
						<em style="color:#{{area.colour}};">{{area.cluster}}</em>
                    </a>
				
				</div>
			</div>
    {% endif %}