	<!-- More work -->
	<section id="faculty-areas" class="faculty-areas">
		<div class="row">
			<div class="col-sm-12 center margin-bottom">


				<!-- The title -->
				<div class="title">
					<h1>Higher Education Faculty Areas</h1>
					<hr>
				</div>


			</div>
		</div>


		<!-- Thumbnails -->
		<div class="row margin equal">
            {% for area in site.data.sub-clusters %}
                {% assign subs = area.subclusters | sort: 'subcluster' %}
                {% for sub in subs | sort: 'subcluster' %}
                    {% include university/he-area.html %}
                {% endfor %}
            {% endfor %}

		</div>
	</section>