	{% if area.sector contains "university" %}

            <div class="four columns medium-six columns small-twelve columns fade-it">
				<div class="portfolio-thumb">
					
                    <a href="{{site.course_site_baseurl}}courses/{{area.search-link}}">
                        <img alt="{{area.subcluster}}" width="360" height="360" src="/images/university-hub/he-areas/{{area.he-image}}">
						<i style="background:#{{area.colour}};" class="fa {{area.icon}}"></i>
						<b>{{area.subcluster}}</b>
						<em style="color:#{{area.colour}};">{{area.cluster}}</em>
                    </a>
				
				</div>
			</div>
    {% endif %}