	{% if sub.sector contains "university" %}

            <div class="col-xs-12 col-sm-6 col-md-4 fade-it">
				<div class="portfolio-thumb">
					
                    <a href="{{site.course_site_baseurl}}cluster/{{sub.search-link}}/course_type/he/">
                        <img alt="{{sub.university-faculty}}" src="/images/university-hub/he-areas/{{sub.he-image}}" class="img-responsive">
						<i style="background:#{{sub.colour}};" class="fa {{sub.icon}}"></i>
						<b>{{sub.university-faculty}}</b>
						<em style="color:#{{sub.colour}};">Click to view courses in this area</em>
                    </a>
				
				</div>
			</div>
    {% endif %}