	<!-- Contact -->
	<section id="contact" class="contact">
		<div class="row">
			<div class="ten columns center">


				<!-- The title -->
				<div class="title">
					<h1 style="font-family: 'Cutive', serif;">Email Us</h1>
					<hr>
				</div>


				<!-- Intro text -->
				<h2 class="text-color" >Want to find out more about our degrees?</h2>
                <p class="big thin">Just click the button below</p>


			</div>
		</div>
		<div class="row">


			<!-- Succes message after sending the form, see also the php file around line 90 -->
			<div class="twelve columns">
				<div id="message"></div>
			</div>


		</div>
		<div class="row">


			<!-- The contact form -->

					<div class="twelve columns">


						<!-- Send button -->
						<a class="btn ghost" href="{{site.course_site_baseurl}}ask-a-question/?referrer=University Hub Page Question" style="font-family: 'Raleway', serif; font-size: 16px;">Ask a question</a> 


					</div>
				</fieldset>
			</form>
		</div>
	</section>