<!-- Featured work slider -->
<div class="cornwall-slider">
    <ul class="bxslider" id="cornwall-slider">
        {% for slide in site.data.university %}
            {% if slide.he-slide-title %}
            <li>
                <div style="background-image: url('images/university-hub/{{slide.image-link}}')" class="header">
                    <div class="header-center">
                        <div class="centerdiv text-white">
                            <!--<h4 class="bigtext uppercase letterspace bold">{{slide.he-slide-title}}</h4>-->
                            <h6 class="bigtext serif italic">{{slide.he-slide-title}}</h6>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>