<!-- Featured work slider -->
<div class="featured-work-slider">
    <ul class="bxslider" id="featured-work-slider">


        <!-- Slide 1 -->
        <li>
            <div style="background-image: url('images/placeholder-header.png')" class="header">
                <div class="header-center">
                    <div class="centerdiv text-white">
                        <!--<h4 class="bigtext uppercase letterspace bold">The Essentials</h4>-->
                        <h6 class="bigtext serif italic">To Create Awesome Designs</h6>
                    </div>
                </div>
            </div>
        </li>


        <!-- Slide 2 -->
        <li>
            <div style="background-image: url('images/placeholder-header.png')" class="header">
                <div class="header-center">
                    <div class="centerdiv text-white">
                        <!--<h4 class="bigtext uppercase letterspace bold">Tell a Story</h4>-->
                        <h6 class="bigtext serif italic">Share Your Creativity With The World</h6>
                    </div>
                </div>
            </div>
        </li>


        <!-- Slide 3 -->
        <li>
            <div style="background-image: url('images/placeholder-header.png')" class="header">
                <div class="header-center">
                    <div class="centerdiv text-white">
                        <!--<h4 class="bigtext uppercase letterspace bold">Get Connected</h4>-->
                        <h6 class="bigtext serif italic">Meet New Clients &amp; Future Friends</h6>
                    </div>
                </div>
            </div>
        </li>


    </ul>
</div>