---
layout: career-page
title: Catering &amp; Academy Nathan Outlaw
description: Find out more about starting a career in the catering and hospitality sector at The Cornwall College Group
career: catering-hospitality
link: course-subjects/catering-hospitality
brand: CC
background-image: /images/area-banners/catering-hospitality-desktop.jpg
campuscodes: A,C,S
schema: https://schema.org/course

staff-name: Mark Devonshire
staff-role: chef lecturer
staff-photo: /images/staff/mark-devonshire.jpg
staff-text: I still work regularly in hospitality, I am always looking to upskill, food is always on the change and new ideas and               challenges are always coming along.

alumni-name: Sophie Budd
alumni-role: owner of taste budds cooking studio in australia
alumni-photo: alumni/cultral-visitor/catering-hospitality/sophie-budd.jpg
alumni-text: My lecturers were awesome and I had such a good time. They opened doors for me and encouraged me to push myself and                boy has it paid off

student-name1: James Defreitas
student-role1:
student-photo1: /images/students/cultral-visitor/catering-academy/james-defreitas.jpg
student-text1:

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---


{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Cornwall has seen an incredible gastronomic community grow in recent years, with many Michelin starred chefs choosing the region for their flagship eateries." p2="Three time Michelin star winning chef Nathan Outlaw has chosen Cornwall College to host his Academy where you could gain a competitive edge in a career in the sector that is the life blood of the region." %}

<section class="container">{% youtube https://youtu.be/y8KB3tyhZyg %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Bakers & Flour Confectioner' paragraph='Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.' jobsIn='the Southwest' jobsNow=2319 jobsFuture=2329 startingSalary=13000 hashtag=bakers-and-flour-confectioner %}

{% include /career/career-example-job.html number='2' title='Bar Staff' paragraph='Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.' jobsIn='the Southwest' jobsNow=16836 jobsFuture=15959 startingSalary=11000 hashtag=bar-staff %}

{% include /career/career-example-job.html number='3' title='Catering or Bar Manager' paragraph='Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.' jobsIn='the Southwest' jobsNow=4182 jobsFuture=4211 startingSalary=20000 hashtag=catering-or-bar-manager %}

{% include /career/career-example-job.html number='4' title='Chef' paragraph='Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.' jobsIn='the Southwest' jobsNow=11918 jobsFuture=11957 startingSalary=13000 hashtag=chef %}

{% include /career/career-example-job.html number='5' title='Cook' paragraph='Cooks prepare, season and cook food, often using pre-prepared ingredients, in clubs, private households, fast food outlets, shops selling food cooked on the premises and the catering departments and canteens of other establishments.' jobsIn='the Southwest' jobsNow=6036 jobsFuture=6149 startingSalary=13000 hashtag=cook %}

{% include /career/career-example-job.html number='6' title='Hotel & Accommodation Manager or Proprietor' paragraph='Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.' jobsIn='the Southwest' jobsNow=9142 jobsFuture=9400 startingSalary=19000 hashtag=hotel-and-accommodation-manager-or-proprietor %}

<!--
{% include /career/career-example-job.html number='7' title='Fishmonger or Poultry Dresses' paragraph='Fishmongers and poultry dressers clean, cut and prepare fish and poultry for processing or sale.' jobsIn='the Southwest' jobsNow=564 jobsFuture=596 startingSalary=12000 hashtag=Fishmonger-Or-Poultry-Dresser %}


{% include /career/career-example-job.html number='8' title='Housekeepers or Related Occupation' paragraph='Housekeepers and related workers perform domestic cleaning and other housekeeping tasks within private households, hotels, schools, hostels and other non-private households.' jobsIn='the Southwest' jobsNow=4864 jobsFuture=5096 startingSalary=16000 hashtag=Housekeepers %}

{% include /career/career-example-job.html number='9' title='Kitchen or Catering Assistant' paragraph='Workers in this area assist in the preparation and service of food and beverages in restaurants, cafés and other eating establishments, and perform various cleaning, fetching and carrying tasks.' jobsIn='the Southwest' jobsNow=36357 jobsFuture=34748 startingSalary=12000 hashtag=Housekeepers %}

{% include /career/career-example-job.html number='10' title='Publican or Manager of Licensed Premises' paragraph='Workers in this area assist in the preparation and service of food and beverages in restaurants, cafés and other eating establishments, and perform various cleaning, fetching and carrying tasks.' jobsIn='the Southwest' jobsNow=5564 jobsFuture=5815 startingSalary=20000 hashtag=Publican-or-Manager-of-Licensed-Premises %}

{% include /career/career-example-job.html number='11' title='Restaurant or Catering Establishment Manager' paragraph='Restaurant and catering establishment managers and proprietors plan, direct and co-ordinate the catering services of restaurants, hotels and large-scale catering services within other organisations.' jobsNow=14510 jobsFuture=15275 startingSalary=18000 hashtag=Restaurant-or-Catering-Establishment-Manager %}

{% include /career/career-example-job.html number='12' title='Waiting Staff' paragraph='Waiters and waitresses serve food and beverages in hotels, clubs, restaurants and other establishments.' jobsNow=22571 jobsFuture=21358 startingSalary=12000 hashtag=Waiting-Staff %}
-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our Professional Cookery City & Guilds Diploma Level 2 students are happy with their course and with the College.' begin2='Our Catering & Hospitality courses have a' percent2=90.7 end2='success rate' %}

{% include /career/key-stats.html stat1='head chefs earn from £25k+' stat2='hotel managers earn from £31k+' stat3='The hospitality and
tourism sector employs 7% of the working population' stat4='660,200 people will need to be recruited by 2020'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}