---
layout: career-page
title: Catering &amp; Academy Nathan Outlaw
description: Find out more about starting a career in the catering and hospitality sector at The Cornwall College Group
career: catering-hospitality
link: course-subjects/catering-hospitality
brand: CC ANO
background-image: /images/area-banners/catering-hospitality-desktop.jpg
campuscodes: A,C,S
schema: https://schema.org/course

staff-name: Mark Devonshire
staff-role: chef lecturer
staff-photo: /images/staff/mark-devonshire.jpg
staff-text: I still work regularly in hospitality, I am always looking to upskill, food is always on the change and new ideas and challenges are always coming along.

alumni-name: Sophie Budd
alumni-role: owner of taste budds cooking studio in australia
alumni-photo: /images/alumni/cultral-visitor/catering-hospitality/sophie-budd.jpg
alumni-text: My lecturers were awesome and I had such a good time. They opened doors for me and encouraged me to push myself and boy has it paid off.

student-name1: Student Name
student-role1: Student Role
student-photo1: http://placehold.it/370x370
student-text1: Student Text

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Fishmonger or Poultry Dresses
  career-paragraph: Fishmongers and poultry dressers clean, cut and prepare fish and poultry for processing or sale.
  jobs-now: 564
  jobs-future: 596
  starting-salary: 12000
  hashtag: fishmonger

- career-number: 2
  career-title: Housekeepers or Related Occupation
  career-paragraph: Housekeepers and related workers perform domestic cleaning and other housekeeping tasks within private households, hotels, schools, hostels and other non-private households.
  jobs-now: 4864
  jobs-future: 5096
  starting-salary: 16000
  hashtag: housekeepers

- career-number: 3
  career-title: Kitchen or Catering Assistant
  career-paragraph: Workers in this area assist in the preparation and service of food and beverages in restaurants, cafés and other eating establishments, and perform various cleaning, fetching and carrying tasks.
  jobs-now: 36357
  jobs-future: 34748
  starting-salary: 12000
  hashtag: catering-assistant

- career-number: 4
  career-title: Publican or Manager of Licensed Premises
  career-paragraph: Workers in this area assist in the preparation and service of food and beverages in restaurants, cafés and other eating establishments, and perform various cleaning, fetching and carrying tasks.
  jobs-now: 5564
  jobs-future: 5815
  starting-salary: 20000
  hashtag: catering-manager

- career-number: 5
  career-title: Restaurant or Catering Establishment Manager
  career-paragraph: Restaurant and catering establishment managers and proprietors plan, direct and co-ordinate the catering services of restaurants, hotels and large-scale catering services within other organisations.
  jobs-now: 14510
  jobs-future: 15275
  starting-salary: 18000
  hashtag: catering-manager

- career-number: 6
  career-title: Waiting Staff
  career-paragraph: Waiters and waitresses serve food and beverages in hotels, clubs, restaurants and other establishments.
  jobs-now: 22571
  jobs-future: 21358
  starting-salary: 12000
  hashtag: waiting-staff

- career-number: 7
  career-title: Bakers & Flour Confectioner
  career-paragraph: Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.
  jobs-now: 2319
  jobs-future: 2329
  starting-salary: 13000
  hashtag: baker

- career-number: 8
  career-title: Bar Staff
  career-paragraph: Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.
  jobs-now: 16836
  jobs-future: 15959
  starting-salary: 11000
  hashtag: bar-staff

- career-number: 9
  career-title: Catering or Bar Manager
  career-paragraph: Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.
  jobs-now: 4182
  jobs-future: 4211
  starting-salary: 20000
  hashtag: catering-manager

- career-number: 10
  career-title: Chef
  career-paragraph: Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.
  jobs-now: 11918
  jobs-future: 11957
  starting-salary: 13000
  hashtag: chef

- career-number: 11
  career-title: Cook
  career-paragraph: Cooks prepare, season and cook food, often using pre-prepared ingredients, in clubs, private households, fast food outlets, shops selling food cooked on the premises and the catering departments and canteens of other establishments.
  jobs-now: 6036
  jobs-future: 6149
  starting-salary: 13000
  hashtag: cook

- career-number: 12
  career-title: Hotel & Accommodation Manager or Proprietor
  career-paragraph: Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.
  jobs-now: 9142
  jobs-future: 9400
  starting-salary: 19000
  hashtag: hotel-manager
---

{% include /career/career-header.html %}

<!-- BODY SECTION -->
<section class="container">
  <img src="/images/public/nathan-outlaw-logo-cropped.jpg" class="col-xs-12 col-md-5 pull-right" alt="team pic">
  <p class="lead col-xs-12 col-md-7">Cornwall has seen an incredible gastronomic community grow in recent years, with many Michelin starred chefs choosing the region for their flagship eateries.</p>
  <p class="lead col-xs-12 col-md-7">Three time Michelin star winning chef Nathan Outlaw has chosen Cornwall College to host his Academy where you could gain a competitive edge in a career in the sector that is the life blood of the region.</p>
</section>

<section class="container">{% youtube https://youtu.be/-AqUfso3nkY %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<!-- STUDENT PROFILE -->

{% include /career/career-stats.html percent1=100 end1='of our Professional Cookery City & Guilds Diploma Level 2 students are happy with their course and with the College.' begin2='Our Catering & Hospitality courses have a' percent2=90.7 end2='success rate' %}

{% include /career/key-stats.html stat1='head chefs earn from £25k+' stat2='hotel managers earn from £31k+' stat3='The catering market is now worth over £4.25 billion in turnover' stat4='660,200 people will need to be recruited by 2020'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Professional Cookery Apprenticeship' infoLink1='/cornwallcollege/catering-academy-nathan-outlaw/professional-cookery-apprenticeship-3' courseTitle2='Professional Patisserie &amp; Confectionery City &amp; Guilds Diploma' infoLink2='/cornwallcollege/catering-academy-nathan-outlaw/professional-patisserie-confectionery-city-guilds-diploma' courseTitle3='Eden Chef Apprenticeship' infoLink3='/cornwallcollege/catering-academy-nathan-outlaw/eden-chef-apprenticeship-2' courseTitle4='Advanced Professional Cookery (Kitchen &amp; Larder) City &amp; Guilds Diploma' infoLink4='/cornwallcollege/catering-academy-nathan-outlaw/advanced-professional-cookery-kitchen-larder-city-guilds-diploma' courseTitle5='Professional Cookery Advanced Technical Diploma' infoLink5='/cornwallcollege/catering-academy-nathan-outlaw/professional-cookery-advanced-technical-diploma' %}
