<!-- BODY SECTION -->
<section class="col-md-7 col-sm-12">
    <p class="lead" itemprop="description">{{ page.intro }}</p>
    <a class="btn center equal-wrap" style="margin-left: auto; max-width: 70%; margin-right: auto;" href="{{ page.intro-button-href }}">
        <div class="text-center hidden-xs">
            <i class="fa fa-2x fa-calendar"></i>
        </div>
        <div style="margin-top: .5rem; margin-bottom: 1rem;">
            {{ page.intro-button-text }}
        </div>
    </a>
</section>
