{% for campus in site.data.campus %}
    {% if campus.campus == page.campus and campus.facilities == empty %}
        {% break %}
    {% else %}
        <section class="col-md-12  color-bg events" style="background:#52B3D9;">        
                <!-- list of events -->
                <section id="portfolio-list" class="container color-bg" style="background:#52B3D9;">
                    <header class="col-sm-12 text-center">
                        <h2 class="text-uppercase">Our <strong style="color:white;">facilities</strong></h2>
                    </header>
                    <div class="main">
                        <ul id="og-grid" class="og-grid"> 
                        
                            {% if campus.campus == page.campus %}
                                {% for facility in campus.facilities %}
                                    {% include /campus/campus-facility.html %}
                                {% endfor %}
                            {% endif %}
                      
                        </ul>
                    </div>
                    <footer class="col-sm-12 text-center">
                    </footer>
                </section>
                <!-- end of events-list id -->
        </section>          
    {% endif %}
{% endfor %}