<div class="row">
    <div class="col-md-8 col-sm-6 hidden-xs no-padding" style="height: 400px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">

        {% include /location/campus-locations.html %}


    </div>
    <div class="col-md-4 col-sm-6" style="height: 400px; background-color: rgb(245, 245, 245);">
        <div class="col-padding max-height">
            <h3 class="font-body t400 ls1">DIRECTIONS</h3>

            <div style="font-size: 16px; line-height: 1.7;">
                <address style="line-height: 1.7;">
                    <strong>Address:</strong><br>
					{{page.campus}} <br/>
                    {{page.address}} <br/>
                    {{page.postcode}}
				</address>

                <div class="clear topmargin-sm"></div>

                <address style="line-height: 1.7;">
				    <strong>Contact:</strong><br>
				    {{page.phone}}<br>
				    <a href="malto:{{page.email}}">{{page.email}}</a><br>
				</address>

                <form action="http://maps.google.com/maps" method="get" target="_blank">
                    <label for="saddr">ENTER YOUR LOCATION</label><br/>
                    <input type="text" name="saddr" />
                    <input type="hidden" name="daddr" value="{{page.campus}} {{page.address}} {{page.postcode}}" />
                    <input type="submit" value="Get directions" />
                </form>
            </div>
        </div>
    </div>
</div>