<section class="col-md-12 main-section-margins intro">
  <section class="container">
    <article class="col-sm-6 col-md-4 left">
        <h2>OUR <strong>PARTNERSHIPS</strong></h2>

    </article>

    <article class="partner-logo col-xs-12 col-sm-6 col-md-8 clearfix right">
        {% for campus in site.data.campus %}
            {% if campus.campus == page.campus' %}
                {% for partner in campus.partnerships %}

                        {% include /campus/campus-partner.html %}

                {% endfor %}
            {% endif %}
        {% endfor %}
    </article>

      {% if page.campus == 'Cornwall College Camborne' %}
      <div class="col-xs-12 col-sm-6 col-md-8 pull-right" style="height:200px">
        <ul style="display:flex; justify-content:space-between; width:100%; padding:0;">
          <li style="list-style-type:none"><img src="/images/public/centre-of-excellence-logo-square.jpg" alt="" class="img-responsive"></li>
          <li style="list-style-type:none"><img src="/images/public/gold-accredited-square.jpg" alt="" class="img-responsive"></li>
          <li style="list-style-type:none"><img src="/images/public/college-rosette-highly-commended-square.jpg" alt="" class="img-responsive"></li>
          <li style="list-style-type:none"><img src="/images/public/food-hygiene-square.jpg" alt="" class="img-responsive"></li>
          <li style="list-style-type:none"><img src="/images/public/trevenson-logo-square.jpg" alt="" class="img-responsive"></li>
        </ul>
      </div>
      {% endif %}
  </section>
</section>
