<section id="event" class="col-md-12 main-section-margins">
 <section class="container">
    <article class="col-sm-4 col-md-3 intro">
        <h2><strong>EVENTS</strong> @ {{page.title | upcase}}</h2>
	
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        
        <a href="{{ site.event_site_baseurl }}/?post_type=tribe_events&venue={{page.event_campus}}" class=" btn">All Events @ {{page.title }}</a>
        
        <a href="{{ site.event_site_baseurl }}" class=" btn">All Events</a>        
	
    </article>     
  
  <section id="event-carousel" class="owl-carousel owl-theme col-xs-12 col-sm-8 col-md-8 col-md-offset-1" data-event-campus-id="{{page.event_campus}}"></section>    
  </section> 
</section>