---
layout: career-page
title: Social Care &amp; Health
description: Find out more about starting a career in the Health sector with courses from The Cornwall College Group
career: health
link: course-subjects/health-social-care
brand: CC
background-image: /images/area-banners/health-desktop.jpg
course-area-search-link: /cluster/health/ 
apprentice-area: 2
campuscodes: A,C,S,N,B
schema: https://schema.org/course

staff-name: Anne-Marie  Young
staff-role: curriculum lead - social care &amp; health
staff-photo: /images/staff/anne-marie.jpg
staff-text: Anne-Marie has worked in education for 17 years. Before joining the college in 2007 she worked across various sectors               in the care disciplines including; nanny, care worker, residential care specialist with children and managing a                     children's charirty providing outdoor play for children. She has recently qualififed as a dementia champion.

alumni-name: Martin Cowling
alumni-role: assistant theatre practitioner
alumni-photo: alumni/health-wellbeing/social-care/martin-cowling.jpg
alumni-text: The FdSc Healthcare Practice has provided me with not only the academic background surrounding patient care but also                the confidence to put it all into practice.

student-name1: Jake Turnpie
student-role1:
student-photo1: /images/students/health-wellbeing/jake-turpie.jpg
student-text1: Quote

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="If you're interested in the human body, how it works and heals, and want to work to help people live better lives: a pathway to a health career could be for you. From nurses and paramedics to dentists and doctors, there's a massive range of careers in the sector for anyone who cares about people." %}

<section class="container">
    <artical class="col-sm-6">{% youtube https://youtu.be/t6dhvGJJMT4 %}</artical>
    <artical class="col-sm-6">{% youtube https://youtu.be/HfMnBFMwDxg %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Midwife' paragraph='Midwives deliver, or assist in the delivery of babies, provide antenatal and postnatal care and advise parents on baby care. They work with other healthcare professionals, and advise on and teach midwifery practice.' jobsIn='the Southwest' jobsNow=4188 jobsFuture=4770 startingSalary=21400 hashtag=midwife %}

{% include /career/career-example-job.html number='2' title='Nurse' paragraph='Nurses provide general or specialised nursing care for the sick, injured and others in need of such care, assist medical doctors with their tasks and work with other healthcare professionals and within teams of healthcare workers. They advise on and teach nursing practice.' jobsIn='Cornwall' jobsNow=63044 jobsFuture=69568 startingSalary=21500 hashtag=nurse %}

{% include /career/career-example-job.html number='3' title='Care Worker or Home Carer' paragraph='Care workers and home carers attend to the personal needs and comforts of the elderly and the infirm (service users) with care and support needs. This may happen in a residential or day care establishments or in their own homes.' jobsIn='Cornwall' jobsNow=6765 jobsFuture=7444 startingSalary=12500 hashtag=care-worker-or-home-carer %}

{% include /career/career-example-job.html number='4' title='Physiotherapist' paragraph='Physiotherapists plan and apply massage, promote and encourage movement and exercise, use hydrotherapy, electro-therapy and other technological equipment in the treatment of a wide range of injuries, diseases and disabilities in order to assist rehabilitation by developing and restoring body systems.' jobsIn='Cornwall' jobsNow=4851 jobsFuture=5535 startingSalary=21400 hashtag=physiotherapist %}

{% include /career/career-example-job.html number='5' title='Housing Officer' paragraph='Housing officers assess and address housing needs of particular localities and individuals and oversee the day-to-day management of rented properties belonging to local authorities or housing associations.' jobsIn='the Southwest' jobsNow=3041 jobsFuture=3428 startingSalary=21000 hashtag=housing-officer %}

{% include /career/career-example-job.html number='6' title='Social Worker' paragraph='Social workers provide information, advice and support to those who are socially excluded or are experiencing crisis; they protect the welfare of vulnerable groups including children, young people, people with disabilities, elderly people and people who are mentally or physically ill, and they may specialise in specific areas of work.' jobsIn='Cornwall' jobsNow=795 jobsFuture=910 startingSalary=19500 hashtag=social-worker %}

{% include /career/career-example-job.html number='6' title='Dental Nurse' paragraph='Dental nurses prepare patients for, and assist with, dental examinations, prepare and sterilise instruments and maintain case records.' jobsIn='the Southwest' jobsNow=5822 jobsFuture=6631 startingSalary=16000 hashtag=housing-officer %}
<!--
{% include /career/career-example-job.html number='7' title='Dential Practitioner' paragraph='Dental practitioners diagnose dental and oral diseases, injuries and disorders, prescribe and administer treatment, recommend preventative action and, where necessary, refer the patient to a specialist.' jobsIn='the Southwest' jobsNow=4230 jobsFuture=4806 startingSalary=38000 hashtag=housing-officer %}

{% include /career/career-example-job.html number='8' title='Health Professional' paragraph='Job in this area perform a variety of other health-related professional occupations. They may work autonomously or in teams with other health workers.' jobsIn='the Southwest' jobsNow=3637 jobsFuture=3671 startingSalary=variable hashtag=health-professional %}

{% include /career/career-example-job.html number='9' title='Health Services or Public Health Manager or Director' paragraph='Managers and directors in this unit group plan, organise, direct and co-ordinate the resources and activities of health care providers and purchasers at both district and unit levels.' jobsIn='the Southwest' jobsNow=4799 jobsFuture=5550 startingSalary=25800 %}

{% include /career/career-example-job.html number='10' title='Healthcare Practice Manager' paragraph='Healthcare practice managers plan, organise, direct and co-ordinate the work and resources of medical, dental and other types of healthcare practice, including veterinary practices.' jobsIn='The Southwest' jobsNow=2217 jobsFuture=2420 startingSalary=21400 hashtag=healthcare-practise-manager %}

{% include /career/career-example-job.html number='11' title='Medical or Dental Technician' paragraph='Medical and dental technicians operate, calibrate and maintain cardiographic and encephalographic testing equipment, assist in the conduct of post mortems, give simple dental treatments, fit artificial limbs and hearing aids, and undertake a wide range of related medical and dental tasks.' JobsIn='The Southwest' jobsNow=2932 jobsFuture=3409 startingSalary=21400 hashtag=Medical-or-Dental-Technician %}

{% include /career/career-example-job.html number='12' title='Medical Practitioner' paragraph='Medical practitioners diagnose mental and physical injuries, disorders and diseases, prescribe and give treatment, recommend preventative action, and conduct medical education and research activities. They may specialise in particular areas of modern medicine or work in general practice and, where necessary, refer the patient to a specialist.' JobsIn='The Southwest' jobsNow=23064 jobsFuture=26200 startingSalary=54000 hashtag=Medical-Practitoner %}

{% include /career/career-example-job.html number='13' title='Medical Radiographer' paragraph='Medical (diagnostic) radiographers operate x-ray machines, ultrasound, magnetic resonance imaging and other imaging devices for diagnostic and therapeutic purposes, assist in the diagnosis of injuries and diseases and are involved in intervention procedures such as the removal of kidney stones. They operate under the supervision of senior staff. Therapeutic radiographers specialise in the planning and administration of radiotherapy treatment for patients with cancer.' JobsIn='The Southwest' jobsNow=2593 jobsFuture=2936 startingSalary=21400 hashtag=healthcare-practise-manager %}

{% include /career/career-example-job.html number='14' title='Medical Secretary' paragraph='Medical secretaries deal with correspondence, make appointments and handle patients’ queries; file and maintain medical and other records; transcribe notes and dictation; and perform other clerical tasks in hospitals, surgeries and other medical establishments.' JobsIn='The Southwest' jobsNow=6918 jobsFuture=5355 startingSalary=16300 hashtag=Medical-Secretary %}

{%include /career/career-example-job.html number='15' title'Nursing Auxillary or Assistant' parargraph='Nursing auxiliaries and assistants assist doctors, nurses and other health professionals in caring for the sick and injured within hospitals, homes, clinics and the wider community.' JobsIn='The Southwest' jobsNow=33121 jobsFuture=38149 startingSalary=14000 hashtag=Nursery-Auxillary-or-Assistant }

{%include /career/career-example-job.html number='16' title'Occupational Therapist' parargraph='Occupational therapists work with people who have a physical or learning disability or mental illness, actively engaging them in purposeful activities in order to maximise self-confidence, independent functioning and well-being.' JobsIn='The Southwest' jobsNow=3214 jobsFuture=3553 startingSalary=21400 hashtag=Occupational-Therapist }

{%include /career/career-example-job.html number='17' title'Optician' parargraph='Opticians test patients’ vision, diagnose defects and disorders and prescribe glasses or contact lenses as required.' JobsIn='The Southwest' jobsNow=1552 jobsFuture=1882 startingSalary=18000 hashtag=Optician }

{%include /career/career-example-job.html number='18' title'Pharmaceutical Technician' parargraph='Pharmaceutical technicians work in hospitals or in the community and assist pharmacists in the preparation and dispensing of drugs and medicines.' JobsIn='The Southwest' jobsNow=2186 jobsFuture=2513 startingSalary=18800 hashtag=Pharmaceutical-Technician }

{%include /career/career-example-job.html number='19' title'Pharmacist' parargraph='Pharmacists dispense drugs and medicaments in hospitals and pharmacies and advise on and participate in the development and testing of new drugs, compounds and therapies. They counsel on the proper use and adverse effects of drugs and medicines.' JobsIn='The Southwest' jobsNow=5318 jobsFuture=6432 startingSalary=21400 hashtag=Pharmacist }
-->

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Health & Social Care students are happy with their course and with the college.' begin2='Out of our health and social care students' percent2=94 end2='say that lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='NHS is the worlds fifth largest employer' stat2='a dental nurse can earn from £19k a year' stat3='an adult nurse can earn from £21,692 per year' stat4='healthcare is a leading employer in the southwest'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html campuscodes='ACSNB'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}