---
layout: career-page
title: Business School
description: Find out more about starting a career in Business and Administration at The Cornwall College Group
career: business-admin
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/business-admin-desktop.jpg
campuscodes: C,A,S,D
schema: https://schema.org/course

staff-name: Bryan Mills
staff-role:
staff-photo: /images/staff/bryan-mills.jpg
staff-text: Bryan is a highly experienced business lecturer with experience across a wide range of disciplines and industries. He               is a senior fellow of the Higher Education Academy, holder of an ACCA post-grad diploma in Financial Management, PhD in             Economics and a degree in business. He also holds a PGCE in post-compulsory education.

alumni-name: Andrew Curtis
alumni-role:
alumni-photo: /images/alumni/business-pro/andrew-curtis.jpg
alumni-text: Andrew is the Director of Cornwalls' Information Centres and puts down his success to the support given to him by the              lecturing team at Cornwall College.

student-name1: Jade Harvey
student-role1:
student-photo1: /images/students/business-pro/business-school/jade-harvey.jpg
student-text1: I really enjoyed my time at Duchy College and my tutors were great

student-name2: Beth Julian
student-role2:
student-photo2: /images/students/business-pro/business-school/beth-julian.jpg
student-text2: Every job is linked with business so it is a key course, and business has a lot of general uses in work. I love the                Business Extended Diploma, the tutors are really helpful and always have the time to work with us. I'm also studying                an accountancy qualification (AAT) alongsidethe course, that's the career route I want to take when I finish                      college.

student-name3: Rhys Spry
student-role3:
student-photo3: /images/students/business-pro/business-school/rhys-spry.jpg
student-text3: Cornwall College is the only place to study with the Peter Jones Enterprise Academy in Cornwall, it's a really                      professional environment, we attend college everyday 9-5 and have to wear smart business dress at all times. When I                finish the level 2 course I want to study further and start my own aquatics business. I'm also planning to use the                  skills I've learnt on this course to organise my own charity Iron Man event.
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Having a good head for business could mean you have skills such as creativity, good communication, insight into trends and understanding of finance and people." p2="Being well organised, enjoying working in an office environment and generally being a team player are all important if you want a career in business." %}

<section class="container">{% youtube https://youtu.be/lCaMTmNPP3k %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Estimator, Valuer or Assessor' paragraph='This broad career involves many options, you could plan and calculate the probable costs of civil, mechanical, electrical, electronic and other projects, or estimate the value of property or insurance claims for example.' jobsIn='the Southwest' jobsNow=6334 jobsFuture=6988 startingSalary=18000 hashtag='estimator' %}

{% include /career/career-example-job.html number='2' title='Human Resources & Industrial Relations Officer' paragraph='Conduct research and advise on recruitment, training, staff appraisal and industrial relations policies and negotiate with trade union or other organisations.' jobsIn='the Southwest' jobsNow=9369 jobsFuture=10267 startingSalary=15000 hashtag='hr-officer' %}

{% include /career/career-example-job.html number='3' title='IT Business Analyst, Architect or Systems Designer' paragraph='Provide expert advice on utilisation of IT and design IT systems in order to meet the business objectives or to enhance the business effectiveness of an organisation.' jobsIn='the Southwest' jobsNow=9872 jobsFuture=10713 startingSalary=30000 hashtag='it-analyst' %}

{% include /career/career-example-job.html number='4' title='Management Consultant & Business Analyst' paragraph='Advise industrial, commercial and other establishments on a variety of management and business-related matters to maximise growth or improve business performance.' jobsIn='The Southwest' jobsNow=14364 jobsFuture=15789 startingSalary=25000 hashtag='business-analyst' %}

{% include /career/career-example-job.html number='5' title='Personal Assistant & Secretary' paragraph='Personal assistants and other secretaries provide administrative and secretarial support to individuals, departmental or management teams within organisations.' jobsIn='the Southwest' jobsNow=22293 jobsFuture=17029 startingSalary=18000 hashtag='personal-assistant' %}

{% include /career/career-example-job.html number='6' title='Business Sales Executive' paragraph='Advise existing and potential customers on products and services, being able to promote benefits to both the individual and business.
' jobsIn='The Southwest' jobsNow=13507 jobsFuture=14827 startingSalary=15000 hashtag='sales-executive' %}

<!--
{% include /career/career-example-job.html number='7' title='Quality Assurance & Regulatory Professional' paragraph='Plan, organise and direct the effective measurement and reporting on the qualitative and regulatory aspects of a specified tangible (industrial production) or non-tangible (service provision) output.' jobsIn='the Southwest' jobsNow=6175 jobsFuture=6864 startingSalary=23000 hashtag=quality-assurance-and-regulatory-professional %}

{% include /career/career-example-job.html number='8' title='Administrator' paragraph="Administration jobs perform a variety of clerical and administrative tasks, mostly in offices. You'll need attention to detail and good IT skills." jobsIn='The Southwest' jobsNow=4243 jobsFuture=4145 startingSalary=12000 hashtag=quality-assurance-and-regulatory-professional %}

{% include /career/career-example-job.html number='9' title='Chief Executive or Senior Official' paragraph='CEOs plan, direct and co-ordinate the resources necessary for the strategic success of their business or organisations. Senior officials work with CEOs to achieve these strategies.' jobsIn='The Southwest' jobsNow=3935 jobsFuture=3030 startingSalary=14000 hashtag=quality-assurance-and-regulatory-professional %}
-->
<!--
{% include /career/career-example-job.html number='10' title='Company Secretary' paragraph="Manage, organise and co-ordinate conferences, exhibitions and similar events. It's a fast paced job, demanding attention to details and self confidence in dealing with lots of people." jobsIn='The Southwest' jobsNow=5775 jobsFuture=6350 startingSalary=17000 hashtag=quality-assurance-and-regulatory-professional %}
-->
<!--
{% include /career/career-example-job.html number='11' title='Conference & Exhibiton Manager or Organiser' paragraph='CEOs plan, direct and co-ordinate the resources necessary for the strategic success of their business or organisations. Senior officials work with CEOs to achieve these strategies.' jobsIn='The Southwest' jobsNow=5972 jobsFuture=6660 startingSalary=variable hashtag=quality-assurance-and-regulatory-professional %}
-->
<!--
{% include /career/career-example-job.html number='12' title='Estate Agent or Auctioneer' paragraph='Arrange for the valuation, sale, purchase, rental and leasing of property on behalf of clients. This role is very much focussed on sales and will require you to have good people skills to succeed.' jobsIn='The Southwest' jobsNow=4565 jobsFuture=5010 startingSalary=12000 hashtag=estate-agent %}

{% include /career/career-example-job.html number='13' title='Local Government Administrator' paragraph='Arrange for the valuation, sale, purchase, rental and leasing of property on behalf of clients. This role is very much focussed on sales and will require you to have good people skills to succeed.' jobsIn='The Southwest' jobsNow=12452 jobsFuture=11881 startingSalary=14500 hashtag=estate-agent %}

{% include /career/career-example-job.html number='14' title='Office Manager' paragraph='Office managers plan, organise and co-ordinate the activities and resources of offices within commercial, industrial and other non-governmental organisations and public agencies. ' jobsIn='The Southwest' jobsNow=13229 jobsFuture=12758 startingSalary=18000 hashtag=estate-agent %}

{% include /career/career-example-job.html number='15' title='Other Administration Occupation' paragraph='Job holders in this unit group are responsible for recording, filing and disseminating information for a business, organisation or individual.' jobsIn='The Southwest' jobsNow=57121 jobsFuture=55465 startingSalary=12000 hashtag=Other-Administration-Occupation %}

{% include /career/career-example-job.html number='16' title='Receptionist' paragraph="Receive and direct telephone calls and visitors to commercial, government and other establishments. You'll need good communication and IT skills and enjoy working with people." jobsIn='The Southwest' jobsNow=24212 jobsFuture=19064 startingSalary=11500 hashtag=Receptionist %}
-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our business and IT students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='3.65 million people are employed in the sector' stat2='Almost 1/3 of all apprentices in the UK are working in business, admin and law' stat3='The 351,000 business start-ups in 2014 were the highest recorded since comparable records
began in 2000' stat4='Senior analysts can earn between £50k and £70k'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html campuscodes='CASD'%}

{% include /career/career-courses.html courseTitle1='Accounting AAT Advanced Diploma in Accounting' infoLink1='?courses=accounting-aat-advanced-diploma-in-accounting' courseTitle2='Effective Marketing' infoLink2='?courses=fdsc-food-studies' courseTitle3='Business BTEC Extended Diploma' infoLink3='?courses=business-btec-extended-diploma' courseTitle4='Law &amp; Practice CILEX Diploma' infoLink4='?courses=law-practice-cilex-diploma' courseTitle5='BA (Hons) Business Enterprise Management' infoLink5='?courses=ba-hons-business-enterprise-management' %}
