---
layout: career-page
title: Business School
description: Find out more about starting a career in Business and Administration at The Cornwall College Group
career: business-admin
link: course-subjects/business-administration-law
brand: CC
background-image: /images/area-banners/business-admin-desktop.jpg
campuscodes: C,A,S,D
schema: https://schema.org/course

staff-name: Bryan Mills
staff-role:
staff-photo: /images/staff/bryan-mills.jpg
staff-text: Bryan is a highly experienced business lecturer with experience across a wide range of disciplines and industries. He is a senior fellow of the Higher Education Academy, holder of an ACCA post-grad diploma in Financial Management, PhD in Economics and a degree in business. He also holds a PGCE in post-compulsory education.

alumni-name: Andrew Curtis
alumni-role:
alumni-photo: /images/alumni/business-pro/andrew-curtis.jpg
alumni-text: Andrew is the Director of Cornwalls' Information Centres and puts down his success to the support given to him by the lecturing team at Cornwall College.

student-name1: Jade Harvey
student-role1:
student-photo1: /images/students/business-pro/business-school/jade-harvey.jpg
student-text1: I really enjoyed my time at Duchy College and my tutors were great

student-name2: Beth Julian
student-role2:
student-photo2: /images/students/business-pro/business-school/beth-julian.jpg
student-text2: Every job is linked with business so it is a key course, and business has a lot of general uses in work. I love the Business Extended Diploma, the tutors are really helpful and always have the time to work with us. I'm also studying an accountancy qualification (AAT) alongsidethe course, that's the career route I want to take when I finish college.

student-name3: Rhys Spry
student-role3:
student-photo3: /images/students/business-pro/business-school/rhys-spry.jpg
student-text3: Cornwall College is the only place to study with the Peter Jones Enterprise Academy in Cornwall, it's a really professional environment, we attend college everyday 9-5 and have to wear smart business dress at all times. When I finish the level 2 course I want to study further and start my own aquatics business. I'm also planning to use the skills I've learnt on this course to organise my own charity Iron Man event.

careers:
- career-number: 1
  career-title: Estimator, Valuer or Assessor
  career-paragraph: This broad career involves many options, you could plan and calculate the probable costs of civil, mechanical, electrical, electronic and other projects, or estimate the value of property or insurance claims for example.
  jobs-now: 6334
  jobs-future: 6988
  starting-salary: 18000
  hashtag: estimator

- career-number: 2
  career-title: Human Resources & Industrial Relations Officer
  career-paragraph: Conduct research and advise on recruitment, training, staff appraisal and industrial relations policies and negotiate with trade union or other organisations.
  jobs-now: 9369
  jobs-future: 10267
  starting-salary: 15000
  hashtag: hr-manager

- career-number: 3
  career-title: IT Business Analyst, Architect or Systems Designer
  career-paragraph: Provide expert advice on utilisation of IT and design IT systems in order to meet the business objectives or to enhance the business effectiveness of an organisation.
  jobs-now: 9872
  jobs-future: 10713
  starting-salary: 30000
  hashtag: it-analyst

- career-number: 4
  career-title: Management Consultant & Business Analyst
  career-paragraph: Advise industrial, commercial and other establishments on a variety of management and business-related matters to maximise growth or improve business performance.
  jobs-now: 14364
  jobs-future: 15789
  starting-salary: 25000
  hashtag: management-consultant

- career-number: 5
  career-title: Personal Assistant & Secretary
  career-paragraph: Personal assistants and other secretaries provide administrative and secretarial support to individuals, departmental or management teams within organisations.
  jobs-now: 22293
  jobs-future: 17029
  starting-salary: 18000
  hashtag: personal-assistant

- career-number: 6
  career-title: Business Sales Executive
  career-paragraph: Advise existing and potential customers on products and services, being able to promote benefits to both the individual and business.
  jobs-now: 13507
  jobs-future: 14827
  starting-salary: 15000
  hashtag: business

- career-number: 7
  career-title: Quality Assurance & Regulatory Professional
  career-paragraph: Plan, organise and direct the effective measurement and reporting on the qualitative and regulatory aspects of a specified tangible (industrial production) or non-tangible (service provision) output.
  jobs-now: 6175
  jobs-future: 6864
  starting-salary: 23000
  hashtag: quality-assurance

- career-number: 8
  career-title: Administrator
  career-paragraph: Administration jobs perform a variety of clerical and administrative tasks, mostly in offices. You'll need attention to detail and good IT skills.
  jobs-now: 4243
  jobs-future: 4145
  starting-salary: 12000
  hashtag: administrator

- career-number: 9
  career-title: Chief Executive or Senior Official
  career-paragraph: CEOs plan, direct and co-ordinate the resources necessary for the strategic success of their business or organisations. Senior officials work with CEOs to achieve these strategies.
  jobs-now: 5972
  jobs-future: 6660
  starting-salary: Variable
  hashtag: CEO

- career-number: 10
  career-title: Company Secretary
  career-paragraph: Manage, organise and co-ordinate conferences, exhibitions and similar events. It's a fast paced job, demanding attention to details and self confidence in dealing with lots of people.
  jobs-now: 3935
  jobs-future: 3030
  starting-salary: 14000
  hashtag: Secretary

- career-number: 11
  career-title: Receptionist
  career-paragraph: Receive and direct telephone calls and visitors to commercial, government and other establishments. You'll need good communication and IT skills and enjoy working with people.
  jobs-now: 24212
  jobs-future: 19064
  starting-salary: 11500
  hashtag: Receptionist

- career-number: 12
  career-title: Estate Agent or Auctioneer
  career-paragraph: Arrange for the valuation, sale, purchase, rental and leasing of property on behalf of clients. This role is very much focussed on sales and will require you to have good people skills to succeed.
  jobs-now: 4565
  jobs-future: 5010
  starting-salary: 12000
  hashtag: estate-manager

- career-number: 13
  career-title: Local Government Administrator
  career-paragraph: Arrange for the valuation, sale, purchase, rental and leasing of property on behalf of clients. This role is very much focussed on sales and will require you to have good people skills to succeed.
  jobs-now: 12452
  jobs-future: 11881
  starting-salary: 14500
  hashtag: estate-agent

- career-number: 14
  career-title: Office Manager
  career-paragraph: Office managers plan, organise and co-ordinate the activities and resources of offices within commercial, industrial and other non-governmental organisations and public agencies.
  jobs-now: 13229
  jobs-future: 12758
  starting-salary: 18000
  hashtag: estate-agent

- career-number: 15
  career-title: Other Administration Occupation
  career-paragraph: Job holders in this unit group are responsible for recording, filing and disseminating information for a business, organisation or individual.
  jobs-now: 57121
  jobs-future: 55465
  starting-salary: 12000
  hashtag: Other-Administration-Occupation

- career-number: 16
  career-title: Conference & Exhibiton Manager or Organiser
  career-paragraph: CEOs plan, direct and co-ordinate the resources necessary for the strategic success of their business or organisations. Senior officials work with CEOs to achieve these strategies.
  jobs-now: 5775
  jobs-future: 6350
  starting-salary: variable
  hashtag: conference-manager
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Having a good head for business could mean you have skills such as creativity, good communication, insight into trends and understanding of finance and people." p2="Being well organised, enjoying working in an office environment and generally being a team player are all important if you want a career in business." %}

<section class="container">{% youtube https://youtu.be/lCaMTmNPP3k %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our business and IT students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='3.65 million people are employed in the sector' stat2='Almost 1/3 of all apprentices in the UK are working in business, admin and law' stat3='The 351,000 business start-ups in 2014 were the highest recorded since comparable records
began in 2000' stat4='Senior analysts can earn between £50k and £70k'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html campuscodes='CASD'%}

{% include /career/career-courses.html courseTitle1='Accounting AAT Advanced Diploma in Accounting' infoLink1='?courses=accounting-aat-advanced-diploma-in-accounting' courseTitle2='Business &amp; Management Access To Higher Education Diploma' infoLink2='?courses=business-management-access-to-higher-education-diploma' courseTitle3='Business BTEC Extended Diploma' infoLink3='?courses=business-btec-extended-diploma' courseTitle4='Law &amp; Practice CILEX Diploma' infoLink4='?courses=law-practice-cilex-diploma' courseTitle5='BA (Hons) Business Enterprise Management' infoLink5='?courses=ba-hons-business-enterprise-management' %}
