---
layout: career-page
title: Land-based Engineering &amp; Technology
description: Find out more about starting career in the Agriculture and Horticulture industry at The Cornwall College Group
career: agriculture-horticulture
link: course-subjects/agriculture
brand: DC
background-image: /images/area-banners/agriculture-horticulture-mobile.jpg
campuscodes: R,D,B
schema: https://schema.org/course

staff-name: Rob Dunn
staff-role: Head of Land-Based &amp; Food Studies
staff-photo: /images/staff/robb-dunn.jpg
staff-text: Food and farming expert Rob Dunn has recently joined the leadership team for Duchy and Bicton College and has taken on             the role of curriculum lead, overseeing education provision across the region and projects such as the new Future Farm             scheme; the £10 million creation of a new skills centre, dairy unit and pioneering research centre at Duchy College                 Stoke Climsland. Rob has worked at a number of land-based colleges around the UK. Rob also presents a weekly farming               show for a Cornish radio station and is a judge for the British Farming Awards.

alumni-name: Michael Bugden
alumni-role: Vincet Tractors
alumni-photo: 
alumni-text: I wanted to get myself a trade and this was the best place to come, there's a lot of practical work and that makes it              easier to learn. The tutors are good, it's just like having a friend. They're reliable, easy to talk to and if you've              got a problem they're always straight there to sort it out. I'm a land-based engineering apprentice with Vincent                    Tractors and I'm keen to stay there working on getting more experience and one day hopefully go on my own.
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Enjoy working outside and find farm work, livestock and machinery interesting? Then you should consider a career in agriculture. Or if plants, their growth, sustainability and making the environment beautiful are close to your heart a career in horticulture could be for you.' %}

<section class="container">
    <artical class="col-sm-6">{% youtube https://youtu.be/XyeoUD8OGEk %}</artical>
    <artical class="col-sm-6">{% youtube https://youtu.be/A80YkPPT3Yk %}</artical>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Agricultural Machinery Driver' paragraph='Operate and drive tractors, combine harvesters or other farm vehicles to clear and cultivate land and to sow and harvest plants and crops.' jobsIn='the Southwest' jobsNow=786 jobsFuture=800 startingSalary=12000 hashtag=agricultural-machinery-driver %}

{% include /career/career-example-job.html number='2' title='Farm Worker' paragraph='Farm workers perform a variety of tasks, by hand and machine, to produce and harvest crops and to breed and rear cattle, sheep, pigs and poultry.' jobsIn='the Southwest' jobsNow=7014 jobsFuture=7142 startingSalary=13000 hashtag=farm-worker %}

{% include /career/career-example-job.html number='3' title='Farmer' paragraph='Farmers and related occupations cultivate arable crops, fruits and trees, and raise cattle, sheep, pigs, poultry and other livestock for consumption.' jobsIn='the Southwest' jobsNow=22383 jobsFuture=21839 startingSalary=20000 hashtag=farmer %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}
    
{% include /career/staff-profile.html name=page.staff-name role=page.staff-role about=page.staff-text image=page.staff-photo %}

{% include /career/student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Bradley Maddever' studentRole1='' studentQuote1="I did land-based engineering at Level 2 full-time here before I became an apprentice and it helped me to learn a lot before going into work. When I'm here I get to learn and do things for my portfolio that I don't do day-to-day at work. I get on with everyone here, it's a really nice working environment." studentImage2='http://placehold.it/370x370' studentName2='Student Name' studentRole2='Student Role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Craig Frain' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include /career/career-stats.html begin1='Our agriculture courses have an' percent1=89.1 end1='success rate.' %}

{% include /career/key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html name=page.alumni-name role=page.alumni-role text=page.alumni-text photo=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %} 
