---
layout: career-page
title: Land-based Engineering &amp; Technology
description: Find out more about starting career in the Agriculture and Horticulture industry at The Cornwall College Group
career: land-based-engineering
link: course-subjects/agriculture
brand: DC
background-image: /images/area-banners/agriculture-horticulture-mobile.jpg
campuscodes: R,D,B
schema: https://schema.org/course

staff-name: Rob Dunn
staff-role: Head of Land-Based &amp; Food Studies
staff-photo: /images/staff/robb-dunn.jpg
staff-text: Food and farming expert Rob Dunn has recently joined the leadership team for Duchy and Bicton College and has taken on the role of curriculum lead, overseeing education provision across the region and projects such as the new Future Farm             scheme; the £10 million creation of a new skills centre, dairy unit and pioneering research centre at Duchy College                 Stoke Climsland. Rob has worked at a number of land-based colleges around the UK. Rob also presents a weekly farming               show for a Cornish radio station and is a judge for the British Farming Awards.

alumni-name: Michael Bugden
alumni-role: Vincet Tractors
alumni-photo: /images/alumni/rural-economy/michael-bugden.jpg
alumni-text: I wanted to get myself a trade and this was the best place to come, there's a lot of practical work and that makes it easier to learn. The tutors are good, it's just like having a friend. They're reliable, easy to talk to and if you've              got a problem they're always straight there to sort it out. I'm a land-based engineering apprentice with Vincent                    Tractors and I'm keen to stay there working on getting more experience and one day hopefully go on my own.

student-name1: Bradley Maddever
student-role1:
student-photo1: /images/students/rural-economy/land-based/bradley-maddever.jpg
student-text1: I did land-based engineering at Level 2 full-time here before I became an apprentice and it helped me to learn a lot before going into work. When I'm here I get to learn and do things for my portfolio that I don't do day-to-day at                  work. I get on with everyone here, it's a really nice working environment.

student-name2: Craig Frain
student-role2:
student-photo2: /images/students/rural-economy/land-based/craig-frain.jpg
student-text2: I really want to be an excavator driver, so this course has allowed me to get the qualifications for that whilst learning the theory as well.

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Agricultural Machinery Driver
  career-paragraph: Operate and drive tractors, combine harvesters or other farm vehicles to clear and cultivate land and to sow and harvest plants and crops.
  jobs-now: 786
  jobs-future: 800
  starting-salary: 12000
  hashtag: agricultural-machinery-driver

- career-number: 2
  career-title: Farm Worker
  career-paragraph: Farm workers perform a variety of tasks, by hand and machine, to produce and harvest crops and to breed and rear cattle, sheep, pigs and poultry.
  jobs-now: 7014
  jobs-future: 7142
  starting-salary: 13000
  hashtag: farm-worker

- career-number: 3
  career-title: Farmer
  career-paragraph: Farmers and related occupations cultivate arable crops, fruits and trees, and raise cattle, sheep, pigs, poultry and other livestock for consumption.
  jobs-now: 22383
  jobs-future: 21839
  starting-salary: 20000
  hashtag: farmer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1='Enjoy working outside and find farm work, livestock and machinery interesting? Then you should consider a career in agriculture. Or if plants, their growth, sustainability and making the environment beautiful are close to your heart a career in horticulture could be for you.' %}

<section class="container">{% youtube https://youtu.be/3F8ZTdKo6eo %}</section>


{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html begin1='Our agriculture courses have an' percent1=89.1 end1='success rate.' %}

{% include /career/key-stats.html stat1='Modern tractors have as many sophisticated control systems as an F1 car' stat2='Over 6,000 companies in the UK sell and service agricultural and garden machinery' stat3='There are approximately 60,000 individuals working in the sector, 30% of which are service engineers' stat4='Only three major tractor manufacturers are operating in the UK and are able to satisfy world demand'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Land-Based Technology City &amp; Guilds Subsidiary Diploma' infoLink1='/duchycollege/land-based-engineering-technology/land-based-technology-city-guilds-subsidiary-diploma' courseTitle2='Land-Based Service Engineering Apprenticeship' infoLink2='/duchycollege/land-based-engineering-technology/land-based-service-engineering-apprenticeship' courseTitle3='Plant Operations (Groundworks) Cskills Certificate' infoLink3='/duchycollege/construction/plant-operations-groundworks-cskills-certificate' courseTitle4='Construction Plant Operations NPTC City &amp; Guilds' infoLink4='/courses/construction-plant-operations-nptc-city-guilds' courseTitle5='Construction Operations &amp; Civil Engineering (Groundworks) Apprenticeship' infoLink5='/duchycollege/construction/construction-operations-civil-engineering-groundworks-apprenticeship' %}
