---
layout: career-page
title: Animal Science & Management
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: animal-science-management
link: course-subjects/conservation-zoology-and-animal-behaviour
brand: CC
---

{% include career-header.html %}

{% include career-intro.html p1="Are you passionate about animals and their welfare? Understanding animal behaviour, environments and health requires scientific understanding as well as a caring nature. We can offer you the chance to work with animals at whichever level suits you best, from veterinary sciences to dog grooming, you'll learn from experts and our industry partners." %}

<section class="container">{% youtube https://youtu.be/l5sAWjWcXoA %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Animal Care Services Operative' paragraph='Workers in this area care for animals held in kennels, stables, zoos and similar establishments, provide specialised training, grooming, clipping and trimming services for animals, and searches for and captures stray or nuisance dogs in public areas and perform a variety of animal care tasks.' jobsIn='the Southwest' jobsNow=5295 jobsFuture=5828 startingSalary=11000 %}

{% include career-example-job.html number='2' title='Veterinarian' paragraph='Veterinarians diagnose and treat animal injuries, diseases and disorders, and advise on preventative action. They may work in practices, specialising according to their location in either a rural or urban area, or in the public sector or associated industries such as pharmaceuticals, food production or drug regulation.' jobsIn='the Southwest' jobsNow=1688 jobsFuture=1911 startingSalary=30000 %}

{% include career-example-job.html number='3' title='Veterinary Nurse' paragraph='Veterinary nurses provide assistance to veterinarians in the treatment and care of sick or injured animals.' jobsIn='Cornwall' jobsNow=1167 jobsFuture=1283 startingSalary=14000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %} 

{% include career-stats.html percent1=95 end1='of our animal science students say that lecturers know their subject well.' %}

{% include career-alumni.html name='Owen Taylor' text='After a successful career Owen is now the Head Keeper at Newquay Zoo and has had numerous articles published.' photo='alumni/animal-science-management-owen-taylor.jpg' %}

{% include career-apply-bar-second.html %} 
