---
layout: career-page
title: Animal Management &amp; Veterinary Nursing
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: animal-science-management
link: course-subjects/conservation-zoology-and-animal-behaviour
brand: CC
background-image: /images/area-banners/animal-science-management-desktop.jpg
campuscodes: C,S,A
schema: https://schema.org/course

staff-name: Jo Challacombe
staff-role: TECHNICIAN - ANIMAL MANAGEMENT
staff-photo: /images/staff/jo-challacombe.jpg
staff-text: Jo manages the care of a wide range of animals at Duchy College’s Stoke Climsland animal care unit and supports students on further and higher education programmes, to give them the best hands-on learning experience. Jo originally trained in equitation science before broadening her experience into understanding the needs and behaviours of a range of animals from rats and snakes to centipedes and rabbits!

alumni-name: Toni Cobbett
alumni-role:
alumni-photo: /images/alumni/rural-economy/toni-corbett-vet.jpg
alumni-text: My Course at Duchy College was really hands-on and the lecturers were understanding, helpful and encouraging, and made sure we all pushed ourselves

student-name1: John Cuthbertson
student-role1:
student-photo1: /images/students/rural-economy/animal-management/john-cuthbertson.jpg
student-text1: I found working and learning at college very effective, you are learning the technical aspects of the industry and then putting it into practice, which enabled me to progress my technical knowledge in nutrition, fertility, and herd health planning.

student-name2: Liz Kelly
student-role2:
student-photo2: /images/students/rural-economy/animal-management/liz-kelly.jpg
student-text2: All of the tutors are very knowledgable about the subjects they teach, which makes the lessons enjoyable and interesting.

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Zoo Keeper or Animal Welfare Officer
  career-paragraph: Workers in this area care for animals held in kennels, stables, zoos and similar establishments, provide specialised training, grooming, clipping and trimming services for animals, and searches for and captures stray or nuisance dogs in public areas and perform a variety of animal care tasks.
  jobs-now: 5295
  jobs-future: 5828
  starting-salary: 11000
  hashtag: zoo-keeper

- career-number: 2
  career-title: Veterinary Surgeon
  career-paragraph: Veterinary Surgeons diagnose and treat animal injuries, diseases and disorders, and advise on preventative action. They may work in practices, specialising according to their location in either a rural or urban area, or in the public sector or associated industries such as pharmaceuticals, food production or drug regulation.
  jobs-now: 1683
  jobs-future: 1912
  starting-salary: 30000
  hashtag: vet-surgeon

- career-number: 3
  career-title: Veterinary Nurse
  career-paragraph: Veterinary nurses provide assistance to veterinarians in the treatment and care of sick or injured animals.
  jobs-now: 919
  jobs-future: 1050
  starting-salary: 14000
  hashtag: vet-nurse

- career-number: 4
  career-title: Animal Care Services Operative
  career-paragraph: Workers in this area care for animals held in kennels, stables, zoos and similar establishments, provide specialised training, grooming, clipping and trimming services for animals, and searches for and captures stray or nuisance dogs in public areas and perform a variety of animal care tasks.
  jobs-now: 8926
  jobs-future: 10184
  starting-salary: 11000
  hashtag: animal-care-operative

- career-number: 5
  career-title: Veterinarian
  career-paragraph: Veterinarians diagnose and treat animal injuries, diseases and disorders, and advise on preventative action. They may work in practices, specialising according to their location in either a rural or urban area, or in the public sector or associated industries such as pharmaceuticals, food production or drug regulation.
  jobs-now: 1683
  jobs-future: 1912
  starting-salary: 30000
  hashtag: vet
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Are you passionate about animals and their welfare? Understanding animal behaviour, environments and health requires scientific understanding as well as a caring nature. We can offer you the chance to work with animals at whichever level suits you best, from veterinary sciences to dog grooming, you'll learn from experts and our industry partners." %}

<section class="container">{% youtube https://youtu.be/l5sAWjWcXoA %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=95 end1='of our animal science students say that lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='In 2015 the pet population in the UK was approx 58 million' stat2='Qualified veterinary nurses can earn between £18,000 and £22,000 a year, depending on experience' stat3='The six counties of the South West have a total of 24.5 million animals' stat4='In 2015 it was estimated that Britons spent £4.6 billion on their pets'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Veterinary Nursing Diploma' infoLink1='?courses=veterinary-nursing-diploma' courseTitle2='Zoo Animal Management Technical Extended Diploma' infoLink2='?courses=zoo-animal-management-diploma' courseTitle3='Animal Management Technical Extended Diploma' infoLink3='?courses=animal-management-extended-diploma' courseTitle4='Animal Management Apprenticeship' infoLink4='?courses=animal-management-apprenticeship' courseTitle5='FdSc Veterinary Nursing' infoLink5='?courses=fdsc-veterinary-nursing' %}
