---
layout: career-page
title: Animal Management &amp; Veterinary Nursing
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: animal-science-management
link: course-subjects/conservation-zoology-and-animal-behaviour
brand: CC
background-image: /images/area-banners/animal-science-management-desktop.jpg
campuscodes: C,S,A
schema: https://schema.org/course

staff-name: Jo Challacombe
staff-role: TECHNICIAN - ANIMAL MANAGEMENT
staff-photo: /images/staff/jo-challacombe.jpg
staff-text: Jo manages the care of a wide range of animals at Duchy College’s Stoke Climsland animal care unit and supports                     students on further and higher education programmes, to give them the best hands-on learning experience. Jo originally             trained in equitation science before broadening her experience into understanding the needs and behaviours of a range               of animals from rats and snakes to centipedes and rabbits!

alumni-name: Toni Cobbett
alumni-role:
alumni-photo: alumni/rural-economy/toni-corbett-vet.jpg
alumni-text: My Course at Duchy College was really hands-on and the lecturers were understanding, helpful and encouraging, and made              sure we all pushed ourselves

student-name1: John Cuthbertson
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: I found working and learning at college very effective, you are learning the technical aspects of the industry and                  then putting it into practice, which enabled me to progress my technical knowledge in nutrition, fertility, and herd                health planning.

student-name2: Liz Kelly
student-role2:
student-photo2: /images/students/rural-economy/animal-management/liz-kelly.jpg
student-text2: All of the tutors are very knowledgable about the subjects they teach, which makes the lessons enjoyable and                        interesting.

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Are you passionate about animals and their welfare? Understanding animal behaviour, environments and health requires scientific understanding as well as a caring nature. We can offer you the chance to work with animals at whichever level suits you best, from veterinary sciences to dog grooming, you'll learn from experts and our industry partners." %}

<section class="container">{% youtube https://youtu.be/l5sAWjWcXoA %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Zoo Keeper or Animal Welfare Officer' paragraph='Workers in this area care for animals held in kennels, stables, zoos and similar establishments, provide specialised training, grooming, clipping and trimming services for animals, and searches for and captures stray or nuisance dogs in public areas and perform a variety of animal care tasks.' jobsIn='the Southwest' jobsNow=5295 jobsFuture=5828 startingSalary=11000 hashtag=zoo-keeper-or-animal-welfare-officer %}

{% include /career/career-example-job.html number='2' title='Veterinary Surgeon' paragraph='Veterinary Surgeons diagnose and treat animal injuries, diseases and disorders, and advise on preventative action. They may work in practices, specialising according to their location in either a rural or urban area, or in the public sector or associated industries such as pharmaceuticals, food production or drug regulation.' jobsIn='the Southwest' jobsNow=1688 jobsFuture=1911 startingSalary=30000 hashtag=veterinary-surgeon %}

{% include /career/career-example-job.html number='3' title='Veterinary Nurse' paragraph='Veterinary nurses provide assistance to veterinarians in the treatment and care of sick or injured animals.' jobsIn='Cornwall' jobsNow=1167 jobsFuture=1283 startingSalary=14000 hashtag=veterinary-nurse %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %} 

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}
    
{% include /career/career-stats.html percent1=95 end1='of our animal science students say that lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='In 2015 the pet population in the UK was approx 58 million' stat2='Qualified veterinary
nurses can earn between £18,000 and £22,000 a year, depending on experience' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}