---
layout: career-page
title: Catering & Hospitality
description: Find out more about starting a career in the catering and hospitality sector at The Cornwall College Group
career: catering-hospitality
link: course-subjects/catering-hospitality
brand: CC
---


{% include career-header.html %}

{% include career-intro.html p1="Cornwall has seen an incredible gastronomic community grow in recent years, with many Michelin starred chefs choosing the region for their flagship eateries." p2="Three time Michelin star winning chef Nathan Outlaw has chosen Cornwall College to host his Academy where you could gain a competitive edge in a career in the sector that is the life blood of the region." %}

<section class="container">{% youtube https://youtu.be/y8KB3tyhZyg %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Bakers & Flour Confectioner' paragraph='Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.' jobsIn='the Southwest' jobsNow=2195 jobsFuture=1847 startingSalary=13000 %}

{% include career-example-job.html number='2' title='Bar Staff' paragraph='Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.' jobsIn='the Southwest' jobsNow=14541 jobsFuture=15193 startingSalary=11000 %}

{% include career-example-job.html number='3' title='Catering or Bar Manager' paragraph='Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.' jobsIn='the Southwest' jobsNow=4369 jobsFuture=3678 startingSalary=20000 %}

{% include career-example-job.html number='4' title='Chef' paragraph='Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.' jobsIn='the Southwest' jobsNow=14844 jobsFuture=12501 startingSalary=13000 %}

{% include career-example-job.html number='5' title='Cook' paragraph='Cooks prepare, season and cook food, often using pre-prepared ingredients, in clubs, private households, fast food outlets, shops selling food cooked on the premises and the catering departments and canteens of other establishments.' jobsIn='the Southwest' jobsNow=6162 jobsFuture=5190 startingSalary=13000 %}

{% include career-example-job.html number='6' title='Hotel & Accommodation Manager or Proprietor' paragraph='Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.' jobsIn='the Southwest' jobsNow=5314 jobsFuture=5907 startingSalary=19000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include career-stats.html percent1=100 end1='of our Professional Cookery City & Guilds Diploma Level 2 students are happy with their course and with the College.' begin2='Our Catering & Hospitality courses have a' percent2=90.7 end2='success rate' %}

{% include career-alumni.html name="Sophie Budd" text="Sophie is a talented chef who has now established her own cooking school in Sydney, Australia.  Her aim is to reconnect people with cooking and where their food comes from." photo="alumni/food-production-sophie-budd.jpg" %}

{% include career-apply-bar-second.html %} 
