---
layout: career-page
title: Catering and Hospitality
description: Find out more about starting a career in the catering and hospitality sector at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='catering-hospitality' title='Catering &amp; Hospitality' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Cornwall has seen an incredible gastronomic community grow in recent years, with many Michelin starred chefs choosing the region for their flagship eateries.</p> 
                <p class="lead">Three time Michelin star winning chef Nathan Outlaw has chosen Cornwall College to host his Academy where you could gain a compeitive edge in a career in the sector that is the life blood of the region. </p>
            {% youtube https://youtu.be/y8KB3tyhZyg %}
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-1" aria-expanded="false" aria-controls="career-1" class="collapsed">
                        <h2>Bakers &amp; Flour Confectioner<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-1">
                        <p>Bakers and flour confectioners prepare and bake dough, pastry and cake mixtures and make and finish flour confectionary products by hand.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">2195</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">1847</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="pound-sign">£</span><span class="counter">13000</span> Starting Salary</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-2" aria-expanded="false" aria-controls="career-2" class="collapsed">
                        <h2>Bar Staff<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-2">
                        <p>Bar staff prepare, mix and serve alcoholic and non-alcoholic drinks and beverages at bars in public houses, hotels, clubs and other establishments.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">14541</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">15193</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">11,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-3" aria-expanded="false" aria-controls="career-3" class="collapsed">
                        <h2>Catering or Bar Manager<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-3">
                        <p>Catering and bar managers plan, direct and co-ordinate the catering and bar facilities and services of licensed premises, factories, shops, theatres, educational premises and other establishments. They also manage outside catering businesses and shops selling food cooked on the premises.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">4369</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">3678</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">20,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-4" aria-expanded="false" aria-controls="career-4" class="collapsed">
                        <h2>Chef<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-4">
                        <p>Chefs plan menus and prepare, or oversee the preparation of food in hotels, restaurants, clubs, private households and other establishments.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">14844</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">12501</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">13,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-5" aria-expanded="false" aria-controls="career-5" class="collapsed">
                        <h2>Cook<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-5">
                        <p>Cooks prepare, season and cook food, often using pre-prepared ingredients, in clubs, private households, fast food outlets, shops selling food cooked on the premises and the catering departments and canteens of other establishments.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">6162</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">5190</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">13,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article> 
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-6" aria-expanded="false" aria-controls="career-6" class="collapsed">
                        <h2>Hotel &amp; Accommodation Manager or Proprietor<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-6">
                        <p>Workers in this area plan, organise, direct and co-ordinate the activities and resources of hotels, hostels, lodging homes, holiday camps, holiday flats and chalets, and organise the domestic, catering, and entertainment facilities on passenger ships.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">5314</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">5907</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">19,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>                  
            </section>
        </section>
        <!-- call to action section -->
        {% include career-apply-bar.html career='catering-hospitality' order='first' %}

        <!-- skills -->

        <section id="skills" class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="side-text col-xs-6 col-md-4 col-md-offset-1">
                    <h2>OUR <strong>STATS</strong></h2>
                </article>

                <article class="progress-bars col-xs-6 col-md-5 col-md-offset-1">
                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>100% </span>of our Professional Cookery City &amp; Guilds Diploma Level 2 students are happy with their course and with the College.
                        </div>
                    </section>

                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90.7" aria-valuemin="0" aria-valuemax="100" style="width: 90.7%;">
                            Our Catering &amp; Hospitality courses have a <span>90.7%</span> success rate
                        </div>
                    </section>

                </article>
            </section>
        </section>

        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Sophie Budd</h4>

              <footer>
                <p>Sophie is a talented chef who has now established her own cooking school in Sydney, Australia.  Her aim is to reconnect people with cooking and where their food comes from.</p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/food-production-sophie-budd.jpg" class="img-responsive" alt="sophie-budd">
              </figure>
            </article>

        </section>

        <!-- call to action section -->
        {% include career-apply-bar.html career='catering-hospitality' %} 