/*This is written kind of following the BEM naming convention. So make sure you know about BEM. All the best, Jack*/
.title {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

@media (min-width: 992px) {
  .title {
    margin-bottom: 20px;
  }
}

.description {
  display: none;
}

.button--blue--no-shadow {
  background: #52B3D9;
  color: white;
  transition: background 0.1s;
}

.button--blue--no-shadow:hover {
  background: #2d9fcb;
}

.button--blue--no-shadow:active {
  background: #3daad4;
}

.search__filter--home,
.search__filter--menu {

}

@media (min-width: 992px) {
  .description {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
}

.hero-section {
  width:100%;
  height:100%;
}

.hero-section__content {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.background {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0,0.4) 20%,rgba(0, 0, 0,0.6) 100%);
}

@media (max-width: 749px) {
  .background--cornwall {
    background: #676767 url('/images/homepage/cornwall-college--mobile.jpg') no-repeat center;
    background-size: cover;
  }

  .background--duchy {
    background: #676767 url('/images/homepage/duchy-college--mobile.jpg') no-repeat center;
    background-size: cover;
  }

  .background--falmouth {
    background: #676767 url('/images/homepage/falmouth-marine-school--mobile.jpg') no-repeat center;
    background-size: cover;
  }

  .background--bicton {
    background: #676767 url('/images/homepage/bicton-college--mobile.jpg') no-repeat center;
    background-size: cover;
  }
}

.video__container {
  display: none;
}

.video {
  z-index: -1;
}

@media (min-width: 750px) {
  .video__container {
    display: block;
  }

  .video {
    min-width:100%;
    min-height: 100%;
  }
}

.four-buttons, .five-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 14px;
}

@media (min-width: 992px) {
  .four-buttons, .five-buttons  {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

.four-button, .five-button {
  flex: 1 1 auto;
  width: 100%;
  margin: 1% 10%;
  border-radius: 4px;
  background: #444;
  box-shadow: 0px 3px 10px #111;
  transition: background 0.1s, box-shadow 0.1s;
}

@media (min-width: 992px) {
  .four-button {
    width: 20%;
    margin: 2%;
  }
  .five-button {
    width: 16%;
    margin: 2%;
  }
}

.four-button:hover, .five-button:hover {
  background: #363636;
}

.four-button:active, .five-button:active {
  background: #3D3D3D;
  box-shadow: 0px 5px 20px 1px #111;
}

.four-button__link {
  display: inline-block;
  width: 100%;
  padding: 6px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
}

@media (min-width: 992px) {
  .four-button__link {
    padding: 20px
  }
}

.four-button__link:hover,
.four-button__link:active {
  color: #fff;
  letter-spacing: 0px;
}

.four-button__link__span {
  font-weight: bold
}



/* Home page video background*/

video,
.video-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#cc-video {
    background: url('../images/cc-home-bg-image.jpg') no-repeat;
}

#dc-video {
    background: url('../images/dc-home-bg-image.jpg') no-repeat;
}

#fms-video {
    background: url('../images/fms-home-bg-image.jpg') no-repeat;
}

#bic-video {
    background: url('../images/bic-home-bg-image.jpg') no-repeat;
}

#fms-video,
#dc-video,
#cc-video,
#bic-video {
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.fade-in-video {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.fade-in-video.is-playing {
    opacity: 1;
}

@media(max-width: 767px) {
    .sq-sm {
        min-height: 200px;
        margin-bottom: 0px;
    }
}
