---
layout: career-page
title: Academic studies | A-Levels
description: Find out more about studieing A-Levels at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='A-levels' title='A-Levels' %} 
        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">A-levels at St Austell, pre university courses on your doorstep with 99.2% pass rate in 2014. If your focus is university and you want to get a personalised learning experience, plus work experience and a great support network, look no further.</p>
            <p class="lead"> We are very proud of our A-level offering and our excellent success rates reflect that, we also offer pathways to law or medicine and have an Oxbridge mentoring programme to help you reach your full potential.</p>
             {% youtube https://youtu.be/8ydETK6g1Lo %}
        </section>

        <!-- work process SECTION
        ====================================================================== -->

        <section class="col-md-12 main-section-margins">
        <article class="col-sm-12 text-center intro">
                <h2>CHECKOUT OUR <strong>SUBJECTS</strong></h2>
        </article>
          <section class="container blocks">
{% include a-level-subjects.html a-level='APPLIED SCIENCE' a-level-summery='Applied science is a highly vocational course. You’ll get to apply an investigative and problem solving approach that reflects contemporary workplace practice and build a portfolio of coursework.' %} 
              
{% include a-level-subjects.html align='right' a-level='ART & DESIGN (FINE ART)' a-level-summery='This course can cover everything from prehistoric cave painting through to renaissance altar pieces. You will use traditional materials as well as investigate materials not usually associated with art.' %}      
              
{% include a-level-subjects.html a-level='ART & DESIGN (GRAPHIC DESIGN)' Graphic design is about visually communicating anything, to any audience. This form of communication has taken over our daily lives and is a continually evolving and exciting industry.' %}

{% include a-level-subjects.html align='right' a-level='BIOLOGY' a-level-summery='Biology is always in the news: biological developments affect our lives in many ways. This course will give you a better understanding of biological issues and prepare you for the study of biology at a higher level.' %}                
           
          </section>
        </section>
        <!-- WORK PROCESS END -->
 
        <!-- call to action section -->
        {% include career-apply-bar.html career='a-levels' order='first' %}

        <!-- skills -->
        {% include career-stats.html percent1=98 end1='Of lectures know the subject well' begin2='Pass Rate' percent2=99.2 %}

        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>

                </article>
            </section>
        </section>



        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Benjamin White</h4>

              <footer>
                <p>After leaving Cornwall College Ben went on to read mathematics at Oxford, where he obtained a First in his degree. He went straight into a job, teaching maths at one of the countr's leading schools (Magdalen College School, Oxford).</p>

              </footer>
              </section>
              <!--PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/a-levels-ben-white.jpg" class="img-responsive" alt="Benjamin White">
              </figure>
            </article>

        </section>



        <!-- call to action section -->
        {% include career-apply-bar.html career='a-levels' %}