---
layout: career-page
title: Academic studies | A-Levels
description: Find out more about studieing A-Levels at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='A-levels' title='A-Levels' %} 
        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">A-levels at St Austell, pre university courses on your doorstep with 99.2% pass rate in 2014. If your focus is university and you want to get a personalised learning experience, plus work experience and a great support network, look no further.</p>
            <p class="lead"> We are very proud of our A-level offering and our excellent success rates reflect that, we also offer pathways to law or medicine and have an Oxbridge mentoring programme to help you reach your full potential.</p>
             {% youtube https://youtu.be/8ydETK6g1Lo %}
        </section>

        <!-- work process SECTION
        ====================================================================== -->

        <section class="col-md-12 main-section-margins">
        <article class="col-sm-12 text-center intro">
                <h2>CHECKOUT OUR <strong>SUBJECTS</strong></h2>
        </article>
          <section class="container blocks">
            <!-- a level 1 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Applied Science</h5>
              </header>
            </article>
            <!-- a level 2 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Art &amp; Design (Fine Art)</h5>
              </header>
            </article>
            <!-- a level 3 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Art &amp; Design (Graphic Design)</h5>
              </header>
            </article>
            <!-- a level 4 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Biology</h5>
              </header>
            </article>
            <!-- a level 5 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Business Studies</h5>
              </header>
            </article>
            <!-- a level 6 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Chemistry</h5>
              </header>
            </article>  
            <!-- a level 7 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Dance</h5>
              </header>
            </article> 
            <!-- a level 8 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">English Language &amp; Literature</h5>
              </header>
            </article> 
            <!-- a level 9 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">English Language</h5>
              </header>
            </article> 
            <!-- a level 10 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">English Literature</h5>
              </header>
            </article>
            <!-- a level 11 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Film Studies</h5>
              </header>
            </article>  
            <!-- a level 12 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">French</h5>
              </header>
            </article> 
            <!-- a level 13 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Further Mathematics</h5>
              </header>
            </article> 
            <!-- a level 14 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Geography</h5>
              </header>
            </article> 
            <!-- a level 15 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Geography</h5>
              </header>
            </article> 
            <!-- a level 16 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Geology</h5>
              </header>
            </article>
            <!-- a level 17 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">German</h5>
              </header>
            </article>   
            <!-- a level 18 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Government &amp; Politics</h5>
              </header>
            </article> 
            <!-- a level 19 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">History</h5>
              </header>
            </article>     
            <!-- a level 20 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Law</h5>
              </header>
            </article>  
            <!-- a level 21 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Mathematics</h5>
              </header>
            </article>  
            <!-- a level 22 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Media Studies</h5>
              </header>
            </article> 
            <!-- a level 23 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Physical Education</h5>
              </header>
            </article> 
            <!-- a level 24 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Photography</h5>
              </header>
            </article>  
            <!-- a level 25 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Physics</h5>
              </header>
            </article> 
            <!-- a level 26 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Psychology</h5>
              </header>
            </article>   
            <!-- a level 27 -->
            <article class="col-xs-12 col-sm-5 col-sm-offset-1 popup-alt popup-left-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Sociology</h5>
              </header>
            </article>
            <!-- a level 28 -->
            <article class="col-xs-12 col-sm-5 popup-alt popup-right-alt">
              <header>
                <h5 class="col-xs-10 text-uppercase">Spanish</h5>
              </header>
            </article>               
          </section>
        </section>
        <!-- WORK PROCESS END -->
 
        <!-- call to action section -->
        <section class="col-sm-12 a-levels-bar apply-bar margin-top clearfix">
            <div class="container">
                <h2>Seen Enough? Apply Now! </h2>
                <a href="/apply#a-levels" class="apply-btn btn" data-career="A-levels">Apply NOW</a>
            </div>
        </section>

        <!-- skills -->

        <section id="skills" class="col-md-12 main-section-margins ">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>OUR <strong>STATS</strong></h2>
                </article>

                <article class="progress-bars col-md-11 col-lg-6 col-md-offset-1 col-lg-offset-3 ">

                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                            Lectures know the subject well <span>98% </span>
                        </div>
                    </section>

                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="99.2" aria-valuemin="0" aria-valuemax="100" style="width: 99.2%">
                            Pass rate <span>99.2% </span>
                        </div>
                    </section>
                </article>
            </section>
        </section>

        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>

                </article>
            </section>
        </section>



        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Benjamin White</h4>

              <footer>
                <p>After leaving Cornwall College Ben went on to read mathematics at Oxford, where he obtained a First in his degree. He went straight into a job, teaching maths at one of the countr's leading schools (Magdalen College School, Oxford).</p>

              </footer>
              </section>
              <!--PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/a-levels-ben-white.jpg" class="img-responsive" alt="Benjamin White">
              </figure>
            </article>

        </section>



        <!-- call to action section -->
        {% include career-apply-bar.html career='a-levels' %}