---
layout: hub
title: 19+ Hub - courses for adults
description: We offer a range of flexible, part-time and short course programmes for adults returning to education, from entry-level to university and postgraduate study.
link: 19plus-hub
apply-area: Course Interest Area - 19plus

videos:
- youtube-id: XKFnaC3pIm0
- youtube-id: C_yLJBhRMt8
- youtube-id: R9nhAoZIeYI

usefulLinks:
    - href: /financial-support/#adults-returning-to-study
      title: Financial information, loans, bursaries and grants explained
      baseurl: true
      suburl: student-support

    - href: /supporting-your-learning
      title: Supporting your learning
      baseurl: true
      suburl: student-support

    - href: /supporting-you
      title: Supporting you during your time with us
      baseurl: true
      suburl: student-support

    - href: /how-to-apply/#19+
      title: The application process explained
      baseurl: true
      suburl: student-support
---
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HEADER SECTION -->
    <section id="nineteen-plus" class="col-md-12 jumbotron header-title">
        <header class="container">
            <h2><a href="/"><small>Home </small></a><span>{{ page.title }}</span></h2>

        </header>
    </section>
    <!-- END OF HEADER -->

    <!-- BODY SECTION -->

    <section class="container ">
        <div class="col-sm-12 col-md-8 main-section-margins">
            <p class="lead ">As an adult returning to education you will have many demands on your time. That is why we offer a range of flexible, part-time  and short course programmes. There's something for everyone, from entry-level all the way to postgraduate study at one of our specialist colleges.</p>
            <p>Back to basics, we offer maths, English and employability skills to help you get back into training or employment</p>
            <p>Professional and trade qualifications and apprenticeships to give your career a boost or allow you to try an new direction.</p>
            <p>Access to higher education diplomas, foundation degrees, honours and masters programmes for anyone wanting university study.</p>
            <p>And don’t forget our wide range of short leisure courses at a venue near you, if you just want to try something new for fun.</p>
            <p>We’re passionate about learning and we want to share that with you. So whatever you’re looking for – whether it’s something different or you’re one of the thousands of people who already enjoy studying with us – we’ve got a course for you.</p>

        </div>

        <div class="col-sm-12 col-md-4 useful-links main-section-margins">
            <h3>Links</h3>
            {% for link in page.usefulLinks %}
                <a class="btn" href="{% if link.baseurl == true %}{{ site.url }}/{{ link.suburl }}{% endif %}{{ link.href }}" title="{{ link.title }}" style="white-space:normal"> {{ link.title | upcase }}</a>
            {% endfor %}
        </div>
    </section>

    <section class="col-sm-12 full-width-video-block no-padding">
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/fn7tnBdo55o %}
            <div class="text-center caption">
                <h4>Be inspired</h4>
                <p>A range of courses for all interests</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/-096aHQI7yw %}
            <div class="text-center caption">
                <h4>Help with costs</h4>
                <p>Advanced Learning Loans for 19+</p>
            </div>
        </article>
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/NA6rtrhIE88 %}
            <div class="text-center caption">
                <h4>Join thousands of adults</h4>
                <p>A new beginning is just a click away</p>
            </div>
        </article>
    </section>

<!-- 19+ area SECTION -->
{% include /19plus/19plus-areas.html %}


<!-- BROWSE BY section -->
{% include two-options.html first-half-text="View Our Learning Areas" first-half-button="Let's Go!" first-half-link="/learning-area-hub" second-half-text="View Our Career Areas" second-half-button="Let's Go!" second-half-link="/career-hub/" %}
<!-- BROWSE BY section ENDS-->


<!-- Access to HE -->


        <div class="col-xs-12 main-section-padding dark-bg intro">
            <section class="container">
            <h2 class="text-uppercase text-center">Discover what you can do, <strong>university study in Cornwall for adults</strong> </h2>
            <p class="lead white">We offer the widest range of professional and trade qualifications, whether you want to boost your career or retrain. If university is your goal, we also provide Return to Study and Access to Higher Education Diplomas that can fast track you to degree study.</p>

            <p class="white">If you’ve not got the qualifications to start a degree, an Access to Higher Education Diploma is a fast-track route. Download our guide here or search ‘Access’ on our course search.</p>

            <p class="white">Be inspired, visit our University Courses section to see degrees available in Cornwall and Devon.</p>
            <div class="col-xs-12 col-sm-6"><a href="/university-hub/" class="btn  large fullwidth">Visit our University hub</a></div>
            <div class="col-xs-12 col-sm-6"><a href="/documents/prospectuses/2016-access-he-flyer.pdf" class="btn large fullwidth">Download our guide</a></div>
            <div class="col-xs-12 main-section-margins">
            <!-- YOUTUBE video -->
            {% youtube https://youtu.be/SVJRRSG-ZjY %}
            </div>
            </section>
        </div>

<!-- videos -->
{% include usp.html usp-text='Apprenticeships are for 19+ too!' link='/apprenticeship-hub/' %}

    <section class="col-sm-12 full-width-video-block main-section-margins">
        <h2><span>student</span> case studies</h2>
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/oOl91_KwS0s %}
        </article>
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/7B-FtNJV9JU %}
        </article>
        <article class="col-md-4 col-xs-12 col-sm-6 no-padding">
            {% youtube https://youtu.be/1rSXwC9k2Sw %}
        </article>
    </section>


<!-- usp section -->

    <section class="col-sm-12 fulltime-bar clearfix">
        <div class="container">
            <h2>Seen enough, apply now! </h2>
            <a href="{{site.url}}/apply-page?course-title=Career-Area:{{page.apply-area}}" class="apply-btn btn">Apply NOW</a>
        </div>
    </section>
