---
layout: career-page
title: Agriculture and Horticulture
description: Find out more about starting career in the Agriculture and Horticulture industry at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='agriculture-horticulture' title='Agriculture &amp; Horticulture' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Enjoy working outside and find farm work, livestock and machinery interesting? Then you should consider a career in agriculture. Or if plants, their growth, sustainabilty and making the environment beautiful are close to your heart a career in horticulture could be for you.</p>
            {% youtube https://youtu.be/XyeoUD8OGEk %} 
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-1" aria-expanded="false" aria-controls="career-1" class="collapsed">
                        <h2>Agricultural Machinery Driver<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-1">
                        <p>Operate and drive tractors, combine harvesters or other farm vehicles to clear and cultivate land and to sow and harvest plants and crops.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">786</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">800</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="pound-sign">£</span><span class="counter">12,000</span> Starting Salary</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-2" aria-expanded="false" aria-controls="career-2" class="collapsed">
                        <h2>Farm Worker<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-2">
                        <p>Farm workers perform a variety of tasks, by hand and machine, to produce and harvest crops and to breed and rear cattle, sheep, pigs and poultry.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">7014</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">7142</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">13,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-3" aria-expanded="false" aria-controls="career-3" class="collapsed">
                        <h2>Farmer<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-3">
                        <p>Higher education teaching professionals deliver lectures and teach students to at least first degree level, undertake research and write journal articles and books in their chosen field of study.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">22383</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">21839</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">20,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-4" aria-expanded="false" aria-controls="career-4" class="collapsed">
                        <h2>Florist<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-4">
                        <p>Florists sell flowers and related products in a wholesale or retail business, and design and make up floral bouquets, wreaths, tributes and other floral arrangements for sale to the public.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">831</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">695</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">16,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-5" aria-expanded="false" aria-controls="career-5" class="collapsed">
                        <h2>Gardener or Landscape Gardener<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-5">
                        <p>Gardeners and landscape gardeners cultivate flowers, trees, shrubs and other plants in public and private gardens, construct features to improve the appearance of existing terrain, and cut and lay turf.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">20546</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">20045</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article> 
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-6" aria-expanded="false" aria-controls="career-6" class="collapsed">
                        <h2>Horticultural Operative<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-6">
                        <p>Horticultural trades workers intensively cultivate vegetables, plants, fruit, shrubs, trees and flowers in greenhouses, market gardens, nurseries and orchards.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">1915</span> Jobs in the SOuthwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">1868</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>                  
            </section>
        </section>
        <!-- call to action section -->
        <section class="col-sm-12 agriculture-horticulture-bar apply-bar margin-top clearfix">
            <div class="container">
                <h2>Seen Enough? Apply Now! </h2>
                <a href="/apply#agriculture-horticulture" class="apply-btn btn" data-career="agriculture-horticulture">Apply NOW</a>
            </div>
        </section>

        <section class="col-sm-12 margin-top clearfix">
            <div class="container">
                {% youtube https://youtu.be/A80YkPPT3Yk %} 
            </div>
        </section>

        <!-- skills -->
{% include career-stats.html begin1='Our agriculture courses have an' percent1=89.1 end1='success rate.' %}

        <!-- TEAM intro --
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>Alumni</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni --
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Dr Tanya Ovenden-Hope</h4>

              <footer>
                <p>Principal Fellow of the Higher Education Academy, Tanya was recognised for her international reputation in leading learning and teaching. Particularly through her innovations in teaching practice, engagement in teacher education policy and research on improving education for learners.</p>
                  <p>Tanya has been invited to speak about her research findings at international conferences and is currently helping to map the future of further education teaching practice in the UK. </p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE --
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="https://placehold.it/350x350" class="img-responsive" alt="Dr Tanya Ovenden-Hope">
              </figure>
            </article>

        </section>

        <!-- call to action section -->  
        {% include career-apply-bar.html career='agriculture-horticulture' %}  