---
layout: career-page
title: Electrical Careers
description: Find out more about starting an Electrical Career at The Cornwall College Group
career: electrical
link: course-subjects/engineering
brand: CC
---

{% include career-header.html %}

{% include career-intro.html p1="Electrical engineers design, build and maintain electrical control systems, machinery and equipment. If you are good at maths, science and IT, and you want a career in engineering, this could be an ideal option for you." p2="You'll also need to be good at solving problems and working as part of a team." %}

<section class="container">{% youtube https://youtu.be/9LpwXGKK_Co %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Electrical & Electronic Products Assembler' paragraph='Workers in this area wire up prepared parts or sub-assemblies in the manufacture of electrical and electronic equipment, make coils and wiring harnesses and assemble previously prepared parts in the batch or mass production of electrical and electronic goods and components.' jobsIn='the Southwest' jobsNow=2612 jobsFuture=2125 startingSalary=12500 %}

{% include career-example-job.html number='2' title='Electrical & Electronic Technician' paragraph='Electrical and electronics technicians perform a variety of miscellaneous technical support functions to assist with the design, development, installation, operation and maintenance of electrical and electronic systems.' jobsIn='the Southwest' jobsNow=2171 jobsFuture=2265 startingSalary=18000 %}

{% include career-example-job.html number='3' title='Electrical Engineer' paragraph='Electrical engineers undertake research and design, direct construction and manage the operation and maintenance of electrical equipment, power stations, building control systems and other electrical products and systems.' jobsIn='the Southwest' jobsNow=3404 jobsFuture=3706 startingSalary=21000 %}

{% include career-example-job.html number='4' title='Electrician or Electrical Fitter' paragraph='Electricians and electrical fitters assemble parts in the manufacture of electrical and electronic equipment, and install, maintain, and repair electrical plant, machinery, appliances and wiring.' jobsIn='Cornwall' jobsNow=2500 jobsFuture=2231 startingSalary=19000 %}

{% include career-example-job.html number='6' title='Skilled Metal, Electrical or Electronic Trades Supervisor' paragraph='Skilled metal, electrical and electronic trades supervisors oversee operations and directly supervise and co-ordinate the activities of workers in skilled metal, electrical and electronic trades. ' jobsIn='the Southwest' jobsNow=4317 jobsFuture=3851 startingSalary=18000 %}

{% include career-examples-foot.html %}

{% include career-stats.html percent1=100 end1='of our electrical installation students are happy with their course and with the College.' %}

{% include career-apply-bar-second.html %}    
