---
layout: career-page
title: Electrical Careers
description: Find out more about starting an Electrical Career at The Cornwall College Group
career: electrical
link: course-subjects/engineering
brand: CC
schema: https://schema.org/course

careers:
- career-number: 1
  career-title: Electrical & Electronic Products Assembler
  career-paragraph: Workers in this area wire up prepared parts or sub-assemblies in the manufacture of electrical and electronic equipment, make coils and wiring harnesses and assemble previously prepared parts in the batch or mass production of electrical and electronic goods and components.
  jobs-now: 2811
  jobs-future: 2192
  starting-salary: 12500
  hashtag: electronic-products-assembler

- career-number: 2
  career-title: Electrical & Electronic Technician
  career-paragraph: Electrical and electronics technicians perform a variety of miscellaneous technical support functions to assist with the design, development, installation, operation and maintenance of electrical and electronic systems.
  jobs-now: 2222
  jobs-future: 2315
  starting-salary: 18000
  hashtag: electrical-techician

- career-number: 3
  career-title: Electrical Engineer
  career-paragraph: Electrical engineers undertake research and design, direct construction and manage the operation and maintenance of electrical equipment, power stations, building control systems and other electrical products and systems.
  jobs-now: 4411
  jobs-future: 4862
  starting-salary: 21000
  hashtag: electrical-engineer

- career-number: 4
  career-title: Electrician or Electrical Fitter
  career-paragraph: Electricians and electrical fitters assemble parts in the manufacture of electrical and electronic equipment, and install, maintain, and repair electrical plant, machinery, appliances and wiring.
  jobs-now: 25739
  jobs-future: 24313
  starting-salary: 19000
  hashtag: electrician

- career-number: 5
  career-title: Skilled Metal, Electrical or Electronic Trades Supervisor
  career-paragraph: Skilled metal, electrical and electronic trades supervisors oversee operations and directly supervise and co-ordinate the activities of workers in skilled metal, electrical and electronic trades.
  jobs-now: 4657
  jobs-future: 4352
  starting-salary: 18000
  hashtag: electronic-trades-supervisor
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Electrical engineers design, build and maintain electrical control systems, machinery and equipment. If you are good at maths, science and IT, and you want a career in engineering, this could be an ideal option for you." p2="You'll also need to be good at solving problems and working as part of a team." %}

<section class="container">{% youtube https://youtu.be/9LpwXGKK_Co %}</section>

{% include /career/example-careers.html %}

{% include /career/career-stats.html percent1=100 end1='of our electrical installation students are happy with their course and with the College.' %}

{% include /career/career-apply-bar-second.html %}
