---
layout: career-page
title: Wildlife Conservation &amp; Zoology
description: Find out more about starting a career in the Marine, Natural Science and Conservation sector at The Cornwall College Group
career: marine-natural-science-conservation
link: marine-science-biology
brand: FM
background-image: /images/area-banners/marine-natural-science-conservation-mobile.jpg
campuscodes: N
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Our world is precious and it takes a special set of skills to nurture and protect it. Careers in this area are all about sustaining our world, supporting flora and fauna and educating future generations to create a sustainable environment. You'll need an interest in sciences and a passion for our world's living creatures." %}

<section class="container">
    <article class="col-sm-6">{% youtube https://youtu.be/SpcvGraLttA %}</article>
  <article class="col-sm-6">{% youtube https://youtu.be/b8hzto-fQ18 %}</article>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Conservation or Environmental Associate Professional' paragraph='Conservation and environmental associate professionals are responsible for the day-to-day running and management of areas of the countryside and the wider environment in a way that reconciles the interests of conservation, land owners and the public. They carry out practical conservation activities and assist in promoting awareness of the natural environment.' jobsIn='the Southwest' jobsNow=718 jobsFuture=821 startingSalary=17000 hashtag=conservation-or-environmental-associate-professional %}

{% include /career/career-example-job.html number='2' title='Conservation Professional' paragraph='Conservation professionals are responsible for ensuring that landscapes, habitats and species are protected and enhanced via appropriate management and conservation. They promote public understanding and awareness of the natural environment and help to develop and implement appropriate policies to achieve these objectives.' jobsIn='the Southwest' jobsNow=1313 jobsFuture=1430 startingSalary=17000 hashtag=conservation-professional %}

{% include /career/career-example-job.html number='3' title='Fishing or Agriculture Operative' paragraph='Workers in this area perform a variety of tasks in relation to the breeding and rearing of animals and fish, catch fish at sea and from inland waterways, assist in the picking and lifting of crops, plant and maintain hedges, oversee the incubation and hatching of eggs and perform other fishing and elementary agricultural tasks.' jobsIn='the Southwest' jobsNow=2527 jobsFuture=2570 startingSalary=13000 hashtag=fishing-or-agriculture-operative %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image='http://placehold.it/370x370' name='Faye Archell' role="Programme Manager - Animal Management" about="Faye spent some time working as an aquarist at Southend Sea Life Centre after gaining a degree in Wildlife Management before starting teaching in 2002. She has worked with cetaceans and marine turtles at a rehabilitation centre in Florida and Rhesus and Bonnet Macaques rescued from the pet trade in Goa. Faye is also a wildlife officer with the charity ORCA and regularly carries out marine mammal surveys on ferry and cruise line routes.  " %}

{% include /career/student-case-studies.html studentImage1="/images/alumni/science-environment/marine-natural-science-conservation-lauren-pestana.jpg" studentName1='Lauren Pestana' studentRole1='Marine Biologist' studentQuote1="Lauren is a budding marine biologist with a passion for one of the most feared animals in the world: the great white shark. She recently secured the opportunity of a lifetime, study the much maligned creatures alongside teams from National Geographic and the Discovery Channel." studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include /career/career-stats.html percent1=100 end1='of our marine biology students say that teaching on their course was good.' percent2=88.8 start2='Our science courses have an' end2='success rate' %}

{% include /career/key-stats.html stat1='Every 20 minutes, the world adds another 3,500 human lives but loses one or more entire species' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}  
