---
layout: hub
title: Apprenticeships - earn while you learn in a real job
description: As an apprentice you can earn while you learn in a real job whilst gaining a real qualification. See why we are #1 for apprenticeships in the South West.
link: apprenticeships
apply-area: Course Intreast Area - APPRENTICESHIPS
faq-main-title: APPRENTICESHIP <strong>FREQUENTLY</strong> ASKED QUESTIONS
faq-intro: Whether it’s your first job or your next step, being an apprentice means being fully employed with all the usual staff benefits. You will study with our industry experts and like-minded people who will offer you great support.
faqs:
    - question: What are apprenticeships?
      id: what-are-apprenticeships
      answer: Apprenticeships are work-based training programmes with most of the training being at the employer’s premises. The rest of the training is provided by the College normally on a one day a week basis, although variations can apply according to the programme. Employment is expected to be for a minimum of 30 hours per week which includes the College based element of the training.

    - question: Do I get paid?
      id: paid
      answer: Yes, all apprentices are paid a wage. The minimum wage is for apprentices aged 16-18 is £3.40 per hour. However you will earn significantly more as you progress through your qualifications (depending on the career route you choose). If you are an apprentice aged 19+ <b>you will start at £3.40 per hour</b> for the first year and then go on to the national minimum wage and progress from there. If you are already employed and start an apprenticeship, your wage should not change.

    - question: Do I have to pay anything to become an apprentice?
      id: pay
      answer: No, while you are on an apprenticeship your employer pays you a salary and supports you while you undertake your training. <p>If you are 16 to 18 years old, all your training is free. However, if you are aged 19 or older your employer will need to contribute toward your training fees.

    - question: How many hours a week do I have to work?
      id: hours
      answer: You will be expected to work for a minimum of 30 hours a week, which includes your time spent at college. This may be different for certain apprenticeships that offer block college training.

    - question: Is there an age limit for apprenticeships?
      id: age-limit
      answer: No, there is no upper age limit and to start an apprenticeship you need to be at least 16.

    - question: How long does an apprenticeship take?
      id: long
      answer: The length of an apprenticeship varies depending on your prior skill levels, experience, the qualification being obtained and the industry sector. Generally, the apprenticeships that we offer take between one and four years to complete.

    - question: What time of year can I start?
      id: time
      answer: You can apply at any time of the year. When you begin the work-based training depends on the availability of a position within the business.

    - question: Can I do an apprenticeship with my current employer?
      id: current
      answer: Yes, if your employer agrees, you can become an apprentice where you work now.

    - question: How do I apply for a vacancy?
      id: how
      answer: To enquire about a vacancy, contact our recruitment team on 0845 6099 599 or e-mail apprenticeships@cornwall.ac.uk. To apply for a vacancy, follow the steps at:<br><a href="https://www.gov.uk/apply-apprenticeship">gov.uk/apply-apprenticeship</a>

videos:
    #Interview Tips
    - youtube-id: hHagnJGvAE0
    #CV Tips
    - youtube-id: eMeuQsKITtI
    #James Kittow Butchery Academy
    - youtube-id: ud8ppDKa-IM
    #Pulsworthy Robotic Dairy Farm
    - youtube-id: LsBur9-dx7c
    # Outlaw's at The Capital
    - youtube-id: s7OViF2XR3k
    # Blue Flame
    - youtube-id: dYWhJdQIPXo
    # Pendennis Shipyards
    - youtube-id: P_qpRzkwPrs
    # Fugro Seacore
    - youtube-id: pekF_9LXkv0
    #Inkfish Falmouth
    - youtube-id: WLYD5PseXWg

event_filter: /category/apprenticeship-event/

---

    <!-- HEADER SECTION -->
    <section id="apprentice-hub" class="col-md-12 jumbotron header-title">
        <header class="container">
            <h2><a href="/"><small>Home </small></a><span>Apprenticeships</span></h2>

        </header>
    </section>
    <!-- END OF HEADER -->

    <!-- BODY SECTION -->

    <section class="container">
        <p class="lead ">An apprenticeship is an ideal way for you to earn while you learn in a real job whilst gaining a real qualification and working towards a real future. </p>

        <div class="col-sm-12 col-md-7">{% youtube https://youtu.be/enN-ETjfpMU %}</div>

        <div class="col-sm-12 col-md-4 col-md-offset-1">
            <p class="lead "><strong>Apprenticeships are evolving…</strong></p>
            <p>Apprenticeships prepare the learner for work through the combination of a qualification as well as real industry working experience. A recent review process has identified a need to make the apprenticeships even more career focused. ‘New Standards Apprenticeships’ will in future support the development of specific skills and knowledge for specific employers and specific job roles. How these are assessed and the qualifications you receive will vary depending on the apprenticeship pathway you choose. Be assured our experienced team of advisors will talk you through what’s involved at every stage.</p>

        </div>

    </section>

    <!-- Apprentice FAQs SECTION
====================================================================== -->
{% include faq.html %}

    <!-- Apprentice quote
====================================================================== -->
{% include usp.html usp-text='#1 for apprenticeships in the South West!' %}

<!-- Vacancies Section -->
{% include /apprenticeship/apprenticeship-vacancies.html %}


    <!-- APPRENTICE RECRUTMENT SECTION -->

<section class="col-md-12  main-section-padding dark-bg intro">
  <section class="container">
    <header class="col-sm-12 text-center">
      <h2 class="text-uppercase">Apprenticeship <strong>recruitment</strong> service</h2>
      <article>{% youtube https://youtu.be/enN-ETjfpMU %}</article>
      <p class="lead white">Haven't seen anything for you right now? Register with our Recruitment Service today and we’ll send you the latest vacancies that suit your profile, when they become available.</p>
      <p id='usp-explained' class="lead white">You can contact our Apprenticeship Recruitment Service direct on 0845 6099 599 or email <a href="mailto:apprenticeships@cornwall.ac.uk" style="font-size:22px; font-weight:600">apprenticeships@cornwall.ac.uk</a></p>
      <p class="white">We have excellent links to a large variety of businesses and can help you find your perfect job! When you get in touch we will:</p>
    </header>

    <footer class="item-blocks">
      <!-- BLOCK 1 -->
      <article class="col-md-3">
        <h4><span class="number">1/</span> Vacancies</h4>
        <p>Find out exactly what you want from your apprenticeship so we can send you details of vacancies you might be interested in.</p>
      </article>
      <!-- BLOCK 2 -->
      <article class="col-md-3">
        <h4><span class="number">2/</span> You</h4>
        <p>Offer you help with your CV and cover letter so you can start contacting employers yourself</p>
      </article>
      <!-- BLOCK 3 -->
      <article class="col-md-3">
        <h4><span class="number">3/</span> Recommend</h4>
        <p>Recommend pre-apprenticeship courses and workshops that will enhance your CV and make you a stronger candidate at interview</p>
      </article>
      <article class="col-md-3">
        <h4><span class="number">3/</span> Help</h4>
        <p>Help you with on-going advice and support throughout the entire process.</p>
      </article>
    </footer>

    <p class="text-center">
      <a href="{{site.url}}/apprenticeship-recruitment-service-form/" class="btn ghost">Click to Register with our Apprenticeship recruitment service</a>
    </p>

  </section>
</section>

    <!-- Apprentice area SECTION
====================================================================== -->
{% include /apprenticeship/apprenticeship-areas.html %}

    <!-- Apprentice EVENTS SECTION
====================================================================== -->
{% include /apprenticeship/apprenticeship-events.html %}

    <!-- Apprentice videos
====================================================================== -->
{% include video-gallery.html %}
    <!-- action to call section -->
    {% include one-option.html one-option-text="Seen enough, apply now!" one-option-href="https://network.cornwall.ac.uk/apprenticeship-application-form/?course-title=applied-from-apprenticeships hub" one-option-button-text='Apply NOW' %}
