---
layout: career-page
title: Education and Teaching
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='education-teaching' title='Education & Teaching' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">Inspiring others to achieve their potential is a great vocation, to be able to capture imagination, build and develop ideas and motivate a generation to become more than they thought possible requires knowledge, patience, good communication skills and a sense of humour.</p>
        </section>

        <!-- example careers in this area -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2><strong>CAREERS</strong></h2>

                </article>
            </section>
        </section>
        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                
{% include career-example-job.html number='1' title='Primary or Nursery Education Teaching Professional' paragraph='Plan, organise and provide instruction to children at all levels up to the age of entry into secondary education in an inspiring and engaging way.' jobsIn='Cornwall' jobsNow=3293 jobsFuture=3657 startingSalary=22000 %}
                
{% include career-example-job.html number='2' title='Educational Support Assistant' paragraph='If you care about people and like working 1-2-1 with individuals who need a bit of extra support, being an educational support assistant could be for you.' jobsIn='Cornwall' jobsNow=1238 jobsFuture=1362 startingSalary=13000 %}

{% include career-example-job.html number='3' title='Higher Education Teaching Professional' paragraph='Higher education teaching professionals deliver lectures and teach students to at least first degree level, undertake research and write journal articles and books in their chosen field of study.' jobsIn='Cornwall' jobsNow=1047 jobsFuture=1164 startingSalary=33000 %}
        
{% include career-example-job.html number='4' title='Secondary Education Teaching Professional' paragraph="To inspire, engage and encourage a future generation by working in a secondary school, is challenging and rewarding. You'll usually cover a specific subject, but also contribute to supporting the wider student experience." jobsIn='Cornwall' jobsNow=3346 jobsFuture=3717 startingSalary=22000 %}
                
{% include career-example-job.html number='5' title='Speech or Language Therapist' paragraph='Speech and language therapists are responsible for the assessment, diagnosis and treatment of speech, language, fluency and voice disorders caused by disability, injury or illness.' jobsIn='Cornwall' jobsNow=1423 jobsFuture=1611 startingSalary=21400 %}
                
{% include career-example-job.html number='6' title='Teaching Assistant' paragraph='Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.' jobsIn='Cornwall' jobsNow=3380 jobsFuture=3719 startingSalary=13000 %}
                <!-- And many more section -->
                <section class="col-sm-12 margin-top header-icon"> 
                    <header>	              
                      <i class="fa fa-plus fa-4x fa-border transition" style="color:#52B3D9;"></i>
                      <h4 style="color:black;">MANY MORE!</h4>
                    </header>
                </section>                                                
            </section>
        </section>
        <!-- call to action section -->
        {% include career-apply-bar.html career='education-teaching' order='first' %}


        <!-- STAFF intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>STAFF</strong></h2>

                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                  <h4 class="text-uppercase">Dr Tanya Ovenden-Hope</h4>

              <footer>
                <p>Principal Fellow of the Higher Education Academy, Tanya was recognised for her international reputation in leading learning and teaching. Particularly through her innovations in teaching practice, engagement in teacher education policy and research on improving education for learners.</p>
                  <p>Tanya has been invited to speak about her research findings at international conferences and is currently helping to map the future of further education teaching practice in the UK. </p>

              </footer>
              </section>
              <!-- TEAM FOUNDER PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/education-teaching-dr-tanya-hope.jpg" class="img-responsive" alt="Dr Tanya Ovenden-Hope">
              </figure>
            </article>

        </section>

        <!-- call to action section -->
        {% include career-apply-bar.html career='education-teaching' %} 