---
layout: university-hub
title: University Hub | Accommodation
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: University
---
{% include university/head.html %}


<!-- Google Tag Manager -->
{% include tag-manager.html %}
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<!-- Menu -->
<div class="main-menu fixedmenu">
	<div class="menu-wrap">

        <!-- logo -->
		<a href="#home" class="smoothscroll"><img src="/images/university-hub/all-brands-in-a-line.png" alt="Cornwall College Logo" class="menu-logo"></a>
		<!--<h1><a href="#home" class="smoothscroll"text link</a></h1>-->

		<!-- The menu toggle -->
		<input type="checkbox" id="toggle" />
		<label for="toggle" class="toggle"></label>

		<!-- The menu items -->
		<ul class="menu">
            <li><a href="#about" class="smoothscroll">About</a></li>
			<li><a href="#download" class="smoothscroll">Download a prospectus</a></li>
            <li><a href="#contact" class="smoothscroll">Email Us</a></li>
		</ul>
    </div>
</div>

<section id="about" class="simple-services transparent" style="">
	<div class="row">
		<div class="ten columns center">

            <!-- The title -->
            <div class="title">
                <p class="fa fa-bed fa-5x"></p>
				<h1 style="font-family: 'Cutive', serif;">Accommodation</h1>
				<hr>
			</div>

			<!-- Text -->
            <p class="big thin">We understand that finding the right place to live is just as important as finding the right course to study. Here at the Cornwall College Group we have a list of accommodation around the local areas of each of our campuses that are available to you.</p>

		</div>
    </div>


	<!-- Services -->
	<div class="row margin">

		<!-- Service 1 -->
		<div class="col-sm-4 col-sm-offset-1 serviceblock">
            <p><i class="fa fa-money huge-service-icon"></i></p>
			<h4>Money</h4>
                
            <p>If you are planning to join us in 2015 and live in the EU you will be glad to know that our fees are set from &pound;7,500 per year. A range of scholarships and bursaries are available.</p>
			<p><a href="http://www.cornwall.ac.uk/university/finance" class="button color">Find out more</a></p>
        </div>

        <!-- Service 2 -->
		<div class="col-sm-4 col-sm-offset-2 serviceblock">
            <p><i class="fa fa-graduation-cap huge-service-icon"></i></p>
			<h4>Courses</h4>
                
			<p>All programmes are developed with industry, giving you the chance to work on live projects, so you start your career before you graduate.</p>
                
            <p>The diversity of our curriculum means you could study surf science on a beach, zoology at Newquay Zoo, or marine science in Falmouth. We are also introducing new three-year honours degree programmes every year.</p>
			<p><a href="#faculty-areas" class="smoothscroll button color">View our courses</a></p>
        </div>
        
    </div>
</section>

<section id="about-me" class="about" style="background-color:#fff">

    <img alt="Avatar" src="/images/university-hub/fa-bed.png" class="about-avatar">
	
	<div class="row">
		<div class="ten columns center margin-bottom">
            <h2 class="text-color">Where you live is central to your College life.</h2>
            <p class="big thin">You need to ensure you are going to be happy in your surroundings.<br>Cornwall College does not offer student accommodation (apart from Duchy Stoke Climsland).<br>The following websites may be useful to you:
            </p>
            <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom">
                <a href="http://student.spareroom.co.uk/" class="button outline">Student Spareroom</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom">
                <a href="http://www.rightmove.co.uk/student-accommodation/Cornwall/html" class="button outline">Rightmove Students</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom">
                <a href="https://www.flatmaterooms.co.uk/" class="button outline">Flatmate Rooms</a>
            </div>
		</div>
	</div>

	<div class="page-author-content">
		<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h3 class="text-color">Want to talk to a student currently living and studying in Cornwall?</h3>
                <p class="big thin">We’ve got a host of Student Ambassadors with local knowledge, they can talk to you about the most student friendly areas to live, where the best social life is, plus some handy hints and tips about making the most of your time living in Cornwall. Just contact us at <a href="mailto:uni@cornwall.ac.uk?Subject=Accommodation" target="_top">uni@cornwall.ac.uk</a>, tell us what and where you are thinking of studying and we’ll match you with a student advisor.<br>
                Want more information please contact us on 0845 22 32 567.
                </p>
            </div>
        </div>
	</div>
</section>


{% include university/he-prospectus.html %}

{% include university/he-contact-form.html %}

            