---
layout: hub
title: University Study - undergraduate degrees in Cornwall and Devon
sub-title: There's never been a better time to gain a quality degree, with over 80 programmes providing you with real skills to start the career you want straight away.
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: University
page: university
apply-area: Course Intrest Area University Courses
event_cat_id: 15

usefulLinks:
    - href: /financial-support/#uni-programme-applicants
      title: Financial information, loans, bursaries and grants explained
      baseurl: true
      suburl: student-support

    - href: /supporting-your-learning
      title: Supporting your learning
      baseurl: true
      suburl: student-support

    - href: /supporting-you
      title: Supporting you during your time with us
      baseurl: true
      suburl: student-support

    - href: /how-to-apply/#university
      title: The application process explained
      baseurl: true
      suburl: student-support

prospectus:
    - title: Cornwall College
      image: /prospectus/cornwall-college-undergraduate-prospectus-2019.png
      link: cornwall-college-undergraduate-prospectus-2019.pdf

    - title: Duchy College &amp; Bicton College
      image: /prospectus/duchy-college-bicton-college-undergraduate-prospectus-2019.png
      link: duchy-college-bicton-college-undergraduate-prospectus-2019.pdf

---

<!-- HEADER SECTION -->
<section id="university-hub" class="col-md-12 jumbotron header-title">
  <header id="title-header"  class="container">
    <h2><span>UNIVERSITY STUDY</span></h2>
    <h3>The widest range of specialist degrees in the South West</h3>
  </header>
</section>
<!-- END OF HEADER -->


<!--
<section class="col-xs-12">
  <div class="container main-section-margins">
    <button id="portfolio-posts-btn">Load portfolio related blog posts</button>
    <div id="course-list-container"></div>
  </div>
</section>
-->


  <section class="col-xs-12 container main-section-margins">
    <div class="container">
      <div class="side-stacker side-stacker--767">
        <div class="col-sm-7" style="background-color:#52B3D9; color:white; padding:20px 40px 60px">
          <h3 style="color:white">Courses</h3>
          <p style="color:white">See what we can offer you.</p>
          <a href="{{ site.url }}/course_type/he" class="button--white">See All Courses</a>
        </div>
        <div class="col-sm-5" style="background-color:#f3f3f3; padding:40px 40px 60px">
          <a href="tel:+443301232523" class="link--grey"><i class="fa fa-phone" aria-hidden="true"></i> 0330 123 2523</a></br>
          <a href="mailto:uni@cornwall.ac.uk" class="link--grey"><i class="fa fa-envelope" aria-hidden="true"></i> uni@cornwall.ac.uk</a>
        </div>
      </div>
    </div>
  </section>

{% include /university/he-events.html %}


<section class="col-sm-12 side-stacker side-stacker--767">
  <div class="full-width" style="background-color:#d97852; color:white">
    <div style="position:relative; max-width:600px; margin-left:auto; padding:50px 40px 90px;">
      <h3>Supporting Your Learning</h3>
      <p style="color:white">We understand that finding the right place to live is just as important as finding the right course to study. We have a list of accommodation around the local areas of each of our campuses that are available to you.</p>
      <a href="{{ site.url }}/accommodation/" class="button--white">Find out more</a>
      <i class="fa fa-users fa-5x" style="position:absolute; right:4%; top:5%; color:#c5572b"></i>
    </div>
  </div>

  <div class="full-width" style="background-color:#52d978; color:white">
    <div style="position:relative; max-width:600px; padding:50px 40px 90px;">
      <h3>How To Apply</h3>
      <p style="color:white">If you are planning to join us in 2018 and live in the EU you will be glad to know that our fees are set from £8,400 per year. A range of scholarships and bursaries are available.</p>
      <a href="{{ site.url }}/student-support/financial-support/#uni-programme-applicants" class="button--white">Find out more</a>
      <i class="fa fa-question-circle-o fa-5x" style="position:absolute; right:4%; top:5%; color:#2bc557"></i>
    </div>
  </div>
</section>


<section class="col-xs-12 col-sm-12 main-section-margins intro">
  <div class="container">
    <div class="col-xs-12 col-md-6">
      <a href="/campaign/landing-page/tef/" title='TEF logo' class="expanding-button--no-borders">
        <img src="/images/university-hub/TEF-Silver-logo.jpg" class="img-responsive" style="width:90%; margin-left:auto; margin-right:auto">
      </a>
    </div>

    <div class="col-xs-12 col-lg-6">
      <div class="side-stacker side-stacker--570">
        <div style="padding:20px; margin-bottom:1%; background-color:#f3f3f3;">
          <p style="font-weight:bold">Unsure about Higher Education and the UCAS application process? Use this UCAS information guide to clear up any confusion.</p>
        </div>

        <div>
          <!--UCAS Adviser widget iframe -->
          <iframe id="ucas_adviser_widget" style="margin-left:auto; border:none; margin-right:auto"
          src="https://www.ucasdigital.com/widgets/advisers/ucas-adviser-widget.html"
          width="300" height="250"></iframe>
          <!-- end UCAS Adviser widget iframe -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BROWSE BY section -->
{% include one-option-solid-background.html one-option-text="Want to find out more?" one-option-button-text="Talk to a programme manager" one-option-href="/book-a-call-back/?referrer=University%20Hub%20Page%20Question" %}
<!-- BROWSE BY section ENDS-->


{% include /university/prospectus.html %}


<section class="col-sm-12" style="display:flex; flex-direction:row">
  <div style="width:50%; background-color:#52d978; color:white">
    <div style="position:relative; max-width:600px; margin-left:auto; padding:50px 40px 90px;">
      <h3>Accommodation</h3>
      <p style="color:white">We understand that finding the right place to live is just as important as finding the right course to study. We have a list of accommodation around the local areas of each of our campuses that are available to you.</p>
      <a href="{{ site.url }}/accommodation/" class="button--white">Find out more</a>
      <i class="fa fa-bed fa-5x" style="position:absolute; right:4%; top:5%; color:#2bc557"></i>
    </div>
  </div>

  <div style="width:50%; background-color:#d97852; color:white">
    <div style="position:relative; max-width:600px; padding:50px 40px 90px;">
      <h3>Money</h3>
      <p style="color:white">If you are planning to join us in 2018 and live in the EU you will be glad to know that our fees are set from £8,400 per year. A range of scholarships and bursaries are available.</p>
      <a href="{{ site.url }}/student-support/financial-support/#uni-programme-applicants" class="button--white">Find out more</a>
      <i class="fa fa-money fa-5x" style="position:absolute; right:4%; top:5%; color:#c5572b"></i>
    </div>
  </div>
</section>



<!-- PARTNERSHIPS -->
<section class="col-xs-12 col-sm-12 main-section-margins intro">
  <div class="container">
    <div class="equal-wrap">
      <article class="partner-logo col-sm-8">
        <div class="hidden-xs hidden-sm col-md-4">
          <h2>OUR <strong>PARTNERS</strong></h2>
        </div>

        <div class="col-md-8" style="display:flex; flex-wrap:wrap; justify-content:space-around">
          <!-- PARTNER LOGO 1 -->
    	    <span class="text-center" style="display:inline-block; width:46%">
    	      <a href="https://www.plymouth.ac.uk/" title='Plymouth University'>
              <img src="/images/partnerships/plymouth-university.png"  class="img-responsive transition" style="width:213; height:140px" alt='Plymouth University Logo'>
            </a>
          </span>

          <!-- PARTNER LOGO 2 -->
          <span class="text-center" style="display:inline-block; width:46%">
            <a href="http://www.marjon.ac.uk/" title='University of St Mark & St John'>
              <img src="/images/partnerships/marjon.png"  class="img-responsive transition" style="width:213; height:140px" alt='University of St Mark & St John Logo'>
            </a>
          </span>

          <!-- PARTNER LOGO 3 -->
          <span class="text-center" style="display:inline-block; width:46%">
            <a href="https://www.falmouth.ac.uk/" title='Falmouth University'>
              <img src="/images/partnerships/falmouth-university.jpg"  class="img-responsive transition" style="width:213; height:140px" alt='Falmouth University'>
            </a>
          </span>

          <!-- PARTNER LOGO 4 -->
          <span class="text-center" style="display:inline-block; width:46%">
            <a href="http://uksa.org/" title='UKSA'>
              <img src="/images/partnerships/UKSA.jpg"  class="img-responsive transition" style="width:213; height:140px" alt='UKSA'>
            </a>
          </span>
        </div>
      </article>


      <div class="col-xs-12 col-sm-4" style="margin-bottom:10px; padding:20px 40px; background-color:#52B3D9; color:white">
        <h3>UNISTATS</h3>
        <p style="color:white">Compare official course data from universities and colleges</p>
        <a href="https://unistats.ac.uk/" class="button--white" style="text-align:center">Find out more</a>
      </div>
    </div>
  </div>
</section>


{% include one-option.html one-option-text="Useful Info" background-img="/images/university-hub/headers/19-plus.jpg" one-option-href="https://www.cornwall.ac.uk" one-option-button-text="Find out more" %}
