---
layout: university-hub
title: University Hub
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: University
---
{% include university/head.html %}


<!-- Google Tag Manager -->
{% include tag-manager.html %}
<!-- End Google Tag Manager -->

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>




	<!-- Home with controlled background video -->
	<div id="home" class="home-wrap video">
		<div class="home-content text-white">


			<!-- Logo and text -->
            <img src="images/cornwall-college-group-diamond.png" width="220" style="margin-top:235px;" alt="The Cornwall College Group logos"/>
            <h6 class="bigtext ">University study with</h6>
			<h1 class=" serif letterspace" style="font-family: 'Cutive', serif;font-size:3.5em;margin-top:5px;line-height:1.1em; margin-bottom:9px;" >The Cornwall College Group</h1>
			<h6 class="sub-title bigtext serif italic" style="font-family: 'Cutive', serif;line-height:1.4em;">Be inspired by Cornwall and study a quality degree by the sea. </h6>
			
            <!-- The play button -->
			<a class="button white play-btn-normal margin-bottom" onclick="jQuery('#video').playYTP()">
				<i class="fa fa-play-circle-o"></i> Watch The Video
			</a>

			<!-- Home menu -->
			<ul class="home-menu">
				<li>
					<a href="#about" class="smoothscroll">
						<i class="fa fa-info"></i>
						<b>About</b>
						<em>Our Undergraduate Courses</em>
					</a>
				</li>
				<li>
					<a href="#download" class="smoothscroll">
						<i class="fa fa-book"></i>
						<b>Download</b>
						<em>Download a prospectus</em>
					</a>
				</li>
				<li>
					<a href="#contact" class="smoothscroll">
						<i class="fa fa-envelope"></i>
						<b>Email Us</b>
						<em>Fill in our contact form</em>
					</a>
				</li>                                
			</ul>


		</div>
	</div>


	<!-- Background with youtube video -->
	<div class="video-container">
		<a id="video" class="fullscreen-video" data-property="{videoURL:'http://youtu.be/-E3LWwNmrhg'}">The Video</a>
	</div>
    
    <!-- Video controls -->
	<div class="video-controls">
		<button onclick="jQuery('#video').pauseYTP()"><i class="fa fa-pause"></i></button>
		<button onclick="jQuery('#video').toggleVolume()"><i class="fa fa-volume-up"></i></button>
	</div>

	<!-- Background image to display when the video doesn't play anymore -->
	<div style="background-image: url('images/surfer-on-the-beach.jpg');" class="fullscreen-img"></div>




	<!-- Menu -->
	<div class="main-menu fixedmenu">
		<div class="menu-wrap">


			<!-- logo -->
			<a href="#home" class="smoothscroll"><img src="images/CC-logo-shadow.png" alt="Cornwall College Logo" width="138" height="132" class="menu-logo"></a>
			<!--<h1><a href="#home" class="smoothscroll"text link</a></h1>-->


			<!-- The menu toggle -->
			<input type="checkbox" id="toggle" />
			<label for="toggle" class="toggle"></label>


			<!-- The menu items -->
			<ul class="menu">
				<li><a href="#about" class="smoothscroll">About</a></li>
				<li><a href="#download" class="smoothscroll">Download a prospectus</a></li>
                                <li><a href="#contact" class="smoothscroll">Email Us</a></li>
			</ul>


		</div>
	</div>

	<section id="about" class="simple-services transparent" style="">
		<div class="row">
			<div class="ten columns center">


				<!-- The title -->
				<div class="title">
					<h1 style="font-family: 'Cutive', serif;">Undergraduate Courses with The Cornwall College Group</h1>
					<hr>
				</div>


				<!-- Text -->
				<p class="big thin">There's never been a better time to gain a quality degree right here in Cornwall, with an incredible range of over 80 programmes providing you with real skills to start the career you want straight away.</p>


			</div>
		</div>


		<!-- Services -->
		<div class="row margin">


			<!-- Service 1 -->
			<div class="four columns serviceblock">
				<p><i class="fa fa-building-o huge-service-icon"></i></p>
				<h4>Accommodation</h4>
				<p>We understand that finding the right place to live is just as important as finding the right course to study. Here at the Cornwall College Group we have a list of accommodation around the local areas of each of our campuses that are available to you.</p>
				<p><a href="http://www.cornwall.ac.uk/university/accommodation" class="button color">Find out more</a></p>
			</div>


			<!-- Service 2 -->
			<div class="four columns serviceblock">
				<p><i class="fa fa-rocket huge-service-icon"></i></p>
				<h4>Our Courses</h4>
				<p>All programmes are developed with industry, giving you the chance to work on live projects, so you start your career before you graduate.</p>
                                <p>The diversity of our curriculum means you could study surf science on a beach, zoology at Newquay Zoo, or marine science in Falmouth. We are also introducing new three-year honours degree programmes every year.
</p>
				<p><a href="http://www.cornwall.ac.uk/university" class="button color">View our courses</a></p>
			</div>


			<!-- Service 3 -->
			<div class="four columns serviceblock">
				<p><i class="fa fa-money huge-service-icon"></i></p>
				<h4>Money</h4>
                                <p>If you are planning to join us in 2015 and live in the EU you will be glad to know that our fees are set from &pound;7,500 per year. A range of scholarships and bursaries are available.</p>
				<p><a href="http://www.cornwall.ac.uk/university/finance" class="button color">Find out more</a></p>
			</div>


		</div>
	</section>

{% include university/image-slider.html %}

<!-- More work -->
	<section id="download" class="more-work transparent">
		<div class="row">
			<div class="ten columns center margin-bottom">


				<!-- The title -->
				<div class="title">
					<h1 style="font-family: 'Cutive', serif;">Download a Prospectus</h1>
					<hr>
				</div>


			</div>
		</div>


		<!-- Thumbnails -->
		<div class="row margin equal">


			<!-- Prospectus thumb 5 -->
			<div class="six columns medium-six columns small-twelve columns">
				<div class="portfolio-thumb">
					<a href="prospectus/CC-HE-Web-Version-2015.pdf">
						<img src="images/CC-HE-Cover-image.jpg" alt="cornwall college HE">
						<i class="fa fa-download"></i>
						<b>Cornwall College</b>
						<em>Undergraduate Prospectus</em>
					</a>
				</div>
			</div>


			<!-- Portfolio thumb 6 -->
			<div class="six columns medium-six columns small-twelve columns">
				<div class="portfolio-thumb">
					<a href="prospectus/DC-HE-Web-Version-2015.pdf">
						<img src="images/DC-HE-Cover-image.jpg" alt="duchy college HE">
						<i class="fa fa-download"></i>
						<b>Duchy College</b>
						<em>Undergraduate Prospectus</em>
					</a>
				</div>
			</div>


		</div>
	</section>


	<!-- Contact -->
	<section id="contact" class="contact transparent">
		<div class="row">
			<div class="ten columns center">


				<!-- The title -->
				<div class="title">
					<h1 style="font-family: 'Cutive', serif;">Email Us</h1>
					<hr>
				</div>


				<!-- Intro text -->
				<h2 class="text-color" >Want to find out more about our degrees?</h2>
                <p class="big thin">Just fill out below with your details and we will be in touch.</p>


			</div>
		</div>
		<div class="row">


			<!-- Succes message after sending the form, see also the php file around line 90 -->
			<div class="twelve columns">
				<div id="message"></div>
			</div>


		</div>
		<div class="row">


			<!-- The contact form -->
			<form method="post" action="contact.php" name="contactform" id="contactform">
				<fieldset>
					<div class="six columns">


						<!-- Name -->
						<label for="name" accesskey="U"><i class="fa fa-user"></i></label>
						<input name="name" type="text" id="name" size="30" value="" placeholder="Full Name"/>


						<!-- Email -->
						<label for="email" accesskey="E"><i class="fa fa-envelope-o"></i></label>
						<input name="email" type="text" id="email" size="30" value="" placeholder="Email Address"/>


						<!-- Phone -->
						<label for="phone" accesskey="P"><i class="fa fa-phone"></i></label>
						<input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone Number" />
                                                
						<!-- course area -->
						<label for="course_area" accesskey="U"><i class="fa fa-book"></i></label>
						<input name="course_area" type="text" id="course_area" size="30" value="" placeholder="Course Area of Intrest"/>                                                


					</div>
					<div class="six columns">


						<!-- Comments / Message -->
						<label for="comments" accesskey="C"><i class="fa fa-comment"></i></label>
						<textarea name="comments" id="comments" placeholder="Message"></textarea>


						<!-- Verification -->
						<label for="verify" accesskey="V">3 + 1 =</label>
						<input name="verify" type="text" id="verify" size="4" value="" class="input-verify" />


					</div>
					<div class="twelve columns">


						<!-- Send button -->
						<input type="submit" class="submit" id="submit" value="Send message" />


					</div>
				</fieldset>
			</form>
		</div>
	</section>










