---
layout: university-hub
title: University Hub | Accommodation
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: University
faqs:
    - question: Can I still apply for a degree after UCAS deadline in January?
      id: deadline
      answer: <p>Yes you can apply through UCAS for any of our full-time programmes right up until Clearing starts at the end of June. For full details about the admissions process, and how Clearing works, please visit <a href="https://www.ucas.com/">ucas.com</a></p>

    - question: If I study a degree part-time, can I still apply for a Student Loan?
      id: part-time-loan
      answer: <p>The good news is that part-time learners can now apply for a loan to cover tuition fees. Find out more information at <a href="https://www.gov.uk/student-finance">gov.uk/student-finance</a></p>

    - question: Do I apply through UCAS if I want to study a degree programme part-time?
      id: part-time-apply
      answer: <p>No, if you are thinking of joining us as a part-time learner, a UCAS application is not required. Please call our admissions office on 0845 22 32 567 for an application and we will arrange an interview for you.</p>

    - question: Why should I study in Cornwall?
      id: study-in-cornwall
      answer: <p><bold>Living and studying in Cornwall puts you at the heart of one of the most popular destinations in the UK.</bold></p>
              <p>As well as being a mecca for land and sea-based adventure sports its reputation as a surfing hotspot means Cornwall has a burgeoning music and festival culture, including the hugely popular <a href="http://www.boardmasters.co.uk/">Boardmasters</a> and <a href="http://www.edensessions.com/">Eden Sessions</a> plus great bars and restaurants. <a href="https://www.visitcornwall.com/">Find out more about Cornwall</a></p>

    - question: What industry links and employment opportunities are there?
      id: industry-opportunities
      answer: <p><bold>Excellent links with local industry with great work placements and graduate employment opportunities</bold></p>
              <p>We have excellent links with local employers across all sectors of industry in the South West and a highly successful partnership with Plymouth University. Our graduates benefit from Cornwall College’s in-house recruitment company, Concorde Recruitment, which offers a recruitment service for businesses in Cornwall and Devon. We are also the home of Unlocking Potential which places graduates with local companies – 70% of graduates placed by them are offered a permanent position with their host company at the end of their placement.</p>
              <p><a href="http://www.unlocking-potential.co.uk/">Find out more about Unlocking Potential</a></p>

    - question: Will I get a job once I graduate?
      id:
      answer:

    - question: What subjects can I study?
      id:
      answer:

    - question:
      id:
      answer:

    - question:
      id:
      answer:

    - question:
      id:
      answer:

    - question:
      id:
      answer:
---

{% include university/head.html %}


<!-- Google Tag Manager -->
{% include tag-manager.html %}
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<!-- Menu -->
<div class="main-menu fixedmenu">
	<div class="menu-wrap">

        <!-- logo -->
		<a href="#home" class="smoothscroll"><img src="/images/university-hub/all-brands-in-a-line.png" alt="Cornwall College Logo" class="menu-logo"></a>
		<!--<h1><a href="#home" class="smoothscroll"text link</a></h1>-->

    </div>
</div>

<section id="about" class="simple-services transparent" style="">
	<div class="row">
		<div class="ten columns center">

        <!-- The title -->
        <img src="/images/university-hub/KIS-slogan.jpg" alt="KIS Logo">
				<hr>

        <!-- Text -->
        <p class="big thin">The Key Information Set (KIS) was introduced by the Higher Education Funding Council for England (HEFCE) in 2012; to enable applicants to compare universities and university courses. It contains some key data such as fees, accommodation costs and assessment information.</p>

		</div>
  </div>


	<!-- Services -->
	<div class="row margin">

		<!-- Service 1 -->
		<div class="four columns serviceblock">
      <p><i class="fa fa-bed huge-service-icon"></i></p>
      <h4>Accommodation</h4>
      <p>We understand that finding the right place to live is just as important as finding the right course to study. Here at the Cornwall College Group we have a list of accommodation around the local areas of each of our campuses that are available to you.</p>
      <p><a href="/university-hub/accommodation.html" class="button color">Find out more</a></p>
    </div>


    <!-- Service 2 -->
    <div class="four columns serviceblock">
      <p><i class="fa fa-graduation-cap huge-service-icon"></i></p>
      <h4>Courses</h4>

      <p>All programmes are developed with industry, giving you the chance to work on live projects, so you start your career before you graduate.</p>

      <p>The diversity of our curriculum means you could study surf science on a beach, zoology at Newquay Zoo, or marine science in Falmouth. We are also introducing new three-year honours degree programmes every year.</p>
      <p><a href="#faculty-areas" class="smoothscroll button color">View our courses</a></p>
    </div>


    <!-- Service 3 -->
    <div class="four columns serviceblock">
      <p><i class="fa fa-money huge-service-icon"></i></p>
      <h4>Money</h4>

      <p>If you are planning to join us in 2015 and live in the EU you will be glad to know that our fees are set from &pound;7,500 per year. A range of scholarships and bursaries are available.</p>
      <p><a href="/university-hub/money.html" class="button color">Find out more</a></p>
    </div>

    </div>
</section>

  <!-- Apprentice FAQs SECTION
====================================================================== -->
{% include faq.html %}

{% include university/he-prospectus.html %}

{% include university/he-contact-form.html %}
