---
layout: university-hub
title: University Hub | Money
description: The Cornwall College Group enable you to study for a range of careers, find and more and apply here.
link: University
---
{% include university/head.html %}


<!-- Google Tag Manager -->
{% include tag-manager.html %}
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<!-- Menu -->
<div class="main-menu fixedmenu">
	<div class="menu-wrap">

        <!-- logo -->
		<a href="#home" class="smoothscroll"><img src="/images/university-hub/all-brands-in-a-line.png" alt="Cornwall College Logo" class="menu-logo"></a>
		<!--<h1><a href="#home" class="smoothscroll"text link</a></h1>-->

    </div>
</div>

<section id="about" class="simple-services transparent" style="">
	<div class="row">
		<div class="ten columns center">

            <!-- The title -->
        <p class="fa fa-money fa-5x"></p>
				<h1 style="font-family: 'Cutive', serif;">Money</h1>
				<hr>

			<!-- Text -->
      <p class="big thin">If you are planning to join us in 2015 and live in the EU you will be glad to know that our fees are set from &pound;7,500 per year. A range of scholarships and bursaries are available.</p>
		</div>
    </div>


	<!-- Services -->
	<div class="row margin">

		<!-- Service 1 -->
		<div class="four columns serviceblock">
      <p><i class="fa fa-graduation-cap huge-service-icon"></i></p>
			<h4>Courses</h4>
			<p>All programmes are developed with industry, giving you the chance to work on live projects, so you start your career before you graduate.</p>
      <p>The diversity of our curriculum means you could study surf science on a beach, zoology at Newquay Zoo, or marine science in Falmouth. We are also introducing new three-year honours degree programmes every year.</p>
			<p><a href="#faculty-areas" class="smoothscroll button color">View our courses</a></p>
    </div>

		<!-- Service 2 -->
		<div class="four columns serviceblock">
			<p><a href="/university-hub/#home"><i class="fa fa-home huge-service-icon"></i></a></p>
			<h4>Home</h4>
		</div>

    <!-- Service 3 -->
		<div class="four columns serviceblock">
      <p><i class="fa fa-bed huge-service-icon"></i></p>
			<h4>Accommodation</h4>
			<p>We understand that finding the right place to live is just as important as finding the right course to study. Here at the Cornwall College Group we have a list of accommodation around the local areas of each of our campuses that are available to you.</p>
			<p><a href="/university-hub/accommodation.html" class="button color">Find out more</a></p>
    </div>

    </div>
</section>

<section id="study-areas" class="faculty-areas">
    <!-- Thumbnails -->
     <div class="row margin equal">

        <div id="full-time" class="tile1 col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-1" style="cursor:pointer">
            <div class="portfolio-thumb">
                <img alt="Trial" src="/images/university-hub/he-areas/hospitality.jpg">
                <i class="fa fa-circle"></i>
                <b>Full Time Study</b>
            </div>
	    </div>

        <div id="part-time" class="tile2 col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2" style="cursor:pointer">
            <div class="portfolio-thumb">
                <img alt="Trial" src="/images/university-hub/he-areas/hospitality.jpg">
                <i class="fa fa-adjust"></i>
                <b>Part Time Study</b>
            </div>
	    </div>

    </div>
</section>

<section id="about-me-1" class="content1 about" style="background-color:#fff">

   <img alt="Avatar" src="/images/university-hub/fa-circle.png" class="about-avatar">

    <div class="row">
        <div class="ten columns center margin-bottom">
            <h2 class="text-color">Full time study</h2>
            <p class="big thin">If you are planning to join us in 2016 and live in the EU we have set our tuition fees at £7,500 per annum for Foundation Degrees/HNC/HND/Certificate programmes and £8,000 per annum for our Honours degree programmes and final year top ups.<br>If you come into the International category (non EU*) and Channel Island (inc. Isle of Man) the tuition fee will be £9,500 per annum for Foundation Degree/HNC/HND and Honours Degree programmes.<br>Any specialised programmes running within the Cornwall College Group will incur an annual tuition fee of £9,000.
            </p>
            <p>*EU students may incur an international fee depending on their entry date into the UK – further information can be found from UKCISA.<br>The Student Finance England application deadline is nine months after the start of the academic year.
            </p>
        </div>
    </div>

    <div class="page-author-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h4>Tuition Fees</h4>
                <p>The majority of home and EU students (regardless of household income) can borrow up to the full tuition fee for their course from the Student Loans Company. Therefore, you won’t have to pay anything towards the cost of your tuition until the start of your studies.<br>The money will be paid directly to us on your behalf and you won’t need to pay it back until after you have graduated and are earning over £21,000 a year (for students applying to study since 2012).</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4"><h4>Maintenance Loan</h4>
                <p>You can also apply for a maintenance loan to help towards the cost of living, and this is paid direct to you.
                    Many students can take out a loan, but the amount you can borrow depends on:<br>Your household income<br>Where you live during your studies<br>How much maintenance grant you receive (read below for grant details)<br>The maximum maintenance loan for students starting year in the 2016 academic year is £8,200.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4"><h4>Higher Education Bursaries</h4>
                <p>The Cornwall College Group offers several bursaries to support students during their studies.<br>
                <a href="https://www.cornwall.ac.uk/higher-education-bursaries">Click here for more information</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4"><h4>Additional Grants for Students with Dependants</h4>
                <p>If you have children or adult dependants you may be eligible for additional means tested grants, such as the Childcare grant, Parents’ Learning Allowance and Adult Dependants’ grant.<br>
                <a href="http://www.studentfinanceengland.co.uk/">studentfinanceengland.co.uk</a>
            </div>
        </div>
    </div>
</section>

<section id="about-me-2" class="content2 about" style="background-color:#fff">

    <img alt="Avatar" src="/images/university-hub/fa-adjust.png" class="about-avatar">

	<div class="row">
		<div class="ten columns center margin-bottom">
            <h2 class="text-color">Part time study</h2>
            <p class="big thin">Our Foundation Degree programmes can run over a duration of 3 or 4 years and will incur a tuition fee of £5,000 per annum for 3 year programmes and £3,750 per annum for 4 year programmes.<br>Our HNC, Certificate and Diploma 2 year programmes will incur a tuition fee of £3750 per annum.<br>Honours degree programmes will incur a tuition fee of £1,333 per 20 credit modules. This fee will also apply to final year top-ups.<br>In 2012 Tuition fee loans were introduced for part-time Higher Education courses to replace grants. For further information please visit <a href="http://www.studentfinanceengland.co.uk/">studentfinanceengland.co.uk</a><br>If you are in your 3rd or 4th year and are on a low-income you may be able to get financial support to help towards the cost of your studies.
            </p>
		</div>
	</div>
</section>

{% include university/he-prospectus.html %}

{% include university/he-contact-form.html %}
