---
layout: career-page
title: Arts &amp; Media
description: Find out more about starting a career in the Visual Arts at The Cornwall College Group
career: performing-arts
link: course-subjects/arts-media-performing-arts
brand: CC
background-image: /images/area-banners/performing-arts-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Racheal Reeve - Edwards
staff-role: team lead - visual arts
staff-photo: /images/staff/rachael-reeve-edwards.jpg
staff-text: We share our learners' passion for realising striking, beautiful and thought-provoking art. At Cornwall College,                   lecturers and students are on this creative journey together.

alumni-name: Tobey Louise Brown
alumni-role: product graphic designer - lego
alumni-photo: /images/alumni/cultral-visitor/arts-media/tobey-louise-brown.jpg
alumni-text: My tutors ar Cornwall College were very knowledgeable, supportive and positive. They allowed me to be more independent             in my learning and I could tailor my projects to my design interests.

student-name1: Name
student-role1: Role
student-photo1: http://placehold.it/370x370
student-text1: Text

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Author, Writer or Translator
  career-paragraph: Workers in this area write, edit and evaluate literary material for publication excluding material for newspapers, magazines and other periodicals but including scripts and narrative for film, TV, radio and computer games and animations; and translate spoken and written statements into different languages.
  jobs-now: 5283
  jobs-future: 5717
  starting-salary: Variable
  hashtag: author

- career-number: 2
  career-title: Graphic Designer
  career-paragraph: Graphic designers use illustrative, sound, visual and multimedia techniques to convey a message for information, entertainment, advertising, promotion or publicity purposes, and create special visual effects and animations for computer games, film, interactive and other media.
  jobs-now: 4955
  jobs-future: 5419
  starting-salary: 14000
  hashtag: graphic-design

- career-number: 3
  career-title: Newspaper & Periodical Editor or Journalist
  career-paragraph: Workers in this area investigate and write-up stories and features for broadcasting and for newspapers, magazines and other periodicals, evaluate and manage their style and content and oversee the editorial direction of these types of output and publication.
  jobs-now: 5061
  jobs-future: 5620
  starting-salary: 15000
  hashtag: journalist

- career-number: 4
  career-title: TV and Film production equipment operative or photographer
  career-paragraph: Workers in this area operate and assist with still, cine and television cameras and operate other equipment to record, manipulate and project sound and vision for entertainment, cultural, commercial and industrial purposes.
  jobs-now: 5937
  jobs-future: 6974
  starting-salary: 12000
  hashtag: tv-and-film-production

- career-number: 5
  career-title: TV, Video or Audio Engineer
  career-paragraph: TV, video and audio engineers service and repair domestic television, video and audio appliances.
  jobs-now: 1093
  jobs-future: 1035
  starting-salary: 18000
  hashtag: tv-audio-engineer

- career-number: 6
  career-title: Advertising & Public Relations Director
  career-paragraph: Advertising and public relations directors plan, organise, direct and co-ordinate the advertising, public relations and public information activities of an organisation.
  jobs-now: 1629
  jobs-future: 1828
  starting-salary: 18000
  hashtag: public-relations-director

- career-number: 7
  career-title: Audio-visual & Broadcasting Equipment Operator or Photographer'
  career-paragraph:  'Workers in this area operate and assist with still, cine and television cameras and operate other equipment to record, manipulate and project sound and vision for entertainment, cultural, commercial and industrial purposes.'
  jobs-now: 6181
  jobs-future: 6945
  starting-salary: 12000
  hashtag: photographer

- career-number: 8
  career-title: Print Finishing and Binding Worker
  career-paragraph: Print finishing and binding workers bind books and other publications and finish printed items by hand or machine.
  jobs-now: 1748
  jobs-future: 1755
  starting-salary: 14000
  hashtag: printer

- career-number: 9
  career-title: Printer
  career-paragraph: Printers set up and operate various small offset printing presses and digital printing processes.
  jobs-now: 3247
  jobs-future: 3180
  starting-salary: 16000
  hashtag: Printer

- career-number: 10
  career-title: Printing Machine Assistant
  career-paragraph: Printing machine assistants set and operate letterpress, platen or cylinder, lithographic and photogravure printing machines, photocopiers, office printers, duplication machines and other reprographic equipment.
  jobs-now: 1263
  jobs-future: 1037
  starting-salary: 18000
  hashtag: Printer
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Whether it's your passion to perform or create beautiful things for the world to enjoy, a career in the arts offers you an amazing variety or opportunities." p2="You may end up directing or producing entertainment for millions, or working with small communities on projects that will change lives forever." %}

<section class="container">{% youtube https://youtu.be/rOjVeWHKHxE %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<!-- STUDENT PROFILE -->

{% include /career/career-stats.html percent1=100 end1='of our arts and media students say that lecturers know their subject well.' begin2='Our creative arts & design courses have a' percent2=90.5 end2='success rate.' %}

{% include /career/key-stats.html stat1='photographers earn on average £21k+' stat2='the uk has the second largest design sector in the world' stat3='uk games designers on average earn £40k+' stat4='over 500 journalists now working in the uk trained at Cornwall College'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Media Production Extended Diploma' infoLink1='?courses=media-production-extended-diploma' courseTitle2='Photography (Art &amp; Design) Extended Diploma' infoLink2='?courses=photography-art-design-extended-diploma' courseTitle3='Journalism Apprenticeship' infoLink3='?courses=journalism-apprenticeship' courseTitle4='Art &amp; Design Foundation Diploma' infoLink4='?courses=art-design-foundation-diploma' courseTitle5='Creative Media Production (Games Design For Industry) Extended Diploma' infoLink5='?courses=creative-media-production-games-design-for-industry-extended-diploma' %}
