---
layout: career-page
title: Sport, Fitness & Outdoor
description: Find out more about starting a career in the Sport and fitness industry with courses from The Cornwall College Group
career: sport
link: course-subjects/sport
brand: CC
background-image: /images/area-banners/sport-desktop.jpg
---

{% include career-header.html %}

{% include career-intro.html p1="Professional sports are very competitive and only a few reach the pinnacle of their profession but there are also millions of others who lead successful careers in sports and fitness. From coaches and trainers to physiotherapists and leisure managers. Having a career in a subject you are passionate about is a fantastic goal to aim for, whether as an elite athlete or part of the wider industry." %}

<section class="container">{% youtube https://youtu.be/k8TgODLRqTM %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Fitness Instructor or Personal Trainer' paragraph='Fitness instructors deliver training in a range of fitness activities, including weight training, yoga, Pilates, personal training and other forms of exercise at private health and fitness centres, local authority run sports and leisure centres, other public and community establishments, and in private homes.' jobsIn='the Southwest' jobsNow=4068 jobsFuture=4777 startingSalary=13000 %}

{% include career-example-job.html number='2' title='Leisure / Sports Manager (inc. Outdoor Education Centres)' paragraph='Leisure and sports managers organise, direct and co-ordinate the activities and resources required for the provision of sporting, artistic, theatrical and other recreational and amenity services.' jobsIn='the Southwest' jobsNow=6225 jobsFuture=6921 startingSalary=17000 %}

{% include career-example-job.html number='3' title='Sports Coach / Instructor (inc. Watersports & Outdoors Education)' paragraph='Sports coaches, instructors and officials work with amateur and professional sportsmen and women to enhance performance, encourage greater participation in sport, supervise recreational activities such as canoeing and mountaineering, and organise and officiate at sporting events according to established rules.' jobsIn='Cornwall' jobsNow=6462 jobsFuture=7592 startingSalary=12000 %}

{% include career-example-job.html number='4' title='Sports Player' paragraph='Professional sportsmen and women train and compete, either individually or as part of a team, in their chosen sport for financial gain.' jobsIn='the Southwest' jobsNow=1146 jobsFuture=1345 altStartingSalary='variable' %}

{% include career-example-job.html number='5' title='Outdoor Education Instructor' paragraph='Outdoor activities instructors lead trips and teach skills in activities such as hill walking, climbing, canoeing, skiing and snowboarding.' altStartingSalary='12,000' %}

{% include career-example-job.html number='6' title='Watersports Instructor' altStartingSalary='13,000' %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include staff-profile.html image="/images/alumni/sport-fitness/web-version/chris-pryor.jpg" name='Chris Pryor' role='chief instructor - watersports' about='Chris is an RYA accredited windsurf, powerboat and dinghy instructor and has been teaching watersports for the last 20 years. Chris is well known in the industry which helps widen employment opportunities for his students.' %}

<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://youtu.be/CS1YCxlGzMY %}</div></section>

{% include student-case-studies.html studentImage1="/images/alumni/sport-fitness/web-version/ben-spaul.jpg" studentName1='Ben Spaul' studentRole1="pe teacher and coach at tottenham hotspur" studentQuote1="The sports department in particular were brilliant, they are some of the best people and teachers I have ever met and helped me massively to get where I am now." studentImage2="/images/alumni/sport-fitness/web-version/lydia-knight.jpg" studentName2='Lydia Knight' studentRole2='one of the youngest kayak instructors in th uk' studentQuote2="The course is a really good way to gain your watersports qualifications with extra opportunities provided such as industry day." studentImage3="/images/alumni/sport-fitness/web-version/mahala-smith.jpg" studentName3='Mahala Smith' studentRole3='working at cornwal council - cornwall healthy weight' studentQuote3="I have learnt so much from everyone and had a great time in the sports department." %}

{% include career-stats.html percent1=100 end1=' of our sports students say that teaching on their course is good.' %}

{% include key-stats.html stat1='a sports development officer earns from £25k per year' stat2='a sports physiotherapist earns from £22k per year'%}

{% include campus-locations.html campuscodes='ABCDFN'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}