---
layout: career-page
title: Sports &amp; Fitness
description: Find out more about starting a career in the Sport and fitness industry with courses from The Cornwall College Group
career: sport
link: course-subjects/sport
brand: CC
background-image: /images/area-banners/sport-desktop.jpg
campuscodes: A,B,C,D,F,N

staff-name: Chris Pryor
staff-role: chief instructor - watersports
staff-photo: /images/staff/chris-pryor.jpg
staff-text: Chris is an RYA accredited windsurf, powerboat and dinghy instructor and has been teaching watersports for the last 20             years. Chris is well known in the industry which helps widen employment opportunities for his students.

alumni-name: Ben Spaul
alumni-role: pe teacher and coach at tottenham hotspur
alumni-photo: alumni/health-wellbeing/sports-fitness/ben-spaul.jpg
alumni-text: The sports department in particular were brilliant, they are some of the best people and teachers I have ever met and              helped me massively to get where I am now.
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Professional sports are very competitive and only a few reach the pinnacle of their profession but there are also millions of others who lead successful careers in sports and fitness. From coaches and trainers to physiotherapists and leisure managers. Having a career in a subject you are passionate about is a fantastic goal to aim for, whether as an elite athlete or part of the wider industry." %}

<section class="container">{% youtube https://youtu.be/k8TgODLRqTM %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Fitness Instructor or Personal Trainer' paragraph='Fitness instructors deliver training in a range of fitness activities, including weight training, yoga, Pilates, personal training and other forms of exercise at private health and fitness centres, local authority run sports and leisure centres, other public and community establishments, and in private homes.' jobsIn='the Southwest' jobsNow=4068 jobsFuture=4777 startingSalary=13000 hashtag=fitness-instructor-or-personal-trainer %}

{% include /career/career-example-job.html number='2' title='Leisure / Sports Manager (inc. Outdoor Education Centres)' paragraph='Leisure and sports managers organise, direct and co-ordinate the activities and resources required for the provision of sporting, artistic, theatrical and other recreational and amenity services.' jobsIn='the Southwest' jobsNow=6225 jobsFuture=6921 startingSalary=17000 hashtag=leisure-or-sports-manager %}

{% include /career/career-example-job.html number='3' title='Sports Coach / Instructor (inc. Watersports & Outdoors Education)' paragraph='Sports coaches, instructors and officials work with amateur and professional sportsmen and women to enhance performance, encourage greater participation in sport, supervise recreational activities such as canoeing and mountaineering, and organise and officiate at sporting events according to established rules.' jobsIn='Cornwall' jobsNow=6462 jobsFuture=7592 startingSalary=12000 hashtag=sports-coach-instructor %}

{% include /career/career-example-job.html number='4' title='Sports Player' paragraph='Professional sportsmen and women train and compete, either individually or as part of a team, in their chosen sport for financial gain.' jobsIn='the Southwest' jobsNow=1146 jobsFuture=1345 altStartingSalary='variable' hashtag=sports-player %}

{% include /career/career-example-job.html number='5' title='Outdoor Education Instructor' paragraph='Outdoor activities instructors lead trips and teach skills in activities such as hill walking, climbing, canoeing, skiing and snowboarding.' altStartingSalary='12,000' hashtag=outdoor-education-instructor %}

{% include /career/career-example-job.html number='6' title='Watersports Instructor' altStartingSalary='13,000' hashtag=watersports-instuctor %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html name=page.staff-name role=page.staff-role about=page.staff-text image=page.staff-photo %}

<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://youtu.be/CS1YCxlGzMY %}</div></section>

{% include /career/student-case-studies.html studentImage1="/images/students/health-wellbeing/sports-fitness/jessica-mason.jpg" studentName1='Jessica Mason' studentRole1="" studentQuote1="I chose this college because the campus has all of the right facilities that are required and I was impressed with the professionalism of the staff" studentImage2="/images/students/health-wellbeing/sports-fitness/kieran-powell.jpg" studentName2='Kieran Powell' studentRole2='' studentQuote2="I enjoy sports and the theory side is very interesting" studentImage3="/images/students/health-wellbeing/sports-fitness/josh-caulfield.jpg" studentName3='Josh Caulfield' studentRole3='' studentQuote3="I've always been reallyinto my sport and the course looked great" %}

{% include /career/career-stats.html percent1=100 end1=' of our sports students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='a sports development officer earns from £25k per year' stat2='a sports physiotherapist earns from £22k per year'%}

{% include /career/career-alumni.html name=page.alumni-name role=page.alumni-role text=page.alumni-text photo=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}