---
layout: career-page
title: Sports &amp; Fitness
description: Find out more about starting a career in the Sport and fitness industry with courses from The Cornwall College Group
career: sport
link: course-subjects/sport
brand: CC
background-image: /images/area-banners/sport-desktop.jpg
campuscodes: A,B,C,D,F,N

staff-name: Mark Ferguson-Smith
staff-role: Team Lead - Sport
staff-photo: /images/staff/mark-ferguson-smith.jpg
staff-text: Mark is a Cornwall College alumni, studying sport along with other subjects at A-level, he was also captain of the football academy and vice-captain of the Cornwall schools under 18s football team. Before joining Cornwall College Mark taught PE in secondary schools, gained FA level 1 and youth award coaching status and he is on the selection panel for the Cornwall youth football team. He also plays golf to a handicap of 9.

alumni-name: Ben Spaul
alumni-role: pe teacher and coach at Tottenham Hotspur
alumni-photo: /images/alumni/health-wellbeing/sports-fitness/ben-spaul.jpg
alumni-text: The sports department in particular were brilliant, they are some of the best people and teachers I have ever met and helped me massively to get where I am now.

student-name1: Jessica Mason
student-role1:
student-photo1: /images/students/health-wellbeing/sports-fitness/jessica-mason.jpg
student-text1: I chose this college because the campus has all of the right facilities that are required and I was impressed with the professionalism of the staff.

student-name2: Kieran Powell
student-role2:
student-photo2: /images/students/health-wellbeing/sports-fitness/kieran-powell.jpg
student-text2: I enjoy sports and the theory side is very interesting.

student-name3:
student-role3:
student-photo3:
student-text3: I've always been really into my sport and the course looked great.

careers:
- career-number: 1
  career-title: Fitness Instructor or Personal Trainer
  career-paragraph: Fitness instructors deliver training in a range of fitness activities, including weight training, yoga, Pilates, personal training and other forms of exercise at private health and fitness centres, local authority run sports and leisure centres, other public and community establishments, and in private homes.
  jobs-now: 4978
  jobs-future: 5337
  starting-salary: 13000
  hashtag: fitness-instructor

- career-number: 2
  career-title: Leisure / Sports Manager (inc. Outdoor Education Centres)
  career-paragraph: Leisure and sports managers organise, direct and co-ordinate the activities and resources required for the provision of sporting, artistic, theatrical and other recreational and amenity services.
  jobs-now: 4280
  jobs-future: 4696
  starting-salary: 17000
  hashtag: leisure-management

- career-number: 3
  career-title: Sports Coach / Instructor (inc. Watersports & Outdoors Education)
  career-paragraph: Sports coaches, instructors and officials work with amateur and professional sportsmen and women to enhance performance, encourage greater participation in sport, supervise recreational activities such as canoeing and mountaineering, and organise and officiate at sporting events according to established rules.
  jobs-now: 7366
  jobs-future: 8087
  starting-salary: 12000
  hashtag: sports-coach

- career-number: 4
  career-title: Sports Player
  career-paragraph: Professional sportsmen and women train and compete, either individually or as part of a team, in their chosen sport for financial gain.
  jobs-now: 1531
  jobs-future: 1682
  starting-salary: variable
  hashtag: sports-player

- career-number: 5
  career-title: Outdoor Education Instructor
  career-paragraph: Outdoor activities instructors lead trips and teach skills in activities such as hill walking, climbing, canoeing, skiing and snowboarding.
  jobs-now: 7366
  jobs-future: 8087
  starting-salary: 12000
  hashtag: sports-coach

- career-number: 6
  career-title: Leisure or Sports Assistant
  career-paragraph: Sports and leisure assistants, provide and maintain facilities for sporting and recreational activities and supervise their use, maintain the continuity of entertainment and social events, offer odds and accept bets on the result of sporting and other events and control gambling activities.
  jobs-now: 5585
  jobs-future: 6031
  starting-salary: 12500
  hashtag: leisure-assistant
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Professional sports are very competitive and only a few reach the pinnacle of their profession but there are also millions of others who lead successful careers in sports and fitness. From coaches and trainers to physiotherapists and leisure managers. Having a career in a subject you are passionate about is a fantastic goal to aim for, whether as an elite athlete or part of the wider industry." %}

<section class="container">{% youtube https://youtu.be/k8TgODLRqTM %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://youtu.be/CS1YCxlGzMY %}</div></section>

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1=' of our sports students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='a sports development officer earns from £25k per year' stat2='a sports physiotherapist earns from £22k per year' stat3='The UK sport sector has a workforce of over 370,000 people' stat4='The economic value of sports volunteering in England is estimated to be £2.7 billion a year (2 million people contribute at least one hour a week)' %}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>

{% include /career/campus-locations.html %}

{% include /career/career-courses.html
courseTitle1='FdSc Surf Science &amp; Technology' infoLink1='?courses=fdsc-surf-science-technology' courseTitle2='Level 2 Fitness Instructing' infoLink2='?courses=intermediate-sports-coaching-activity-leadership' courseTitle3='Level 3 Personal Training' infoLink3='?courses=personal-training-ymca-awards-diploma' courseTitle4='FdSc Sport, Health &amp; Fitness' infoLink4='?courses=fdsc-sport-health-fitness' courseTitle5='Level 3 BTEC Sport' infoLink5='?sport-extended-certificate-foundation-diploma' %}
