---
layout: career-page
title: Travel and Visitor Attractions
description: Find out more about starting a career in the Travel and Visitor Attractions sector at The Cornwall College Group
---

{% include career-header.html career='travel-visitor-attractions' title='Travel & Visitor Attractions' %}

{% include career-intro.html p1="The 21st century has seen Cornwall emerge as one of the world's iconic destinations for its beaches, culture, waterpsorts, countryside and history." p2="It's an amazing time and location to start a career in this vital industry if you are passionate about the wonders of the world and the people who inhabit it." %}

<section class="container">{% youtube https://youtu.be/sljkUyGrhmQ %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Archivist or Curator' paragraph='Archivists and curators collect, appraise and preserve collections of recorded and other material of historical interest.' jobsIn='the Southwest' jobsNow=894 jobsFuture=1024 startingSalary=18000 %}

{% include career-example-job.html number='2' title='Travel Agent' paragraph='Travel agents advise travellers upon travel arrangements, make bookings and receive payment for travel arrangements made.' jobsIn='the Southwest' jobsNow=3546 jobsFuture=3571 startingSalary=13000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar.html career='travel-visitor-attractions' order='first' %}


        <!-- skills -->

        <section id="skills" class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="side-text col-xs-6 col-md-4 col-md-offset-1">
                    <h2>OUR <strong>STATS</strong></h2>
                </article>

                <article class="progress-bars col-xs-6 col-md-5 col-md-offset-1">
                    <section class="progress custom-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>100%</span> of our Travel &amp; Tourism Diploma Level 3 students say that their lecturers are constantly challenging them to do their best.
                        </div>
                    </section>

                </article>
            </section>
        </section>

{% include career-alumni.html name="Hayley Watts and Alesha Banfield" text="Hayley and Alesha represented the UK at an international conference exploring the importance of sustainability in the tourism industry; both impressed judges with their presentation and research." photo="alumni/travel-visitor-attractions-hayley-watts-and-alesha-banfield.jpg" %}

{% include career-apply-bar.html career='travel-visitor-attractions' %}
