---
layout: career-page
title: Watersports
description: Find out more about starting a career in the Sport and fitness industry with courses from The Cornwall College Group
career: watersports
link: course-subjects/watersports
brand: CC
background-image: /images/area-banners/watersports-desktop.jpg
campuscodes: F

staff-name: Chris Pryor
staff-role: chief instructor - watersports
staff-photo: /images/staff/chris-pryor.jpg
staff-text: Chris is an RYA accredited windsurf, powerboat and dinghy instructor and has been teaching watersports for the last 20 years. Chris is well known in the industry which helps widen employment opportunities for his students.

alumni-name: Lydia Knight
alumni-role: one of the youngest kayak instructors in th uk
alumni-photo: /images/alumni/health-wellbeing/watersports/lydia-knight.jpg
alumni-text: The course is a really good way to gain your watersports qualifications with extra opportunities provided such as industry day.

student-name1: Tommy Stewart
student-role1:
student-photo1: /images/students/health-wellbeing/watersports/tommy-lumley.jpg
student-text1: I chose Falmouth Marine School because of my love for watersports. It appealed to me above everywhere else and I hoped it would take me to where I wanted to be, and it did!

student-name2: Alex Sly
student-role2:
student-photo2: /images/students/health-wellbeing/watersports/alex-sly.jpg
student-text2: The qualifications and experience I gained at Falmouth Marine School got me employment in the industry.

student-name3: Jordan Harper
student-role3:
student-photo3: /images/students/health-wellbeing/watersports/jordan-harper.jpg
student-text3: Duchy is one of the only colleges that offers the Sport Outdoor Adventure Diploma with water activities as well as inland ones, most college only offer one of the other, a day here could include anything from kayaking to climbing. When I leave I pan on going to work in an activity centre to get some leadership under my belt and then come back to get more qualifications and eventually become a lecturer.

careers:
- career-number: 1
  career-title: Fitness Instructor or Personal Trainer
  career-paragraph: Fitness instructors deliver training in a range of fitness activities, including weight training, yoga, Pilates, personal training and other forms of exercise at private health and fitness centres, local authority run sports and leisure centres, other public and community establishments, and in private homes.
  jobs-now: 4978
  jobs-future: 5337
  starting-salary: 13000
  hashtag: fitness-instructor

- career-number: 2
  career-title: Leisure / Sports Manager (inc. Outdoor Education Centres)
  career-paragraph: Leisure and sports managers organise, direct and co-ordinate the activities and resources required for the provision of sporting, artistic, theatrical and other recreational and amenity services.
  jobs-now: 4280
  jobs-future: 4696
  starting-salary: 17000
  hashtag: leisure-management

- career-number: 3
  career-title: Sports Coach / Instructor (inc. Watersports & Outdoors Education)
  career-paragraph: Sports coaches, instructors and officials work with amateur and professional sportsmen and women to enhance performance, encourage greater participation in sport, supervise recreational activities such as canoeing and mountaineering, and organise and officiate at sporting events according to established rules.
  jobs-now: 7366
  jobs-future: 8087
  starting-salary: 17000
  hashtag: sports-coach

- career-number: 4
  career-title: Watersports Instructor
  career-paragraph:
  jobs-now:
  jobs-future:
  starting-salary: 13000
  hashtag: watersports-instructor
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Professional sports are very competitive and only a few reach the pinnacle of their profession but there are also millions of others who lead successful careers in sports and fitness. From coaches and trainers to physiotherapists and leisure managers. Having a career in a subject you are passionate about is a fantastic goal to aim for, whether as an elite athlete or part of the wider industry." %}

<section class="container">{% youtube https://www.youtube.com/watch?v=y1wPa-o2LNk %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<!--<section class="col-sm-12 margin-top clearfix"><div class="container">{% youtube https://www.youtube.com/watch?v=y1wPa-o2LNk %}</div></section> -->

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1=' of our sports students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1="Over 14 million people in the UK participate in watersports every year" stat2="Yachtmaster and cruising instructors can earn upwards of £25,000 a year" stat3="The most popular watersports are canoeing and kayaking with almost 3% of the UK population participating" stat4="In 2015/2016 approximately 110,900 people participated in sailing in England"%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Watersport Instructor Diploma' infoLink1='/falmouthms/watersports/watersport-instructor-diploma-partnership-south-west-lakes' courseTitle2='Watersport Instructor Diploma' infoLink2='/falmouthms/watersports/watersport-instructor-diploma-partnership-south-west-lakes-2' %}
