---
layout: career-page
title: Health and Safety
description: Find out more about starting an career in health and safety at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='health-safety' title='Health &amp; Safety' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">As a health and safety adviser or officer, you would use your knowledge and skills to reduce injuries, accidents and health problems in the workplace.</p>
            <p class="lead">If you have an eye for detail and love problem solving, this could be the ideal job for you. You'll need to be able to write reports and communicate well with employers.</p>
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-1" aria-expanded="false" aria-controls="career-1" class="collapsed">
                        <h2>Health &amp; Safety Officer<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-1">
                        <p>Advise employees to ensure and promote health and safety in the workplace and co-ordinate accident prevention and health and safety measures within an establishment or organisation.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">3616</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">4108</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="pound-sign">£</span><span class="counter">22000</span> Starting Salary</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>

            </section>
        </section>
        <!-- APPLY bar -->
        {% include career-apply-bar.html career='health-safety' %} 