---
layout: career-page
title: Health and Safety
description: Find out more about starting an career in health and safety at The Cornwall College Group
---

{% include career-header.html career='health-safety' title='Health & Safety' %}

{% include career-intro.html p1="As a health and safety adviser or officer, you would use your knowledge and skills to reduce injuries, accidents and health problems in the workplace." p2="If you have an eye for detail and love problem solving, this could be the ideal job for you. You'll need to be able to write reports and communicate well with employers." %}

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Health & Safety Officer' paragraph='Advise employees to ensure and promote health and safety in the workplace and co-ordinate accident prevention and health and safety measures within an establishment or organisation.' jobsIn='the Southwest' jobsNow=3616 jobsFuture=4108 startingSalary=22000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar.html career='health-safety' %}
