---
layout: career-page
title: Environmental Science
description: Find out more about starting a Career in one of the Environmental Sciences with courses from The Cornwall College Group
---

        {% include career-header.html career='environmental-science' %} 

        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">If you're interested in the environment and the Earth's natural resources a career in environmental based sciences may be for you.</p>
            <p class="lead">Many of them are science-based so they will suit you if you're strong in the sciences and include subjects such as ecology, marine biology,geology and meteorology.</p>
        {% youtube https://youtu.be/SpcvGraLttA %}
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                {% include career-example-job.html number='1' title='Environment Professional' paragraph='Workers in this area investigate, address, and advise on a variety of terrestrial and marine environment and resource management issues, including the development and implementation of environmental policies and remedies that address the impacts of human activities and industrial processes on the environment.' jobsIn='the Southwest' jobsNow=3421 jobsFuture=3726 startingSalary=22000 %} 
                
                {% include career-example-job.html number='2' title='Environmental Health Professional' paragraph='Environmental health professionals use specialist technical skills and knowledge to protect people from health risks associated with the environment in which they live and work. They maintain and safeguard standards, including taking legal action to enforce relevant legislation with regard to public health policy.' jobsIn='the Southwest' jobsNow=956 jobsFuture=1093 startingSalary=25000 %}
            </section>
        </section>
        {% include career-apply-bar.html career='environmental-science' order='first' %}
       
{% include career-stats.html percent1=100 end1='of Cornwall College Newquay students say that teaching on their course is good.' %}
       
        <!-- TEAM intro -->
        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>ALUMNI</strong></h2>
                </article>
            </section>
        </section>

        <!-- Alumni -->
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
                <h4 class="text-uppercase">Martin Youell</h4>
              <footer>
                <p>Martin spent a year working in the Amazon where he studied turtles and forest growth. He's now back in the UK and is the Head of Fisheries Management with the UK Government's Marine Management Organisation.</p>
              </footer>
              </section>
            </article>
            <!-- PICTURE -->
              <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/images/alumni/environmental-science-martin-youell.jpg" class="img-responsive" alt="Martin Youell">
              </figure>
        </section>

        {% include career-apply-bar.html career='environmental-science' %}