---
layout: career-page
title: Wildlife Conservation &amp; Zoology
description: Find out more about starting a Career in one of the Environmental Sciences with courses from The Cornwall College Group
career: environmental-science
link: course-subjects/science
brand: C
background-image: /images/area-banners/environmental-science-desktop.jpg
campuscodes: N
---

{% include /career/career-header.html %} 

{% include /career/career-intro.html p1="If you're interested in the environment and the Earth's natural resources a career in environmental based sciences may be for you." p2="Many of them are science-based so they will suit you if you're strong in the sciences and include subjects such as ecology, marine biology, geology and meteorology." %}

<section class="container">
    <article class="col-sm-6">{% youtube https://youtu.be/SpcvGraLttA %}</article>
  <article class="col-sm-6">{% youtube https://youtu.be/b8hzto-fQ18 %}</article>
</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Environment Professional' paragraph='Workers in this area investigate, address, and advise on a variety of terrestrial and marine environment and resource management issues, including the development and implementation of environmental policies and remedies that address the impacts of human activities and industrial processes on the environment.' jobsIn='the Southwest' jobsNow=3421 jobsFuture=3726 startingSalary=22000 hashtag=environment-professional %}

{% include /career/career-example-job.html number='2' title='Environmental Health Professional' paragraph='Environmental health professionals use specialist technical skills and knowledge to protect people from health risks associated with the environment in which they live and work. They maintain and safeguard standards, including taking legal action to enforce relevant legislation with regard to public health policy.' jobsIn='the Southwest' jobsNow=956 jobsFuture=1093 startingSalary=25000 hashtag=environmental-health-professional %}

{% include /career/career-example-job.html number='3' title='Biological Scientist or Biochemist' paragraph='Biological scientists and biochemists examine and investigate the morphology, structure, chemistry and physical characteristics of living organisms, including their inter-relationships, environments and diseases.' jobsIn='the Southwest' jobsNow=6848 jobsFuture=7451 startingSalary=21200 hashtag=biological-scientist-or-biochemist %}

{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html image='http://placehold.it/370x370' name='Faye Archell' role="Programme Manager - Animal Management" about="Faye spent some time working as an aquarist at Southend Sea Life Centre after gaining a degree in Wildlife Management before starting teaching in 2002. She has worked with cetaceans and marine turtles at a rehabilitation centre in Florida and Rhesus and Bonnet Macaques rescued from the pet trade in Goa. Faye is also a wildlife officer with the charity ORCA and regularly carries out marine mammal surveys on ferry and cruise line routes.  " %}

{% include /career/student-case-studies.html studentImage1='http://placehold.it/370x370' studentName1='Name' studentRole1='role' studentQuote1="Student Quote" studentImage2="/images/alumni/science-environment/owen-taylor-animal-science.jpg" studentName2='Owen Taylor' studentRole2='Head Keeper - Newquay Zoo ' studentQuote2="After a successful career Owen is now the Head Keeper at Newquay Zoo and has had numerous articles published" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include /career/career-stats.html percent1=100 end1='of Cornwall College Newquay students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='Every 20 minutes, the world adds another 3,500 human lives but loses one or more entire species' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include /career/nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %} 


