---
layout: career-page
title: Marine Biology &amp; Ecology
description: Find out more about starting a Career in one of the Environmental Sciences with courses from The Cornwall College Group
career: environmental-science
link: course-subjects/science
brand: C
background-image: /images/area-banners/environmental-science-desktop.jpg
---

{% include career-header.html %} 

{% include career-intro.html p1="If you're interested in the environment and the Earth's natural resources a career in environmental based sciences may be for you." p2="Many of them are science-based so they will suit you if you're strong in the sciences and include subjects such as ecology, marine biology, geology and meteorology." %}

<section class="container">
    <article class="col-sm-6">{% youtube https://youtu.be/ZsZn8hwCjs0 %}</article>
    <article class="col-sm-6">{% youtube https://youtu.be/vWEm63JLRw4 %}</article>
</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Environment Professional' paragraph='Workers in this area investigate, address, and advise on a variety of terrestrial and marine environment and resource management issues, including the development and implementation of environmental policies and remedies that address the impacts of human activities and industrial processes on the environment.' jobsIn='the Southwest' jobsNow=3421 jobsFuture=3726 startingSalary=22000 %}

{% include career-example-job.html number='2' title='Environmental Health Professional' paragraph='Environmental health professionals use specialist technical skills and knowledge to protect people from health risks associated with the environment in which they live and work. They maintain and safeguard standards, including taking legal action to enforce relevant legislation with regard to public health policy.' jobsIn='the Southwest' jobsNow=956 jobsFuture=1093 startingSalary=25000 %}

{% include career-example-job.html number='3' title='Biological Scientist or Biochemist' paragraph='Biological scientists and biochemists examine and investigate the morphology, structure, chemistry and physical characteristics of living organisms, including their inter-relationships, environments and diseases.' jobsIn='the Southwest' jobsNow=6848 jobsFuture=7451 startingSalary=21200 %}
{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include staff-profile.html image='http://placehold.it/370x370' name='Luke Marsh' role="Programme Manager Marine Biology &amp; Ecology" about="Luke is a keen surfer and loves the ocean, so after leaving school he travelled the world for ten years before getting back into education and going to university. After graduating from Plymouth University in 2009 he worked as a research associate and an environmental consultant, specialising in pollution, particularly air emissions. Luke joined the ocean sciences team at Falmouth Marine School as a laboratory technician. Over the years he has progressed to become programme manager, he also lectures on the degree programme. " %}

{% include student-case-studies.html studentImage1="/images/alumni/environmental-science-martin-youell.jpg" studentName1='Martin Youell' studentRole1='Head of Fisheries Management' studentQuote1="Martin spent a year working in the Amazon where he studied turtles and forest growth. He's now back in the UK and is the Head of Fisheries Management with the UK Government's Marine Management Organisation." studentImage2='http://placehold.it/370x370' studentName2='Name' studentRole2='role' studentQuote2="Student Quote" studentImage3='http://placehold.it/370x370' studentName3='Name' studentRole3='role' studentQuote3="Student Quote" %}
    
{% include career-stats.html percent1=100 end1='of Cornwall College Newquay students say that teaching on their course is good.' %}

{% include key-stats.html stat1='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat2='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat3='Lorem ipsum dolor sit amet, feugiat tincidunt.' stat4='Lorem ipsum dolor sit amet, feugiat tincidunt.'%}

{% include nas-apprenticeships.html sectors='Health, Public Services and Care' %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section> 
</section>
{% include campus-locations.html campuscodes='F'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}  


