---
layout: about-page
title: Evolve Sport Fitness &amp; Outdoor Activities
description: The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities.
background-image: evolve-sport-fitness-outdoors.jpg
---

{% include /public/header.html %}

<div class="container">
  <div class="row">
    <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >
      <div data-spy="affix" data-offset-top="280" data-offset-bottom="760">
        <div class="col-sm-6 col-md-12">
          <img src="/images/public/evolve-logo.png" alt="The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities." class="img-responsive">
        </div>

        <div class="hidden-xs hidden-sm col-md-12">
          <img class="img-responsive public-modules" alt="The Equestrian Centre" src="/images/public/evolve/st-austell.jpg">
        </div>

        <div class="col-sm-6 col-md-12">
          <!-- Contact Info -->
          {% include sidebarbox-links.html title="Contact Info:" telephone="01726 226440" %}
        </div>
      </div>
    </section>

    <section class="col-sm-12 col-md-8">
      <div class="col-sm-4">
        <h1>St Austell</h1>
      </div>

      <div class="page-intro col-sm-8">
        <p>Evolve at Cornwall College St Austell has a dance studio, grass pitches and fitness suite open to the public. Our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area.</p>
      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12">
        <hr>

        <p><strong>Fitness Suite</strong></br>Open to the public our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area. We offer No membership contract, Free ½ hour programme updates, Free gym challenges, Free personalised training programme, Free nutritional advice, Fit testing (additional charge), Motivator sessions (additional charge) and Personal training (additional charge).</p>

        <p><strong>Dance Studio</strong></br>The dance studios have a semi‐sprung wooden floor and caters for a variety of fitness classes as well as being available for hire.</p>

        <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>

        <hr>

        <div>
          <h3>St Austell Campus:
          <img src="/images/campus-maps/campus-map-st-austell.jpg" class="img-responsive">
        </div>
      </div>
    </section>
  </div>
</div>
