---
layout: about-page
title: Evolve Sport Fitness &amp; Outdoor Activities
description: The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities.
background-image: evolve-sport-fitness-outdoors.jpg
---

{% include /public/header.html %}

<div class="container">
  <div class="row">
    <section class="col-xs-12 col-md-4 pull-right" style="margin-bottom:15px" >
      <div data-spy="affix" data-offset-top="280" data-offset-bottom="760">
        <div class="col-sm-6 col-md-12">
          <img src="/images/public/evolve-logo.png" alt="The sports and fitness facilities are open to the Public, we offer a wide range of facilities to suit a full range of activities." class="img-responsive">
        </div>

        <div class="hidden-xs hidden-sm col-md-12">
          <img class="img-responsive public-modules" alt="The Equestrian Centre" src="/images/public/evolve/stoke-climsland.jpg">
        </div>

        <div class="col-sm-6 col-md-12">
          <!-- Contact Info -->
          {% include sidebarbox-links.html title="Contact Info:" telephone="01579 372206" %}
        </div>
      </div>
    </section>

    <section class="col-sm-12 col-md-8">
      <div class="col-sm-4">
        <h1>Stoke Climsland</h1>
      </div>

      <div class="page-intro col-sm-8">
        <p>Evolve at Duchy College Stoke Climsland has a wide range of facilities including a fitness suite, four court sports hall and grass pitches suitable for football.</p>
      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12">
        <hr>

        <p><strong>Sports Halls</strong></br>Our four-court sports halls are available for hire, equipped for badminton, basketball, football, netball, volleyball and cricket.</p>

        <p><strong>Fitness Suite</strong></br>Open to the public our gym provides a fitness room, equipped with cardio and resistance machines and a free weights area. We offer No membership contract, Free ½ hour programme updates, Free gym challenges, Free personalised training programme, Free nutritional advice, Fit testing (additional charge), Motivator sessions (additional charge) and Personal training (additional charge).</p>

        <p><strong>Grass Pitches</strong></br>Available for hire, suitable for football, Bicton also has rugby pitches available for hire.</p>

        <p><strong>Birthday Parties</strong></br>Let us take the hassle out of your birthday party, we offer a range of parties from sports activities to adventurous activity parties.</p>

        <p><strong>Adventurous Activities</strong></br>Stimulate, motivate and educate with an outdoor adventure activity course. We offer a range of activities in a beautiful setting with expert instruction, high safety standards and once in a lifetime experiences! Activity days help promote active learning and awareness of others needs whilst positively impacting intellectual, moral and physical development. Participants will have the opportunity to take part in many new and exciting activities including Kayaking, Canoeing, Climbing Tower, Low Ropes and Raft Building and many more activities.These are available for use for community groups, residential stays, clubs, societies, friends, schools using our qualified instructors or if you want a birthday party with a difference, or just book for a day</p>

        <hr>

        <div>
          <h3>Stoke Climsland Campus:
          <img src="/images/campus-maps/campus-map-stoke.jpg" class="img-responsive">
        </div>
      </div>
    </section>
  </div>
</div>
