---
layout: career-page
title: Food Production
description: Find out more about starting a career in Food Production at The Cornwall College Group
---

        <!-- HEADER SECTION -->
        {% include career-header.html career='food-production' title='Food Production' %}

        <!-- END OF HEADER -->
        <!-- BODY SECTION -->
        <section class="container">
            <p class="lead">The food industry is fast moving, dynamic and vibrant. It is one of the largest industries in Britain, with a huge range of opportunities in a variety of careers from food manufacturing to new product development, technical compliance, engineering and logistics. One in seven jobs in the UK is currenlty in the food and grocery sector, so there's plenty of choice!</p>
            {% youtube https://youtu.be/Yr9C_3eKj2M %}
        </section>

        <!-- example careers in this area -->

        <section class="col-md-12 main-section-margins clearfix career-areas">
            <section class="container box-square box-square-alt">
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-1" aria-expanded="false" aria-controls="career-1" class="collapsed">
                        <h2>Butcher<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-1">
                        <p>Butchers direct and undertake the slaughter of animals and prepare carcasses for storage, processing and sale.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">356</span> Jobs in Cornwall</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">300</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="pound-sign">£</span><span class="counter">12,500</span> Starting Salary</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-2" aria-expanded="false" aria-controls="career-2" class="collapsed">
                        <h2>Process Plant Operative<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-2">
                        <p>Workers in this area assist the work of machine operatives and perform a variety of manual tasks in foundries, engineering and allied trades and in other process and plant operations.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">886</span> Jobs in Cornwall</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">902</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-3" aria-expanded="false" aria-controls="career-3" class="collapsed">
                        <h2>Food, Drink or Tobacco Process Operative<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse trasition" id="career-3">
                        <p>Food, drink and tobacco process operatives set, operate and attend machinery to bake, freeze, heat, crush, mix, blend and otherwise process foodstuffs, beverages and tobacco leaves.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">9585</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">7800</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-4" aria-expanded="false" aria-controls="career-4" class="collapsed">
                        <h2>Packer, Bottler, Canner or Filler<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-4">
                        <p>Workers in this area pack, wrap, fill, label and seal containers by hand or machine.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">14788</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">15052</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div data-toggle="collapse" href="#career-5" aria-expanded="false" aria-controls="career-5" class="collapsed">
                        <h2>Planning, Process or Production Technician<span class="readmore"><br/>Read more...</span></h2>
                    </div>
                    <div class="collapse" id="career-5">
                        <p>Jobs in this group perform a variety of technical support functions to assist production, process and planning engineers with production programmes and schedules and with manufacturing and processing procedures in order to ensure accuracy, cost-effectiveness and efficiency.</p>
                        <section id="counters">
                            <div class="container" style="width:auto;">
                                <div class="counters counters-alt">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">2100</span> Jobs in the Southwest</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner inner-even transition">
                                        <h5><span class="counter">2190</span> Jobs by <br/> 2020</h5>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-4 inner transition">
                                        <h5><span class="counter">12,000</span> Starting Salary £</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article> 
                  
            </section>
        </section>
 
        <!-- call to action section -->
        {% include career-apply-bar.html career='food-production' %}    