---
layout: career-page
title: Business & Administration
description: Find out more about starting a career in Business and Administration at The Cornwall College Group
career: business-admin
---

{% include career-header.html %}

{% include career-intro.html p1="Having a good head for business could mean you have skills such as creativity, good communication, insight into trends and and understanding of finance and people." p2="Being well organised, enjoying working in an office environment and generally being a team player are all important if you want a career in business." %}

<section class="container">{% youtube https://youtu.be/lCaMTmNPP3k %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Estimator, Valuer or Assessor' paragraph='This broad career involves many options, you could plan and calculate the probable costs of civil, mechanical, electrical, electronic and other projects, or estimate the value of property or insurance claims for example.' jobsIn='the Southwest' jobsNow=5812 jobsFuture=6608 startingSalary=18000 %}

{% include career-example-job.html number='2' title='Human Resources & Industrial Relations Officer' paragraph='Conduct research and advise on recruitment, training, staff appraisal and industrial relations policies and negotiate with trade union or other organisations.' jobsIn='the Southwest' jobsNow=10698 jobsFuture=12159 startingSalary=15000 %}

{% include career-example-job.html number='3' title='IT Business Analyst, Architect or Systems Designer' paragraph='Provide expert advice on utilisation of IT and design IT systems in order to meet the business objectives or to enhance the business effectiveness of an organisation.' jobsIn='the Southwest' jobsNow=8788 jobsFuture=9565 startingSalary=30000 %}

{% include career-example-job.html number='4' title='Management Consultant & Business Analyst' paragraph='Advise industrial, commercial and other establishments on a variety of management and business-related matters to maximise growth or improve business performance.' jobsIn='Cornwall' jobsNow=746 jobsFuture=853 startingSalary=25000 %}

{% include career-example-job.html number='5' title='Personal Assistant & Secretary' paragraph='Personal assistants and other secretaries provide administrative and secretarial support to individuals, departmental or management teams within organisations.' jobsIn='the Southwest' jobsNow=2155 jobsFuture=1762 startingSalary=18000 %}

{% include career-example-job.html number='6' title='Quality Assurance & Regulatory Professional' paragraph='Plan, organise and direct the effective measurement and reporting on the qualitative and regulatory aspects of a specified tangible (industrial production) or non-tangible (service provision) output.' jobsIn='the Southwest' jobsNow=381 jobsFuture=436 startingSalary=23000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include career-stats.html percent1=100 end1='of our business and IT students say that teaching on their course is good.' %}

{% include career-apply-bar-second.html %} 
