---
layout: career-page
title: Social Care &amp; Health
description: Find out more about starting a career in Social Care with help from The Cornwall College Group
career: social-care
link: course-subjects/health-social-care
brand: CC
background-image: /images/area-banners/social-care-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Anne-Marie  Young
staff-role: curriculum lead - social care &amp; health
staff-photo: /images/staff/anne-marie.jpg
staff-text: Anne-Marie has worked in education for 17 years. Before joining the college in 2007 she worked across various sectors               in the care disciplines including; nanny, care worker, residential care specialist with children and managing a                     children's charirty providing outdoor play for children. She has recently qualififed as a dementia champion.

alumni-name: Martin Cowling
alumni-role: assistant theatre practitioner
alumni-photo: alumni/health-wellbeing/social-care/martin-cowling.jpg
alumni-text: The FdSc Healthcare Practice has provided me with not only the academic background surrounding patient care but also                the confidence to put it all into practice.

student-name1: Name
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: Quote

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Having an interest in other people's stories, their lives and wellbeing is a gift that can change the world for those who most need it. Caring for others, working with them to improve their lives and their environment makes for a rewarding career in a sector that is rapidly growing locally and nationally." %}

<section class="container">{% youtube https://youtu.be/HfMnBFMwDxg %}</section>

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Residential, Day or Domiciliary Care Manager' paragraph='Managers and proprietors in this sector plan, organise, direct and co-ordinate the resources necessary in the provision and running of residential and day care establishments and domiciliary care services for persons who require specialised care and/or supervision.' jobsIn='The Southwest' jobsNow=5887 jobsFuture=6465 startingSalary=20000 %}
l
{% include /career/career-example-job.html number='2' title='Social Services Manager or Director' paragraph='Social services managers and directors plan, organise, direct and co-ordinate the resources necessary to protect the welfare of certain groups within local authorities including children and young people, families under stress, people with disabilities, elderly people and people needing help as a result of illness.' jobsIn='The Southwest' jobsNow=4776 jobsFuture=5374 startingSalary=21000 %}

{% include /career/career-example-job.html number='3' title='Welfare Professional' paragraph='Workers in this sector perform a variety of welfare-related professional occupations.' jobsIn='the Southwest' jobsNow=2247 jobsFuture=2572 startingSalary=21000 %}

{% include /career/career-example-job.html number='4' title='Occupational Therapist' paragraph='Occupational therapists work with people who have a physical or learning disability or mental illness, actively engaging them in purposeful activities in order to maximise self-confidence, independent functioning and well-being.' jobsIn='The Southwest' jobsNow=2666 jobsFuture=3019 startingSalary=21400 %}

{% include /career/career-example-job.html number='5' title='Dental Nurse' paragraph='Dental nurses prepare patients for, and assist with, dental examinations, prepare and sterilise instruments and maintain case records.' jobsIn='the Southwest' jobsNow=4959 jobsFuture=5459 startingSalary=16000 %}

{% include /career/career-example-job.html number='6' title='Dental Practitioner' paragraph='Dental practitioners diagnose dental and oral diseases, injuries and disorders, prescribe and administer treatment, recommend preventative action and, where necessary, refer the patient to a specialist.' jobsIn='the Southwest' jobsNow=3389 jobsFuture=3836 startingSalary=38000 %}

{% include /career/career-example-job.html number='7' title='Care Escort' paragraph='Care escorts accompany and transport adults and children with disability between their places of residence and other destinations and act as chaperones for under 16s engaged in theatrical, television and film productions.' jobsNow=1735 jobsFuture=1994 startingSalary=12000 %}

{% include /career/career-example-job.html number='8' title='Care Worker or Home Carer' paragraph='Care workers and home carers attend to the personal needs and comforts of the elderly and the infirm (service users) with care and support needs. This may happen in a residential or day care establishments or in their own homes.' jobsNow=82350 jobsFuture=92385 startingSalary=12500 %}
<!--
{% include /career/career-example-job.html number='9' title='Housing officer' paragraph='Housing officers assess and address housing needs of particular localities and individuals and oversee the day-to-day management of rented properties belonging to local authorities or housing associations.' jobsNow=3525 jobsFuture=3943 startingSalary=21000 %}

{% include /career/career-example-job.html number='10' title='Social Worker' paragraph='Social workers provide information, advice and support to those who are socially excluded or are experiencing crisis; they protect the welfare of vulnerable groups including children, young people, people with disabilities, elderly people and people who are mentally or physically ill, and they may specialise in specific areas of work.' jobsNow=10094 jobsFuture=11120 startingSalary=19500 %}
-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Health & Social Care students are happy with their course and with the college.' %}

{% include /career/key-stats.html stat1="The NHS is the world's fifth largest employer" stat2='a dental nurse can earn from £19k a year' stat3='an adult nurse can earn from £21,692 per year' stat4='healthcare is a leading employer in the southwest'%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}