---
layout: career-page
title: Wildlife Conservation &amp; Zoology
description: Find out more about starting a Career in one of the Environmental Sciences with courses from The Cornwall College Group
career: environmental-science
link: course-subjects/science
brand: C
background-image: /images/area-banners/environmental-science-desktop.jpg
campuscodes: N
schema: https://schema.org/course

staff-name: Faye Archell
staff-role: Programme Manager - Animal Management
staff-photo: /images/staff/faye-archell.jpg
staff-text: Faye spent some time working as an aquarist at Southend Sea Life Centre after gaining a degree in Wildlife Management before starting teaching in 2002. She has worked with cetaceans and marine turtles at a rehabilitation centre in Florida and Rhesus and Bonnet Macaques rescued from the pet trade in Goa. Faye is also a wildlife officer with the charity ORCA and regularly carries out marine mammal surveys on ferry and cruise line routes.

alumni-name: Owen Taylor
alumni-role: Head Keeper - Newquay Zoo
alumni-photo: /images/alumni/science-environment/owen-taylor-animal-science.jpg
alumni-text: After a successful career Owen is now the Head Keeper at Newquay Zoo and has had numerous articles published.

student-name1: Alex Dyson
student-role1:
student-photo1: /images/students/science-environment/alex-dyson.jpg
student-text1: I'm from Cambridge originally, but decided to come down to Newquay and study because they had the course that I wanted and the environment here is amazing.

student-name2: Jessica Saracino
student-role2:
student-photo2: /images/students/science-environment/jessica-saracino.jpg
student-text2: I love the fact that Cornwall College Newquay is a small campus, everyone knows everyone and you get more individual attention and support.

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Environment Professional
  career-paragraph: Workers in this area investigate, address, and advise on a variety of terrestrial and marine environment and resource management issues, including the development and implementation of environmental policies and remedies that address the impacts of human activities and industrial processes on the environment.
  jobs-now: 3590
  jobs-future: 3955
  starting-salary: 22000
  hashtag: environmental-professional

- career-number: 2
  career-title: Environmental Health Professional
  career-paragraph: Environmental health professionals use specialist technical skills and knowledge to protect people from health risks associated with the environment in which they live and work. They maintain and safeguard standards, including taking legal action to enforce relevant legislation with regard to public health policy.
  jobs-now: 1117
  jobs-future: 1243
  starting-salary: 25000
  hashtag: environmental-health

- career-number: 3
  career-title: Biological Scientist or Biochemist
  career-paragraph: Biological scientists and biochemists examine and investigate the morphology, structure, chemistry and physical characteristics of living organisms, including their inter-relationships, environments and diseases.
  jobs-now: 7807
  jobs-future: 8663
  starting-salary: 21200
  hashtag: biochemist
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="If you're interested in the environment and the Earth's natural resources a career in environmental based sciences may be for you." p2="Many of them are science-based so they will suit you if you're strong in the sciences and include subjects such as ecology, marine biology, geology and meteorology." %}

<section class="container">
    <article class="col-sm-6">{% youtube https://youtu.be/SpcvGraLttA %}</article>
  <article class="col-sm-6">{% youtube https://youtu.be/b8hzto-fQ18 %}</article>
</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of Cornwall College Newquay students say that teaching on their course is good.' %}

{% include /career/key-stats.html stat1='Every 20 minutes, the world adds another 3,500 human lives but loses one or more entire species' stat2='41% of amphibians, 25% of mammals, 13% of birds are threatened with extinction' stat3='Globally people are using about 25% more natural resources than the planet can replace' stat4='Every 20 minutes the world loses one or more entire species of animal or plant life, at least 27,000 species per year'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Animal Management Advanced Technical Diploma' infoLink1='?courses=animal-management-advanced-technical-diploma' courseTitle2='Wildlife Conservation Advanced Technical Extended Diploma' infoLink2='?courses=wildlife-conservation-advanced-technical-extended-diploma' courseTitle3='Zoo Animal Husbandry Advanced Technical Extended Diploma' infoLink3='?courses=zoo-animal-husbandry-advanced-technical-extended-diploma' courseTitle4='FdSc Wildlife Education &amp; Media' infoLink4='?courses=fdsc-wildlife-education-media' courseTitle5='BSc (Hons) Applied Zoology &amp; Conservation (Incl. Sandwich Year)' infoLink5='?courses=bsc-hons-applied-zoology-conservation-incl-sandwich-year' %}
