---
layout: career-page
title: Motor Vehicle
description: Find out more about starting an Automotive Career at The Cornwall College Group
career: automotive
link: course-subjects/motor-vehicle
brand: CC
background-image: /images/area-banners/automotive-desktop.jpg
campuscodes: S,C,A
schema: https://schema.org/course

staff-name: Staff Member
staff-role: Staff position - Staff Department
staff-photo: 'http://placehold.it/370x370'
staff-text: Lorem ipsum dolor sit amet, has ad partem pertinacia, no iriure facilisis vis, in sed quot utinam. No essent maiorumius. Oportere omittantur intellegebat in sea. Et latine commune mei, ex soluta persius eam, oporteat adolescens sententiae in ius. Cetero maiorum ei qui, cu sit quem mediocritatem.

alumni-name: Kyle Huntington-Jones
alumni-role: Transmission Calibration Engineer - Bentley Motors
alumni-photo: /images/alumni/technology/kyle-huntington-jones.jpg
alumni-text: After leaving Cornwall College Kyle went on to university and worked as a race engineer before progressing to theworld-renowned Bentley Motors, where he now works as a transmission calibration engineer.

student-name1: Acacia Gould
student-role1:
student-photo1: /images/students/technology/motor-vehicle/acacia-gould.jpg
student-text1: I’ve always enjoyed working with cars. I enjoy learning about them and how to fix them in more detail. The course is great and is helping me to become a mechanic engineer in the army.

student-name2: Laura Edwards
student-role2:
student-photo2: /images/students/technology/motor-vehicle/laura-edwards.jpg
student-text2: The IMI Motor Vehicle course was recommended to me by a friend and I have really enjoyed it. I have made some great new friends and learnt a lot. We study all aspects of both the theory and practical side of vehicle maintenance. The facilities are excellent and are like a real working garage. I am hoping to progress onto University next year.

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Vehicle or Metal Goods Assembler
  career-paragraph: Workers in this area undertake the routine assembly of vehicles and other metal goods or components such as frames, axles, wire brushes and wheels.
  jobs-now: 3235
  jobs-future: 2693
  starting-salary: 12500
  hashtag: vehicle

- career-number: 2
  career-title: Garage Manager or Owner
  career-paragraph: Garage managers and proprietors plan, organise, direct and co-ordinate the day-to-day running of garages and specialist vehicle maintenance and repair establishments.
  jobs-now: 3440
  jobs-future: 3718
  starting-salary: 15000
  hashtag: garage-manager

- career-number: 3
  career-title: Tyre, Exhaust or Windscreen Fitter
  career-paragraph: Tyre, exhaust and windscreen fitters fit, repair and adjust tyres, exhausts and windscreens on cars, buses, motorcycles and other motor vehicles.
  jobs-now: 1079
  jobs-future: 926
  starting-salary: 13000
  hashtag: fitter

- career-number: 4
  career-title: Vehicle Body Builder or Repairer
  career-paragraph: Workers in this group construct and repair the bodies of road vehicles, and fit interior and exterior fittings to vehicle bodies.
  jobs-now: 3275
  jobs-future: 3134
  starting-salary: 13000
  hashtag: body-repair

- career-number: 5
  career-title: Vehicle Paint Technician
  career-paragraph: Vehicle paint technicians use spray equipment to apply paint, cellulose and other protective or decorative materials to the bodywork of motor vehicles.
  jobs-now: 1688
  jobs-future: 1626
  starting-salary: 13000
  hashtag: vehicle-paint

- career-number: 6
  career-title: Vehicle Technician, Mechanic or Electrician
  career-paragraph: Vehicle technicians, mechanics and electricians accept calls for help and repair, and service the mechanical parts and electrical or electronic circuitry and components of cars, lorries, buses, motorcycles and other motor vehicles, and repair and service auto air-conditioning systems.
  jobs-now: 26655
  jobs-future: 25407
  starting-salary: 15000
  hashtag: vehicle-technician
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="If you love cars and fixing things, then a career as a vehicle technician could be ideal for you. Motor vehicle technicians repair and service cars, vans, motorbikes, lorries and coaches." p2="Using the latest technology they work on all vehicle mechanics and electrics, from engines and exhaust systems to air-conditioning and security." %}

<section class="container">{% youtube https://youtu.be/mS5i0gepbbw %}</section>

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff section removed -->

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our vehicle maintenance students say that their lecturers know their subject well.' %}

{% include /career/key-stats.html stat1='Experience automotive engineers can expect to earn up to £50,000 a year' stat2='There are 799,000 people employed in the UK automotive sector' stat3='100+ countries import UK built vehicles' stat4='There are over 32 million cars currently on the UK roads'%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html %}

{% include /career/career-courses.html courseTitle1='Light Vehicle Maintenance &amp; Repair Principles Level 2 Diploma' infoLink1='/courses/light-vehicle-maintenance-repair-principles-level-2-diploma' courseTitle2='Light Vehicle Maintenance &amp; Repair Principles Level 3 Diploma' infoLink2='/courses/light-vehicle-maintenance-repair-principles-level-3-diploma' courseTitle3='Vehicle Accident Repair Paint Principles (Body Tec 2) Level 2 Diploma' infoLink3='/courses/vehicle-accident-repair-paint-principles-body-tec-2-level-2-diploma' courseTitle4='Vehicle Fitting Principles (Fast Fit 2) Level 2 Diploma' infoLink4='/courses/vehicle-fitting-principles-fast-fit-2-level-2-diploma' %}
