---
layout: about-page
title: Accommodation
description: Find out more about starting an Engineering Career at The Cornwall College Group
background-image: accommodation.jpg
---

{% include /about/about-header.html %} 

{% include /career/career-intro.html p1="Falmouth Marine School has recently been remodeled, redeveloped and re-invigorated to provide specialist facilities for delivery of technical marine skills for the local marine industry. This included new workshops and laboratories, plus flexible space for delivery of transferable employability, basic skills, business and management skills. This was part financed by European development Fund Programme 2007-2013. The Department for Communities and Local Government is the managing authority for the European Regional Development Fund Programme, which is one of the funds established by the European Commission to help local areas stimulate their economic development by investing in projects which will support local businesses and create jobs. For more information visit www.gov.uk/browse/business/funding-debt/european-regional-development-funding." %} 