<section id="location-map" class="col-md-12 no-padding">  
    <script>
                var campuses = [            
                    {% for campus in site.data.campus %}
                        {% if page.campuscodes contains campus.code %}
                            {% include /location/campus-locations-location.html campus=campus %}
                        {% endif %}
                    {% endfor %} 
                ];      
    </script>    

    <!-- map -->
    <div id="gmap_canvas"></div>
</section>    

