---
layout: career-page
title: Teaching &amp; Education
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: education-teaching
link: course-subjects/education-professional-development
brand: CC
background-image: /images/area-banners/education-teaching-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Dr Tanya Ovenden-Hope
staff-role: Director of Education
staff-photo: /images/staff/tanya-hope.jpg
staff-text: Principal Fellow of the Higher Education Academy, Tanya was recognised for her international reputation in leading                 learning and teaching. Particularly through her innovations in teaching practice, engagement in teacher education                   policy and research on improving education for learners.</p><p>Tanya has been invited to speak about her research                   findings at international conferences and is currently helping to map the future of further education teaching practice             in the UK.

alumni-name: Katie-Jane Goodman
alumni-role:
alumni-photo: alumni/education/katie-jane-goodman.jpg
alumni-text: I read about the College's reputation on its website and was very happy woth my findings. The tutors were very                      supportive and friendly, and the whole college seemed to have a friendly orientated feel about it.

student-name1: Mirren Zammit
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: Text

student-name2: 
student-role2:
student-photo2: 
student-text2: 

student-name3:
student-role3:
student-photo3:
student-text3:
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Inspiring others to achieve their potential is a great vocation, to be able to capture imagination, build and develop ideas and motivate a generation to become more than they thought possible requires knowledge, patience, good communication skills and a sense of humour." %}

{% include /career/career-examples-head.html %}

{% include /career/career-example-job.html number='1' title='Primary or Nursery Education Teaching Professional' paragraph='Plan, organise and provide instruction to children at all levels up to the age of entry into secondary education in an inspiring and engaging way.' jobsIn='The Southwest' jobsNow=3293 jobsFuture=3657 startingSalary=22000 %}

{% include /career/career-example-job.html number='2' title='Counsellor' paragraph='Provide counselling services to clients by means of assisting them to reach their own resolutions to their difficulties. Specialise in a particular area or client group or address many wider issues.' jobsIn='the Soutwest' jobsNow=2308 jobsFuture=2616 startingSalary=19000 %}

{% include /career/career-example-job.html number='3' title='Higher Education Teaching Professional' paragraph='Higher education teaching professionals deliver lectures and teach students to at least first degree level, undertake research and write journal articles and books in their chosen field of study.' jobsIn='The Southwest' jobsNow=1047 jobsFuture=1164 startingSalary=33000 %}

{% include /career/career-example-job.html number='4' title='Secondary Education Teaching Professional' paragraph="To inspire, engage and encourage a future generation by working in a secondary school, is challenging and rewarding. You'll usually cover a specific subject, but also contribute to supporting the wider student experience." jobsIn='The Southwest' jobsNow=3346 jobsFuture=3717 startingSalary=22000 %}

{% include /career/career-example-job.html number='5' title='Speech or Language Therapist' paragraph='Speech and language therapists are responsible for the assessment, diagnosis and treatment of speech, language, fluency and voice disorders caused by disability, injury or illness.' jobsIn='The Southwest' jobsNow=1423 jobsFuture=1611 startingSalary=21400 %}

{% include /career/career-example-job.html number='6' title='Teaching Assistant' paragraph='Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.' jobsIn='The Southwest' jobsNow=14278 jobsFuture=15908 startingSalary=13000 %}
<!--
{% include /career/career-example-job.html number='7' title='Careers Adviser or Vocational Guidance Specialist' paragraph='Workers in this area give advice on careers or occupations, training courses and related matters, direct school leavers and other job seekers into employment and assess their progress.' jobsIn='the Soutwest' jobsNow=2585 jobsFuture=2781 startingSalary=18000 %}


-->
{% include /career/career-examples-foot.html %}

{% include /career/career-apply-bar-first.html %}

{% include /career/staff-profile.html %}

{% include /career/student-case-studies.html %}

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Health & Social Care students are happy with their course and with the college.' %}

{% include /career/key-stats.html stat1="Stat 1" stat2="Stat 1" stat3="Stat 1" stat4="Stat 1"%}

{% include /career/career-alumni.html %}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include /career/campus-locations.html campuscodes='AC'%}

{% include /career/career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=fdsc-food-studies' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=fdsc-food-studies' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=fdsc-food-studies' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=fdsc-food-studies' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=fdsc-food-studies' %}
