---
layout: career-page
title: Teaching &amp; Education
description: Find out more about starting an Education and Teaching Career at The Cornwall College Group
career: education-teaching
link: course-subjects/education-professional-development
brand: CC
background-image: /images/area-banners/education-teaching-desktop.jpg
campuscodes: A,C
schema: https://schema.org/course

staff-name: Dani Hamilton
staff-role: Staff position - Staff Department
staff-photo: /images/staff/dani-hamilton.jpg
staff-text: Dani is an experienced teacher, assessor and early years practitioner. She has a particular interest in the role of the nursery nurse in baby care and has worked within private day care.

alumni-name: Katie-Jane Goodman
alumni-role:
alumni-photo: /images/alumni/education/katie-jane-goodman.jpg
alumni-text: I read about the College's reputation on its website and was very happy with my findings. The tutors were very supportive and friendly, and the whole college seemed to have a friendly orientated feel about it.

student-name1: Mirren Zammit
student-role1:
student-photo1: http://placehold.it/370x370
student-text1: Text

student-name2:
student-role2:
student-photo2:
student-text2:

student-name3:
student-role3:
student-photo3:
student-text3:

careers:
- career-number: 1
  career-title: Primary or Nursery Education Teaching Professional
  career-paragraph: Plan, organise and provide instruction to children at all levels up to the age of entry into secondary education in an inspiring and engaging way.
  jobs-now: 36804
  jobs-future: 37467
  starting-salary: 22000
  hashtag: teaching

- career-number: 2
  career-title: Further Education Teacher
  career-paragraph: Further Education teachers help students to improve their qualifications, job prospects and expand their subject knowledge. There are more than 350 FE colleges, sixth form colleges and independent specialist colleges in England which cover post-secondary school education.
  jobs-now: 12,899
  jobs-future: 13,369
  starting-salary: 23000
  hashtag: teaching

- career-number: 3
  career-title: Secondary Education Teaching Professional
  career-paragraph: To inspire, engage and encourage a future generation by working in a secondary school, is challenging and rewarding. You'll usually cover a specific subject, but also contribute to supporting the wider student experience.
  jobs-now: 26997
  jobs-future: 38026
  starting-salary: 22000
  hashtag: teaching-professional

- career-number: 4
  career-title: Higher Education Teaching Professional
  career-paragraph: Higher education teaching professionals deliver lectures and teach students to at least first degree level, undertake research and write journal articles and books in their chosen field of study.
  jobs-now: 12640
  jobs-future: 13152
  starting-salary: 33000
  hashtag: teaching-professional

- career-number: 5
  career-title: Speech or Language Therapist
  career-paragraph: Speech and language therapists are responsible for the assessment, diagnosis and treatment of speech, language, fluency and voice disorders caused by disability, injury or illness.
  jobs-now: 1479
  jobs-future: 1650
  starting-salary: 21400
  hashtag: speech-therapist

- career-number: 6
  career-title: Teaching Assistant
  career-paragraph: Teaching assistants assist teachers with their day-to-day classroom work, supporting young people while learning and with routine administrative tasks.
  jobs-now: 40333
  jobs-future: 44347
  starting-salary: 13000
  hashtag: teaching-assistant

- career-number: 7
  career-title: Careers Adviser or Vocational Guidance Specialist
  career-paragraph: Workers in this area give advice on careers or occupations, training courses and related matters, direct school leavers and other job seekers into employment and assess their progress.
  jobs-now: 2585
  jobs-future: 2781
  starting-salary: 18000
  hashtag: teaching-assistant

- career-number: 8
  career-title: Special Needs Education Teaching Professional
  career-paragraph: Support a variety of different children who have emotional, behavioural or learning difficulties or physical disabilities. There is also the opportunity to work with exceptionally gifted pupils.
  jobs-now: 7004
  jobs-future: 7268
  starting-salary: 22000
  hashtag: teaching-professional
---

{% include /career/career-header.html %}

{% include /career/career-intro.html p1="Inspiring others to achieve their potential is a great vocation, to be able to capture imagination, build and develop ideas and motivate a generation to become more than they thought possible requires knowledge, patience, good communication skills and a sense of humour." %}

{% include /career/example-careers.html %}

{% include /career/career-apply-bar-first.html %}

<!-- Staff Profile -->
{% include profile.html profile-title="Meet Our <strong>Staff</strong>" profile-heading=page.staff-name profile-subheading=page.staff-role profile-text=page.staff-text profile-image=page.staff-photo %}

<!-- STUDENT PROFILE -->

{% include /career/career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Health & Social Care students are happy with their course and with the college.' %}

{% include /career/key-stats.html stat1="There are more than 25% extra jobs forecast for educational assistants by 2022" stat2="As an early years teacher you can expect a starting salary of £20,000" stat3="There are a total of 8.56 million pupils in schools in England" stat4="Just over 3 million pupils now attend academies and free schools"%}

<!-- Alumni Profile -->
{% include profile.html profile-title="Meet Our <strong>Alumni</strong>" profile-heading=page.alumni-name profile-subheading=page.alumni-role profile-text=page.alumni-text profile-image=page.alumni-photo %}

{% include /career/campus-locations.html campuscodes='AC'%}

{% include /career/career-courses.html courseTitle1='Cert Ed &amp; PGCE (Incorporating DET)' infoLink1='/cornwallcollege/teaching-education/certed-pgce-incorporating-det' courseTitle2='BA (Hons) Education &amp; Curriculum Studies (Top-Up)' infoLink2='/cornwallcollege/teaching-education/ba-hons-education-curriculum-studies-top-up' %}
