<section class=" container">
<div id="form-ui">
    <h3>Learning Area Filters</h3>
    <p class="lead no-margin">Filter our learning areas by selecting one or more of the filters below.</p>

    {% if site.brand != 'fms' %}
        <h5><strong>Campus</strong></h5>
        <div id="campus-filter" class="btn-group" data-toggle="buttons">
        {% for location in site.data.learning-area-filters %} 
          {% if location.brand contains site.brand %} 
          <label class="area-filter btn btn-primary">
            <input type="checkbox" name="campus-radio" value="{{location.value}}" data-parent="#campus-filter" data-campus="{{location.data-campus}}" data-campus-target="#{{location.data-campus}}-campus-expander" data-toggle="collapse">{{location.title}}
          </label>
          {% endif %}    
            
        {% endfor %}
          <label class="btn btn-primary area-filter active">
            <input type="checkbox" name="sector-radio" value="" data-target="-">Show all
          </label>
         
        </div>
 
 
    {% endif %}   

        <h5><strong>Sector</strong></h5>
        <div class="btn-group" data-toggle="buttons">   
          <label class="btn btn-primary area-filter">
            <input type="checkbox" name="sector-radio" value=".university" data-course-type="he" data-toggle="collapse" data-sector-target="#sector-university-expander">University
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" name="sector-radio" value=".16-18" data-course-type="fe16_18">16-18
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" name="sector-radio" value=".19plus" data-course-type="fe19plus">Adult 19+
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" name="sector-radio" value=".access" data-course-type="access">Access to HE
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" name="sector-radio" value=".apprenticeships" data-course-type="apprentice">Apprenticeships
          </label>
          <label class="btn btn-primary area-filter active">
            <input type="checkbox" name="sector-radio" value="" >Show all
          </label>
  
        </div>  
    
       <!--<p id="output">--</p>-->
</div>
        <div id="sector-university-expander" class="filter-info col-xs-12 col-md-6 panel-collapse collapse" >
                <h4>university information</h4>
                <p>This is informationa about the Camborne Campus</p>
                <a class="btn ghost" href="/location-pages/camborne-campus">Visit the Camborne campus page</a>
        </div>
        {% for expander in site.data.learning-area-filters %}
        <div id="{{expander.data-campus}}-campus-expander" class="filter-info col-xs-12 col-md-6 panel-collapse collapse">
                <h4>{{expander.title}} Campus information</h4>
                <p>{{expander.detail}}</p>
                <a class="btn ghost" href="/location-pages{{expander.link}}">Visit the {{expander.title}} campus page</a>
        </div>  
        {% endfor %}    

</section>
 
<!-- Learning Area Divs -->
<section id="career-list" class="container main-section-margins">

        <div id="career-content" >

        {% for cluster in site.data.sub-clusters %}
            {% for subcluster in cluster.subclusters %}
            
                {% if site.brand != 'cc' %}
            
                    {% if subcluster.brand contains site.brand %} 
    
                        {% case site.brand %}
                            {% when 'dc' %}
                                {% assign brand-slug = "brand/duchycollege" %}
                            {% when 'fms' %}
                                {% assign brand-slug = "brand/falmouthms" %}
                            {% when 'bic' %}
                                {% assign brand-slug = "brand/bictoncollege" %}            
                        {% else %}
                        {% endcase %}

                        <div class="area {{subcluster.campus}} {{subcluster.campus}} {{subcluster.brand}} {{subcluster.sector}} col-xs-12 col-sm-6 col-md-4" style="border-left:solid 10px #{{ subcluster.colour }};">
                            <a data-toggle="collapse" data-target="#{{ subcluster.search-link }}" href="#{{ subcluster.search-link }}"  class="show-more collapsed">
                                <i class="fa fa-times close-icon"></i>
                                <h4><span style="color:#{{ subcluster.colour }};">{{ cluster.cluster }}</span>{{ subcluster.subcluster }}</h4>
                                <span class="readmore">Read More</span>
                            </a>
                            <div class="detail collapse" style="display:none" id="{{ subcluster.search-link }}">
                                <p>{{ subcluster.intro }}</p>
                                <a href="{{site.url}}/career-pages{{ subcluster.career-link }}" title="{{ subcluster.subcluster }}" class="btn ">View careers in this area</a>
                                <a href="{{site.url}}/cluster/{{ subcluster.search-link }}/{{ brand-slug }}" title="{{ subcluster.subcluster }}" class="btn course-area">View courses in this area</a>
                            </div>

                        </div>
                     {% endif %} 
            
                {% else %}
            
                    <div class="area {{subcluster.campus}} {{subcluster.campus}} {{subcluster.brand}} {{subcluster.sector}} col-xs-12 col-sm-6 col-md-4" style="border-left:solid 10px #{{ subcluster.colour }};">
                        <a data-toggle="collapse" data-target="#{{ subcluster.search-link }}" href="#{{ subcluster.search-link }}"  class="show-more collapsed">
                            <i class="fa fa-times close-icon"></i>
                            <h4><span style="color:#{{ subcluster.colour }};">{{ cluster.cluster }}</span>{{ subcluster.subcluster }}</h4>
                            <span class="readmore">Read More</span>
                        </a>
                        <div class="detail collapse" style="display:none" id="{{ subcluster.search-link }}">
                            <p>{{ subcluster.intro }}</p>
                            <a href="{{site.url}}/career-pages{{ subcluster.career-link }}" title="{{ subcluster.subcluster }}" class="btn ">View careers in this area</a>
                            <a href="{{site.url}}/cluster/{{ subcluster.search-link }}" title="{{ subcluster.subcluster }}" class="btn course-area">View courses in this area</a>
                        </div>

                    </div>            
            
                {% endif %} 
            
            {% endfor %}
        {% endfor %}



        </div>
</section>

    <!--learning area section ends -->
