    <div id="form-ui">
    <h3>Learning Area Filters</h3>  
    <p class="lead no-margin">Filter our learning areas by selecting one or more of the filters below.</p>    
    <div class="col-xs-12 col-md-12">    
        <h5>Campus</h5>    
        <div class="btn-group" data-toggle="buttons">
          <label class="area-filter btn btn-primary">
            <input type="checkbox" value=".bicton-campus" data-campus="bicton" >Bicton
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".camborne-campus" data-campus="camborne">Camborne
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".bristol-campus" data-campus="bristol">dBs Bristol
          </label>            
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".eden-campus" data-campus="eden-project">Eden
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".falmouth-campus" data-campus="falmouth-marine-school">Falmouth
          </label>   
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".newquay-campus" data-campus="newquay">Newquay
          </label>    
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".rosewarne-campus" data-campus="rosewarne">Rosewarne
          </label>    
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".saltash-campus" data-campus="saltash">Saltash
          </label> 
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".st-austell-campus" data-campus="st-austell">St Austell
          </label>    
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".stoke-campus" data-campus="stoke">Stoke Climsland
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".sisna-campus" data-campus="sisna-park">Sisna
          </label>     
        </div> 
    </div>

    <div class="col-xs-12 col-md-6 ">        
        <h5>Brand</h5>    
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".bic" data-brand="bictoncollege" > Bicton College
          </label>            
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".cc" data-brand="cornwallcollege" > Cornwall College
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".dc" data-brand="duchycollege"> Duchy College
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".fms" data-brand="falmouthms"> Falmouth Marine School
          </label>
        </div>  
    </div>    

    <div class="col-xs-12 col-md-6">        
        <h5>Sector</h5>    
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".university" data-course-type="he">University
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".16-18" data-course-type="fe16_18">16-18
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".19plus" data-course-type="fe19plus">Adult 19+
          </label>
          <label class="btn btn-primary area-filter">
            <input type="checkbox" value=".apprenticeships" data-course-type="apprentice">Apprenticeships
          </label>            
            
        </div>  
    </div>  

      <!-- <p id="output">--</p>  -->   
    </div>

    <section class="career-items container">
        <a id="area-grid-anchor"></a>
        <ul id="learning-area-grid" class="grid-layout more-padding hover-effect">
            <li>
                <figure>

                </figure>
            </li>
        </ul>
    </section>


<!-- Learning Area Divs -->
<section id="career-list" class="container">
        <div id="career-content" >
            
        {% for cluster in site.data.sub-clusters %}
            {% for subcluster in cluster.subclusters %}
            
            <div class="area {{subcluster.campus}} {{subcluster.campus}} {{subcluster.brand}} {{subcluster.sector}} col-xs-12 col-sm-6 col-md-4" style="border-left:solid 10px #{{ subcluster.colour }};">
                <a data-toggle="collapse" data-target="#{{ subcluster.search-link }}" href="#{{ subcluster.search-link }}"  class="show-more collapsed">    
                    <i class="fa fa-times close-icon"></i>
                    <h4><span style="color:#{{ subcluster.colour }};">{{ cluster.cluster }}</span>{{ subcluster.subcluster }}</h4>
                    <span class="readmore">Read More</span>
                </a>    
                <div class="detail collapse" id="{{ subcluster.search-link }}">
                    <p>{{ subcluster.intro }}</p>
                    <a href="{{site.course_site_baseurl}}cluster/{{ subcluster.search-link }}" title="{{ subcluster.subcluster }}" class="btn pull-right">View courses in this area</a>
                </div>    
       
            </div>
            
            {% endfor %}
        {% endfor %}            
            
            
          
        </div>
</section>    

    <!--learning area section ends -->