---
layout: career-page
title: Music &amp; Performing Arts
description: Find out more about starting an career in the media digital and creativity sector at The Cornwall College Group
career: media-digital-creativity
link: course-subjects/arts-media-performing-arts
brand: CC
background-image: /images/area-banners/media-digital-creativity-desktop.jpg
---

{% include career-header.html %}

{% include career-intro.html p1="Make films, create magazines, explore journalism and design brands. These and many more pathways are available for anyone with a creative soul and passion for new ideas. You'll need drive to succeed in this highly competitive industry but the skills you learn from us will help you in a wide range of careers." %}

<section class="container">{% youtube https://youtu.be/P3fQLOiJ0YU %}</section>

{% include career-examples-head.html %}

{% include career-example-job.html number='1' title='Actor, Entertainer or Presenter' paragraph='Actors, entertainers and presenters sing, portray roles in dramatic productions, and introduce and present radio and television programmes.' jobsIn='Cornwall' jobsNow=423 jobsFuture=496 %}

{% include career-example-job.html number='2' title='Artist' paragraph='Artists create artistic works using appropriate techniques, materials and media; design artwork and illustrations; and restore damaged pieces of art.' jobsIn='the Southwest' jobsNow=3398 jobsFuture=3992 %}

{% include career-example-job.html number='3' title='Arts Officer, Producer or Director' paragraph='Arts officers, producers and directors assume creative, financial and organisational responsibilities in the production and direction of television and radio programmes, films, stage presentations, content for other media, and the promotion and exhibition of other creative activities.' jobsIn='the Southwest' jobsNow=4909 jobsFuture=5764 startingSalary=18000 %}

{% include career-example-job.html number='4' title='Dancer or Choreographer' paragraph='Dancers and choreographers devise, direct, rehearse and perform classical and contemporary dance routines.' jobsIn='Cornwall' jobsNow=1329 jobsFuture=1561 %}

{% include career-example-job.html number='5' title='Musician' paragraph='Musicians write, arrange, orchestrate, conduct and perform musical compositions.' jobsIn='the Southwest' jobsNow=3205 jobsFuture=3763 %}

{% include career-example-job.html number='6' title='Product, Clothing or Related Products Designer' paragraph='Product, clothing and related designers plan, direct and undertake the creation of designs for new industrial and commercial products, clothing and related fashion accessories, costumes and wigs, and for building interiors and stage sets.' jobsIn='the Southwest' jobsNow=4422 jobsFuture=5195 startingSalary=17000 %}

{% include career-examples-foot.html %}

{% include career-apply-bar-first.html %}

{% include staff-profile.html image="/images/alumni/media/web-version/rory-mason.jpg" name='Rory Mason' role="team lead - digital media" about="Previous students have worked their way up through the industry to become executive producers on a range of shows from X factor to American Idol and that's down to the very practical nature of our courses that give our students the skills to succeed." %}

{% include student-case-studies.html studentImage1="/images/alumni/media/web-version/murray-wardrop.jpg" studentName1='Murray Wardrop' studentRole1="assistant news for the daily telegraph" studentQuote1="I studied journalism at Cornwall College working locally then nationally. I have enjoyed a successful and varied career and have even won a couple of awards." studentImage2="/images/alumni/media/web-version/adam-allen-foord.jpg" studentName2='Adam Allen-Foord' studentRole2='studio manager at sanders shiers' studentQuote2="Cornwall College gave me the skills I needed to start working in 3D. I now make amazing images and animations for local, national and multinational companies." studentImage3="/images/alumni/media/web-version/jez-marshall.jpg" studentName3='Jez Marshall' studentRole3="assistant director & producer tv & film" studentQuote3="Cornwall College provided me with knowledge and support to succeed in the TV and Film industry. Major projects include Poldark and World War Z." %}

{% include career-stats.html percent1=100 end1='of our BTEC Extended Diploma in Creative Media students say that teaching on their course is good.' %}

{% include key-stats.html stat1='over 500 journalists now working in the uk trained at cornwall college' stat2='uk games designers on average earn £40k+' stat3='we are currently in a boom for film production jobs up 261%' stat4='Lorem ipsum dolor sit amet, viderer propriae nam ut.'%}

<section class="container">
    <section class="col-md-12 main-section-margins intro" style="margin-top:10px;">
            <article class="col-sm-12 text-center"><h2 class="text-uppercase">Course <strong>Locations</strong> </h2></article>
    </section>
</section>
{% include campus-locations.html campuscodes='AC'%}

{% include career-courses.html courseTitle1='Dental Nursing CG Diploma Level 3' infoLink1='?courses=test-course' courseTitle2='Nursing, Health and Social Care AptEd Access to HE Diploma Level 3 (E)' infoLink2='?courses=test-course' courseTitle3='FdSc Healthcare Practice' infoLink3='?courses=test-course' courseTitle4='Health and Social Care/Social Science and Mental Health AptEd Access to HE Diploma Level 3 (E)' infoLink4='?courses=test-course' courseTitle5='Health and Social Care EDEXCEL Extended Diploma Level 3' infoLink5='?courses=test-course' %}

        <section class="col-md-12 main-section-margins intro">
            <section class="container">
                <article class="col-sm-12 text-center">
                    <h2>MEET OUR <strong>STAFF</strong></h2>
                </article>
            </section>
        </section>
        <section class="col-md-12 main-section-margins ">
            <article class="container white-bg">
              <section class="col-sm-6 col-md-5 col-lg-5 col-lg-offset-1 box-padding">
        {% youtube https://youtu.be/pEcy74IoUMA %}
                </section>
        <figure class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <blockquote class="blog-post-quote block-quote main-section-margins">
              <i class="fa fa-trophy fa-3x pull-left fa-border" style="font-size:60px;"></i>
              <p><strong>30</strong> awards in <strong>10</strong> years - 3 from the Royal Television Society</p>
              <footer>Awards</footer>
            </blockquote>
        </figure>
            </article>

        </section>

